[2021-07-09 14:54] hectorkambow commented on #2799
@Bravinsimiyu

sounds like a very helpful topic - approved 🚀

[2021-07-09 15:24] Snzovi opened #2869 "IoT Development with Rust vs. C++"
### Proposed title of article
IoT Development with Rust vs. C++

### Introduction paragraph (2-3 paragraphs):
Rust and C++ languages are very important in IoT development. They are both utilized in the areas where the direct connection with hardware configuration, speed of performance, and low-level access to memory and controllers matter the most.

Specifically, device and application levels of I

[2021-07-09 15:38] #2530 closed

[2021-07-09 15:43] ahmadmardeni1 commented on #2695
Not approved - @duncandegwa
The content can be found on the internet.
Please feel free to make another topic-suggestion with a unique/original idea.

[2021-07-09 15:43] #2695 closed

[2021-07-09 15:47] ahmadmardeni1 commented on #2708
Not approved - @ruth-ctrl
The concepts are already covered and can be found easily on the internet.
Please feel free to make another topic suggestion as we are looking for unique/original content.

[2021-07-09 15:47] #2708 closed

[2021-07-09 15:52] ahmadmardeni1 commented on #2711
We already covered windows forms [here](https://www.section.io/engineering-education/search/?q=windows%20forms).
Not approved - @mosesmwangi442

[2021-07-09 15:52] #2711 closed

[2021-07-09 15:58] ahmadmardeni1 commented on #2710
Approved - @jaykip

[2021-07-09 16:14] #2765 closed

[2021-07-09 17:03] #2518 closed

[2021-07-09 19:06] samotieno commented on #2689
Hey @ahmadmardeni1  The concept behind this article is software-related as it involves the use of network simulator tools like the packet tracers, GNs3, NetSim for the configuration of the DHCP server on the routers.

[2021-07-09 19:47] okeloviolet opened #2873 "Spring Boot Messaging with Redis"
### Spring Boot Messaging with Redis
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article a higher ranking.*

### Introduction paragraph (2-3 paragraphs):
Redis is an open-source, in-memory data structure store, used as a database, cache, and message broker. In the article, I will use Redis as Message Broker to create a messaging layer i

[2021-07-10 06:18] blacklihgt commented on #2300
My code is ready but I can't find the reopen button. How do I re-open it?. @hectorkambow

[2021-07-10 11:27] odiwuoramos opened #2876 "Creating a server health monitoring app with Laravel"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-10 11:38] jumamiller opened #2877 "How to Lazy Load Modules in Angular 12 with Dynamic Imports"
### Proposed title of article
How to Lazy Load Modules in Angular 12 with Dynamic Imports

### Introduction paragraph (2-3 paragraphs):
Lazy loading (also called on-demand loading) is an optimisation technique for the online content, be it a website or a web app.

Instead of loading the entire web page and rendering it to the user in one go as in bulk loading, the concept of lazy loading assists i

[2021-07-10 13:00] Eztaezta opened #2879 "How the Model View Controller Architecture Works"
### Proposed title of article
 How the Model View Controller Architecture Works

### Introduction paragraph (2-3 paragraphs):
Websites have evolved from simple pages with a little CSS to far more complicated and powerful applications in recent years.

Programmers use different patterns and software architectures to make the code less difficult, making these applications easier to develop.

 What i

[2021-07-10 14:07] JosephWainaina opened #2881 "Concept of Functions in PHP"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-10 14:08] #2881 closed

[2021-07-10 14:17] #2543 closed

[2021-07-10 14:33] ahmadmardeni1 commented on #2689
Okay if you are using Packet tracer or any other software then it is approved @samotieno

[2021-07-10 14:35] duncandegwa opened #2882 "Visualizing Repositories Using Pygal"
### Proposed title of article
Visualizing Repositories Using Pygal

### Introduction paragraph (2-3 paragraphs):
Pygal is a Python API that enables us to build scalar vector graphic (SVG) graphs and charts in a variety of styles. In this article,you will learn how to make a visualization showing the relative popularity of Python projects on GitHub. We’ll make an interactive bar chart: the height o

[2021-07-10 15:03] JosephWainaina opened #2883 "Concept of Functions in PHP"
### Proposed title of article
concept of functions in PHP server-side programming

### Introduction paragraph (2-3 paragraphs):
A function is a set of statements that performs a specific task. Function will produces output when it is called. They are different ways of calling a function. We will look different features of a functions such as code reusability
In this article, we will understand the

[2021-07-10 15:29] Bonimum commented on #2742
I have changed and edited the topic to this  `Using Web API's (GitHub API) in Python` @jerimkaura

cc @hectorkambow

Thank you

[2021-07-10 16:56] jerimkaura commented on #2742
Aright @Bonimum, let's hope it will be approved soon enough.

[2021-07-10 17:26] mohamedgh16 opened #2884 "Building a network with Dynamic and Static routing using Cisco packet tracer"
### Proposed title of article

Understanding Dynamic and Static routing using Cisco packet tracer.

### Introduction paragraph (2-3 paragraphs):

Packet Tracer is a cross-platform visual simulation tool designed by Cisco Systems that allows users to create network topologies and imitate modern computer networks. The software allows users to simulate the configuration of Cisco routers and switches

[2021-07-10 20:55] verah-tech opened #2887 "Why Backup won't work for Stateful containers?"
### Proposed title of article
Why Backup won't work for Stateful containers?

### Introduction:
Any data that containers create need to be backed up. It is easier to backup data stored in stateful apps compared to stateless apps. However, there has been a myth that containers are stateless, which may be the truth or false.
In this article, we will debunk these myths and misconceptions and explore

[2021-07-10 22:27] ianmaish opened #2888 "Inheritance in Ruby"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-11 07:53] djayjames opened #2890 "Implementation of CI/CD in .NET application Using Shell Executor on GitLab"
### Proposed title of article
Implementation of CI/CD in .NET application Using Shell Executor on GitLab
### Introduction paragraph (2-3 paragraphs):
Shell Executor is a very simple executor which helps to build the solution locally on the machine, where GitLab Runner is installed. However, it also helps to run Bash and Windows PowerShell scripts and Windows Batch is deprecated. There will be a fe

[2021-07-11 10:05] Wanyoike-shift opened #2891 "Managing Docker Containers using Command Line Interface(CLI)"
### Proposed title of article
Managing Docker Containers using Command Line Interface

### Introduction paragraph (2-3 paragraphs):
If you are managing numerous Docker Containers simultaneously, you might have noticed that this is indeed a very hefty task. In this article, we will learn some top ways that can be very handy for you to manage Docker Containers straight from the Command Line Interfac

[2021-07-11 12:07] nonimdiana opened #2893 "Data modeling and Query customization in Cloud Firestore with Kotlin"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Proposed title of article
Data modeling and Query customization in Cloud Firestore in Android-Kotlin

Introduction paragraph (2-3 paragraphs):

Fir

[2021-07-11 13:24] #2675 closed

[2021-07-11 15:52] #2496 closed

[2021-07-11 17:22] neheMaish commented on #2789
@hectorkambow I have decided to change my topic. Please have a look.

Ping me if there is any issue. Thanks.

cc @lalith1403

[2021-07-11 17:49] queenterbruce063 opened #2897 "How to collect sensor data on your iPhone or Android using Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-11 19:50] #2643 closed

[2021-07-11 23:17] munenekelvin opened #2898 "Introduction to Java Servlets"
### Proposed title of article
Introduction to Java Servlets

### Introduction paragraph (2-3 paragraphs):
Today we all are aware of the need of creating dynamic web pages i.e the ones which have the capability to change the site contents according to the time or are able to generate the contents according to the request received by the client. If you like coding in Java, then you will be happy to

[2021-07-12 03:50] MaurineM opened #2900 "How to provide backup services with Google Drive API in Android-Kotlin"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

### Proposed title of article
How to provide backup services with Google Drive API in Android-Kotlin

### Introduction paragraph (2-3 paragraphs):

[2021-07-12 07:17] Bayler opened #2902 "Federated Learning using TensorFlow Federated (TFF)"
### Proposed title of article
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article higher ranking.*

Federated Learning using TensorFlow Federated (TFF)

### Introduction paragraph (2-3 paragraphs):

Federated learning is a privacy-preserving technology for training and evaluating machine learning models across a fleet of devices (e.g. A

[2021-07-12 13:39] #2365 closed

[2021-07-12 16:49] hectorkambow commented on #2856
@awinomackrine

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - App

[2021-07-12 18:11] #2287 closed

[2021-07-12 18:24] ahmadmardeni1 commented on #2719
Approved - @marienjus

We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Therefore, please make sure to build a unique application that differs from what can be found on the internet.

[2021-07-12 20:52] john-amiscaray opened #2908 "Sending Notifications with Spring Boot, Angular, and Firebase Cloud Messaging"
### Proposed title of article
Sending Notifications with Spring Boot, Angular, and Firebase Cloud Messaging

### Introduction paragraph (2-3 paragraphs):
Notifications are a great way to increase user engagement. By keeping them notified of events in your app that interest them, you can keep them coming back to you. Many apps even rely on notifications as a core feature. For example, there are som

[2021-07-12 23:18] #2411 closed

[2021-07-13 00:39] hectorkambow commented on #2269
merged

[2021-07-13 00:39] #2269 closed

[2021-07-13 00:45] hectorkambow commented on #2705
@Samuel-2626
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-07-13 00:47] hectorkambow commented on #2709
@jumapaul
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:48] hectorkambow commented on #2715
@lalith1403

Be sure to leave a questions label - and follow up if needed 👍

[2021-07-13 00:48] hectorkambow commented on #2716
@mosesreigns
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-07-13 00:49] hectorkambow commented on #2717
@JuliusGikonyoNyambura

Just following up before we close the issue - due to inactivity - it can be re-opened whenever needed.

[2021-07-13 00:49] hectorkambow commented on #2718
@mia-roberts

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-07-13 00:50] hectorkambow commented on #2722
@codeInn001

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-07-13 00:50] hectorkambow commented on #2723
@benardogure

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-07-13 00:50] hectorkambow commented on #2728
@dentonya
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:52] hectorkambow commented on #2729
@florenceatieno45

🤔

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours.

[2021-07-13 00:52] hectorkambow commented on #2734
@domiwanja

[2021-07-13 00:53] hectorkambow commented on #2735
@Ericgacoki
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-07-13 00:53] hectorkambow commented on #2742
@Bonimum

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:54] hectorkambow commented on #2745
@LinusMuema
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-07-13 00:54] hectorkambow commented on #2746
@bancy-bit
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:54] hectorkambow commented on #2748
@nellyat
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:55] hectorkambow commented on #2749
@Jeff-mwangi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-07-13 00:56] hectorkambow commented on #2751
@anubhavb11

🤔  (please double check this has NOT been covered before in our EngEd docs).
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential art

[2021-07-13 00:56] hectorkambow commented on #2756
@destiny251
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-07-13 00:56] hectorkambow commented on #2759
@Rmwamboi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:57] hectorkambow commented on #2760
@raboba2re
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:57] hectorkambow commented on #2770
@Agusioma
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:57] hectorkambow commented on #2771
@Collince-Okeyo
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - App

[2021-07-13 00:58] hectorkambow commented on #2779
@sumbaelvis
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-07-13 00:58] hectorkambow commented on #2780
@Wkd-Cyber
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 00:58] hectorkambow commented on #2786
@artmuth
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-07-13 01:00] hectorkambow commented on #2787
@maggiemun

I know we have an article that briefly discusses Swarm [here ](https://re.sajari.com/token/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwdXJwb3NlIjoiY2xpY2siLCJkZXN0aW5hdGlvbiI6Imh0dHBzOi8vd3d3LnNlY3Rpb24uaW8vZW5naW5lZXJpbmctZWR1Y2F0aW9uL2JyZWFraW5nLWRvd24ta3ViZXJuZXRlcy12cy1kb2NrZXItc3dhcm0vIiwidmFscyI6eyJjb2xsZWN0aW9uIjpbInNlY3Rpb24taW8iXSwiY29tcGFueSI6WyIxNTY4MjM0MTE2MDc4NjE0ODY4Il0sImZp

[2021-07-13 01:02] hectorkambow commented on #2789
I'm pinging our Kotlin resident expert to see if this has been covered in our EngEd docs.

cc @LinusMuema

[2021-07-13 01:02] hectorkambow commented on #2798
@JosephAyoma
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-07-13 01:24] aidelojep commented on #2715
@louisefindlay23 Thank you for your feedback, I intend to write a bit further on these topics option:
1.) Using Digit prediction model to facial recognition.
2.) Tunning a recommendation Engine to forecast future trends/occurrences.
3.) Building a Bulk SMS API with Django and Twilio API.
I am well versed in the above topics. Kindly let me know what you think.
Cheers.

[2021-07-13 01:32] fely545 opened #2911 "AI vs ML – What’s the Difference Between Artificial Intelligence and Machine Learning?"
### Proposed title of article
 AI vs ML – What’s the Difference Between Artificial Intelligence and Machine Learning?

### Introduction paragraph (2-3 paragraphs):

Artificial intelligence and machine learning are two popular and often hyped terms these days. And people often use them interchangeably to describe an intelligent software or system.

In this article, we will learn the differences bet

[2021-07-13 08:37] elphazesedah opened #2914 "The five common pitfalls of MySQL window functions and how to avoid them"
### The five common pitfalls of MySQL window functions and how to avoid them

### Introduction paragraph (2-3 paragraphs):
A MySQL window function is a function that manipulates values from one or more rows to give value returns for every row using basal queries. Window functions usually have an OVER clause, hence any function that lacks the clause is not a window function.
In this article I will

[2021-07-13 09:33] louisefindlay23 commented on #2804
Hi, @victorelvice.

Great topic suggestion.

Can we tell me how your artcile will differ from similar Docker tutorials using GCE such as this [Medium](https://medium.com/@kyle.powers103/installing-docker-on-gcloud-vms-1479dd9dde30) article since we focus on unique content?

Thanks,
Louise - Content Moderator

[2021-07-13 09:33] Rmwamboi commented on #2759
I will give it my best.

[2021-07-13 09:35] louisefindlay23 commented on #2816
Hi, @Alao-Abiodun. Thanks for submitting a topic suggestion.

Tutorials on Git and GitHub are a popular topic and has been covered extensively elsewhere. Since we focus on original content, can you tell me what makes your article unique?

Thanks,
Louise - Content Moderator

[2021-07-13 09:36] louisefindlay23 commented on #2835
@Alao-Abiodun, you are only allowed to submit one topic suggestion at a time. Closing in favour of #2816. You may reopen this when your previous topic suggestion has been approved and article published.

[2021-07-13 09:36] #2835 closed

[2021-07-13 09:38] louisefindlay23 commented on #2841
Hi, @vincentoriyo. Great topic suggestion. Since we focus on unique content, can you tell me how your tutorial will differ from this similar Docker Machine [article](https://upcloud.com/community/tutorials/get-started-docker-machine/)?

Thanks,
Louise - Content Moderator

[2021-07-13 09:40] louisefindlay23 commented on #2843
Hi, @vincentoriyo. You are only allowed to open one topic suggestion at a time. Closing in favour of #2841. You may reopen this once your previous topic suggestion has been approved and article published.

[2021-07-13 09:40] #2843 closed

[2021-07-13 09:41] louisefindlay23 commented on #2853
Hi, @SamoraCletus. Thanks for submitting a topic suggestion but please fill in all the questions in the template provided so we can accurate review your topic suggestion for approval.

[2021-07-13 10:14] Alao-Abiodun commented on #2816
The process, I am explaining will based on each ways of contributing to team repository, and not just randomly explaining, The process is based on some techniques.

[2021-07-13 10:49] louisefindlay23 commented on #2816
Thanks for the clarification, @Alao-Abiodun. Topic approved. Make sure your article is in-depth and detailed to provide value to readers.

[2021-07-13 13:34] #2520 closed

[2021-07-13 13:58] ahmadmardeni1 commented on #2805
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @paulroman

[2021-07-13 15:50] hectorkambow commented on #2842
@vincentoriyo
To help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-07-13 15:50] #2842 closed

[2021-07-13 15:54] hectorkambow commented on #2846
I understand your other article is almost ready to be published.

To help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

@KanizoRGB

[2021-07-13 15:54] #2846 closed

[2021-07-13 16:20] hectorkambow commented on #2877
@jumamiller
 to help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-07-13 16:20] #2877 closed

[2021-07-13 16:21] hectorkambow commented on #2893
@nonimdiana
 to help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-07-13 16:22] hectorkambow commented on #2900
@MaurineM
 to help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-07-13 16:46] RoseKarose opened #2918 "Integrating Vision Framework for conspicuous analysis in iOS"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

*We're looking for the first 2-3 paragraphs of the article that appropriately summarize what your article will be about.*

### Proposed title of ar

[2021-07-13 17:20] lalith1403 commented on #2809
This is an interesting topic. Thank you for the topic suggestion. In addition to covering creation of pipelines with PyCaret, I would like you to start with why should one use PyCaret. Is it a library based on existing libraries or does it require a separate learning curve?

You may also cover the functionalities of PyCaret as an additional section. Look forward to reading this article.

Cc: @hect

[2021-07-13 17:23] lalith1403 commented on #2844
@phinakersly, Thank you for the topic suggestion. Looking at the topic form submitted, I see this article covering the basics of pillow library which is covered extensively in the documentation and the web. We tend to navigate towards practitioner focused, original articles.

I would suggest you to come up with a project using the ideas mentioned above. That way the concepts can be communicated mu

[2021-07-13 17:27] lalith1403 commented on #2868
Hello @lilo254. This is surely an exciting topic. Can you elaborate on the concept used, such as learner language, systematic errors, etc. Explain the terminology used to better communicate the ideas across to the reader.

Excited to read the article.
Cc: @hectorkambow

[2021-07-13 17:31] lalith1403 commented on #2861
Good morning @Joshuathuo and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-07-13 17:35] lalith1403 commented on #2863
Hello @BashiirIsla and thank you for submitting the topic suggestion form. In order to proceed, we will need a few clarifications on your end. Firstly, the title is misleading. I thought the article was about how AI was helping automate mobile app Dev. Secondly, can you throw some more light on what topics you are going to cover under AI deployed at edge devices.

Once we have sorted these details

[2021-07-13 17:42] lalith1403 commented on #2809
@smkinyan Great topic. This would complement the existing articles on building ML pipelines. Make sure you cover all the details. Best of luck.

Thanks,
Lalith

[2021-07-13 17:43] Antonymuriuki opened #2919 "How to build an Android Wear-OS Navigation App"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

### Proposed title of article
How to build an Android Wear-OS Navigation App.

### Introduction paragraph (2-3 paragraphs):
When it comes to mobile

[2021-07-13 18:04] Antony-Prince opened #2921 "Understand the Android lifecycle and how to Implement it into action."
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-13 18:04] #2645 closed

[2021-07-13 18:58] LinusMuema commented on #2789
Hi @neheMaish
I think it's a great idea. However, there are some drawbacks. There are topics that have covered your key takeaways in depth. For instance:
1. [Kotlin extensions](https://www.section.io/engineering-education/kotlin-extensions/) have been covered in-depth in this article
2. Concurrency in Kotlin has also been covered in depth in the [Flows](https://www.section.io/engineering-education

[2021-07-13 19:49] Dawe-7 opened #2923 "Java Exception Handling"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-13 20:38] Dyrstiu opened #2924 "Getting started with Visual Basic .NET"
### Getting started with Visual Basic .NET

### Introduction paragraph (2-3 paragraphs):
Desktop application development is among the high-growth fields in tech. We use different technologies to create the apps and among them is Visual basic.net.
Visual Basic.net is a multi-paradigm, object-oriented programming language. We implement it in the .NET framework developed by Microsoft. We widely use i

[2021-07-13 21:55] #2580 closed

[2021-07-13 22:13] Danmasanii opened #2925 "form validation using JavaScript"
###  Form Validation Using JavaScript

### Introduction
JavaScript is a high-level, interpreted, multi-paradigm, object-oriented scripting language. It was developed in the year 1995 by Brandan Eich who was then a programmer at Netscape. JavaScript was formally known as Mocha, later LiveScript, and finally JavaScript.

JavaScript is well known as a client-side programming language, it basically ru

[2021-07-14 04:34] Joshuathuo commented on #2861
Thanks@lalith1403 . That means I'm open to suggesting a new topic.
Cc@hectorkambow

[2021-07-14 07:32] codeInn001 commented on #2722
@hectorkambow Thanks, got it.

[2021-07-14 07:42] karuana2021 commented on #2083
Hi, wishing to reopen the project and submit the article for previewing of the article.

[2021-07-14 08:01] smkinyan commented on #2809
Thanks for the suggestion @lalith1403 I'll make sure I include those suggestions in my tutorial.

[2021-07-14 09:42] julie-techie opened #2927 "Cybersecurity and Cloud Computing"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-14 10:04] phinakersly commented on #2844
Hello @lalith1403, I intend to  build a complete Django project that compresses images before uploading them to a database. Uploaded images could be downloaded with lower size but quality maintained.
Inform me if there is any issue with that. Thank you.

[2021-07-14 10:27] victorelvice commented on #2804
@louisefindlay23 , Thank you for the observation. I went through the article as well but as our platform is focused on content that are beginner friendly as well. I think the article did not have much consideration of beginners. I thought by building a flask/Django project from scratch, dockerising it  step by step, setting up containers and finally pushing to GCE, would enable beginners understan

[2021-07-14 12:25] ahmadmardeni1 commented on #2808
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @Janenjoki

[2021-07-14 12:58] lalith1403 commented on #2844
Yes this is an interesting topic. Please discuss the details and thought process behind every step. Discuss the database aspect in detail as well.

Maintain emphasis on pillow library and use majority of the features of the library.

Topic approved. Thank you.

[2021-07-14 13:01] mercie-nyakio opened #2928 "getting started with constructor Overloading in C#"
### Proposed title of article
getting started with constructor Overloading in C#

### Introduction paragraph (2-3 paragraphs):
When more than one constructor with the same name is defined in the same class, they are called overloaded, if the parameters are different for each constructor.
Constructor overloading is the ability to redefine a Constructor in more than one form. A user can implement co

[2021-07-14 13:23] achiengrhoda opened #2929 "Getting started with packet tracer"
### Getting started with packet tracer

### Introduction paragraph (2-3 paragraphs):
A packet  tracers is a network simulator. This means  it can be used to imitate  a live networking environment. This imitation is key especially in a learning environment where a learner is just getting started with network developments. There are many types of  network simulators and Packet tracer is one of them.

[2021-07-14 13:42] stevekwachie opened #2930 "Introduction to network ports"
### Introduction to network ports

### Introduction paragraph (2-3 paragraphs):
A port is a number used to uniquely identify a transaction over a network by specifying both the host, and the service. They are necessary to differentiate between many different IP services, such as web service (HTTP), mail service (SMTP), and file transfer (FTP). The port number serves to uniquely identify that servi

[2021-07-14 14:42] ahmadmardeni1 commented on #2819
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to [double-check that it does not overlap with any existing EngEd articles](https://www.section.io/engineering-education/search/?q=css) or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please refer

[2021-07-14 15:11] #2182 closed

[2021-07-14 15:43] kwennB opened #2932 "Cloud Management in Cloud Computing"
### Introduction
Cloud management is the medium that allows administration control of technologies and software. Cloud management cares for products and services.
Cloud management is centralized. It manages resources, assets, data storage, applications, etc.

### Key Takeaways
What cloud management is.
Cloud management designs (platform).
Cloud management challenges.
Functionalities a good cloud m

[2021-07-14 15:46] louisefindlay23 commented on #2804
Thanks, @victorelvice for providing such in-depth detail. Topic approved.

[2021-07-14 15:46] #2397 closed

[2021-07-14 17:32] #2738 closed

[2021-07-14 17:35] #2544 closed

[2021-07-14 20:26] #2565 closed

[2021-07-15 03:21] #2486 closed

[2021-07-15 09:14] ruphus-muita opened #2938 "Monitoring a Microsoft SQL Server database using Solar Winds Database Performance Analyzer"
### Proposed title of article
Database monitoring

### Introduction (2-3 paragraphs)
 This article will explain what database monitoring is and why it should be implemented in the network.
It will also provide insight into what parameters should be monitored for optimum service. The article will aim at enlightening the reader on how to monitor a Microsoft SQL Server database using Solar Winds Data

[2021-07-15 09:35] #2230 closed

[2021-07-15 09:37] ahmadmardeni1 commented on #2825
Please fill in the Introduction paragraph, Key takeaways, and References. @CaptainBKola

[2021-07-15 09:39] ahmadmardeni1 commented on #2820
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @mwangiK

[2021-07-15 10:46] Bonimum commented on #2828
@hectorkambow  I have edited the issue and suggested a new topic

[2021-07-15 15:21] lilo254 commented on #2868
Hi @lalith1403
Thank you for the response. I will expound more on the concepts such as systematic errors that are consistent and repeatable errors displayed by the machine learning models under the section where I will be defining Error Analysis in machine learning.

[2021-07-15 17:50] mosesmwangi442 opened #2940 "Introduction To C# Unit Test"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

### Proposed title of article
Introduction To C# Unit Test

### Introduction paragraph (2-3 paragraphs):
In the software development process Unit T

[2021-07-15 18:43] HARITJOSHI1 opened #2941 "Thread pool in node.js"
### Proposed title of article
Thread pool in node.js

### Introduction paragraph (2-3 paragraphs):

Node.js is the most widely used framework by all big mnc 's and it has made life a lot easier when working on complex backend for a project. My article will take a deeper dive and explain the readers about the concept of thread pool inside out which is a key actor in node.js event loop architecture.

[2021-07-15 18:57] shosenwales opened #2942 "Integrating Chart.js in Django"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-15 19:49] ruphus-muita opened #2944 "broadcasting a Pirate FM Radio Station using a raspberry pi."
### How-To Guides Overview
This is a guide to help beginners understand the basic steps that they can use to get started with Raspberry Pi.

### What is the Scope and Purpose of the Guide
A Raspberry Pi is a single-board computer that mainly runs on Linux and can be used to explore Internet of Things. It can be used to learn code, create automation projects among other interesting things.

Introdu

[2021-07-15 20:24] Wachira48 opened #2945 "Top NetDevOps tools that are important for your Windows OS"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-15 21:14] Amoh-writer opened #2946 "Data Access With ADO.NET In Micro Focus Visual COBOL"
### Proposed title of article

Data Access With ADO.NET In Micro Focus Visual COBOL

### Introduction paragraph (2-3 paragraphs):
ADO is the acronym for ActiveX Data Object and is based on Microsoft technology. Hence, ADO.NET which is the next evolutionary step in data access technology. Employing the aforementioned ADO technology, ADO.NET expands this by incorporating XML into a standard model to

[2021-07-15 21:19] willyngashu opened #2947 "How to Create a machine learning model using Turi Create"
### Proposed title of article
How to Create a machine learning model using Turi Create

### Introduction paragraph (2-3 paragraphs):
Turi Create is an open-source toolset for creating Core ML models, for tasks such as image classification, object detection, style transfers, recommendations. Turi Create simplifies the development of custom machine learning models. Turi Create was made by Apple and

[2021-07-16 06:51] KanizoRGB commented on #2846
@hectorkambow reopen this please

[2021-07-16 09:57] SamoraCletus commented on #2853
TOPIC:
 Implementing Video Conferencing with Reactjs, Nodejs and WebRTC

Introduction:
 Developers around the world have an incredible task of handling client’s requirements and video conferencing is one of those requirements developers have great difficulty implementing. The pandemic has opened up opportunities in remote works and “work from home” which comes at the cost of efficient video confer

[2021-07-16 11:25] Josh4324 opened #2949 "Complete Guide on using Sequelize basic and advanced features."
### Proposed title of article
Complete Guide on using Sequelize basic and advanced features.

### Introduction paragraph (2-3 paragraphs):
Sequelize is a JavaScript library that manages database. It supports all the popular databases such as PostgreSQL, MySQL, SQLite and MSSQL. This kind of package is known as an Object Relation Mapper, ORM’s are used to convert object relational syntax to databas

[2021-07-16 11:25] marienjus opened #2950 "Using React and Clipboard API to Implementing copy-to-clipboard"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-16 11:59] Lekwacious commented on #2609
Thank You Ahmad. I have pushed and made a PR. Please review. Thanks

On Tue, Jun 29, 2021 at 12:46 PM Ahmad Mardeni ***@***.***>
wrote:

[2021-07-16 12:35] fabulousDesigns opened #2951 "Understanding and Working with JavaScript Cookies"
### Proposed title of article
Understanding and Working with JavaScript Cookies

### Introduction paragraph (2-3 paragraphs):
  Many are the times users vist to a site and they are presented with a cookie preference window that obtains their cookie preference,including any consent they provide to certain non-essential cookies.
Basically a cookie is a small text file that stores a small amount of d

[2021-07-16 13:05] louisefindlay23 commented on #2853
Hi, @SamoraCletus. Thanks for providing additional details. Great topic suggestion.

Since we focus on original content, can you tell me how your article with differ for [this one](https://dev.to/arjhun777/video-chatting-and-screen-sharing-with-react-node-webrtc-peerjs-18fg) which has a similar topic?

Thanks,
Louise - Content Moderator

[2021-07-16 13:20] corpsgeek opened #2952 "An Introduction to Blockchain Architecture"
### Proposed title of article
An Introduction to Blockchain

### Introduction paragraph (2-3 paragraphs):
Blockchain is a revolutionary technology, however, little knowledge about how distinct technological components come together as one that makes blockchain a blockchain. This article will illustrate practically what blockchain is and the components around it.

### Key takeaways:
-What is blockc

[2021-07-16 13:21] #2529 closed

[2021-07-16 13:23] neheMaish commented on #2789
Thanks @LinusMuema
What I really want to cover in this topic is how kotlin differs with Java as a language. I want the readers to clearly understand the main differences between these two languages in detail. Some of the programmers despite of using these languages in development, they cannot expalin why they are not using kotlin if Java is what they are using and why they using kotlin instead of

[2021-07-16 13:32] #2640 closed

[2021-07-16 13:51] winlinda opened #2953 "Introduction To WebAssembly"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-16 15:43] hectorkambow commented on #2821
@neshmacharia
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-07-16 15:56] ahmadmardeni1 commented on #2821
Thank you for the topic suggestion @neshmacharia.
We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.
And this topic is widely covered in a lot of blogs, docs, etc ...
Please let me know if you can add more value than what can be found on the internet (and how?).
Otherwise, please feel free to suggest an alternate topic to exp

[2021-07-16 15:59] ahmadmardeni1 commented on #2829
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @Rose-st

[2021-07-16 16:05] hectorkambow commented on #2345
merged

[2021-07-16 16:05] #2345 closed

[2021-07-16 16:10] amosnjoro opened #2954 "Introduction to Node.js"
### Introduction to Node.js

### Introduction paragraph (2-3 paragraphs):
Node.js is an open-source and cross-platform JavaScript runtime environment. It is a popular tool for almost any kind of project!
Node.js runs the V8 JavaScript engine, the core of Google Chrome, outside of the browser. This allows Node.js to be very performant.
A Node.js app runs in a single process, without creating a new

[2021-07-16 16:12] hectorkambow commented on #2954
👋  @amosnjoro

Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-07-16 16:12] #2954 closed

[2021-07-16 16:28] hectorkambow commented on #1271
👋  Hi @BrianaNzivu

Just pinging you on this topic form - as Im trying to make some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:29] hectorkambow commented on #1324
👋  @srishilesh
Just pinging you on this topic form - as Im trying to make some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:30] hectorkambow commented on #2092
@xTrilton
Just pinging you on this topic form - as Im trying to make some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:30] #2092 closed

[2021-07-16 16:31] hectorkambow commented on #2167
@yitzackRabin
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:31] #2167 closed

[2021-07-16 16:32] hectorkambow commented on #2188
@Debagboola
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date - or when you are ready to push a PR - we can reopen to attach it to the PR. 👍

[2021-07-16 16:32] #2188 closed

[2021-07-16 16:33] hectorkambow commented on #2319
@kenedyyy
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:33] hectorkambow commented on #2417
@franciskaguongo
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:34] hectorkambow commented on #2442
@Kaperskyguru
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:34] hectorkambow commented on #2458
@kvardhan10
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:35] hectorkambow commented on #2467
@crescentmusyoki
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:35] #2467 closed

[2021-07-16 16:35] hectorkambow commented on #2479
@Richu98
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:35] #2479 closed

[2021-07-16 16:35] hectorkambow commented on #2525
@NMJD
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:35] #2525 closed

[2021-07-16 16:36] hectorkambow commented on #2561
@KayveTech
Just pinging you on this topic form - as Im making some room in the topic queue.

No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-16 16:42] Kaperskyguru commented on #2442
Yeah. I am almost done with this. Sorry for delaying. I will send my first draft by Monday.

[2021-07-16 16:53] srishilesh commented on #1324
@hectorkambow

Yeah sure.

I'll close this PR now. Will reopen once I complete it.

Thanks.

[2021-07-16 16:53] #1324 closed

[2021-07-16 16:59] #2482 closed

[2021-07-16 17:13] Taiwrash commented on #1454
Why is this closed sir? @hectorkambow

[2021-07-16 17:27] giridhar7632 opened #2955 "Integrating Airtable API with Next.js serverless functions"
### Proposed title of article
Integrating Airtable API with Next.js serverless functions

### Outline
In this article, I'm going to discuss how to integrate Airtable JavaScript API into React applications. Airtable is a spreadsheet-database hybrid, with the features of a database but applied to a spreadsheet. Next.js is a React framework which supports server-side programming without using any oth

[2021-07-16 17:28] hectorkambow commented on #2953
@winlinda
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

Thank you.

[2021-07-16 17:29] hectorkambow commented on #2952
@corpsgeek
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:29] hectorkambow commented on #2951
@fabulousDesigns
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:29] hectorkambow commented on #2950
@marienjus Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:29] hectorkambow commented on #2949
@Josh4324
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:29] hectorkambow commented on #2947
@willyngashu
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:30] hectorkambow commented on #2946
@Amoh-writer Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:30] hectorkambow commented on #2944
@ruphus-muita
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:33] hectorkambow commented on #2827
@Erastuskanyatta
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:34] hectorkambow commented on #2836
@hellenstacy7
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:45] hectorkambow commented on #2838
@amchilos01
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:45] hectorkambow commented on #2845
@olu-damilare
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:45] hectorkambow commented on #2848
@atienodorine3
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2859
@davidmbochi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2862
@nicasious
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2865
@Jethro-magaji
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2866
@Pauline-Mwangi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2867
@Caleb335
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2869
@Snzovi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:47] hectorkambow commented on #2873
@okeloviolet
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:48] hectorkambow commented on #2876
@odiwuoramos Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:48] hectorkambow commented on #2879
@Eztaezta
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:48] hectorkambow commented on #2882
@duncandegwa
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:48] hectorkambow commented on #2883
@JosephWainaina
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:48] hectorkambow commented on #2884
@mohamedgh16
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2887
@verah-tech
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2888
@ianmaish
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2890
@djayjames
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2891
@Wanyoike-shift
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2897
@queenterbruce063
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2898
@munenekelvin
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2902
@Bayler
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:49] hectorkambow commented on #2908
@john-amiscaray
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:52] Caleb335 commented on #2867
Thank you very much @hectorkambow! 😊

I look forward to the feedback(s) 🥂

[2021-07-16 17:54] hectorkambow commented on #2925
@Danmasanii
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:54] hectorkambow commented on #2914
@elphazesedah
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:54] hectorkambow commented on #2918
@RoseKarose
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:54] hectorkambow commented on #2919
@Antonymuriuki
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:54] hectorkambow commented on #2921
@Antony-Prince
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:55] hectorkambow commented on #2923
@Dawe-7
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:55] hectorkambow commented on #2924
@Dyrstiu
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2927
@julie-techie
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2928
@mercie-nyakio
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2929
@achiengrhoda
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2930
@stevekwachie
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2932
@kwennB
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2938
@ruphus-muita
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2940
@mosesmwangi442
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2941
@HARITJOSHI1
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:56] hectorkambow commented on #2942
@shosenwales
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. 🚀

[2021-07-16 17:58] hectorkambow commented on #2941
@HARITJOSHI1
Thank you for suggesting another topic.

Seems like a very cool topic - but regarding _Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being._

Please feel free to suggest an alternate topic to explore. 🚀

[2021-07-16 17:58] #2941 closed

[2021-07-16 17:59] hectorkambow commented on #2955
@giridhar7632
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. :rocket:

[2021-07-16 17:59] HARITJOSHI1 commented on #2941
Ohh okay

[2021-07-16 18:20] #2358 closed

[2021-07-16 18:23] shosenwales commented on #2942
Not a problem @hectorkambow

Thanks!

[2021-07-16 18:42] franciskaguongo commented on #2417
Finished it, let me just create the pr

[2021-07-16 19:07] franciskaguongo commented on #2417
@hectorkambow am done with the article, could you reopen the issue so that I can push it

[2021-07-16 19:09] #2366 closed

[2021-07-16 19:16] franciskaguongo commented on #2417
Thanks

[2021-07-16 20:44] amchilos01 commented on #2838
Good afternoon to you, this is Well noted @hectorkambow. Will patiently wait.

[2021-07-17 04:19] kvardhan10 commented on #2458
Sorry @hectorkambow . My bad! I have the article ready just some last-minute correction needs to be done. I got hung up on some other things. I will definitely submit the PR by EOD🚀

[2021-07-17 05:37] fabulousDesigns opened #2959 "Working With JavaScript Timers"
### Proposed title of article
Working With Javascript Timers

### Introduction paragraph (2-3 paragraphs):
A timer is a function that enables execition of a function in a particular time.Using timers you can delay the execution of code so that it does not get done at the exact moment an event is triggered or the page is loaded.
 For example, you can use timers to change the advertisement banners o

[2021-07-17 06:15] LinusMuema commented on #2789
In that case,
@neheMaish you will need to provide in-depth information on the same and make sure your content is original. Looking forward to seeing what you will do.
Topic approved.

[2021-07-17 06:48] M0nicah opened #2960 "Implementing Dark Mode Using Tailwind CSS."
### Proposed title of article
Implementing Dark Mode using Tailwind CSS.

### Introduction paragraph (2-3 paragraphs):
Dark mode/theme is gradually becoming one of the most used features on applications and operating systems. It lets a user change the color theme of an application to black or a color close to black. The applications and websites include a toggle switch/button that changes the them

[2021-07-17 09:47] SamoraCletus commented on #2853
Thank you for the important question
From the article you shared, we are both trying to solve the same challenge
of video conferencing but the author focused on just the codes to solve the
challenge and not the theory or fundamentals.
My article will focus on
i. The fundamentals of web based video conferencing
ii handling video and audio packets
iii. How to integrate event listeners for Camera and

[2021-07-17 09:52] ahmadmardeni1 commented on #2959
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. @fabulousDesigns

[2021-07-17 09:53] ahmadmardeni1 commented on #2960
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. @M0nicah

[2021-07-17 10:25] louisefindlay23 commented on #2853
Thanks, @SamoraCletus for your detailed answer. Topic approved.

[2021-07-17 14:08] owinowendy opened #2962 "Prototype vs JavaScript Class"
### Proposed title of article
Prototype vs JavaScript Class

### Introduction paragraph (2-3 paragraphs):
JavaScript classes, introduced in ECMAScript 2015, are primarily syntactical sugar over JavaScript's existing prototype-based inheritance.
The most important difference between class- and prototype-based inheritance is that a class defines a type which can be instantiated at runtime, whereas a

[2021-07-17 19:11] HARITJOSHI1 opened #2963 "Introduction to Grafana"
### Proposed title of the article
Introduction to Grafana

### Introduction paragraph (2-3 paragraphs):
ELK Stack is a modern and powerful tool that tackles the monitoring challenges in modern application and IT infrastructure.
It helps by providing users with a powerful platform that collects and processes data from multiple data sources, stores that data in one centralized data store that can sc

[2021-07-17 20:27] kvardhan10 commented on #2458
Hey @hectorkambow . I have submitted the PR for this issue. While I was writing this article, I discovered most of the parts I wrote revolved around "What is SEO? Why it is helpful? Factors affecting SEO, Types of SEO techniques, and then some SEO marketing tools". Its not just about black hat and white hat, but more than just those two topics.
So will it be okay if I change the article's name to

[2021-07-17 20:32] kvardhan10 commented on #2458
Also, have I submitted the PR correctly, regarding the branching of the repo?
I haven't done this in months and wondered whether the process has changed or is still the same.

[2021-07-17 20:42] hectorkambow commented on #2458
The repo structure has changed - so please do a git pull on your forked repo before submitting the PR - I just checked it has the old structure - won't be able to merge it like that 👍

[2021-07-17 21:47] ahmadmardeni1 commented on #2963
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @HARITJOSHI1

[2021-07-17 21:47] ahmadmardeni1 commented on #2962
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @owinowendy

[2021-07-17 23:00] CaptainBKola commented on #2825
Oh okay. Thank you

Sent from my iPhone

[2021-07-17 23:56] Danmasanii commented on #2925
Noted. Thank you

[2021-07-18 09:29] louisefindlay23 commented on #2951
Hi, @fabulousDesigns. Thanks for submitting a topic suggestion.

Since we focus on unique and original content, can you tell me how your article will differ from similar JavaScript cookie articles such as this [TutorialsPoint](https://www.tutorialspoint.com/javascript/javascript_cookies.htm) post?

Thanks,
Louise - Content Moderator

[2021-07-18 09:33] louisefindlay23 commented on #2959
@fabulousDesigns, you are only allowed one topic suggestion at a time to be considered. Closing in favour of #2951.

You can reopen this once that topic suggestion has been written and published.

[2021-07-18 09:33] #2959 closed

[2021-07-18 14:17] fabulousDesigns commented on #2951
Hi, @louisefindlay23 in my article i will try to be on point and my code snippets will be light for a reader to understand and implement as opposed to the site you had suggested

[2021-07-18 19:18] ephraa opened #2965 "Understanding Sysdig and how it is used"
### Proposed title of article
Understanding Sysdig and how it is used

### Introduction paragraph:
Sysdig refers to a universal system visibility tool that supports containers. It is important since it connects itself into the machine's kernel and categorizes information on a per-container basis.
The article will look at installing Sysdig, installing WordPress using a docker-compose command, and u

[2021-07-18 21:14] louisefindlay23 commented on #2944
Hi, @ruphus-muita. Great topic suggestion.

Section are a software company so the EngEd blog has more of a software focus to reflect that.  Please tweak your topic suggestion accordingly to focus more on the software you can develop using a Raspberry Pi rather than its hardware aspects.

Something like building a Minecraft server, running a bot, broadcasting a Pirate FM Radio Station, building a w

[2021-07-18 21:15] louisefindlay23 commented on #2951
Thanks, @fabulousDesigns. Topic approved. Please ensure your article is in-depth to provide value to our readers.

[2021-07-19 00:59] fabulousDesigns commented on #2951
Thanks, @louisefindlay23

[2021-07-19 05:26] ruphus-muita commented on #2944
Hi@louisefindlay23 I will go with broadcasting a Pirate FM Radio Station using a raspberry pi. I think that should be appropriate.

[2021-07-19 05:41] louisefindlay23 commented on #2944
Thanks, @ruphus-muita. Great topic. Topic approved.

[2021-07-19 05:53] kvardhan10 commented on #2458
I see...so I should Pull all the updates from the original repo to my forked repo. I used to submit my PR by adding the article in the /articles directory. But now it should be done in the /content/articles directory. Did I get that right?

And to do that I should first fork my repo and then fetch from the upstream repo to keep my forked one updated - by "Fetch and Merge"
![forked](https://user-im

[2021-07-19 06:18] Su-sid opened #2966 "Statefull vs. Stateless Architectures"
### Proposed title of the article
Statefull vs. Stateless Architectures

### Introduction paragraph (2-3 paragraphs):
Networks protocols control how data is transferred between different devices in a network. However, you should understand that networking protocols are divided into two: stateful and stateless protocols. Additionally, whether something is stateful or stateless depends on how long t

[2021-07-19 08:11] LinusMuema commented on #2965
Good afternoon @ephraa and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. :rocket:

[2021-07-19 08:25] LinusMuema commented on #2873
Hi @okeloviolet
I believe this would be a great article and I would be interested in reading it.
One question however, how will it differ from the [official docs](https://spring.io/guides/gs/messaging-redis/) provided by spring or video tutorials such as [this one](https://www.youtube.com/watch?v=LUrk5xEXAf4)

[2021-07-19 08:49] ahmadmardeni1 commented on #2966
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. :rocket:
Thank you. @Su-sid

[2021-07-19 09:06] lin-chez opened #2967 "Understanding 802.11(Wi-Fi) Standards"
### Proposed title of the article
Understanding 802.11 Standards

### Introduction paragraph (2-3 paragraphs):
802.11 based networks, also known as Wi-Fi networks, have progressively developed into the most common types of networks available and widely used in the modern world. It is common for you to connect to the internet through a wireless access point available in your office, bedroom, or fav

[2021-07-19 09:30] ahmadmardeni1 commented on #2967
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @lin-chez

[2021-07-19 09:53] ogoti-lilian opened #2968 "How to migrate an on-prem application to serverless?"
### Proposed title of article
How to migrate an on-prem application to serverless?

### Introduction paragraph:
Serverless is becoming popular in recent times. Developers and companies are adopting the approach to deliver business value using the public cloud. There are many articles covering the serverless architecture out there, but few really covers about the subject.
In this article, I will us

[2021-07-19 10:38] martha-ngugi opened #2969 "Why should Healthcare industries adopt cloud computing?"
### Proposed title of article
Why should Healthcare industries adopt cloud computing?

### Introduction paragraph:
Cloud computing refers to the delivery of computing services like storage, servers, analytics, and software over the internet connection. It is not advisable for an organization to rush into cloud computing without understanding the specifics of its industry since most cloud vendors m

[2021-07-19 13:44] neshmacharia commented on #2821
Hi, @ahmadmardeni1  in my article I will try to be on point and my code snippets will be light for a reader to understand and implement as opposed to the site you had suggested. Also I will include the C and C++ parameter passing considerations so that the reader can know the considerations to be made before passing a parameter.

[2021-07-19 14:08] param31 opened #2972 "Beginner's Guide to HashMaps in C++"
### Proposed title of article
Beginner's Guide to HashMaps in C++

### Introduction paragraph (2-3 paragraphs):
**There are two types of maps in C++**
1. Map
2. Unordered Maps

Maps are ordered and are build using BST, due to which almost most of the functions are of type log(n).
On the other hand, unordered Maps are unordered. They are build using Hash-tables, which makes the time complexity of 0

[2021-07-19 14:27] ahmadmardeni1 commented on #2972
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @param31

[2021-07-19 14:27] ahmadmardeni1 commented on #2968
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @ogoti-lilian

[2021-07-19 14:27] ahmadmardeni1 commented on #2969
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @martha-ngugi

[2021-07-19 23:27] RisoriTofa opened #2975 "Getting experiential on a Quarkus project"
### Proposed title of the article

Getting experiential on a Quarkus project

### Introduction paragraph (2-3 paragraphs):

Quarkus is an open-source Java native framework useful for creating and managing Kubernetes native Java stack, microservices, and serverless environments which is optimized for the open JDK and the GraalVM runtime. It is a very effective platform for Kubernetes, cloud, and se

[2021-07-20 03:36] justusmbuvi opened #2978 "Getting hands-on on a MicroProfile project"
### Proposed title of the article

Getting hands-on on a MicroProfile project

### Introduction paragraph (2-3 paragraphs)

MicroProfile specifies a collection of Java EE (Enterprise) technologies and APIs which in consolidation from a core baseline microservice that aims to deliver application portability across multiple MicroProfile runtimes.
It has been attracting attention from developers sinc

[2021-07-20 08:54] wanjadeno opened #2979 "Using Azure Functions and C# to Create Serverless APIs"
### Proposed title of the article*
Using Azure Functions and C# to Create Serverless APIs

### Introduction paragraph (2-3 paragraphs):
Azure Functions is a serverless compute tool that makes it simple to run short amounts of code (or "functions") in the cloud. It has the potential to make our development even more fruitful. You will write only the code you need for the task at hand, without worry

[2021-07-20 10:36] marienjus commented on #2719
the react cosmos librabry has unfixed issue in their repo as bug. I've been facing this for a week now and decided to close this until they fix it.

[2021-07-20 14:04] sheldonaswani opened #2982 "Introduction to Udoo x86 II Ultra"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-20 14:40] HARITJOSHI1 commented on #2963
@ahmadmardeni1 so what's the status?

[2021-07-20 15:10] ahmadmardeni1 commented on #2821
Thank you for your response and we thank you for submitting your topic.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation as previously mentioned.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide th

[2021-07-20 15:10] #2821 closed

[2021-07-20 15:31] #2548 closed

[2021-07-20 15:37] LinusMuema commented on #2923
Hi @Dawe-7
I think this is a great article and looking forward to interacting with it. Just a side note, make sure your content is creative and original.
topic approved.

[2021-07-20 15:46] LinusMuema commented on #2949
Hi @Josh4324
This is a great idea for an article. Let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Ensure it does not conflict with any other already published content.
topic approved

[2021-07-20 17:03] #2390 closed

[2021-07-20 17:19] ahmadmardeni1 commented on #2827
We typically refrain from publishing content that is covered widely on the net or other blogs. As we're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

Can you tell me how are you planning on adding value beyond what can be found on the internet?  @Erastuskanyatta

[2021-07-20 17:24] ahmadmardeni1 commented on #2838
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @amchilo

[2021-07-20 17:25] ahmadmardeni1 commented on #2836
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @hellens

[2021-07-20 17:33] #2501 closed

[2021-07-20 17:34] Alicewangari opened #2984 "WPF vs WinForms"
### Proposed title of article
WPF vs WinForms

### Introduction paragraph (2-3 paragraphs):
The abbreviation W.P.F simply refers to Microsoft’s Windows Presentation Foundation, and WinForms is a simple concatenation of Windows Forms Applications. These are both Microsoft’s Windows Applications Graphical User Interfaces that developers may use to develop Windows desktop applications. This article f

[2021-07-20 18:23] LinusMuema commented on #2900
Hi @MaurineM
This sounds like a helpful article, especially from an android perspective.
Please let's be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Also, ensure it does not conflict with any other already published content.
topic approved

[2021-07-20 19:29] ahmadmardeni1 commented on #2876
You have another [topic](https://github.com/section-engineering-education/engineering-education/pull/2916).

To help avoid a backlog queue we are only accepting one topic at a time - can be reopened once your first one is merged.

[2021-07-20 21:28] Erastuskanyatta commented on #2827
@ahmadmardeni1, thanks for the question. From my research, I noticed that beginners find it hard to use Bootstrap using the knowledge on the internet. Therefore, in this article, I will try to make Bootstrap look as simple and interesting as possible by covering the main parts used by Web designers and web developers.  I will also show the user how to use bootstrap step by step. As a bonus, I will

[2021-07-21 07:27] corpsgeek commented on #2952
alright.

[2021-07-21 09:05] ahmadmardeni1 commented on #2827
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @Erastus

[2021-07-21 09:06] louisefindlay23 commented on #2828
@jerimkaura, could you have another look at this topic suggestion because the author has changed their topic. Thanks for looking as this one as I don't have knowledge of Python.

[2021-07-21 09:10] louisefindlay23 commented on #2953
Hi, @winlinda. Thanks for submitting a PR. Great topic. Topic approved. Make sure you cover each area in lots of detail to add value to our readers and differentiate your article from similar WebAssembly intros.

[2021-07-21 09:10] jerimkaura commented on #2828
Right away @louisefindlay23

[2021-07-21 09:15] louisefindlay23 commented on #2950
Hi, @zolomohan. It would be great if you give this topic suggestion a quick look to determine how much value it brings?

I've not used React before (hence pinging you) but there seems to be a few similar articles such as [LogRocket](https://blog.logrocket.com/implementing-copy-to-clipboard-in-react-with-clipboard-api/) and [Medium](https://feargalwalsh.medium.com/copying-to-the-clipboard-in-react-

[2021-07-21 09:16] louisefindlay23 commented on #2947
Could you take a look at this topic suggestion, @ahmadmardeni1 if you have time since you have experience with ML?

[2021-07-21 09:17] jerimkaura commented on #2828
Thank you @Bonimum for this topic suggestion. Looks like it's a fantastic idea.

The topic seems to be helpful as the takeaways look very promising. I however urge you to go through existing articles to prevent overlap and provide value beyond any sources that I might have missed.

@louisefindlay23  you can go ahead and approve this.

[2021-07-21 09:18] louisefindlay23 commented on #2828
Thanks so much, @jerimkaura. Thanks, @Bonimum for submitting. Topic approved.

[2021-07-21 09:23] ahmadmardeni1 commented on #2947
Seems like a very interesting topic. I didn't use it before - but it can be a great addition to our program.
You can approve it @louisefindlay23

[2021-07-21 09:24] louisefindlay23 commented on #2947
Thanks for looking it over, @ahmadmardeni1. Topic approved, @willyngashu.

[2021-07-21 09:50] Jeddy947 opened #2988 "WPF Menus"
### Proposed title of article
WPF Menus

### Introduction paragraph (2-3 paragraphs):
In WPF, the Menu and the MenuItem classes represent a menu and a menu item respectively. A Menu is a collection of menu items with a command associated with each menu item. A menu item may have children menu items called submenus. This article discusses how to work with menus in WPF applications using XAML and C#

[2021-07-21 10:03] salvador02 opened #2989 "Connect-Flash, Bootstrap, Passport and Express-sessions on the go"
### Proposed title of article
Connect-Flash, Bootstrap, Passport and Express-sessions on the go

### Introduction paragraph (2-3 paragraphs):
Connect-flash is node module that allows developers to send flash messages to the user interface efficiently. Connect Flash usually works with express. Express sessions are used in managing sessions in an application. Session handling is a vital part in ever

[2021-07-21 10:48] ahmadmardeni1 commented on #2845
Hey 👀 @john-amiscaray @BrianaNzivu

You have experience in Java - what do you think about this topic?

[2021-07-21 11:05] ahmadmardeni1 commented on #2848
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @atienod

[2021-07-21 11:16] ahmadmardeni1 commented on #2884
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Reference any relevant EngEd articles in yours. - Approved @mohamedgh16

[2021-07-21 11:49] #2204 closed

[2021-07-21 11:54] zolomohan commented on #2950
@marienjus can you go through the articles that @louisefindlay23 pointed out and let me know how your article is going to be different?

[2021-07-21 12:06] prince-joel opened #2991 "Light/Dark theme toggle with Html,CSS and JavaScript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-21 12:48] BrianaNzivu commented on #2845
Hey@ahmadmardeni1 👋🏾.
I think it can make a great how to guide article.
Regex is an upcoming trend in object oriented programming especially Java due to its redundant syntax.

I'd advice that he includes a little bit more detail compared to the reference articles linked  (Regex is used in more ways than what most of the articles are displaying).

I'd like to know your thoughts on this @john-amisca

[2021-07-21 13:14] ahmadmardeni1 commented on #2845
Thank you!🚀 @BrianaNzivu

Approved - @olu-damilare - please make sure to include a little bit more detail compared to the reference articles linked (Regex is used in more ways than what most of the articles are displaying) as Briana said.

[2021-07-21 14:11] jerimkaura commented on #2991
Hello @prince-joel I think @phinaomondi  covered the topic here https://www.section.io/engineering-education/adding-dark-theme-to-your-site/

[2021-07-21 14:37] vitalisodhis opened #2994 "Image processing using Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-21 14:42] amosnjoro commented on #2954
Thanks @hectorkambow

[2021-07-21 14:54] john-amiscaray commented on #2845
@ahmadmardeni1 @BrianaNzivu I'm not very familiar with regex so I don't think I can give a good opinion on what can be done differently from the reference articles but I also believe this could be a very useful topic. Regex seems like a pretty powerful tool that can be a little daunting for a beginner because of how weird and different it can look. I feel like done right, this could be a very usef

[2021-07-21 15:34] amosnjoro opened #2995 "Language-Integrated Query (LINQ) in C#"
### Proposed title of article Language-Integrated Query (LINQ) in C#

### Introduction paragraph (2-3 paragraphs):
Language-Integrated Query (LINQ) is the name for a bunch of advancements dependent on the reconciliation of inquiry capacities straightforwardly into the C# language. Customarily, inquiries against information are communicated as basic strings without type checking at aggregate time o

[2021-07-21 17:35] RuthAMare opened #2996 "Cryptanalysis of Data after A Ransomware Attack"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-21 17:49] lalith1403 commented on #2897
Sounds like an interesting topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved
@qu

[2021-07-21 17:50] lalith1403 commented on #2902
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. -
Approved @Bayler

[2021-07-21 17:51] lalith1403 commented on #2911
Thank you for the topic suggestion @fely545. However, this is a bit outside of our preferred topic areas.
We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.
Please feel free to suggest an alternate topic to explore. 🚀

[2021-07-21 17:53] #2911 closed

[2021-07-21 17:54] lalith1403 commented on #2918
Hi @RoseKarose
This sounds like a helpful article. However, let's be sure it adds value beyond what is in the official docs and covered in other blog sites. Also, ensure it does not conflict with any other already published content.
**Topic approved**

[2021-07-21 18:43] duncandegwa commented on #2911
Is machine learning and programming not programming centric

[2021-07-21 18:52] #2536 closed

[2021-07-21 19:00] LinusMuema commented on #2919
Hi @Antonymuriuki
This sounds like a really great article.
Please let's be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Also, ensure it does not conflict with any other already published content.
topic approved

[2021-07-21 19:01] LinusMuema commented on #2879
Hi @Eztaezta
This sounds like a helpful article, especially for beginners.
Please let's be sure it adds value beyond what is covered in other blog sites.
Also, ensure it does not conflict with any other already published content.
topic approved

[2021-07-22 00:55] shegz101 opened #2997 "All about javascript localstorage"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 02:50] WanjaMIKE commented on #2997
@shegz101 this topic has already been covered. https://www.section.io/engineering-education/how-to-use-localstorage-with-javascript/

[2021-07-22 03:55] lalith1403 commented on #2911
This particular topic is covered widely on the web and we encourage authors to come up with original programmer centric articles that will truly add value to the reader. I hope that clarifies the doubt.

You may submit a new issue. Would love to see what else is on your mind.

Cheers,

Lalith

[2021-07-22 08:04] phinaomondi opened #2999 "Hapi validation,Bcrypt Hashing and JWT in action"
### Proposed title of article
Hapi validation,Bcryp Hashing and JWT in action

### Introduction paragraph (2-3 paragraphs):
Form validation is necessary before submitting form values to a server. You need to have a strict method that ensure you dont dump unnecessary values into your server. Hapi validation is a javascript module that provides just that with much ease.

Still on form validations, v

[2021-07-22 08:21] shegz101 opened #3000 "Most used javascript array methods"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 08:40] shegz101 opened #3001 "15 Visual Studio Code Extension Every Developer Should Have"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 10:02] Josh4324 opened #3003 "Things you need to take into consideration when building a backend software."
### Proposed title of article
Things you need to take into consideration when building a backend software.

### Introduction paragraph (2-3 paragraphs):
Backend can be referred to the part of a software that cannot be directly interacted it, it is also know as the data access part of the Application or software. It is the middleman between the frontend and the database. The frontend application se

[2021-07-22 10:18] prince-joel commented on #2991
Hello, @jerimkaura thank you, I will suggest a new topic.

[2021-07-22 10:18] #2991 closed

[2021-07-22 10:26] LinusMuema commented on #2898
Hi @munenekelvin
This sounds like a really interesting article. Just make sure you cover your takeaways in-depth and provide more original content. Just ensure your article stands out from other articles on other blog sites. Also, please check your grammar and flow. I have noticed some flaws in the introduction paragraph.

You can check @louisefindlay23's or @katungi's articles. IMO, they are good

[2021-07-22 10:30] LinusMuema commented on #2938
Hi @ruphus-muita
This sounds like a good article. However, I have some concerns with the suggestion. It sounds a bit unclear. You can provide more info on the article like what kinds of databases are you monitoring? any tools you will use for the purpose?

The introduction paragraph seems a bit short hence the uncertainty.

Could you please check on that...

[2021-07-22 10:35] LinusMuema commented on #2859
Hi @davidmbochi
The article sounds like a great idea. Please make sure you add more original content than what is provided in the official Google docs and other blog sites. Also, check that it doesn't conflict with published content.

article approved.

[2021-07-22 11:16] ruphus-muita commented on #2938
Hi @LinusMuema To narrow the topic down, The article will aim at enlightening the reader on how to monitor a Microsoft SQL Server database using Solar Winds Database Performance Analyzer (Self-Managed). Hence the article will provide an overview of the following:
1. How to deploy the Database performance analyzer in Windows.
2. How to register the database instances for monitoring.
3. Best practic

[2021-07-22 11:34] LinusMuema commented on #2938
You can update the initial suggestion. There is an option to do that.
Just update it and ping me when you're done

[2021-07-22 11:53] ruphus-muita commented on #2938
@LinusMuema I have updated the original suggestion.

[2021-07-22 11:58] LinusMuema commented on #2938
Okay @ruphus-muita
Make sure you add value to your article and it is original. This is by ensuring your content covers more than what is available in official docs and other blog sites.

topic approved. 🚀

[2021-07-22 12:01] ruphus-muita commented on #2938
@LinusMuema Noted

[2021-07-22 12:21] neshmacharia opened #3005 "Create a secure home connection using a Pi-hole and Docker"
### Proposed title of article
create a secure home connection using a Pi-hole and docker

### Introduction paragraph (2-3 paragraphs):
Threats have also increased with an increase in internet use. Digital safety has become an important issue. Our screens always contain insensible ads, pop-ups, notifications, banner ads, and so on, which you might not know about harmful malware. It also can threate

[2021-07-22 13:27] shegz101 opened #3006 "Next Gen Javascript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 14:36] collince777 opened #3007 "How to implement object oriented programming using Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 14:44] eunice-wanjiku opened #3008 "Hosting a Web Server Using a Raspberry Pi"
### Proposed title of article
Hosting a webserver using raspberry pi

### Introduction paragraph (2-3 paragraphs):
This article is based on the mini computer raspberry pi.
 It aims at providing a guide on how to host a webserver using a raspberrypi.
By the end, the reader should have knowledge on how to host a fully functional webserver.

### Key takeaways:
1. Installing needed applications on the

[2021-07-22 15:04] Njengab opened #3009 "features of oop language"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-22 15:07] #3009 closed

[2021-07-22 20:21] #2523 closed

[2021-07-23 01:58] prince-joel opened #3010 "Task-Tracker app with React.js using hooks"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-23 05:08] marienjus commented on #2950
Logrocket seems to be using the same Library I am planning to integrate. My version is more advanced than that in Medium though. Maybe I can dive deeper into this Library more than Logrocket and build a better UI version? .

[2021-07-23 05:21] #2058 closed

[2021-07-23 08:32] JohnKiguru opened #3011 "Communicating between your Django APIs using RabbitMQ"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-23 09:29] Horlawhumy-dev commented on #2637
Can you please reopen this sir ? @hectorkambow

[2021-07-23 09:44] Horlawhumy-dev opened #3012 "Integrating Node Express Web Application With MongoDB Cloud Atlas"
### Integrating Node Express  Web Application With MongoDB Cloud Atlas

### Introduction
This article shall be well versed on how to integrate a node and express framework web app with mongodb cloud atlas.
I shall introduce the reader to JavaScript web backend runtime and its framework. At the same time, connecting with the cloud provided by MongoDB Atlas.

### Key takeaways:
The following shall b

[2021-07-23 12:00] #2499 closed

[2021-07-23 12:11] ahmadmardeni1 commented on #2862
Hey @zolomohan 👋
What do you think about this topic?

[2021-07-23 12:15] ahmadmardeni1 commented on #2866
Sounds like a helpful topic - let's please be sure it adds value beyond what is covered in other blog sites.

I think it will be a great addition to our program. Please make sure to include a disclaimer - this is a very sensitive topic and we need everything to be legal. Approved @Pauline-Mwangi

[2021-07-23 12:17] ahmadmardeni1 commented on #2867
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please [be sure to double-check that it does not overlap with any existing EngEd articles](https://www.section.io/engineering-education/search/?q=react%20alert) or incoming topic suggestions (if you haven't already) to avoid any potential article closure, pl

[2021-07-23 12:21] ahmadmardeni1 commented on #2865
Great topic - Approved @Jethro-magaji
Let's please focus on the technical part behind creating an NFT on a blockchain.

[2021-07-23 12:24] ahmadmardeni1 commented on #2997
This topic is already covered, as Wajna said.  @shegz101

Please feel free to suggest an alternate topic to explore. 🚀

[2021-07-23 12:24] #2997 closed

[2021-07-23 13:16] zolomohan commented on #2950
- When it comes to tutorial articles, the UI doesn't matter. It's important to teach the reader how to implement the functionality that you are discussing in an easy way. Building a good UI requires CSS code and it will clutter your article. TLDR; It's unnecessary.
- The Clipboard API is not a library, it's just a WebAPI. It's very simple. The MDN docs are excellent for it.

@louisefindlay23 I don

[2021-07-23 13:36] louisefindlay23 commented on #2950
Thanks, @zolomohan. @marienjus is there another topic you'd like to consider instead?

[2021-07-23 14:19] Caleb335 commented on #2867
Thank you for approving this article!

I'd be sure to follow all the guidelines that you have mentioned.

[2021-07-23 15:18] ahmadmardeni1 commented on #2975
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @RisoriTofa

[2021-07-23 15:18] ahmadmardeni1 commented on #2978
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @justusmbuvi

[2021-07-23 15:19] ahmadmardeni1 commented on #2979
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @wanjadeno

[2021-07-23 15:19] ahmadmardeni1 commented on #2982
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @sheldonaswani

[2021-07-23 15:19] ahmadmardeni1 commented on #2984
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @Alicewangari

[2021-07-23 15:19] ahmadmardeni1 commented on #2988
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @Jeddy947

[2021-07-23 15:19] ahmadmardeni1 commented on #2989
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @salvador02

[2021-07-23 15:20] ahmadmardeni1 commented on #3012
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @Horlawhumy-dev

[2021-07-23 15:20] ahmadmardeni1 commented on #2994
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @vitalisodhis

[2021-07-23 15:20] ahmadmardeni1 commented on #2995
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @amosnjoro

[2021-07-23 15:20] ahmadmardeni1 commented on #2996
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @

[2021-07-23 15:20] ahmadmardeni1 commented on #2999
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @phinaomondi

[2021-07-23 15:21] ahmadmardeni1 commented on #3000
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @shegz101

[2021-07-23 15:22] ahmadmardeni1 commented on #3001
You have another topic.

To help avoid a backlog queue we are only accepting one topic at a time - can be reopened once your first one is published. @shegz101

[2021-07-23 15:22] #3001 closed

[2021-07-23 15:22] ahmadmardeni1 commented on #3003
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @Josh4324

[2021-07-23 15:22] ahmadmardeni1 commented on #3005
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @neshmacharia

[2021-07-23 15:23] ahmadmardeni1 commented on #3006
You have 3 topics.

To help avoid a backlog queue we are only accepting one topic at a time - can be reopened once your first one is published. @shegz101

[2021-07-23 15:23] #3006 closed

[2021-07-23 15:24] ahmadmardeni1 commented on #3007
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @collince777

[2021-07-23 15:24] ahmadmardeni1 commented on #3008
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @eunice-wanjiku

[2021-07-23 15:24] ahmadmardeni1 commented on #3010
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @prince-joel

[2021-07-23 15:24] ahmadmardeni1 commented on #3011
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @JohnKiguru

[2021-07-23 15:33] ahmadmardeni1 commented on #2709
.

[2021-07-23 15:35] ahmadmardeni1 commented on #2751
.

[2021-07-23 16:25] samtecinnovator opened #3015 "How to implement Tree node classes and binary search tree in python"
### Proposed title of article
How to implement tree nodes classes and binary search tree

### Introduction paragraph (2-3 paragraphs):
. In this article we will learn how to construct binary search tree using nodes and references in python
  iterating  in all the keys of  the tree in order we will have a parent and child nodes.
### Key takeaways:
1, it gives an understanding of how to insert new c

[2021-07-23 16:53] RisoriTofa commented on #2975
Ok, will be waiting soon...

[2021-07-23 17:33] sheldonaswani commented on #2982
Good evening, Thank you for this update.
kind regards.

[2021-07-23 21:52] zolomohan commented on #2862
Hi @nicasious @ahmadmardeni1. This topic is Shell Scripting 101. When you google Shell Function Library, a bunch of great articles is already available.
- https://bash.cyberciti.biz/guide/Shell_functions_library#:~:text=You%20can%20store%20all%20your,script%20or%20the%20command%20prompt.
- https://www.tecmint.com/write-custom-shell-functions-and-libraries-in-linux/

Can you please let us know in w

[2021-07-24 08:31] kush-mafom opened #3017 "How to install Tar-gz packages on linux operating systems"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-24 09:03] Faithdroid opened #3018 "What is RabbitMQ? How to Build and Dockerize a RabbitMQ Instance using Docker Containers"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-24 09:42] BashiirIsla commented on #2863
Hello @lalith1403 thank you for this feedback.

1. I do not think the title is misleading. My article is not about automating mobile app dev. It is about using AI to deliver smart, safe, and effective applications (AI-based apps). I am open to changing the title of this article, though, depending on your suggestion.
2. On Artificial Intelligence at the edge
AI-powered apps face challenges relating

[2021-07-24 13:32] Horlawhumy-dev commented on #3012
Okay, thanks for the message.

[2021-07-24 15:43] hectorkambow commented on #2963
@HARITJOSHI1

This seems like a very helpful topic - as Grafana is an extremely useful tool to learn.

Although we are looking to create and curate topics that go above and beyond the official documentation or what can be found elsewhere online.

Could you please expand upon how your content will differ from what is already available through the Grafana website and documentation? We lean towards c

[2021-07-24 16:03] HARITJOSHI1 commented on #2963
So is my topic approved?

[2021-07-24 16:25] hectorkambow commented on #2963
@HARITJOSHI1

Not yet - as we are trying to go beyond intro type topics.

It may be more valuable to the reader to go above any introduction (it would be helpful to find one online that you'd like to reference) as we are trying to distance ourselves from basic topics (or specifically topics that are widely covered elsewhere).

In order to approve the topic - it would have to go beyond a basic intr

[2021-07-24 16:35] hectorkambow commented on #2963
I think there is substance we can flush out on what you mentioned above with the ELK stacks - the introductory parts can be pointed out in other articles as references - which would allow you to go more in depth on core Grafana topics 👍 @HARITJOSHI1

[2021-07-24 16:46] HARITJOSHI1 commented on #2963
Okay then I will add a brief intro for grafana and give turn this article to advance metrics visualization and metrics alerting in Grafana with ISTIO.

[2021-07-24 17:18] okeloviolet commented on #2873
Hello @LinusMuema take note that the links you provided only show how to using Redis with a monolith Spring Boot application but in this case I am going to explain how to use Redis in microservices.

[2021-07-24 17:31] LinusMuema commented on #2873
Hi @okeloviolet
Then if that is the case, make sure your article is original and provides some good help. Otherwise you can go ahead 🚀

[2021-07-24 18:15] hectorkambow commented on #2963
Sounds great - approved 💯

[2021-07-24 19:15] ahmadmardeni1 commented on #2883
Thank you for submitting your topic.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide the most value.

Please feel free to suggest an alternate top

[2021-07-24 19:15] #2883 closed

[2021-07-24 19:18] ahmadmardeni1 commented on #2882
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Approved @duncandegwa

[2021-07-24 19:19] ahmadmardeni1 commented on #2869
Sounds like a helpful topic - let's be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please reference any relevant EngEd articles in yours. - Approved @Snzovi

[2021-07-24 19:21] ahmadmardeni1 commented on #2888
Thank you for submitting your topic.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide the most value.

Please feel free to suggest an alternate top

[2021-07-24 19:21] #2888 closed

[2021-07-25 09:26] #2422 closed

[2021-07-25 11:41] ahmadmardeni1 commented on #3018
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @Faithdroid

[2021-07-25 11:42] ahmadmardeni1 commented on #3017
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @kush-mafom

[2021-07-25 11:42] ahmadmardeni1 commented on #3015
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.  @samtecinnovator

[2021-07-25 11:47] ahmadmardeni1 commented on #1271
Hey 👋 @BrianaNzivu

Any update on this topic? We are trying to clear the queue.
As Hector said, we can re-open it at any time.

[2021-07-25 11:49] ahmadmardeni1 commented on #2569
Hey 👋 @Owallah

Any update on this topic? We are trying to clear the queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-25 11:50] ahmadmardeni1 commented on #2572
Hey 👋  @jamila-laureen

Any update on this topic? We are trying to clear the queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-25 11:58] nicasious commented on #2862
Hello @zolomohan and @ahmadmardeni1 I have checked the articles from the link you suggested.
I have noticed that those articles do not give a beginner the guide and knowledge to create those Bash Scripts. For example, the second suggestion you gave, prompt the reader to copy-paste the Script which is not beginner-friendly. In my article, I will let the reader know what a script is, how to create o

[2021-07-25 12:13] vincentkims49 opened #3025 "Java JDBC And MySQL Connector/J"
### Proposed title of article
Java JDBC And MySQL Connector/J

### Introduction paragraph (2-3 paragraphs):
JDBC stands for Java Database Connectivity .JDBC basically establishes a connection with a data source sends queries and update statements to the connected data source. MySQL provides connectivity for client applications developed in the Java programming language with MySQL Connector/J, a dr

[2021-07-25 12:25] #2443 closed

[2021-07-25 13:47] geoffrey45 opened #3026 "Integrating external APIs into a Flask application"
### Proposed title of article
Integrating external APIs into a Flask application.

### Introduction paragraph (2-3 paragraphs):
APIs are a major part of today's applications. There are many times that we need to use a third-party API either for authentication, file uploads, or just getting other information. APIs enable us to use features provided by other applications without having to actually b

[2021-07-25 14:55] FREDERICO23 opened #3027 "Data Preparation for Machine Learning Models in Python"
### Proposed title of article
Data Preparation for Machine Learning Models in Python

### Introduction paragraph (2-3 paragraphs):
Just as a motor car runs on fuel, Machine Learning algorithms run on data. For this simple yet critical part, most of the work in building Machine Learning models is data preparation. We need to provide the models with clean, precise, accurate, and relevant data. Those

[2021-07-25 16:48] BrianaNzivu commented on #1271
Hey @ahmadmardeni1 :wave: .
You can close it for now as I am still working on it.
I will ping you once I open the PR.

cc @hectorkambow

Regards.

[2021-07-25 16:57] mwanikialex opened #3028 "Computer viruses,What they are,how they affect,spread and preventions"
A computer virus is a type of malicious software program that is programmed to spread from one computer to another and can make copies of itself. It is loaded onto a user’s computer without the user’s knowledge and performs all types of malicious actions like either damaging or harming the computer system and its data or take control of a computer. 

[2021-07-25 20:07] #1271 closed

[2021-07-26 05:46] Joshuathuo commented on #2861
@lalith1403 I changed my topic to  JavaScript Split – How to Split a String into an Array in JavaScript.
Please have a look .

Ping me if there is an issue.
Cc@hectorkambow

[2021-07-26 05:58] lalith1403 commented on #2861
@louisefindlay23 Can you check this issue related to JavaScript whenever you get a chance?

[2021-07-26 09:34] Amayo-Amayo opened #3030 "IUEBGFWBOUEBWU"
WGFQ5 BGIVBNFPIQPEKBVKVREN

[2021-07-26 09:35] #3030 closed

[2021-07-26 10:03] nancymumbimaina opened #3031 "controlling android device on your pc"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-26 10:12] nancymumbimaina opened #3032 "Mikrotik configuration guide"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-26 12:33] #2452 closed

[2021-07-26 12:37] JuliusGikonyoNyambura commented on #2717
@ahmadmardeni1 I have added some content. Can you please open the issue for topic approval?

[2021-07-26 12:46] ahmadmardeni1 commented on #2862
Approved - but you have to add a unique value to your tutorial, a value that makes it simple, memorable, fun to read, and different from the tutorials Zolomohan shared above. @nicasious

[2021-07-26 12:49] ahmadmardeni1 commented on #2717
Please fill out your key takeaways and references. @JuliusGikonyoNyambura

[2021-07-26 12:58] marienjus commented on #2950
Hey, I've been enjoying using React and Zustand for state management and I would like to write something about it. A tutorial of the UI state management library. Can I proceed?

[2021-07-26 13:09] nancymumbimaina opened #3033 "Controlling Android Phone on your Computer"
Controlling Android Phone Using SRCPY
### Introduction paragraph (2-3 paragraphs):
SRCPY is a free and open-source screen mirroring tool that lets you operate an Android device from a desktop computer running Windows, Mac OS X, or Linux. Genymobile, which also created Genymotion, an Android emulator, is now working on the software.
The following are the steps of installing and running SRCPY  to mi

[2021-07-26 13:11] #3032 closed

[2021-07-26 13:25] Newton-cyber opened #3034 "Integration of Robot Operating System with Arduino"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-26 13:47] JuliusGikonyoNyambura commented on #2717
I have update them @ahmadmardeni1

[2021-07-26 13:57] hectorkambow commented on #2865
@Jethro-magaji
Please be sure that this topic goes beyond the basics of an NFT this topic is easily accessible across other sites and I had closed one just like [this topic](https://github.com/section-engineering-education/engineering-education/issues/1839) a few days back.

cc @ahmadmardeni1

[2021-07-26 13:58] hectorkambow commented on #1839
@wmkinyan

Apologies that this topic got closed (and another just like it was approved) - can we build upon this topic to make your article more practioner-focused or a natural next step of the Topic "what is an NFT" ??

Thank you - approved.

cc @ahmadmardeni1

[2021-07-26 14:08] hectorkambow commented on #2930
@stevekwachie
Thank you for the topic suggestion.
Upon giving your article an overview it seems that it could be a valubable article for reader(s).
Although it seems that this information that you intend to cover is already readily available through the documentation or via other blog sites.

An alternate path might be to create a unique project using network ports to better explain their function

[2021-07-26 14:15] hectorkambow commented on #2929
@achiengrhoda

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to referenece your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't a

[2021-07-26 15:57] munubi254 opened #3035 "Performance measures for your Data Science/Machine Learning application 1."
### Proposed title of the article
Performance measures for your Data Science/Machine Learning application 1.

### Introduction paragraph (2-3 paragraphs):
While working on our models, we would at one point need to check their performance. This would include checking on the errors, the accuracy, biases, etc. We would do that in this article using a classification problem. Since we would look at the

[2021-07-26 18:02] #2592 closed

[2021-07-26 18:13] JuliusGikonyoNyambura commented on #2717
@ahmadmardeni1, can I start building on the project for this article?

[2021-07-26 18:44] #2728 closed

[2021-07-26 21:25] simonmwaniki opened #3039 "Searching and sorting in Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-27 05:31] qawuor opened #3040 "Building a chat application using Spring Boot, Rsocket and Angular"
### Building a chat application using Spring Boot, Kotlin, Rsocket, and Angular
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article a higher ranking.*

### Introduction paragraph (2-3 paragraphs):
RSocket is a binary protocol for use on byte stream transports such as TCP, WebSockets, and Aeron.  RSocket is message-based and requires som

[2021-07-27 06:56] #2551 closed

[2021-07-27 07:02] LinusMuema commented on #2952
@katungi
could you give this issue a review? You were good in machine learning last I checked.
If not you can ping someone in the peer reviewers community to check it out. :rocket:

[2021-07-27 07:06] LinusMuema commented on #2908
Hi @john-amiscaray
This article sounds great and helpful. Just check to provide more original content that is not available in official docs and other blog sites.

topic approved :rocket:

[2021-07-27 07:48] katungi commented on #2952
Yeah, I will gladly take the review. I am well versed with Blockchain technology. I will get on with the review asap!

[2021-07-27 09:50] ahmadmardeni1 commented on #2717
Sounds like a helpful topic - Approved.
Please be sure to double-check that it does not overlap with any existing EngEd articles:
- [Nest.js](https://www.section.io/engineering-education/search/?q=Nest.js)
- [graphql](https://www.section.io/engineering-education/search/?q=graphql)
- [Prisma](https://www.section.io/engineering-education/search/?q=prisma)

[2021-07-27 10:28] #2537 closed

[2021-07-27 10:29] aidelojep commented on #2715
@lalith1403 What is the update on this/

[2021-07-27 10:34] lalith1403 commented on #2715
I am sorry I missed this issue. Well, can you elaborate on what project out of the 3 points mentioned will you be working on? This seems to be a diverse set of projects.

You may look at approved issues to get more clarity on the type of topic proposals we expect.

[2021-07-27 10:35] #2613 closed

[2021-07-27 10:45] #2788 closed

[2021-07-27 11:04] #2348 closed

[2021-07-27 11:24] wilkistermumbi opened #3042 "How to develop a face recognition system using FaceNet in Keras"
### Proposed title of article
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article higher ranking.*

How to develop a face recognition system using FaceNet in Keras

### Introduction paragraph (2-3 paragraphs):

FaceNet is a face recognition system developed in 2015 by Google researchers Florian Schroff, Dmitry Kalenichenko, and James Ph

[2021-07-27 11:31] aidelojep commented on #2715
@lalith1403 thank you for your continued assistance. Please find below a recent detailed topic on recommendation model I want to elaborate on. I await your positive feedbacks.

HOW TO TUNE A RECOMMENDATION ENGINE TO FORECAST FUTURE TRENDS/OCCURRENCES
RECOMMENDER SYSTEM is a system widely used by online retailers and various business platforms to make suggestions to a pool of customer base in makin

[2021-07-27 12:40] Nomzy-kush opened #3043 "How to Build a Music Player with Vanilla JavaScript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-27 14:10] wmkinyan commented on #1839
@hectorkambow @ahmadmardeni1 I've slightly edited my topic issue. I'll be writing a tutorial on how to create an NFT art using raribles. @Jethro-magaji  can write about getting started with NFTs while I focus on How to create an NFT art. Once published, I'll link my tutorial to his for the benefit of our readers

[2021-07-27 14:48] lalith1403 commented on #2715
Update the contents of the initial issue with the updated contents. Also, update the title of the article.

Thank you,

Lalith

[2021-07-27 14:49] lalith1403 commented on #2715
The suggested topic is exciting. Look forward to reading it. Ping me once you update the topic proposal. We can then proceed with this topic.

[2021-07-27 17:31] hectorkambow commented on #1839
@wmkinyan  THank you very much for shifting the topic focus - this will be helpful to reader - by ensuring we have a wide breath of knowledge around this topic.

Yet - this new topic - creating NFT art on the Rarible platform - is way _outside of our preferred topic areas._
We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-07-27 17:58] aidelojep commented on #2715
I'm glad you find it exciting too. I'm charged up to jump on it already too. I have updated the topic proposal.

[2021-07-27 17:58] ahmadmardeni1 commented on #1839
Hey 👋 @wmkinyan
This is a great topic but as Hector said, it is way outside of our preferred topic areas.

@Jethro-magaji is writing an introductory guide on how to mint an NFT using Solidity: https://github.com/section-engineering-education/engineering-education/issues/2865

You can both collaborate in a way that you build on top of his tutorial, maybe an advanced tutorial - I believe this topic

[2021-07-27 18:07] KanizoRGB opened #3047 "How to turn your photo into a cartoon using python"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-27 18:10] lalith1403 commented on #2715
@aidelojep
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours.

Additio

[2021-07-27 18:55] #2710 closed

[2021-07-27 20:15] #2512 closed

[2021-07-27 20:16] #2424 closed

[2021-07-27 20:25] LinusMuema commented on #2924
Hi @Dyrstiu
This article would be quite helpful but can be easily covered in the official docs by Microsoft. I would suggest you add more content like advantages and other analytical/research data on top of the `getting started` content. Just make sure your content is more original. Also, check on your grammar. You can check the content by @katungi, @john-amiscaray, or @louisefindlay23. They are q

[2021-07-27 20:25] louisefindlay23 commented on #2925
@Danmasanii, please fill in the topic suggestion form by answering the questions above so we can accurately review your topic suggestion.

[2021-07-27 20:37] LinusMuema commented on #2921
Hi @Antony-Prince
This article would be really helpful, but it is easy for it to match the [Google Documentation](https://developer.android.com/guide/components/activities/activity-lifecycle). I would suggest you take the users in a step-by-step process with screenshots and logs from the logcat for each of the lifecycle methods. This would provide a hands-on approach compared to the official docum

[2021-07-27 20:50] Dyrstiu commented on #2924
Thanks @LinusMuema I will implement your great  points you  have suggested .

[2021-07-27 20:57] corpsgeek commented on #2952
@katungi i assume this topic has been approved??

[2021-07-27 21:02] dentonya opened #3049 "Wireless LAN Configurations"
### Proposed title of article
Understanding Wireless LAN Configurations

### Introduction paragraph (2-3 paragraphs):
Technology is growing day by day, which has led to Wireless LAN (WLAN), a type of wireless network commonly used in homes, offices, and campus environments. This network supports people who are on the move, people connecting using computers, laptops, tablets, and smartphones. The m

[2021-07-27 22:45] #2465 closed

[2021-07-27 23:42] Danmasanii commented on #2925
@louisefindlay23
Thank you, duly noted Miss louise

[2021-07-27 23:48] aidelojep commented on #2715
@lalith1403 noted with thanks. :)

[2021-07-28 00:18] #2154 closed

[2021-07-28 00:19] #1967 closed

[2021-07-28 00:21] #2318 closed

[2021-07-28 00:24] hectorkambow commented on #2582
@bastian-zab
Just pinging you on this topic form - as were trying to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-28 00:25] hectorkambow commented on #2605
@DesignrKnight
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-28 00:25] #2605 closed

[2021-07-28 00:25] hectorkambow commented on #2606
@Temmy5113

Just pinging you on this topic form - as Im making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-28 00:26] hectorkambow commented on #2616
@valerio140
Just pinging you on this topic form - as were making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-07-28 00:26] #2616 closed

[2021-07-28 00:27] hectorkambow commented on #2632
@jerimkaura

Just pinging you on this topic form - as were making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:27] hectorkambow commented on #2633
@mercymeave

Just pinging you on this topic form - as were making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:28] hectorkambow commented on #2639
@Frank-dev20
Just pinging you on this topic form - as were making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:28] hectorkambow commented on #2641
@Daniel695
Just pinging you on this topic form - as were making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:29] hectorkambow commented on #2650
@Beatricewanjiru

Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:29] hectorkambow commented on #2659
@Paul22691
Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:29] #2659 closed

[2021-07-28 00:30] hectorkambow commented on #2693
@atoyegbe
Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:30] #2693 closed

[2021-07-28 00:30] hectorkambow commented on #2702
@ejirocodes
Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:30] #2702 closed

[2021-07-28 00:32] hectorkambow commented on #2746
@bancy-bit
Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:32] #2746 closed

[2021-07-28 00:32] hectorkambow commented on #2743
@supzi-del

Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:32] #2743 closed

[2021-07-28 00:34] hectorkambow commented on #2756
@destiny251

Just pinging you on this topic form - to inform we will be closing this topic form only to make some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date when the article is ready to publish.

[2021-07-28 00:34] #2756 closed

[2021-07-28 02:45] ejirocodes commented on #2702
Alright, thanks for the heads up @hectorkambow

[2021-07-28 02:50] katungi commented on #2952
This is a very interesting topic. Don't be afraid to go deep into the technical content. Topic approved🥳

[2021-07-28 05:57] muyagafranklyne opened #3051 "digital signatures"
### Proposed title of article
Understanding digital signatures

### Introduction paragraph (2-3 paragraphs):
Digital signatures play an important role in enforcing integrity and authenticity of messages. It is the digital equivalent of a handwritten signatures.  They are unique to a person and are used to identify user and protect information.
They ensures that a message or document is not tempere

[2021-07-28 07:42] corpsgeek commented on #2952
Yeah I did trust me @katungi 😎

[2021-07-28 08:26] Beatricewanjiru commented on #2650
@hectorkambow the topic is ready. Please re-open

[2021-07-28 09:38] Qodestackr opened #3054 "Understanding the Ethereum smart contracts"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-28 11:05] #2519 closed

[2021-07-28 13:03] #2440 closed

[2021-07-28 13:13] #2929 closed

[2021-07-28 14:34] #2409 closed

[2021-07-28 14:47] ahmadmardeni1 commented on #2891
Hey @BrianaNzivu what do you think of this topic?

[2021-07-28 14:48] ahmadmardeni1 commented on #2887
@BrianaNzivu This topic as well, let me know your thoughts, please.

[2021-07-28 14:52] ahmadmardeni1 commented on #2893
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.

Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure (we have multiple articles/tutorials covering firebase so please double-ch

[2021-07-28 15:05] Jairusonkundi opened #3057 "Sorting and Searching in Data Structures and Algorithms."
### Proposed title of article
Sorting and Searching in Data Structures and Algorithms.

### Introduction paragraph (2-3 paragraphs):
Searching is the process of identifying a certain value location in a list of values  . It determines whether or not a search key exists in the data. It is the mathematical process of locating a certain object within a set of elements.  It can be performed on either

[2021-07-28 15:36] NdoloBonface opened #3058 "Flutter and dart"
**Proposed title of article**
Flutter and dart

**Introduction paragraph (2-3 paragraphs):**
Flutter is a UI development kit that was created by Google. It simplifies the development of cross-platform apps for Android, iOS, and Windows. Dart is a programming language that was developed by Google for the development of web and mobile apps. It is an object-oriented language that accepts garbage-coll

[2021-07-28 15:50] Ericgacoki commented on #2650
Re-opening since the topic had already been `approved` and the student has linked a `PR` to it.

[2021-07-28 16:18] BrianaNzivu commented on #2891
Hey @ahmadmardeni1 👋🏾.
I think this is an amazing tutorial.
It is indeed a problem that is being faced when it comes to Containers.

From his key takeaways there is nothing I'd like to add or remove but only request @Wanyoike-shift to be as detailed as possible when explaining each his key takeaways (Provide as much detail, perks and code snippets) that will make his article stand out.

@Wanyoike-

[2021-07-28 17:24] #2550 closed

[2021-07-28 18:35] Annpurity opened #3059 "Top Node.js security vulnerabilities and their solutions"

[2021-07-28 19:56] Wanyoike-shift commented on #2891
Hello @ahmadmardeni1 and @BrianaNzivu can I start writing this article.

[2021-07-28 19:57] Wanyoike-shift commented on #2891
Hello @ahmadmardeni1 and @BrianaNzivu can I start writing this article.

[2021-07-28 19:58] BrianaNzivu commented on #2891
@Wanyoike-shift .please wait for @ahmadmardeni1 to approve the article first.
Regards.

[2021-07-28 20:05] #2667 closed

[2021-07-28 20:13] LinusMuema commented on #2932
Hi @kwennB
This sounds like a really helpful topic. Just make sure your content is original and does not conflict with any material already available on section.

topic approved :rocket:

[2021-07-28 20:16] LinusMuema commented on #2960
Hi @M0nicah
This sounds like a helpful topic. Please ensure your content is original and does not match what is available on the official documentation or other blog websites. Also, check that it doesn't conflict with content already available in section.

topic approved :rocket:

[2021-07-28 20:44] kwennB commented on #2932
Thank you! @LinusMuema

[2021-07-28 21:34] samtecinnovator commented on #3015
Thank you I am looking forward for the approval

[2021-07-28 22:31] #2611 closed

[2021-07-28 22:40] Frank-dev20 commented on #2639
@hectorkambow
I'm still working on the article and it should be ready before 3rd August 2021

[2021-07-29 04:29] CaptainBKola commented on #2825
Introduction

 An Array is a form of data structure in java that can be very challenging to beginners, but building a complex stuffs with it can be so fascinating.. I come across this Myers Briggs Personality test  file on social media, and I feel I could do something magical with it by  implementing java arrays to make it more stunning. An array is a collection of elements of the same data type. 

[2021-07-29 06:20] katungi commented on #2955
Hey @giridhar7632, this is an amazing topic suggestion. Next.js comes with very powerful paradigms like server-side rendering. It would be amazing if you could show that in the demo, while also explaining it in a beginner friendly way. Looking forward to reading the final article.

@LinusMuema, this topic is approved.

[2021-07-29 06:22] LinusMuema commented on #2955
Awesome...
:rocket:

[2021-07-29 07:25] KayTee24 opened #3062 "Why ip addresses on Android 11 Devices changes when interfaced with IOT Devices"
**Proposed title of article**
Why Ip addresses changes on android 11 Devices when interfaced with ioT Devices

**Introduction paragraph (2-3 paragraphs:)**
This will be my first article in this series.
In this article, you will learn why network signals disconnect between android 11 devices and ioT devices.
        Of lately, some smart device industry have through their designers change the model

[2021-07-29 07:32] Juskam opened #3063 "PHP Sessions and Cookies to Create a Secure 'Remember Me' Section In a Login Script"
### Proposed title of article
 PHP Sessions and Cookies to Create a Secure 'Remember Me' Section In a Login Script.
### Introduction paragraph (2-3 paragraphs):
The ‘Remember Me' functionality in the Login Script will allow the user to keep their logged in status.
When a user selects the Remember Me option, the logged-in status is serialized in the PHP session or cookies.
While writing user login

[2021-07-29 09:12] #2671 closed

[2021-07-29 10:02] IsaacMuthini opened #3064 "Learning Basic JavaScript Modules"
### Proposed title of article

Learning Basic JavaScript Modules

### Introduction paragraph (2-3 paragraphs):

So the first question either of us can ask is what is a module? Before we get to JavaScript modules am going to take you through what a module is. A module is a function or a group of functions that are similar.  Modules in JavaScript are files containing related code. The modules are us

[2021-07-29 10:03] NdoloBonface commented on #2929
Can I help please?

[2021-07-29 10:56] ephnjor2021 opened #3065 "Running MariaDB Docker Containers using Java Spring and JDBC"
### Proposed title of article
Running MariaDB Docker Containers using Java Spring and JDBC

### Introduction paragraph:
Developers have been adopting the use of MariaDB over the past decade. MariaDB is open-source and a relational database. As time passes MariaDB has been building up on MySQL by integrating many features with great functionality.
MariaDB is not new to Java and Java Virtual Machine

[2021-07-29 11:45] ahmadmardeni1 commented on #2891
Thank you! @BrianaNzivu 🚀

Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites. @Wanyoike-shift

Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure. Reference any relevant EngEd a

[2021-07-29 11:59] BrianaNzivu commented on #2887
Hey @ahmadmardeni1 👋🏾.

I think @verah-tech can maybe make this article a tutorial on how to back up containers. I think it will be of more value.

She can still discuss her key takeaways even before starting the tutorial itself because I believe all that info can be squeezed into a paragraph or two.

Regards 🚀.

[2021-07-29 13:35] #2545 closed

[2021-07-29 14:18] kerubo-tech opened #3067 "How to develop a Business Directory using CodeIgniter and MySQL?"
### Proposed title of article
How to develop a Business Directory using CodeIgniter and MySQL?

### Introduction paragraph:
CodeIgniter is a PHP MVC framework which developers use to build web applications rapidly. It provides out-of-box libraries for connecting to the database such as MySQL and performing various tasks such as sending emails, uploading files, managing sessions among others.
This

[2021-07-29 14:54] verah-tech commented on #2887
@BrianaNzivu cc @ahmadmardeni1 Thank you for reply, I can add the final part as a tutorial on how to back up containers like you have suggested in order to add more value to the article. Kindly advice.

[2021-07-29 14:56] #2673 closed

[2021-07-29 15:28] ahmadmardeni1 commented on #2887
@BrianaNzivu Do you think it is enough if she makes it a tutorial on how to back up containers? Will the reader expect any other value(s)?

[2021-07-29 15:49] ahmadmardeni1 commented on #2863
Any update on this topic? @lalith1403 Should we approve it?

[2021-07-29 15:53] ahmadmardeni1 commented on #2914
Hey @srishilesh What do you think of this topic? Let me know your thoughts, please.

[2021-07-29 15:54] ahmadmardeni1 commented on #2928
Thank you for submitting your topic. @mercie-nyakio
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide the most value.

Please feel free to suggest a

[2021-07-29 15:54] #2928 closed

[2021-07-29 15:56] ahmadmardeni1 commented on #2942
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites. @shosenwales
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appr

[2021-07-29 16:13] lalith1403 commented on #2863
@ahmadmardeni1 @hectorkambow We can proceed with this topic provided the title has no issues. What do you think?

[2021-07-29 16:22] ahmadmardeni1 commented on #2863
I like the title. Do you think it should be something else? any suggestions? @lalith1403

[2021-07-29 16:25] lalith1403 commented on #2863
I must be looking at it from a different angle. Let's proceed. AI at edge is exciting. @BashiirIsla Topic approved.

[2021-07-29 16:49] #2884 closed

[2021-07-29 16:59] srishilesh commented on #2914
@ahmadmardeni1 Thanks for pinging me.

@elphazesedah This sounds like an amazing topic. I don't find much articles on the internet either, so it will be a great value-add to your article and to the community.

My suggestion would be:
- Start by explaining what window functions are, why we use it, how is it better than normal aggregate functions, how it works, where do we use it (application).
- As

[2021-07-29 18:42] mohamedgh16 opened #3070 "Exception handling in windows forms"
### Brief Summary:
The C# language's exception handling features help you deal with any unexpected or exceptional situations that occur when a program is running. Exception handling uses the try, catch, and finally keywords to try actions that may not succeed, handle failures when you decide that it's reasonable to do so, and clean up resources afterward.

In windows forms, you should always take

[2021-07-29 19:06] #2534 closed

[2021-07-29 19:20] ahmadmardeni1 commented on #2914
Thank you v much @srishilesh 🚀 Great feedback

This topic is approved @elphazesedah but please make sure to do what Srishilesh pointed out above.

Let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't alread

[2021-07-29 19:44] FINCH285 opened #3071 "Managing User Accounts And Groups In Linux Systems"
### Proposed title of article

Managing User Accounts And Groups In Linux

### Introduction paragraph (2-3 paragraphs):

Considering Linux is a multi-user operating system, numerous people may be logged in and actively working on the device at
the same time. It is not secure for people to share the credentials of a single account. System administrators hence have to create and modify user accounts

[2021-07-29 19:51] doloresmia opened #3072 "Your first app with kivy python"
### Proposed title of article
Your first app with kivy python

### Introduction paragraph (2-3 paragraphs):
Kivy is a cross-plaftform python framework for building mobile applications. Kivy was initially released in 2011 February. One major advantage of Kivy is that it build applications that can run on any platform. An app build in Kivy can run seamlessly on android, IOS, MACOS Linuc and Windows

[2021-07-29 20:09] #2664 closed

[2021-07-30 05:57] odiwuoramos commented on #2876
@ahmadmardeni1, could you reopen this, the other one has been published

[2021-07-30 05:58] jumamiller commented on #2877
@hectorkambow, you can now reopen this, other has been published

[2021-07-30 06:00] vincentoriyo commented on #2841
Hi, @louisefindlay23, this one doesnt give a beginner a clear way to get started with docker while this one will give basic understandings of the machine.

[2021-07-30 06:01] vincentoriyo commented on #2841
i.e "The Docker Client and the Docker Daemon communicate over REST APIs, even on the same system. One tool that can help you manage Docker Daemons running on different systems from our local workstation is Docker Machine." these are not covered on the existing article

[2021-07-30 07:26] OMONDIELLY opened #3074 "Getting started with Remote Management for System Administrators"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-30 07:56] louisefindlay23 commented on #2841
Thanks, @vincentoriyo. Sounds great. Topic approved 🚀. Make sure to provide lots of detail in your article to benefit readers.

[2021-07-30 08:27] #3071 closed

[2021-07-30 08:43] FINCH285 opened #3075 "Managing User Accounts And Groups In Linux Systems"
### Proposed title of the article

Managing User Accounts And Groups In Linux

### Introduction paragraph (2-3 paragraphs):

Considering Linux is a multi-user operating system, numerous people may be logged in and actively working on the device at
the same time. It is not secure for people to share the credentials of a single account. System administrators hence have to create and modify user acco

[2021-07-30 08:49] jerimkaura commented on #3075
Hello @FINCH285, check to see if this was covered here: https://www.section.io/engineering-education/user-groups-and-permissions-linux/

[2021-07-30 09:16] #3075 closed

[2021-07-30 09:30] #3034 closed

[2021-07-30 09:51] Newton-cyber opened #3076 "integration of ROS with Arduino"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-30 10:41] BrianaNzivu commented on #2887
I am suggesting that she can have an article that covers all the key take aways she has mentioned plus a tutorial at the end on how to back up containers just as @verah-tech has mentioned.

With that her article will be superb

Regards 🚀 .

[2021-07-30 11:31] neheMaish commented on #2861
@louisefindlay23  You can please have a look at this topic which was directed to you by @lalith1403

I will highly appreciate.

[2021-07-30 11:32] lalith1403 commented on #2861
@zolomohan Can you take a look whenever you get a chance? @louisefindlay23 might have a heavy workload of articles. Thank you.

[2021-07-30 11:50] zolomohan commented on #2861
sure thing @lalith1403.

[2021-07-30 11:51] zolomohan commented on #2861
@Joshuathuo split is just one function in JavaScript and the MDN docs are very good and cover almost everything.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split
can you please go over this and tell me what unique approach you have on the split function?

[2021-07-30 11:54] ianmasae opened #3078 "Creating a responsive sidebar using Tailwind CSS and JavaScript"
### Proposed title of article
Creating a responsive sidebar using Tailwind CSS and JavaScript

### Introduction paragraph (2-3 paragraphs):
A sidebar is a user interface element like a column on the right or left side of a website. It is used to display a list of choices used for navigation purposes. A sidebar is, therefore, a useful component that helps website visitors to navigate through to dif

[2021-07-30 12:34] ahmadmardeni1 commented on #2887
Thank you 🚀 @BrianaNzivu

Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in

[2021-07-30 13:16] #2683 closed

[2021-07-30 13:43] ahmadmardeni1 commented on #2825
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.

Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, reference any relevant EngEd articles in yours. - Approved

Consider chan

[2021-07-30 15:54] harshitab13 opened #3081 "Creating a responsive HTML registration from"
### Creating a responsive HTML registration from

### Introduction
In this tutorial we will learn how to create a Responsive HTML Registration Form. The registration form has multiple input fields with varied input details where the user must enter in his or her information in order to submit for a certain web page. There are many different sorts of registration forms, but the main goal of these f

[2021-07-30 16:36] ahmadmardeni1 commented on #2890
What do you think of this topic? @louisefindlay23  I'm not familiar with the topic.

[2021-07-30 16:45] #2406 closed

[2021-07-30 17:36] #2213 closed

[2021-07-30 17:43] Taiwrash opened #3083 "Demystifying JavaScript Fetch API: A case study of website mock up generator"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-30 17:53] #2338 closed

[2021-07-30 18:51] #2856 closed

[2021-07-30 20:16] #2612 closed

[2021-07-30 21:07] hectorkambow commented on #3083
@Taiwrash

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't alread

[2021-07-30 21:57] louisefindlay23 commented on #2890
Hi, @ahmadmardeni1. I'm afraid I don't have experience with these areas either. Perhaps someone in the list-of-peer-reviewers doc does?

[2021-07-30 22:36] Taiwrash commented on #3083
Thanks for the quick response. I had checked and I found some contents on EngEd but the difference are much as the contents on the platform uses frameworks and library. And even combine fetch with other third party packages like axios. In this article of mine, we will be using pure vanilla js and no third party packages is required not even nodejs. @hectorkambow

[2021-07-30 22:39] Taiwrash commented on #3083
Following are the links to the found content
[Vue](https://www.section.io/engineering-education/how-to-interact-with-an-api-from-a-vuejs-application/)

[React](https://www.section.io/engineering-education/how-to-consume-data-from-an-api-in-react/)

[2021-07-30 23:39] wanjirualice6194 opened #3088 "10 of the most annoying UI/UX mistakes to avoid while crafting your products"
### Proposed title of article
10 of the most annoying UI/UX mistakes to avoid while crafting your products

### Introduction paragraph (2-3 paragraphs):
The user interface(UI) plays a major role in how a user interacts with your products. From mobile apps, to web apps, to desktop applications, there are tiny details that make it hard or easy for a user to be served by your product. No matter how g

[2021-07-31 08:04] KayTee24 commented on #3062
Of lately, some smart device industry have through their designers change the model structure to embed different sensors, processors, and memories in small-size electronic devices. Sensors are added to enhance the usability of these devices and improve the quality of experience through data collection and analysis. However, with the recency on update of big data and machine learning, sensors’ data

[2021-07-31 08:40] ahmadmardeni1 commented on #2890
Please let me know your thoughts if you have experience with the topic.

@srishilesh @zolomohan @mbaabuones

[2021-07-31 09:39] khabdrick opened #3089 "Deploying Django Application Continuously to Heroku with Docker and GitHub Actions"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 10:49] srishilesh commented on #2890
@ahmadmardeni1 Thanks for pinging me.

I don't have experience working with GitLab or .NET. But, based on what I've looked out on the internet, I found very similar articles to this topic:
- [Article on GFG](https://www.geeksforgeeks.org/implementation-of-ci-cd-in-net-application-using-shell-executor-on-gitlab/)
- [Article on Medium](https://medium.com/@gabriel.faraday.barros/gitlab-ci-cd-with-net

[2021-07-31 12:09] #2617 closed

[2021-07-31 12:15] lewe01 opened #3092 "Getting Started with PHP 7 without using a framework"
### Proposed title of article
Getting Started with PHP 7 without using a framework

### Introduction:
In the past times, PHP developers were forced to use frameworks to maintain their projects professionally. Since the introduction of the composer package manager and PHP standards writing PHP code became easier and more manageable.
In this tutorial, we will build a small API project with basic rou

[2021-07-31 12:18] #2595 closed

[2021-07-31 12:35] maggiemun commented on #2787
@hectorkambow My article is different from the other published articles. Thank you.

[2021-07-31 12:43] gracekary opened #3094 "Breaking Down the Production System in Artificial Intelligence"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 12:59] gracejolie opened #3095 "Understanding Search Algorithms in AI"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 15:19] mbaabuones commented on #2890
@ahmadmardeni1 Im not familiar with this topic.

[2021-07-31 17:34] apondi-911 opened #3096 "Collections in Java"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 19:42] Catemacharia opened #3098 "How to create a headless CMS website using WordPress, Next.js and GraphQL Queries (WPGraphQL)"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 19:45] Joakim-gakure opened #3099 "Build a CRUD REST API application using Golang and PostgreSQL database"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-07-31 20:10] #3031 closed

[2021-08-01 05:21] JoelKanyi opened #3103 "Requesting Permissions in Android Applications"
Proposed title of article
### Requesting Permissions in Android Applications

### Introduction paragraph (2-3 paragraphs):
App permissions help support user privacy by protecting access to the following:
    Restricted data, such as system state and a user's contact information.
    Restricted actions, such as connecting to a paired device and recording audio.

There are two commonly used permissi

[2021-08-01 06:34] djayjames commented on #2890
Hello @srishilesh and @ahmadmardeni1  I have looked at the topic you suggested.

I have noticed that those articles do not give a beginner the guide and knowledge to create the .gitlab-ci.yml files . For example, the first suggestion you gave, prompt the reader to copy-paste the file which is not beginner-friendly. In my article, I will let the reader know how to create the .YML file step by step.

[2021-08-01 08:25] kayere commented on #2890
Good topic @djayjames - approved. **One important note:** please be sure to put your article through a thorough grammar/readability editing review prior to submitting for final approval. This will help increase the likelihood of your article getting published.

[2021-08-01 10:34] Njerikariuki opened #3104 "How to follow system dark mode in a web app using JavaScript"
### Proposed title of article
How to set and remember dark mode in a web app using JavaScript

### Introduction paragraph (2-3 paragraphs)
Dark mode is the second most best thing in a web app after a well crafted user interface. Dark mode is preferred by most user because it does not strain the eyes. It also saves the users' device battery life since rendering white or bright pixels on the screen,

[2021-08-01 11:16] #2809 closed

[2021-08-01 11:17] amarawrite opened #3106 "PHP Implode and Explode"
### Proposed title of article*

PHP Implode and Explode

### Introduction paragraph (2-3 paragraphs):

When working with arrays and strings in PHP, the functions PHP implode and PHP explode are frequently utilized. I will show the leader how to use implode in PHP with a code example in this article. With a code example, I will also demonstrate how to utilize explode in PHP.

I will also demonstrat

[2021-08-01 11:24] #2689 closed

[2021-08-01 16:56] smkinyan opened #3109 "Building a simple translation app using Python for beginners"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.
### Proposed title of article
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article high

[2021-08-01 17:47] Bonimum opened #3110 "EngEd Content Idea Suggestion"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-01 17:47] #3110 closed

[2021-08-01 17:48] duncandegwa opened #3111 "Title"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-01 17:48] #3111 closed

[2021-08-01 18:01] fely545 opened #3112 "Working with zip files in Python"
### Proposed title of article
Working with zip files in Python

### Introduction paragraph (2-3 paragraphs):
ZIP is an archive file format that supports lossless data compression. This tutorial explains will on how you can perform various operations on a zip file using a simple python program.

### Key takeaways:

- What is a zip file?
- Extracting a zip file
- Writing to a zip file
- Getting all

[2021-08-01 19:00] Kimosop-Wakanda opened #3114 "Introduction to Wireshark"
**Introduction**
Wireshark is a network protocol analyzer that enables a user to monitor their network activity from a microscopic level. This tutorial will help the user learn how to capture network traffic and store it offline for analysis.
This tutorial will also provide a `tech tutorial` that will enable the user to follow through and understand how to use and interpret Wireshark results.
The

[2021-08-01 19:21] lokalawashington opened #3116 "Replacing EditTexts with TextInputLayouts in Android"
### Replacing EditTexts with TextInputLayouts in Android

### Introduction paragraph (2-3 paragraphs):
 Android TextInputLayout is a design component that comes with the Material Design Support Library . TexInputLayout extends LinearLayout and it primarily acts as a wrapper for EditText. It comes with some additional features which EditText don't have.

In this article we will see how to transitio

[2021-08-01 20:34] Kimosop-Wakanda opened #3117 "Introduction to Netcat"
**Introduction**
'Netcat' is a back-end tool or a program that reads and writes data across a network. It can serve a variety of functions including port scanning, transferring files, port listening and redirection, and also serve as a backdoor.
This tutorial is aimed to break down the complexity of Netcat and explain various roles of Netcat to the user. This article will also provide a 'tech tuto

[2021-08-01 20:34] #3114 closed

[2021-08-01 23:41] Jethro-magaji commented on #1839
Hi @wmkinyan sorry your topic suggestion was closed. If you have any idea, you want us to collaborate on, I would be glad to work with you. Thanks.

[2021-08-02 06:23] EssyG10 opened #3118 "Coming Soon Landing Page Using JavaScript Timers"
### Proposed title of article
Coming Soon Landing Page Using Javascript Timers

### Introduction paragraph (2-3 paragraphs):
A Coming Soon page is a placeholder home page that informs visitors that your website is being built or will be available soon.
Visitors are unable to navigate to the remainder of your website since the coming soon page lacks a header or footer.
Every coming soon page it inc

[2021-08-02 09:28] Joshuathuo commented on #2861
@zolomohan Thanks. In matters regarding the topic, there are some things that I will have to cover like the following,
1. How to split with Array Destructuring
2. How to split using Regex
3. How to split with a limit

These are some of the topics I'll have to add

[2021-08-02 09:35] #2648 closed

[2021-08-02 10:12] mukono10 opened #3121 "Flattening a dictionary in Python"
### Proposed title of article
 Flattening a dictionary in Python

### Introduction paragraph (2-3 paragraphs):
There are a variety of reasons why you would require a flattened dictionary. One advantage is that it makes comparing two dicts much easier. The other advantage is that a flat structure is easy to browse and modify because it is only one level deep.

The purpose of this article is to pres

[2021-08-02 10:13] ahmadmardeni1 commented on #2946
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites, and to create a unique project using the concepts above. @Amoh-writer

Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, ple

[2021-08-02 10:30] linetachieng opened #3122 "Curve fitting using Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-02 10:55] Amoh-writer commented on #2946
Will do, thanks!

0713976067

On Mon, Aug 2, 2021, 1:13 PM Ahmad Mardeni ***@***.***> wrote:

[2021-08-02 10:58] mbuthiajn opened #3123 "An overview of PHP file Functions"
### Proposed title of the article
An overview of PHP file Functions

### Introduction paragraph (2-3 paragraphs):
PHP file functions are the best and the convenient way of working with files we have with the help of PHP’s huge collection of built-in functions. Windows Operating System and MAC Operating Systems are not case sensitive. Adopting the lower case letters naming conversion for the file n

[2021-08-02 11:23] Dick7603 opened #3124 "An overview of Azure Function - An Serverless Architecture"
### Proposed title of the article

An overview of Azure Function - An Serverless Architecture

### Introduction paragraph (2-3 paragraphs):

An Azure Function is a perfect example of Serverless architecture or computes service. Using Azure Function, we can run the event-based code without managing any infrastructure. Since the Azure function is a trigger-based service, so it always executes a scri

[2021-08-02 12:23] Robbiewanjau opened #3125 "An overview of javascript decorators"
### Proposed title of article
An overview of javascript decorators
### Introduction paragraph (2-3 paragraphs):
In programming, decorating is just wrapping one piece of code around another to make it look nicer.
 A decorator (also known as a decorator function) is a design pattern that extends the capability of a function by wrapping it in another function.
Because of first-class functions, which

[2021-08-02 12:24] Samrosh opened #3126 "How To Create And Validate JWT Token In .NET 5.0"
### Proposed title of the article
How To Create And Validate JWT Token In .NET 5.0

### Introduction paragraph (2-3 paragraphs):
With this article, I'll demonstrate to you how to use JWT for token authentication in the ASP.NET Core 5.0 Web API. I'll establish an ASP.NET Web API project and walk you through the process of creating a JWT token and using it for authentication and authorization.

###

[2021-08-02 13:32] BridgetMwikali opened #3128 "Java: Arguably the King of Programming Languages but is it the Best Language for Artificial Intelligence Projects?"
### Proposed title of article
Java: Arguably the King of Programming Languages but is it the Best Language for Artificial Intelligence Projects?

### Introduction paragraph (2-3 paragraphs):
A single, individual language for artificial intelligence has not been invented yet. Nevertheless, developers achieve great results using existing tools.

In many use cases, Java can be named the best language

[2021-08-02 14:56] BRIAN721 opened #3129 "How to create an NLP application with Flair"
### Proposed title of article
How to create an NLP application with Flair

### Introduction paragraph (2-3 paragraphs):
Flair is a simple natural language processing (NLP) library developed and open-sourced by Zalando Research, Flair's framework builds directly on PyTorch. Flair will help us to to build a text classification app based on user inputs.
Flair allows you to apply our state-of-the-art

[2021-08-02 14:57] robert-muriithi opened #3130 "Extracting Colors from Images using Palette API in Android"
### Extracting Colors from Images using Palette API in Android

### Introduction paragraph (2-3 paragraphs):
The palette library is a support library that extracts prominent colors from images to help you create visually engaging apps.
You can use the palette library to design layout themes and apply custom colors to visual elements in your app. For example, you can use a palette to create a color

[2021-08-02 16:52] #2944 closed

[2021-08-02 17:38] JuliusGikonyoNyambura commented on #2921
@LinusMuema After a closer look, I have found this concept most likely overlaps with Google Documentation. With that effect, I would like to update the topic suggestion form with another topic.

[2021-08-02 17:39] Antony-Prince commented on #2921
@LinusMuema After a closer look, I have found this concept most likely overlaps with Google Documentation. With that effect, I would like to update the topic suggestion form with another topic.

[2021-08-02 17:48] #2705 closed

[2021-08-02 18:02] Lamouresparus opened #3132 "Implement a collapsible view using a card view in Android"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-02 18:03] charles721 opened #3133 "How to Create a machine learning model using PyTorch"
### Proposed title of article
How to Create a machine learning model using PyTorch

### Introduction paragraph (2-3 paragraphs):
PyTorch is an open-source machine learning library based on the Torch library, used for applications such as computer vision and natural language processing and classification. PyTorch is easier to learn and lighter to work with, and hence, is relatively better for passi

[2021-08-02 18:53] Samuel-2626 opened #3134 "Build a contact form with PHP"
### Build a contact form with PHP

### Introduction paragraph (2-3 paragraphs):
Most websites require a way for customers to contact them either to give them a complaint or give them positive feedback. This tutorial focuses on implementing a contact form to your PHP site using industry best practices

### Key takeaways:
 - POST vs GET request in PHP
 - Form validation in PHP
 - sending emails with

[2021-08-02 19:05] #2680 closed

[2021-08-02 22:20] Inyrkz opened #3136 "How to Integrate a Machine Learning Model to a Flask RESTful API"
### Proposed title of article
How to Integrate a Machine Learning Model to a Flask RESTful API and Deploy to Heroku

### Introduction paragraph (2-3 paragraphs):
This will be the second article in a series of three articles. The first article was https://www.section.io/engineering-education/diagnose-diabetes-with-svm/.
In this article, you will learn how to create a REST API for your machine learn

[2021-08-02 22:25] #2742 closed

[2021-08-02 23:07] Njunu-sk opened #3137 "Form Validation in Vue.js using VeeValidate"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 02:23] hectorkambow commented on #3137
@Njunu-sk
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:24] hectorkambow commented on #3025
@vincentkims49
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:24] hectorkambow commented on #3026
@geoffrey45
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:24] hectorkambow commented on #3027
@FREDERICO23
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:24] hectorkambow commented on #3028
@mwanikialex
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:25] hectorkambow commented on #3033
@nancymumbimaina
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:25] hectorkambow commented on #3035
@munubi254
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:25] hectorkambow commented on #3039
@simonmwaniki
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:26] hectorkambow commented on #3040
@qawuor
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:26] hectorkambow commented on #3042
@wilkistermumbi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3043
@Nomzy-kush
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3047
@KanizoRGB
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3049
@dentonya
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3051
@muyagafranklyne
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3054
@Qodestackr
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3057
@Jairusonkundi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:27] hectorkambow commented on #3058
@NdoloBonface

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:28] hectorkambow commented on #3059
@Annpurity
Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore.

[2021-08-03 02:28] #3059 closed

[2021-08-03 02:28] hectorkambow commented on #3062
@KayTee24
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:29] hectorkambow commented on #3063
@Juskam
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.