[2021-08-03 02:29] hectorkambow commented on #3064
@IsaacMuthini
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:29] hectorkambow commented on #3065
@ephnjor2021
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:29] hectorkambow commented on #3067
@kerubo-tech

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:29] hectorkambow commented on #3070
@mohamedgh16
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3072
@doloresmia
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3074
@OMONDIELLY
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3076
@Newton-cyber
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3078
@ianmasae

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3081
@harshitab13
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3088
@wanjirualice6194
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:30] hectorkambow commented on #3089
@khabdrick
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:31] hectorkambow commented on #3092
@lewe01
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:32] hectorkambow commented on #3094
@gracekary
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:32] hectorkambow commented on #3095
@gracejolie
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3096
@apondi-911
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3098
@Catemacharia
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3103
@JoelKanyi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3104
@Njerikariuki
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3106
@amarawrite
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3109
@smkinyan
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:33] hectorkambow commented on #3116
@lokalawashington
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:34] hectorkambow commented on #3117
@kimosop-wakanda

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:34] hectorkambow commented on #3118
@essyg10
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:34] hectorkambow commented on #3121
@mukono10

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:34] hectorkambow commented on #3122
@linetachieng
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:34] hectorkambow commented on #3123
@mbuthiajn
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3124
@Dick7603
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3125
@Robbiewanjau
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3126
@Samrosh
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3128
@BridgetMwikali
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3129
@BRIAN721
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] JoelKanyi commented on #3103
Thank you for your response

On Tue, Aug 3, 2021, 5:33 AM hectorkambow ***@***.***> wrote:

[2021-08-03 02:35] hectorkambow commented on #3130
@robert-muriithi
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3132
@Lamouresparus
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:35] hectorkambow commented on #3133
@charles721
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:36] hectorkambow commented on #3134
@samuel-2626

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 02:36] hectorkambow commented on #3136
@Inyrkz
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-03 08:19] mussooo opened #3139 "How to work with Getters and Setters in Java"
### Proposed title of the article
How to work with Getters and Setters in Java

### Introduction paragraph (2-3 paragraphs):
When creating classes in Java, it is very important to use Getters and Setters to protect your data.

Getters and Setters play an important role in retrieving and updating the value of a variable outside the encapsulating class. A setter updates the value of a variable, whil

[2021-08-03 08:34] LeahKui opened #3140 "How to Create a Web Component with Vanilla JS"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 09:14] Newton-cyber opened #3141 "C++ Database connectivity programming with my sql"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 10:09] #2172 closed

[2021-08-03 10:11] ahmadmardeni1 commented on #2876
Sounds like a helpful topic - let's please be sure it adds value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double-check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved @odiwuor

[2021-08-03 10:31] Neema-2016 opened #3142 "Creating a React app using Vite"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 10:52] Frank-dev20 commented on #2639
@hectorkambow
The article is ready to publish can you please open the form.

Thank you

[2021-08-03 12:39] kimkimani opened #3144 "Creating a Simple Python Note Application with Flask and MongoDB Database"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 12:50] #2578 closed

[2021-08-03 12:56] #2798 closed

[2021-08-03 13:50] #2737 closed

[2021-08-03 13:53] LinusMuema commented on #2966
Hi @Su-sid
Thank you again for the article submission. I think the article will be quite helpful.
Please make sure to add more value than the available articles on other blogs as well as content from section.

topic approved :rocket:

[2021-08-03 15:29] paulodhiambo commented on #3025
Hello @vincentkims49, this topic is already covered [here](https://www.section.io/engineering-education/java-jdbc/)

[2021-08-03 15:43] #2074 closed

[2021-08-03 15:50] paulodhiambo commented on #3058
@NdoloBonface I think this is already covered in the published articles [here](https://www.section.io/engineering-education/search/?q=flutter). Choose a more focussed topic, i.e. dependency injection in Flutter (Provider package) is a good topic that's not yet covered.

[2021-08-03 15:51] hectorkambow commented on #2637
@Horlawhumy-dev
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't a

[2021-08-03 15:57] owinowendy commented on #2962
@ahmadmardeni1 updates on this?

[2021-08-03 16:04] jaredphelix opened #3145 "ASP.NET Core and Entity Framework Core RESTful APIs"
### Proposed title of article
ASP.NET Core and Entity Framework Core RESTful APIs
### Introduction paragraph (2-3 paragraphs):

### Key takeaways:
The term REST is an abbreviation for Representational State Transfer. It is a software architectural style created to assist the design and development of the World Wide Web architecture. REST defines a set of constraints that define how a distributed h

[2021-08-03 16:04] hectorkambow commented on #1454
@Taiwrash @rasheedtaiwo

Just pinging you on this topic form - as Im making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

Please create a NEW topic form for the PR if and when the articles is completed.

Thank you 🚀
Looking forward to some solid articles.

[2021-08-03 16:04] #1454 closed

[2021-08-03 16:07] hectorkambow commented on #1839
@wmkinyan

Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

Please create a NEW topic form for the PR if and when the articles is completed. (lets reference this topic issue in the new one as to keep track of the conversation). Also ping us that you made a ne

[2021-08-03 16:07] #1839 closed

[2021-08-03 16:07] hectorkambow commented on #2569
@Owallah
Just pinging you on this topic form - as Im making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

Please create a NEW topic form for the PR if and when the articles is completed.

Thank you 🚀
Looking forward to some solid articles.

[2021-08-03 16:39] Owallah commented on #2569
Hello there, I'm having an issue with my Github authentication.  I've
submitted a  request to the help team and it will be reviewed in 3-5
working days.  please bear with me.  immediately I'm in I'll start working
on it

On Tue, Aug 3, 2021 at 7:07 PM hectorkambow ***@***.***>
wrote:

[2021-08-03 16:45] vincentkims49 commented on #3025
Thank you @paulodhiambo

[2021-08-03 16:45] #3025 closed

[2021-08-03 16:55] NdoloBonface commented on #3058
Thank you @paulodhiambo
I'll look at the topic right away

[2021-08-03 17:05] hectorkambow commented on #2572
@jamila-laureen
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

Please proceed to create a NEW topic to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:06] hectorkambow commented on #2582
@bastian-zab
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-03 17:07] hectorkambow commented on #2651
@zolomohan
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:07] #2651 closed

[2021-08-03 17:08] zolomohan commented on #2651
Sure thing @hectorkambow.

[2021-08-03 17:09] hectorkambow commented on #2678
@bloodprashure
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:11] hectorkambow commented on #2718
@mia-roberts
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:11] hectorkambow commented on #2734
@domiwanja

[2021-08-03 17:11] #2734 closed

[2021-08-03 17:11] hectorkambow commented on #2735
@Ericgacoki
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:11] #2735 closed

[2021-08-03 17:11] hectorkambow commented on #2745
@LinusMuema
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:11] #2745 closed

[2021-08-03 17:12] hectorkambow commented on #2748
@nellyat
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:12] #2748 closed

[2021-08-03 17:12] hectorkambow commented on #2749
@Jeff-mwangi
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:12] #2749 closed

[2021-08-03 17:13] hectorkambow commented on #2754
@JudyNduati
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:13] hectorkambow commented on #2759
@Rmwamboi
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.
Please proceed ping us to open the topic form to tie to your PR if and when the article is ready to be published.

[2021-08-03 17:30] #3058 closed

[2021-08-03 17:35] NdoloBonface opened #3146 "Dependency injection in Flutter (Provider package)"
**Proposed title of article:**
Dependency injection in Flutter (Provider package)

**Introduction paragraph (2-3 paragraphs):**
Dependency injection in Flutter is an object-oriented technique that sends the dependencies of another object to an object.
The provider package is an easy-to-use wrapper around Inherited Widgets. It makes it easier to manage ,use and also provides a state management tech

[2021-08-03 17:38] hectorkambow commented on #2962
@owinowendy
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 17:39] hectorkambow commented on #2965
@ephraa
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 17:42] francis966 opened #3147 "Unsupervised Machine Learning with PyCaret"
### Proposed title of article
Unsupervised Machine Learning with PyCaret.

### Introduction paragraph (2-3 paragraphs):
Unsupervised learning (UL) is a type of algorithm that learns patterns from untagged data. The hope is that, through mimicry, the machine is forced to build a compact internal representation of its world and then generate imaginative content unlike in supervised learning where th

[2021-08-03 17:49] hectorkambow commented on #2967
Good afternoon @lin-chez and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-08-03 17:49] #2967 closed

[2021-08-03 17:51] hectorkambow commented on #2968
@ogoti-lilian
good topic - approved.
One important note: Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review prior to submitting for final approval. (There are some great free tools that we reference in EngEd resources.)

Lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Ple

[2021-08-03 17:52] hectorkambow commented on #2969
@martha-ngugi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 17:52] hectorkambow commented on #2972
@param31
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 17:58] hectorkambow commented on #2972
Good afternoon @param31 and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that t

[2021-08-03 17:59] hectorkambow commented on #2975
@RisoriTofa
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 17:59] hectorkambow commented on #2978
@justusmbuvi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-08-03 17:59] hectorkambow commented on #2979
@wanjadeno
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 17:59] hectorkambow commented on #2982
@sheldonaswani
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appr

[2021-08-03 18:02] hectorkambow commented on #2984
@Alicewangari
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically try to refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused co

[2021-08-03 18:03] hectorkambow commented on #2988
🤔
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved
@Jeddy94

[2021-08-03 18:03] hectorkambow commented on #2989
@salvador02
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 18:06] hectorkambow commented on #2994
@vitalisodhis
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 18:07] LinusMuema commented on #2745
Hi @hectorkambow
I will revisit this article later. Sorry for any inconveniences...

[2021-08-03 18:07] hectorkambow commented on #2995
@amosnjoro
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 18:10] hectorkambow commented on #3003
to help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-08-03 18:10] #3003 closed

[2021-08-03 18:11] #3012 closed

[2021-08-03 18:14] hectorkambow commented on #2996
@RuthAMare
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 18:14] hectorkambow commented on #2999
@phinaomondi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-08-03 18:15] hectorkambow commented on #3000
@shegz101
There is no information here - just a title?

[2021-08-03 18:17] hectorkambow commented on #3005
@neshmacharia
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 18:20] hectorkambow commented on #3007
@collince777
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-08-03 18:20] hectorkambow commented on #3008
@eunice-wanjiku
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - App

[2021-08-03 18:20] hectorkambow commented on #3010
@prince-joel
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-08-03 18:21] hectorkambow commented on #3011
@JohnKiguru

[2021-08-03 18:21] hectorkambow commented on #3015
@samtecinnovator
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Ap

[2021-08-03 18:22] hectorkambow commented on #3017
@kush-mafom
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 18:22] hectorkambow commented on #3017
@kush-mafom
This topic form has no info - just a title?

cc @ahmadmardeni1

[2021-08-03 18:23] hectorkambow commented on #3018
@Faithdroid
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 18:23] hectorkambow commented on #3026
@geoffrey45
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 18:24] hectorkambow commented on #3027
🤔

Sounds like an interesting topic - let me ping our resident ML expert to see how we can draw any more substance from this particular topic @lalith1403

[2021-08-03 18:25] hectorkambow commented on #3028
@mwanikialex
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content th

[2021-08-03 18:25] hectorkambow commented on #3033
@nancymumbimaina
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Ap

[2021-08-03 18:26] hectorkambow commented on #3035
@munubi254
Sounds like an interesting topic - let me ping our resident ML expert to see how we can draw any more substance from this particular topic @lalith1403

[2021-08-03 18:31] jaykip opened #3148 "How Brute Force Attack Occurs"
### Proposed title of article
How Brute Force Attack Occurs

### Introduction paragraph (2-3 paragraphs):
A brute force attack occurs when malicious hackers use forceful attempts to break into an account and gain access to private information. Hackers use this attack to collect data or steal personal information and sell it to others. Additionally, they can use it to spread malware, phish victims,

[2021-08-03 18:36] hectorkambow commented on #3039
@simonmwaniki
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 18:38] hectorkambow commented on #3040
@qawuor
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 18:38] hectorkambow commented on #3042
@wilkistermumbi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - App

[2021-08-03 18:38] Wachira48 commented on #2945
@hectorkambow Can proceed with this topic?

[2021-08-03 18:44] kelvinkimani501 opened #3150 "Generating Machine Learning Pipelines with TPOT in Python."
### Proposed title of article
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article higher ranking.*

### Introduction paragraph (2-3 paragraphs):
A machine learning pipeline is a way to codify and automate the workflow it takes to produce a machine learning model. Machine learning pipelines consist of multiple sequential steps that do ev

[2021-08-03 18:45] duncandegwa opened #3151 "Title"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-03 18:45] #3151 closed

[2021-08-03 18:52] hectorkambow commented on #3049
@dentonya
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-08-03 18:53] hectorkambow commented on #3043
@Nomzy-kush
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 18:54] hectorkambow commented on #3047
@KanizoRGB
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 18:55] hectorkambow commented on #3051
@muyagafranklyne
Good afternoon___ and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused con

[2021-08-03 19:08] dentonya commented on #3049
The topic at hand .is more of software based ...and it will involve how one using any of the network emulators..can configure network devices to not just use the wired network but also wireless network..for sure its different from the rest.
@hectorkambow

[2021-08-03 20:08] hectorkambow commented on #3062
This topic seems abit all over the place an unstructured - not sure what the pain point you are solving is.

The title is confusing - please revisit to make a easier to follow along.

[2021-08-03 20:09] hectorkambow commented on #3057
👀

Is this similar to this topic #3039

?

[2021-08-03 20:10] hectorkambow commented on #3054
@Qodestackr
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 20:12] hectorkambow commented on #3141
@Newton-cyber
 to help avoid a backlog queue we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-08-03 20:15] hectorkambow commented on #3063
@Juskam
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

But in order to approve

[2021-08-03 20:16] hectorkambow commented on #3064
@IsaacMuthini
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

But in order to ap

[2021-08-03 20:17] hectorkambow commented on #3065
Wanted to make sure that this topic will not overlap with this already published article.

https://www.section.io/engineering-education/getting-started-with-mariadb-using-docker-and-nodejs/

Or that it is not overly saturated throughout other blog sites.

[2021-08-03 20:18] hectorkambow commented on #3067
@kerubo-tech
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approv

[2021-08-03 20:19] hectorkambow commented on #3070
Wanted to make sure that is doesn't overlap with these topics.

https://www.section.io/engineering-education/search/?q=Exception%20handling

Please double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours.

[2021-08-03 20:20] hectorkambow commented on #3072
@doloresmia
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 20:28] hectorkambow commented on #3074
🤔

This topic is a tricky one.

I think this topic is a nice one - but it could be improved.

The value to readers would come at the end. I think this topic can easily be found across other blog sites.

What can be done to make this topic more of a original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-08-03 20:28] hectorkambow commented on #3076
@Newton-cyber
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 20:30] hectorkambow commented on #3078
I believe this topic has been published

https://www.section.io/engineering-education/creating-a-responsive-navigation-bar-using-tailwind-css-and-javascript/

Please be sure to double check future topics - that they do not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd artic

[2021-08-03 20:30] #3078 closed

[2021-08-03 20:31] hectorkambow commented on #3081
@harshitab13
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
**Please be sure to double check that it does not overlap with any existing EngEd** articles or incoming topic suggestions (if you haven't already) to avoid any **potential article closure**, please reference any relevant EngEd articles in yours.

[2021-08-03 20:37] hectorkambow commented on #3088
@wanjirualice6194
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - A

[2021-08-03 20:39] hectorkambow commented on #3092
@lewe01
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-03 20:39] hectorkambow commented on #3094
Pinging our resident expert to help shed some more light on this topic @lalith1403

[2021-08-03 20:40] hectorkambow commented on #3095
Pinging our resident expert to help shed some more light on the topic @lalith1403

[2021-08-03 20:41] hectorkambow commented on #3096
@apondi-911
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 20:42] hectorkambow commented on #3098
@Catemacharia
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 20:43] hectorkambow commented on #3099
@Joakim-gakure

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
**Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions** (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. -

[2021-08-03 20:47] hectorkambow commented on #3103
@JoelKanyi
Thank you for the topic suggestion
We're really looking for unique/original content, and based on the content provided, it seems that information that you intend to cover is already readily available through the documentation or via many other blog sites. An alternate path might be to create a unique project that showcases this for readers.

Otherwise - please feel free to suggest an al

[2021-08-03 20:47] #3103 closed

[2021-08-03 20:48] hectorkambow commented on #3104
@Njerikariuki
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-03 20:49] hectorkambow commented on #3106
@amarawrite
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-03 20:49] hectorkambow commented on #3109
pinging our resident expert to help shed some more light on the topic @lalith1403

[2021-08-03 20:50] hectorkambow commented on #3116
@lokalawashington
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - A

[2021-08-03 20:50] hectorkambow commented on #3117
@Kimosop-Wakanda
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Ap

[2021-08-03 21:26] KayTee24 commented on #3062
Done.

[2021-08-03 22:48] carteblanchemunene opened #3155 "Local GitLab Repository Mirroring to an External GitLab Repository"
### Proposed title of article
Local GitLab Repository Mirroring to an External GitLab Repository

### Introduction paragraph (2-3 paragraphs):
If you have long considered self-hosting your own Git server to use for personal projects, but never took the time to do so. Now that there is Proxmox which is capable to run containers/virtual machines for everything, I thought it was time to set up a loca

[2021-08-04 04:32] Horlawhumy-dev commented on #2637
Thanks @hectorkambow

[2021-08-04 06:16] mohamedgh16 commented on #3070
@hectorkambow I won't be focusing on the concept of exception handling as much as I'm focusing on how windows forms can produce so many errors when the programmer allows the user to enter all kinds of inputs and how we can avoid that. Basically, we will focus on what and how we should implement the forms and their input bars to avoid any issues.

[2021-08-04 06:28] dorky1 opened #3156 "Introduction To Clean Architecture and ASP.NET Core Implementation"
### Proposed title of article

Introduction To Clean Architecture and ASP.NET Core Implementation

### Introduction paragraph (2-3 paragraphs):

In this tutorial, I will show the leader the basics of Clean architecture before attempting to build it using ASP.NET Core.

Building scalable, modular, and maintained applications requires good architecture. Different architectures may differ in features

[2021-08-04 06:29] iankamau20 opened #3157 "async javascript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 06:57] muyagafranklyne commented on #3051
This topic will involve how one can be able to make digital signatures using different application and preventing impersonation of digital communication@

[2021-08-04 06:59] muyagafranklyne commented on #3051
This topic will involve how one can be able to make digital signatures using different application and preventing impersonation of digital communication.
@hectorkambow

[2021-08-04 07:15] martha-ngugi commented on #2969
@hectorkambow Thank you for the topic approval. Is it important to have a 'topic approved' label or I can continue the way it is

[2021-08-04 07:27] OMONDIELLY commented on #3074
Thanks Hector for the review. I think improving it may make it a bit difficult to follow or kind of mixed in the long run. I would consider letting it go and find  a new one with a practitioner approach if that's okay.
Thanks.

[2021-08-04 07:33] ephnjor2021 commented on #3065
@hectorkambow The MariaDB will work as the backend that is running in a Docker container, unlike the mentioned article above which deals with Node.js, here I will use Java Language to implement an API that can manipulate the database.

[2021-08-04 07:35] JoelKanyi opened #3158 "Using Realm Database as an Alternative to SQLite and Coredata in Android"
### Using Realm Database as an Alternative to SQLite and Coredata in Android

### Introduction paragraph (2-3 paragraphs):
Realm mobile database is a lightweight database that can be an alternative to both SQLite and Coredata in your Android projects. It is open source and developer-friendly.

Realm is faster and has lots of modern features, such as JSON support, a fluent API, data change notifica

[2021-08-04 08:27] #3157 closed

[2021-08-04 09:15] Wachira48 opened #3159 "Top NetDevOps tools that are important for your Windows OS"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 09:21] mukono10 commented on #3121
Thanks

On Tue, Aug 3, 2021, 05:34 hectorkambow ***@***.***> wrote:

[2021-08-04 09:54] iankamau20 opened #3160 "asynchronous javascript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 10:16] ahmadmardeni1 commented on #2969
Done @martha-ngugi

[2021-08-04 13:38] JosephAyoma opened #3162 "Java Swing for Desktop Application"
### Proposed title of article
Java Swing for Desktop Application

### Introduction paragraph:
Java Swing is part of Java Foundation Classes. It is used to create window based application which makes it suitable for developing desktop based application. It is built on top of abstract windowing toolkit application programming interface written in Java programming language.
In this article, I will de

[2021-08-04 14:00] #2567 closed

[2021-08-04 14:38] brandy-kay opened #3163 "Displaying Images With Fresco Library In Android"
### Displaying Images With Fresco Library In Android

### Introduction paragraph (2-3 paragraphs):
Fresco is a powerful system for displaying images in Android applications.

Fresco takes care of image loading and displaying, so you don't have to worry about the logic on how the image is loaded. It will load images from:
- Network
- Local storage
- Local resources
and display a placeholder until t

[2021-08-04 16:15] smkinyan commented on #3109
I know this article isn't the typical type of article, both as a Computer Science student currently pursuing her Master's program, the biggest pain is in reading ML and DL research papers and not understanding a thing. So this topic idea was born out of the problems I faced and I know many computer science do. @lalith1403

[2021-08-04 16:44] Pelmak opened #3164 "Introduction to programming loops in stata."
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 17:29] jamesomina99 opened #3166 "Working with File Uploads In Streamlit Python"
### Proposed title of article
Working with File Uploads In Streamlit Python

### Introduction paragraph (2-3 paragraphs):
Streamlit is an open-source Python library that makes it easy to create and share beautiful, custom web apps for machine learning and data science. In just a few minutes you can build and deploy powerful data apps.
File upload is very important in any web application, which all

[2021-08-04 17:59] fely545 opened #3167 "TITLE"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 17:59] #3167 closed

[2021-08-04 18:06] #2603 closed

[2021-08-04 18:10] lalith1403 commented on #3027
@FREDERICO23 Thanks for the topic suggestion. We just published an article on data pre-processing in Python. You may want to explore a niche area, such as, data pre-processing of images, text, time-series, etc.

I will be closing this issue for now. Would love to review the new issue with updated topic. Ping me once opened.

Cc: @hectorkambow

[2021-08-04 18:11] #3027 closed

[2021-08-04 18:15] lalith1403 commented on #3035
@munubi254 Thanks for the topic suggestion. Can you clarify the purpose of the article. We tend to publish articles that are programmer-centric. Confusion matrix and cross-validation are small topics and well documented. We would love to hear from you about the unique aspect that you would bring with this article.

Probably, a project that uses these concepts to assess the performance and upgrade

[2021-08-04 18:17] lalith1403 commented on #3094
Can you explain what a production system means and it's relationship with AI?

[2021-08-04 18:18] lalith1403 commented on #3095
Hey @gracejolie. Thanks for submitting the topic form. Can you explain what search algorithms are and how they solve problems in AI?

[2021-08-04 18:20] munubi254 commented on #3035
Yes @lalith1403. I'll be doing that using a classification task based on
the MNIST dataset. Thereafter, I will do the performance measures using the
metrics.

On Wed, Aug 4, 2021, 21:15 Lalithnarayan C ***@***.***> wrote:

[2021-08-04 18:22] lalith1403 commented on #3109
@smkinyan This is a beautiful problem to have. Kudos to you on choosing a problem that everyone faces. However, I feel this is a very personal thing, and what works for you might not work for me. So, can you probably discuss the framework that you hope to discuss in the article.

Once we have that piece of the puzzle, we can proceed with how to frame the article. This is definitely an exciting top

[2021-08-04 18:27] lalith1403 commented on #3109
By Framework I mean, Probably take a paper, and read through the sections that you would initially look at. Then, if you are interested in the results proposed, talk about the metrics and analysis that goes into understanding the results. Once done, if you are going to talk about PapersWithCode, a major problem is, how does one setup the repositories that vary so widely. This is a pain point. Plea

[2021-08-04 18:33] lalith1403 commented on #3035
MNIST dataset is a toy dataset and well documented throughout the net. We are looking to publish articles that are programmer-centric and unique. Thanks for the topic suggestion. We encourage you to submit a new topic form with a new idea. Thank you.

I will be closing this issue for now. Look forward to seeing your new idea. Ping me once done.

[2021-08-04 18:33] #3035 closed

[2021-08-04 18:34] #2650 closed

[2021-08-04 20:53] Koros-Meshack opened #3169 "Introduction to Social Engineeering"
**Introduction**
Social engineering is the act of psychologically manipulating a person with the aim to extract sensitive information such as passwords or credit card pins. Since it is commonly known that the weakest link of a security system is the human being, `hackers` tend to use this angle to acquire critical information about a target or organization's private information.
Social engineering

[2021-08-04 20:54] josephodhis opened #3170 "How to solve initial value problem using ODE45 in Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-04 20:55] #2624 closed

[2021-08-04 21:05] FREDERICO23 opened #3171 "Introduction to Python Decorators"
### Proposed title of article
Introduction to Python Decorators

### Introduction paragraph (2-3 paragraphs):

In Python, a decorator is any callable Python object that is used to modify an existing function or a class. They simply add functionality to an existing code.

If you are not experienced with decorators and some functional programming concepts, you will consider decorators as a complicat

[2021-08-04 21:24] Dankosgei911 opened #3172 "Comparison between Visual studio and Visual studio code"
**Introduction**
Visual studio code is a lightweight editor used by programmers to write, modify, run and view code. Visual Studio on the other hand is an IDE used by developers to develop, analyze, debug, test, and deploy software.
Many beginners and even professionals often confuse the difference between the two.

This tutorial is aimed at giving the learner a detailed explanation to highlight t

[2021-08-04 22:00] Ykz-Jnr opened #3174 "Getting started with Termux"
**Introduction**
`Termux` is a Linux environment application designed for android mobile phones. It is easily available in the play store and it requires no root access. It can be used to perform Kali Linux attacks by running commands on the termux terminal.
We will take a look at why you might want to have termux on your android device. We will also run some major commands that can be executed vi

[2021-08-05 04:52] kimanikevin254 opened #3177 "Introduction to Web Scraping with JavaScript and Puppeteer"
### Introduction to Web Scraping with Javascript and Puppeteer

When developers need data for their web apps, they usually lookup for an API (Application Programming Interface), hoping that it will have the data they need for the app. This API is created by someone else and we expect it to have the exact data that we need. But this is not always the case. We may also need data from a certain websi

[2021-08-05 06:59] odongoalbert opened #3179 "PHPUnit: The bigger picture"
### Proposed title of article
PHPunit: The Bigger Picture

### Introduction paragraph (2-3 paragraphs):

This article is the first one in the series of articles that focus on `Unit Testing`, a well known test methodology. I will use `PHPUnit` as the main test tool for PHP Unit Testing. Once you get hold of the basics, getting started with PHPUnit is not that difficult.

Even a small software devel

[2021-08-05 07:02] bhanjibrilliant commented on #2559
@hectorkambow, could you reopen this!

[2021-08-05 08:43] #3049 closed

[2021-08-05 09:45] dentonya opened #3180 "Classless Routing using OSPF Protocol"
### Proposed title of article
Classless Routing using OSPF Protocol
### Introduction paragraph (2-3 paragraphs):
When packets are sent in large, and complex networks, they take various routes from source to destination. Some routes are longer and others shorter. In networking, packets do not need to take the scenic route. The fastest available route is always the best. Hence we need a protocol tha

[2021-08-05 10:48] mercie-nyakio opened #3181 "Understanding how to Create and Query Data in Cosmos DB"
### Proposed title of article
Understanding how to Create and Query Data in Cosmos DB

### Introduction paragraph (2-3 paragraphs):
Cosmos DB is a document database that can be run in SQL API or MongoDB API modes. So, we can perform the different types of Query and can interact with the database at the grain of schema-free documents. Documents of a similar type are organized into a collection. In

[2021-08-05 11:43] #2688 closed

[2021-08-05 12:28] mosesmwangi442 commented on #2940
@hectorkambow Would you please raise a flag for me on this topic

[2021-08-05 12:55] Alicewangari commented on #2984
@hectorkambow Thank you for the question. In this article, I intend to walk through the reader major differences between WPF and WinForms with the help of a unique project. I will equip the reader and mostly the beginner how to set up the projects, create controls, use the methods and functions available in .NET and so much more, as it is totally different  from each other.

[2021-08-05 15:09] FINCH285 opened #3183 "Recovering Deleted Files Using Foremost"
### Proposed title of article

Recover Deleted Files With Foremost

### Introduction paragraph (2-3 paragraphs):
Foremost is a forensic program used to recover lost files based on their headers, footers, and internal data structures. It implements a technique known as data carving. It is free and comes with most Linux platforms. This makes it ideal to use in recovering deleted data in hard disk dr

[2021-08-05 16:09] #2205 closed

[2021-08-05 19:02] Juskam commented on #3063
@hectorkambow Thanks for the heads up, I've opted to replicate the issue in order to produce a distinct, different, and beneficial idea.

[2021-08-05 19:18] shegz101 commented on #3000
Array  in JavaScript  is an ordered collection of data .Arrays are ordered , meaning each item has a numbered position(index) which starts with zero . It contains multiple values and also  holds multiple data types .The values in an array , are enclosed in square brackets like this [ ] separated from one another with the use of comma . There is no limit to data array can store , it all depends on

[2021-08-05 19:18] #3000 closed

[2021-08-05 20:10] Rmwamboi commented on #2759
Hey @hectorkambow my apologies for taking long on this one. Been unwell for a couple of weeks but i am now fine and recovering good.
The article is now ready for upload. If you could kindly reopen under my PR.

[2021-08-05 22:45] phinaomondi commented on #3104
Hello @Njerikariuki, I covered this topic here https://www.section.io/engineering-education/adding-dark-theme-to-your-site/

cc: @hectorkambow

[2021-08-05 22:48] mia-roberts commented on #3171
Hello @FREDERICO23 , I am already working on the topic #2718

[2021-08-05 23:06] diannesandra opened #3186 "Progress indicators in a web application"
### Progress indicators in a web application

### Introduction paragraph (2-3 paragraphs):
Good and inituitive UI must indicate what is going on in the system so that users are informed of their actions. Progress indicators are useful when showing users the progress of their activities in the application.

In this articel, we will build an application that emulates file uploading and add a progres

[2021-08-05 23:50] #2950 closed

[2021-08-06 00:50] marienjus opened #3187 "Handling React state management with Hookstate"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-06 05:51] #3171 closed

[2021-08-06 06:58] FREDERICO23 opened #3188 "Getting Started with Image Data Pre-processing in Python"
### Proposed title of article
Getting Started with Image Data Pre-processing in Python

### Introduction paragraph (2-3 paragraphs):
In a machine learning project, we always start with data collection followed by data preprocessing or cleaning step
which needs to be gotten right for a better performing model. There are several techniques used to preprocess data (in this case image data). Examples

[2021-08-06 07:00] FREDERICO23 commented on #3188
@lalith1403 I opened a new issue I would like you to review as requested.

[2021-08-06 08:29] ngahika01 opened #3190 "How to host a MERN stack app in heroku"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-06 09:18] JudyNduati commented on #2754
@hectorkambow, please reopen this issue

[2021-08-06 10:51] isaiaholadapo opened #3193 "How to create your first flask app"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-06 12:25] gracejolie commented on #3095
@lalith1403 Search algorithms are algorithms that help in solving search problems. A search problem consists of a search space, start state and goal state. Search algorithms help the AI agents to attain the goal state through the assessment of scenarios and alternatives. The algorithms provide search solutions through a sequence of actions that transform the initial state to the goal state. Withou

[2021-08-06 13:08] Bradley8555 opened #3194 "Model View Template and Model View Controller Comparison."
### Proposed title of article
Model View Template and Model View Controller Comparison.

### Introduction paragraph (2-3 paragraphs):
A comparison between two common design patterns; model view template and model view controller, analyzing their merits and demerits, use cases, and key differences. Model view template (MVT) is implemented in Django while model view controller (MVC) is implemented i

[2021-08-06 13:45] lizpart opened #3196 "Setting Up Hotspot On Kali Linux"
### Proposed title of article
Setting Up Hotspot On Kali Linux

### Introduction paragraph (2-3 paragraphs):
Hotspot enables you to share your network connection with other devices so that they can also be able to access the internet. The hotspot creates WiFi over which the devices connect to.
In Kali Linux by default, the hotspot is not configured.
In this tutorial, I will be showing you how to s

[2021-08-06 13:58] #2951 closed

[2021-08-06 13:58] borosteve opened #3197 "Using GitHub Desktop to create a GitHub repository and add a new or existing project."
### Proposed title of article
Using GitHub Desktop to create a GitHub repository and add a new or existing project.

### Introduction paragraph (2-3 paragraphs):

Writing code and building solutions in accordance with requirements and processes is the essence of software development. With time and various contributors, code management gets more difficult. Multiple developers collaborate on the sam

[2021-08-06 14:36] Taiwrash opened #3198 "Power of software testing and clean code"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-06 14:56] lalith1403 commented on #3095
Yes. Can you discuss some of the algorithms that you will be going deep into. Post that, we can finalize the topic.

[2021-08-06 14:59] lalith1403 commented on #3188
Yes. This would be a great topic to cover. We encourage authors to come up with articles that contain in-depth code and corresponding explanations. It would be great if you can cover all the concepts with corresponding code written from scratch. For example, explain how data augmentation works. What are the various techniques, and how are they useful?

Topic Approved :)

[2021-08-06 15:02] lalith1403 commented on #3166
@jamesomina99 Thanks for the topic suggestion. However, this is a tiny part of the streamlit library. Moreover, this part is well documented, and therefore, I suggest you explore new topics and projects with streamlit. I encourage you to come up with excellent ideas. Hope to see your new topic form soon. I will be closing this topic for now. Thank you :)

[2021-08-06 15:02] #3166 closed

[2021-08-06 16:54] #2930 closed

[2021-08-06 18:22] #2598 closed

[2021-08-06 19:38] DeewakarChakraborty opened #3200 "Image Compression using PCA"
### Proposed title of article
Image Compression using PCA

### Introduction paragraph (2-3 paragraphs):
Principal Component Analysis, PCA, is a dimensionality reduction method used to reduce the dimensionality of a dataset by transforming the data to a new basis where the dimensions are non-redundant(low covariance) and have high variance. This tutorial aims to make the reader understand the conce

[2021-08-07 01:04] hectorkambow commented on #3198
@Taiwrash
NOTE: (Please ensure that you have only one open issue + linked pull request at a time. This will ensure that we complete the article in a timely manner from inception to publishing.)

[2021-08-07 01:06] hectorkambow commented on #2945
saw you resubmitted the topic - 👍

Will be closing this extra one 👍

[2021-08-07 01:06] #2945 closed

[2021-08-07 04:24] James-Gitau opened #3206 "Machine Learning in Cybersecurity"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-07 04:54] Taiwrash commented on #3198
Sorry, I have completed this particular article if because of one PR at a time makes you close it. Please I will like it to be open for now and the other to be closed. Thanks

[2021-08-07 05:59] NdoloBonface commented on #3146
@paulodhiambo I opened an issue I would like you to review as requested.

[2021-08-07 07:05] ngahika01 commented on #3190
Can Igot ahead?

[2021-08-07 08:21] awinomackrine opened #3207 "Understanding PHP exception handling"
### Understanding PHP exception handling

### Introduction paragraph (2-3 paragraphs):

Exception handling is an important concept in PHP programming. It comes in handy when handling run-time errors which are also called exception errors. The main purpose of exception handling is to ensure maintenance of the normal application execution.

In this article we’ll be discussing at length What exceptio

[2021-08-07 08:24] stevekwachie opened #3208 "Introduction to PHP RegEx"
### Introduction to PHP RegEx

### Introduction paragraph (2-3 paragraphs):
PHP regular expressions commonly known as RegEx are pattern matching algorithms that are performed in expressions. RegEx use everyday arithmetic operators to create complex expressions that can be used for email address and IP address validation.

In this article I will be explaining what regular expressions are, the need

[2021-08-07 08:29] achiengrhoda opened #3209 "Understanding PHP callback functions"
### Understanding PHP callback functions

### Introduction paragraph (2-3 paragraphs):
A callback function is a function that is passed as an argument in another function and is executed in that function. Any existing function can be used as a callback function. Callback functions come in handy in practical coding in areas surrounding output buffering, time measurement, caching and also database t

[2021-08-07 09:22] dentex22 opened #3210 "Methods in C#"
### Proposed title of article
Understanding Methods in C#
### Introduction paragraph (2-3 paragraphs):
Methods play a crucial part in code reusability. They are blocks of code that allow programmers to pass data as parameters. They can only run when called. In C# this is not an exception. In this article, we will get more familiar with what methods are and why we need to use them. We will show the

[2021-08-07 09:46] Tonybishop11 opened #3211 "Creating and using methods in C#"
### Proposed title of article
Creating and using methods in C#

### Introduction paragraph (2-3 paragraphs):
In this tutorial, C# programming, methods play a vital role, and if you want to be an efficient programmer, you must arrange your method controls effectively. If some methods include secret codes that you don't want your developers to see, you can make them private. Method in C# is a discre

[2021-08-07 09:50] gracejolie commented on #3095
@lalith1403 I will be discussing breadth-first, depth first, iterative deepening, uniform cost, bidirectional, greedy, A* graph, and A* tree algorithms.

[2021-08-07 10:07] dentex22 commented on #3211
@Tonybishop11 hey what's up!! why are resubmitting the article suggestions I have already suggested and submitted.
#3210
cc @hectorkambow @ahmadmardeni1

[2021-08-07 10:36] #2687 closed

[2021-08-07 10:40] ahmadmardeni1 commented on #2940
@mosesmwangi442 Great topic 🚀, please make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, It should not overlap with any existing EngEd articles or incoming topic suggestions.

Also, please reference any relevant EngEd articles in yours - Approved.

[2021-08-07 11:54] gracekary commented on #3094
@lalith1403 A production system is a cognitive architecture that supports artificial intelligence through a set of rules and mechanisms for executing them. It consists of a global database that contains all the information required to execute tasks, a set of rules that are applied on the data from the global database, and a control system that applies the rules. Production systems are used in the

[2021-08-07 12:25] WanjaMIKE commented on #3211
This topic is already been covered.

[2021-08-07 12:25] #3211 closed

[2021-08-07 13:04] Eze4Manuel opened #3213 "Testing Angular applications using Protractor and Jasmine"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-07 13:10] WanjaMIKE commented on #3134
forms in php are already covered here https://www.section.io/engineering-education/working-with-forms-in-php/

[2021-08-07 13:15] WanjaMIKE commented on #3121
dictionaries have been covered here ```https://www.section.io/engineering-education/lists-and-dictionaries-python/```

[2021-08-07 14:07] Samuel-2626 commented on #3134
@WanjaMIKE the main goal is not really forms but input validation and sending emails. I have scanned through the article and it wasn't covered. By the I will make reference to her tutorial.

Thoughts?

[2021-08-07 14:51] Tonybishop11 commented on #3211
the topic was suggested at the same time it seems we had the same topic in mind, now who suggested earlier?@WanjaMIKE

[2021-08-07 14:51] sardug10 opened #3214 "How to implement Logging with Pino-logger in a Node.js application."
### Proposed title of the article
How to implement Logging with Pino-logger in a Node.js application?

### Introduction paragraph (2-3 paragraphs):
Logging on its own is an important aspect of any application. It is because it helps developers comprehend what it is that their code is doing, and can assist developers to save hours of debugging work. Also, one of the key features of logging is to st

[2021-08-07 15:37] Tonybishop11 opened #3216 "Serialization in C#"
### Proposed title of article
Serialization in C#

### Introduction paragraph (2-3 paragraphs):
The purpose of this article is to provide an overview of C# Serialization. Serialization is the process of converting an object instance into a data stream, and the state of the object instance is turned into a data stream so that it may be transferred over different networks and stored in a storage pla

[2021-08-07 16:31] ahmadmardeni1 commented on #3211
Thank you for submitting your topic. @Tonybishop11
As @dentex22 said, it is the same topic, and he submitted it first.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-07 17:19] Wakanyaben254 opened #3217 "database administration"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-07 19:23] bhanjibrilliant opened #3218 "Getting Started With MongoDB Dashboard using Node.js"
### Proposed title of article
Getting Started With MongoDB Dashboard using Node.js

### Introduction paragraph (2-3 paragraphs):
For a pretty decent amount of time, doing analytics with MongoDB required additional overhead compared to modern SQL RDBMS and Data Warehouses associated with aggregation pipeline and MapReduce practices. While this approach allowed one to craft advanced custom tailored

[2021-08-07 19:26] #3206 closed

[2021-08-07 19:26] James-Gitau commented on #3206
Changing Topic

[2021-08-07 19:29] James-Gitau opened #3219 "Machine Learning in Cybersecurity"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-07 20:08] amchilos01 opened #3220 "Using developer tools in browsers"
### Proposed title of article
Using developer tools in browsers

### Introduction paragraph (2-3 paragraphs):

Developer tools are computer programs used by software developers to create, edit, maintain, support and debug other applications, frameworks and programs. Also referred to as Software Development, developer tools exists in many forms such as code editors, linkers, debuggers and performan

[2021-08-07 20:34] #3220 closed

[2021-08-07 20:41] Ernest715 opened #3221 "Using developer tools in browsers"
### Proposed title of article
Using developer tools in browsers

### Introduction paragraph (2-3 paragraphs):

Developer tools are computer programs used by software developers to create, edit, maintain, support and debug other applications, frameworks and programs. Also referred to as Software Development, developer tools exists in many forms such as code editors, linkers, debuggers and performan

[2021-08-07 20:58] jamesomina99 opened #3222 "Multiclass Text Classification with PySpark"
### Proposed title of article
How to build Multiclass Text Classification model with PySpark

### Introduction paragraph (2-3 paragraphs):
PySpark is an interface for Apache Spark in Python.  It allows us to write Spark applications using Python APIs and provides the PySpark shell for interactively analyzing your data in a distributed environment. PySpark supports most of Spark’s features such as

[2021-08-07 22:00] josax01 opened #3223 "Understanding Strings in JavaScript"
### Proposed title of article
Understanding Strings in JavaScript

### Introduction paragraph (2-3 paragraphs):
A string is a sequence of Unicode characters. This standard provides a unique code for every character to make them distinguishable. In JavaScript, strings are used to represent text and can include spaces, special characters, and numbers.

In this article, you will learn about strings i

[2021-08-07 23:45] wobin1 opened #3224 "Web Automation with Selenium"
### Proposed title of the article
Web Automation With Selenium

### Introduction paragraph (2-3 paragraphs):
Selenium is a set of python libraries that helps developers interact with the web to enable the automation of web processes.
The ability to enable software robots to automatically perform processes and tasks on the web is known as
WEB AUTOMATION. These processes may include; searching the w

[2021-08-08 04:31] elizabeth962 opened #3226 "Automating Django deployments with Ansible and Fabric"
### Automating Django deployments with Ansible and Fabric
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article a higher ranking.*

### Introduction paragraph (2-3 paragraphs):
[Ansible](https://www.ansible.com) is an open-source software provisioning, configuration management, and application-deployment tool enabling infrastructure as co

[2021-08-08 04:34] smkinyan opened #3227 "Building a simple translation app using Python for beginners"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-08 04:34] #3109 closed

[2021-08-08 04:59] flavianadhiambo opened #3228 "Getting started with Django polymorphic models"
### Getting started with Django polymorphic models
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article a higher ranking.*

### Introduction paragraph (2-3 paragraphs):
Microservices are a way to organize complex software systems. Instead of putting all your code into one app, you break your app into microservices deployed independently

[2021-08-08 07:48] NaomiSeint opened #3230 "Getting Started With Dependency Injection in Angular 12+"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-08 10:14] #2662 closed

[2021-08-08 10:14] shegz101 opened #3231 "Next Generation Javascript"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-08 10:57] #2900 closed

[2021-08-08 11:09] #2717 closed

[2021-08-08 16:55] Sajeyks opened #3233 "Integrating YouTube videos into a Django app"
### Proposed title of the article
Integrating YouTube videos into a Django app

### Introduction paragraph (2-3 paragraphs):
Modern Organisations are featuring both pictures videos on their websites to strengthen their content and to also promote their YouTube channels. It is very convenient because using YouTube unlike directly uploading a video saves you space, cost, and compatibility issues. An

[2021-08-08 17:10] fabulousDesigns opened #3234 "Socket Programming in Php"
### Proposed title of article
Socket Programming in Php

### Introduction paragraph (2-3 paragraphs):
Every programming language comes with a method for implementing server-client communication. The program uses this method to allow data to be sent between the server and the client. This technique is also available in PHP, as it is in other computer languages. Socket programming is a programming s

[2021-08-08 18:46] Kikiodazie commented on #2837
Heyyyyyy @ahmadmardeni1. Hope you good?

I am here to remind you about this topic :pleading_face: . Please do check it out.

I hope this meets you well. Have a great week ahead.

Regards,
Divine.

[2021-08-08 19:18] ahmadmardeni1 commented on #2837
Hey, @Kikiodazie Sure thing!

[2021-08-08 20:35] Kikiodazie commented on #2837
Yaaaayy 🕺

[2021-08-09 07:37] Bamimore-Tomi opened #3236 "Creating Serverless Functions ( Faas ) with AWS Lambda and Golang"
### Creating Serverless Functions ( Faas ) with AWS Lambda and Golang

### Introduction paragraph (2-3 paragraphs):
Serverless architecture is a new paradigm that is being used in the development of modern applications. The term "serverless" refers to the abstraction of "servers" from application development. Function-as-a-Service (FaaS) is a serverless method of running modular code on the cloud.

[2021-08-09 10:00] del-ui opened #3237 "C++ or C# for Game Development?"
### Introduction paragraph (2-3 paragraphs):
C# and C++ are both object oriented programming languages used in used different mutual application one of the being Game Development

C++ was developed first and has become one of the most popular language used for game development. Other languages developed later like C# have brought in factors to be considered when selecting the right language.

C# i

[2021-08-09 11:29] FREDERICO23 commented on #3231
@shegz101 kindly re-work on your issue. Follow the laid guidelines

[2021-08-09 11:31] #2625 closed

[2021-08-09 11:34] ahmadmardeni1 commented on #3231
Kindly fill out your suggestion and add a title. @shegz101

[2021-08-09 11:39] ahmadmardeni1 commented on #3122
Great topic 🚀 @linetachieng, make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, It should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.

[2021-08-09 13:25] watosole opened #3240 "Abstraction in Java"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-09 15:21] isaiaholatunbosun opened #3242 "How to create API using Flask and Python"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-09 16:08] #2628 closed

[2021-08-09 17:06] #2712 closed

[2021-08-09 17:13] hectorkambow commented on #3214
@sardug10
Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore.

[2021-08-09 17:13] #3214 closed

[2021-08-09 17:13] hectorkambow commented on #3218
@bhanjibrilliant
Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore.

[2021-08-09 17:13] #3218 closed

[2021-08-09 17:59] #2609 closed

[2021-08-09 18:20] #2638 closed

[2021-08-09 18:56] mumbi00 opened #3246 "What leads to Technical Debt in Software Development and how can we Manage it"
### Proposed title of article
What leads to Technical Debt in Software Development and how can we Manage it

### Introduction paragraph (2-3 paragraphs):
Technical debt (TD) is a broad concept that encompasses many of the decisions made and shortcuts taken during the software development cycle. It happens when teams are working through set tasks, updating features, and dealing with bugs – and it s

[2021-08-09 19:11] #2716 closed

[2021-08-09 19:22] prograte opened #3247 "Genie, Slide-in, Jelly, and scale Pop-up Notification effects"
### Proposed title of the article

Genie, Slide-in, Jelly, and scale Pop-up Notification effects

### Introduction paragraph (2-3 paragraphs)

Websites need notifications to display burning events or additional information. Pop-ups, used to pass notifications, are sweet if used effectively and at the right time. Notification effects depending on the main website theme bring a website's unique tast

[2021-08-09 19:27] ochienglydia opened #3248 "Angular 12 Material Autocomplete Example with Server Response"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-09 20:16] Dawe-7 opened #3249 "How to implement Inline function in C++"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-09 22:09] #2417 closed

[2021-08-09 23:15] Anitaachu opened #3250 "Dockerizing a Django application"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources-pa

[2021-08-10 00:05] hectorkambow commented on #3198
@Taiwrash
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-08-10 00:05] #3198 closed

[2021-08-10 03:22] Jairusonkundi commented on #3057
I'm writing to  confirm that this topic is not similar to topic #3039.My
topic is searching and sorting in data structures while topic #3039 is on
searching and sorting in Matlab.

On Tue, Aug 3, 2021, 11:10 PM hectorkambow ***@***.***> wrote:

[2021-08-10 08:18] MaurineM opened #3252 "Data Encryption and Decryption with Quick Response (QR) Codes in Android"
*We're looking for the first 2-3 paragraphs of the article that appropriately summarize what your article will be about.*

### Proposed title of the article
Data Encryption and Decryption with Quick Response (QR) Codes in Android

### Introduction paragraph (2-3 paragraphs):
Quick response (QR) codes are a type of barcode, or scannable sequence, that can hold a variety of information such as websi

[2021-08-10 09:30] Hariet-Kweva opened #3253 "css text decoration"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-10 09:55] Hariet-Kweva opened #3254 "css text decorations"
### CSS text decorations
Decorating is simply adding the attractiveness of something by adding specific items.
In CSS a text can be decorated in order to bring attractiveness in website.

### Introduction paragraph (2-3 paragraphs):
CSS text decorations has been used widely in many websites in order to assist in bringing great accessibility to color blind people while visiting different websites,

[2021-08-10 10:20] #3253 closed

[2021-08-10 10:25] mia-roberts commented on #2718
Hello @hectorkambow

kindly open this issue, I have done it and opened a PR to fix it.

Regards

[2021-08-10 10:42] Muchiri021 opened #3258 "Setting up an environment for Python 3"
### Proposed title of the article

Setting up an environment for Python 3

### Introduction paragraph (2-3 paragraphs):

When dealing with any programming language, the first step is to create an environment that will allow you to run your code. You may examine your work for syntax errors through a well environment. In addition to Python 3, you'll need an interpreter to translate your code to a ma

[2021-08-10 10:43] Jeff-mwangi commented on #2749
@hectorkambow Hello. I have submitted the article. You can now reopen the issue

[2021-08-10 11:50] #2700 closed

[2021-08-10 12:00] ahmadmardeni1 commented on #2837
After some careful consideration, I found out that this topic is already covered in other blogs.

Can you please inform me how you are planning to make it unique? @Kikiodazie

[2021-08-10 12:03] ahmadmardeni1 commented on #3126
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, It should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours - Approved.

[2021-08-10 12:52] Lekwacious opened #3259 "Understanding the Flutter Getx ecosystem for state management."
### Proposed title of article
Understanding the Flutter Getx ecosystem for state management.

### Introduction paragraph (2-3 paragraphs):
State management enables the sharing of application state between screens, across your app. Put differently, it allows you to share data from one UI to another so that when the state of your app changes, you change the state, and that triggers a redraw of the u

[2021-08-10 13:32] smkinyan commented on #3227
Hi @hectorkambow I decided to close the topic issue on "How to read and understand ML and DL research papers", I'll need to do more research on it before I can write a comprehensive article. In the meantime, I would like to write on this new topic issue.

[2021-08-10 14:55] Ushter21 opened #3261 "Working with Access Modifiers in C#"
### Proposed title of article
Working with Access Modifiers in C#

### Introduction paragraph (2-3 paragraphs):
Access Modifiers are keywords in a program that describe how accessible a member, class, or datatype is. These are mostly used to prevent unintended data tampering by third-party programs or classes.  Access modifiers are used in C# to control the accessibility of types and type members.

[2021-08-10 14:57] hectorkambow commented on #3139
@mussooo
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:57] hectorkambow commented on #3140
@LeahKui
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:58] hectorkambow commented on #3144
@kimkimani
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:58] hectorkambow commented on #3142
@Neema-2016 Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:59] hectorkambow commented on #3145
@jaredphelix
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:59] hectorkambow commented on #3146
@NdoloBonface
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:59] hectorkambow commented on #3147
@francis966
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:59] hectorkambow commented on #3148
@jaykip
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 14:59] hectorkambow commented on #3155
@carteblanchemunene
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:00] hectorkambow commented on #3156
@dorky1
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:00] hectorkambow commented on #3158
@JoelKanyi Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:00] hectorkambow commented on #3159
@Wachira48 Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:04] hectorkambow commented on #3160
@iankamau20
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:04] hectorkambow commented on #3162
@josephayoma
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:04] hectorkambow commented on #3163
@brandy-kay
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:04] hectorkambow commented on #3164
@pelmak
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:04] hectorkambow commented on #3169
@koros-meshack
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:05] hectorkambow commented on #3170
@josephodhis
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:05] hectorkambow commented on #3172
@Dankosgei911

[2021-08-10 15:05] hectorkambow commented on #3172
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3174
@Ykz-Jnr
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3177
@kimanikevin254
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3179
@odongoalbert
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3180
@dentonya
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3181
@mercie-nyakio
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3183
@FINCH285
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:06] hectorkambow commented on #3186
@diannesandra
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:07] hectorkambow commented on #3187
@marienjus
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:07] hectorkambow commented on #3190
@ngahika01
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:07] hectorkambow commented on #3193
@isaiaholadapo
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:08] hectorkambow commented on #3194
@Bradley8555 Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:08] hectorkambow commented on #3196
@lizpart
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:08] hectorkambow commented on #3197
@borosteve
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:08] hectorkambow commented on #3200
@DeewakarChakraborty
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:09] hectorkambow commented on #3207
@awinomackrine
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:09] hectorkambow commented on #3208
@stevekwachie
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:09] hectorkambow commented on #3209
@achiengrhoda
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:09] hectorkambow commented on #3210
@dentex22
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:10] hectorkambow commented on #3213
@Eze4Manuel
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:10] hectorkambow commented on #3216
@Tonybishop11
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:10] hectorkambow commented on #3217
@Wakanyaben254
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:10] hectorkambow commented on #3219
@James-Gitau
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:11] Babatunde13 opened #3262 "How To Build A React App WithTypeScript"
### How To Build A React App WithTypeScript

### Introduction paragraph (2-3 paragraphs):
React is one of the most popular and best front-end libraries as of today this has made a lot of developers make it their primary library used for creating front-end applications. Typescript on the other hand is a strict and statically typed programming language which makes our javascript code more predictabl

[2021-08-10 15:13] lalith1403 commented on #3150
Hello @kelvinkimani501. This seems to be a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Cheers,
Lalith

[2021-08-10 15:15] lalith1403 commented on #3147
Hello @francis966. This seems to be a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanatio

[2021-08-10 15:18] hectorkambow commented on #3221
@Ernest715
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:18] hectorkambow commented on #3222
@jamesomina99
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:18] hectorkambow commented on #3223
@josax01
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-10 15:20] lalith1403 commented on #3227
Hello @smkinyan. The earlier article was an excellent one. I do understand it requires more research. This article on the other hand seems to be a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there

[2021-08-10 16:27] lalith1403 commented on #3095
Hello @gracejolie. This seems to be a super helpful and essential topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanatio

[2021-08-10 16:27] lalith1403 commented on #3121
Hello @mukono10. Thanks for the topic suggestion. However, this is a fundamental topic and is widely covered over the net. We are looking for programmer-centric concepts explained in a fun and intuitive ways. I will be closing this issue for now. I encourage you to submit a new topic form. I look forward to it :).

[2021-08-10 16:28] lalith1403 commented on #3129
Hello @BRIAN721. This is an exciting topic. Can you provide more information on how the content proposed is unique and does not cover the same material as the documentation? This will allow us to explore opportunities to better understand the scope of the topic proposed.

[2021-08-10 16:28] lalith1403 commented on #3112
Hello @fely545. Thanks for the topic suggestion. However, this is a fundamental topic and is widely covered over the net. We are looking for programmer-centric concepts explained in a fun and intuitive ways. I will be closing this issue for now. I encourage you to submit a new topic form. I look forward to it :).

[2021-08-10 16:28] #3112 closed

[2021-08-10 16:28] #3121 closed

[2021-08-10 16:34] JoelKanyi commented on #3158
Thank you @hectorkambow

[2021-08-10 16:42] hectorkambow commented on #3226
@elizabeth962
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:42] hectorkambow commented on #3247
@prograte
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:42] hectorkambow commented on #3228
@flavianadhiambo
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:42] hectorkambow commented on #3230
@NaomiSeint
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:42] hectorkambow commented on #3233
@Sajeyks
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3234
@fabulousDesigns
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3236
@Bamimore-Tomi
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3237
@del-ui
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3240
@watosole
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3242
@isaiaholatunbosun
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:43] hectorkambow commented on #3246
@mumbi00
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:44] hectorkambow commented on #3248
@ochienglydia
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:44] hectorkambow commented on #3249
@Dawe-7 Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:44] hectorkambow commented on #3252
@MaurineM
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:44] hectorkambow commented on #3254
@Hariet-Kweva
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:45] hectorkambow commented on #3258
@Muchiri021
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:45] hectorkambow commented on #3259
@Lekwacious
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:45] hectorkambow commented on #3261
@Ushter21
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 16:45] hectorkambow commented on #3262
@Babatunde13
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-10 18:09] lalith1403 commented on #3200
Hello, @DeewakarChakraborty.This article is a super helpful and important topic used extensively . Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avo

[2021-08-10 18:12] lalith1403 commented on #3219
Hello @James-Gitau, Thanks for submitting the topic suggestion. I would like to understand the aim of the article better. In the references, you have added a couple of papers. Will you be discussing the concepts in the paper? What would be the unique value proposition of the article.

[2021-08-10 18:16] lalith1403 commented on #3222
Hello, @jamesomina99.This article is a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanati

[2021-08-10 18:19] lalith1403 commented on #3258
Good evening @Muchiri021. Thank you for submitting the topic suggestion form. This topic has been covered in this [article](https://www.section.io/engineering-education/data-science-setup/). I encourage you to submit another issue. I will be closing this issue for now. Thank you.

Lalith

[2021-08-10 18:19] #3258 closed

[2021-08-10 18:49] Inyrkz commented on #3136
The issue has been modified.

[2021-08-10 18:57] lalith1403 commented on #3136
Hello, @jamesomina99. This article is a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanat

[2021-08-10 18:58] lalith1403 commented on #3136
Hello, @Inyrkz. This article is a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanations e

[2021-08-10 19:10] Kikiodazie commented on #2837
Hey @ahmadmardeni1, so sorry for late reply.

Why I submitted this topic idea is that, I was part of the cloud-native foundation scholarship by Udacity and I thought it would be great if I shared the knowledge I got.

Seeing the fact that it's been covered by many other blogs, I guess there isn't a need to approve it.

I hope this meets you well. Cheers.

[2021-08-10 20:19] jamila-laureen opened #3268 "Auto reminder mail system using python"
### Proposed title of article
Auto reminder mail system using python

### Introduction paragraph (2-3 paragraphs):
Maybe you are prone to forgetting to send emails to your co-workers, tenants asking for rent or even monthly subscription pay request email to your subscribers. These tasks can be automated by a system that uses python to setup a reminder and sends it at the time specified.

Python co

[2021-08-10 20:22] James-Gitau commented on #3219
@lalith1403 My article will be uniques because

1. It focuses on explaining why there is a growing need for cybersecurity automation through machine learning.
2. It highlights the current enhancements and unique capabilities which are an improvement on traditional machine learning in cybersecurity.
3. New techniques currently implemented for machine learning in cybersecurity.

[2021-08-10 20:30] eunice-wanjiku commented on #3008
Hi @hectorkambow , I used someone's computer to upload the solution to my issue but instead ended up pushing with his account. Kindly advise on how we can best resolve this. Thanks

[2021-08-10 21:05] ryanjonnes opened #3269 "Deploying a Flask application to Google Compute Engine"
### Proposed title of article
Deploying your application to Google Virtual Machine

### Introduction paragraph (2-3 paragraphs):
Google provides a deployment virtual machine that relieve users from the acquisition of complex and expensive infrastructure required to run some application. Through their Infrastructure as a Service (IaaS) platform, Google provides an underlying infrastructure with eas

[2021-08-10 23:02] #2300 closed

[2021-08-10 23:15] #1833 closed

[2021-08-10 23:24] hectorkambow commented on #3123
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

Please feel free to suggest an a

[2021-08-10 23:24] #3123 closed

[2021-08-10 23:25] hectorkambow commented on #3125
@Robbiewanjau
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

Please feel free t

[2021-08-10 23:25] #3125 closed

[2021-08-10 23:25] hectorkambow commented on #3124
@Dick7603
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-10 23:26] hectorkambow commented on #3128
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours.

Brining in our resid

[2021-08-10 23:26] hectorkambow commented on #3130
@robert-muriithi
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Ap

[2021-08-10 23:27] hectorkambow commented on #3132
@Lamouresparus
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appr

[2021-08-11 00:12] Frank-dev20 commented on #2639
@john-amiscaray changes made

[2021-08-11 00:33] Anitaachu opened #3271 "Dockerizing a Django application"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources-pa

[2021-08-11 06:23] #2709 closed

[2021-08-11 06:24] WanjaMIKE commented on #2709
Closed #2709 via #2998.

[2021-08-11 06:28] WanjaMIKE commented on #3268
@Babatunde13
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 06:28] WanjaMIKE commented on #3269
@Babatunde13
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 06:29] WanjaMIKE commented on #3271
@Babatunde13
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 06:32] WanjaMIKE commented on #3233
@Sajeyks could it just involve adding the `iframes` into the website or you will use an API?

[2021-08-11 06:34] WanjaMIKE commented on #3271
@Anitaachu I think this topic could be similar to `https://www.section.io/engineering-education/django-docker/`

[2021-08-11 06:39] WanjaMIKE commented on #3261
@Ushter21 I think just focusing on the private keyword by itself will not make a quality article. There are numerous articles already covering this. How will the article differ from this documentation?

[2021-08-11 06:41] WanjaMIKE commented on #3250
You have suggested this topic two times.

[2021-08-11 06:43] WanjaMIKE commented on #3242
Unfortunately, this topic is already covered here `https://www.section.io/engineering-education/flask-crud-api/`

[2021-08-11 06:49] WanjaMIKE commented on #3217
@Wakanyaben254 Kindly, where are the introductory statements and key takeaways. You need to add them.

[2021-08-11 06:51] WanjaMIKE commented on #3210
@dentex22 Kindly, how could this topic differ from the official documentation?

[2021-08-11 06:54] WanjaMIKE commented on #3193
@isaiaholadapo This article here `https://www.section.io/engineering-education/complete-guide-on-installing-flask-for-beginners/` covered most of your key takeaways. How will it be different?

[2021-08-11 06:57] WanjaMIKE commented on #3172
@Dankosgei911 I think downloading and installing these IDEs is quite straight forward. How will the article differ from official documentation.

[2021-08-11 06:59] WanjaMIKE commented on #3162
@JosephAyoma Unfortunately, we already have an article covering an introduction to Java Swing here `https://www.section.io/engineering-education/introduction-to-java-swing/`. How will this article be different?

[2021-08-11 07:03] WanjaMIKE commented on #3224
@wobin1 Kindly, `Automation with Selenium` is covered here `https://www.section.io/engineering-education/automation-testing-in-selenium/`. How will this article be different?

[2021-08-11 07:26] Annpurity opened #3273 "Uses and benefits of using Grafana"

[2021-08-11 07:27] WanjaMIKE commented on #3273
@Babatunde13
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 07:36] isaiaholadapo commented on #3193
I will talk about how they can save their tasks to database using Postgresql and how to deploy it on heroku. I will also talk about crud operations in flasks

[2021-08-11 07:43] WanjaMIKE commented on #3273
@Annpurity I will suggest reopening a new issue with the appropriate information

[2021-08-11 07:43] #3273 closed

[2021-08-11 07:46] JosephAyoma commented on #3162
@WanjaMIKE From my issue Introduction to Java is part of the reference to my proposal. I am the author of  the article. The proposed  article forms part of the continuation whereby I will be discussing into details the methods (getters and setters) of Java swing components i.e. Basic Java Swing components used for desktop application.
The main key takeaways will be;
1. Setter Method of Java swing

[2021-08-11 08:03] BRIAN721 commented on #3129
Hello @lalith1403, I believe Flair is a great tool for Natural Language Processing, but in my opinion, i feel like it's not fully explored by many developers.. So in this tutorial, I try to change that in the following ways.

[2021-08-11 08:09] BRIAN721 commented on #3129
1. I try to explain the core concepts that are the building block for this Flair such as Building Corpus and Creating Label Dictionary and Text Embedding.
These core concepts will help a beginner to grasp the concepts before we begin to build a custom.
2. We shall build a custom model from scratch. We shall start from the data-processing and manipulation using Flair.
3. We shall build a Text Class

[2021-08-11 09:21] wobin1 commented on #3224
@WanjaMIKE
The published article is on Automation testing using the selenium software while my article will be a guide on how to write a python script to automate interaction with a webpage using the selenium python library.

[2021-08-11 10:40] ahmadmardeni1 commented on #2837
Great! @Kikiodazie
Can you add a unique idea to your article that makes it unique and different from other blogs?

[2021-08-11 10:49] louisefindlay23 commented on #2925
Closing due to inactivity. Please fill in the form, @Danmasanii and then we can reopen this.

[2021-08-11 10:53] louisefindlay23 commented on #3137
@Njunu-sk, great topic.

It's good that you've outlined a list of topics you'll cover and it's clear your article will be comprehensive covering why client-side validation is important to the vee validate library and understanding and being able to implement some of its important features.

Topic approved 🚀

[2021-08-11 10:56] louisefindlay23 commented on #3118
Hi, @EssyG10.

Thanks for submitting a topic.

Can you tell me what makes your article unique from other JavaScript timer tutorial articles and resources that provide webpage templates such as Coming Soon?

[2021-08-11 11:11] kayere commented on #3158
Good topic @JoelKanyi - approved. Please make sure your article does not cover what is already available in the docs.

[2021-08-11 11:19] LinusMuema commented on #3140
Hi @LeahKui
I believe this article will be very helpful. Just make sure you have original content that isn't available on other blog sites. Also check that your content does not conflict with other articles already on section.

topic approved :rocket:

[2021-08-11 11:24] LinusMuema commented on #3163
Hi @brandy-kay
This sounds like a really interesting topic in Android. I however think there is more about fresco you could talk about. Stuff like streaming images and animations. You could add these to provide an in-depth overview of the library as the normal images loading libraries have addressed them. There are articles already on section on coil and glide and adding more specific features of

[2021-08-11 11:29] #2947 closed

[2021-08-11 11:51] #2789 closed

[2021-08-11 12:04] #3141 closed

[2021-08-11 12:05] ahmadmardeni1 commented on #3142
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, It should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @Neema-2016

[2021-08-11 12:07] ahmadmardeni1 commented on #3144
The title is just Flask? No introduction paragraph or Key takeaways as well. @kimkimani

I'm going to close it. Please @ me when your topic-suggestion is ready and I will re-open it.

[2021-08-11 12:09] ahmadmardeni1 commented on #3146
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @NdoloBonface

[2021-08-11 12:15] ahmadmardeni1 commented on #3169
Thank you for submitting your topic. @Koros-Meshack
After some careful consideration, this topic is way out of our preferred topics.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-11 12:15] #3169 closed

[2021-08-11 12:20] ahmadmardeni1 commented on #3170
What do you think of this topic? @lalith1403

[2021-08-11 12:23] ahmadmardeni1 commented on #3174
Thank you for submitting your topic. @Koros-Meshack

After some careful consideration, this topic is way out of our preferred topics. And it is a very sensitive path to explore, Termux can be used for hacking.
We are looking for programmer-centric concepts explained in fun and intuitive ways.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-11 12:23] #3174 closed

[2021-08-11 12:31] ahmadmardeni1 commented on #3177
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

We actively sell products that aim to prevent web scraping.
Some websites do not allow web scraping. Therefore, ensuring permissi

[2021-08-11 12:47] #3242 closed

[2021-08-11 13:00] muyagafranklyne opened #3274 "understanding nmap commands"
### Proposed title of article
Understanding nmaps commands

### Introduction paragraph (2-3 paragraphs):
Security is key in networks. To implement this we can use Nmap,  a network scanner used to manage and secure networks. It sends packets through networks and analyses the responses to discover host and services on a computer network.
Administrators can use nmap to be able to  map their networks

[2021-08-11 13:12] isaiaholatunbosun opened #3275 "How to build a location-based app using Django and GeoDjango"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-11 13:12] JosephAyoma commented on #3162
@WanjaMIKE Not exactly a part 2, it is a newer topic which will discuss about Java Swing component setters and getters, with code examples.

[2021-08-11 13:36] EssyG10 commented on #3118
@louisefindlay23,the outstanding thing that  this article will have is that,for those begginers in JavaScript who have not learnt any framework will be able to understand my code snippets.For those who are comfortable with Jquery,I will also demonstrate how to achieve the coming soon landing page with jquery and for those Learners who are quite comfortable with modern JavaScript will also benefit

[2021-08-11 13:49] louisefindlay23 commented on #3118
Good explanation, @EssyG10 - approved. Make sure your article is in-depth though and provides lots of value to our readers.

**One important note:** please ensure to put your article through a thorough grammar/readability editing review prior to submitting for final approval. This will help increase the likelihood of your article getting published and you receiving a payout :)"

[2021-08-11 13:52] EssyG10 commented on #3118
@louisefindlay23,thanks

[2021-08-11 14:04] lalith1403 commented on #3170
Hello @josephodhis. Thanks for submitting the topic suggestion. I have a couple of queries.

1. ODEs have been covered extensively and it is backed by a rich math literature. Can we discuss the value proposition of the idea proposed?
2. How will this article be different from that of the documentation present for the same library. As far as I know, this is a well covered library.

[2021-08-11 14:09] domiwanja opened #3277 "How to Connect an Android Application to a MySQL Server"
### Proposed title of article
How to Connect an Android Application to a MySQL Server

### Introduction paragraph
Database is an important component in any application. It allows developers to store and retrieve information easily. Today, many applications depend on the Firebase Realtime Database. However, as many users sign up, Firebase becomes difficult and costly to maintain.

Connecting your a

[2021-08-11 14:11] WanjaMIKE commented on #3274
@muyagafranklyne
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 14:11] WanjaMIKE commented on #3275
@isaiaholatunbosun
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 14:12] WanjaMIKE commented on #3277
@domiwanja
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 14:47] valerio140 opened #3278 "Implementing View Binding in Android using Kotlin"
### Proposed title of article
Implementing View Binding in Android using Kotlin

### Introduction paragraph (2-3 paragraphs):
Viewbinding is an exciting feature that was introduced in Android development a few years ago. It allows one to link data to the main UI easily. In case of any data changes, the UI will update instantaneously.

Viewbinding is, therefore, a critical component in Android app

[2021-08-11 15:01] TheresaAtieno opened #3279 "Getting Started with Object Oriented PHP 8"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-11 15:03] jerimkaura commented on #3234
Hello @fabulousDesigns  how will your article be different from [this.](https://html.form.guide/snippets/javascript-form-validation-using-regular-expression/) or [this one](http://www.tutorialspark.com/javascript/JavaScript_Regular_Expression_Form_Validation.php)

[2021-08-11 15:06] mbuthiajn opened #3280 "Working with metadata in C#"
### Proposed title of article
Working with metadata in C#

### Introduction paragraph (2-3 paragraphs):
In C#, metadata is described as binary information that describes our program and is saved in either a common language runtime portable executable file or memory. When you compile code from a portable executable file, information is added to another portion of the file, and all of the code is tr

[2021-08-11 15:38] hectorkambow commented on #3164
@Pelmak

There is not information here for us to review/approve the topic other that the title??

[2021-08-11 15:49] hectorkambow commented on #3180
@dentonya
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-11 15:51] hectorkambow commented on #3186
@diannesandra
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-11 15:52] hectorkambow commented on #3187
@marienjus
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-11 15:56] dentex22 commented on #3210
yes... it's going to base more on the practical implementation which will add value to the one reading it

[2021-08-11 15:57] hectorkambow commented on #3194
🤔
@Bradley8555
After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-08-11 15:57] #3194 closed

[2021-08-11 15:58] hectorkambow commented on #3196
@lizpart
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-11 16:04] hectorkambow commented on #3197
🤔
@borosteve

After some careful consideration, it struck us that this topic may covered widely on the official docs or other blogs. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-11 16:04] #3197 closed

[2021-08-11 16:14] WanjaMIKE commented on #3278
@valerio140
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 16:14] WanjaMIKE commented on #3279
@TheresaAtieno
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 16:15] WanjaMIKE commented on #3280
@mbuthiajn
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 16:25] hectorkambow commented on #3207
@awinomackrine

Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - App

[2021-08-11 16:26] hectorkambow commented on #3208
@stevekwachie
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-11 16:26] hectorkambow commented on #3209
@achiengrhoda
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-11 16:26] hectorkambow commented on #3213
@Eze4Manuel
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-11 16:27] hectorkambow commented on #3216
@Tonybishop11 Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-11 16:41] hectorkambow commented on #3221
Good afternoon @Ernest715 and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-08-11 16:41] #3221 closed

[2021-08-11 16:43] #2923 closed

[2021-08-11 16:43] hectorkambow commented on #3226
@elizabeth962
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Appro

[2021-08-11 16:43] hectorkambow commented on #3228
@flavianadhiambo
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Ap

[2021-08-11 17:24] lalith1403 commented on #3094
Hello, @gracekary. This article is a super helpful and important topic. Please start working on the topic proposed. Let's ignite all the boosters on this one and deliver superior value to the reader.

Let's be sure to provide value that we as developers feel is scarcely available out there on the web. Custom projects would be the best way to explain such concepts. We avoid projects and explanation

[2021-08-11 17:26] lalith1403 commented on #3128
Hello, @jamesomina99.This article is a super helpful and important topic. This article will be putting forward your opinions about why Java is a good language for AI. Make sure to base it with relevant facts and mention any references or proofs required to validate the statements. This should be exciting to read. Topic approved :)

[2021-08-11 17:27] lalith1403 commented on #3129
This is an exciting article. Thanks for the detailed explanation. Topic approved :)

[2021-08-11 17:31] sabin254 opened #3281 "Digital clock in C++"
### Proposed title of article
Digital clock in C++

### Introduction paragraph (2-3 paragraphs):
It is an application that allows for a personal clock that starts at a custom set time and shows the time from that point onwards.
It is a simple digital plan clock developed using  basic C++ concepts that show hour,minute and second.The requirement for this program are just the basic concepts of the d

[2021-08-11 17:31] lalith1403 commented on #3219
Thank you for the topic suggestion @James-Gitau, however, this is a bit outside of our preferred topic areas.
We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.
Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-11 17:52] #2718 closed

[2021-08-11 18:04] WanjaMIKE commented on #3281
@sabin254
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 18:45] #2751 closed

[2021-08-11 19:00] Juskam opened #3283 "How to build Simple server routing in php"
### Proposed title of article
How to build simple server routing in php

### Introduction paragraph (2-3 paragraphs):
A routing system is the part of the web application that maps an HTTP request to a request handler. An HTTP request consists of a header and optionally a body. The header contains information about the request.

A routing system works by mapping an HTTP request to a request handler

[2021-08-11 19:01] WanjaMIKE commented on #3283
@Juskam
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-11 20:09] carteblanchemunene commented on #3155
hello @hectorkambow what about this topic suggestion. Thank you

[2021-08-11 20:46] twish-254 opened #3284 "Creating a Shopping Cart using Arrays and Objects using vanilla JavaScript"
### Proposed title of article
Creating a Shopping Cart using Arrays and Objects using vanilla JavaScript

### Introduction paragraph (2-3 paragraphs):
There are many ways of building a shopping cart. In this tutorial, I will guide you on how to create a shopping cart using arrays and objects.

The approach that we will use looks as follows.

We will initially have 2 arrays. One holding the curated

[2021-08-11 21:02] fabulousDesigns commented on #3234
My article will have an overview of what Regex is all about and on top that I will use modern JavaScript and to wrap up the form will give learners some skills of what neumorphism is

[2021-08-12 00:15] muyiwexy opened #3287 "Building simple and interactive maps using leaflet.js"
## Building simple and interactive maps using leaflet.js
Your title should be descriptive of the article/tutorial. Be Specific. *Use keyword research to gain your article higher ranking.*

### Introduction paragraph (2-3 paragraphs):
Do you want to build your very own map?

Then you've come to the right place. In this tutorial, I'll show you how to build your own interactive map using leaflet.js.

[2021-08-12 02:18] Curiouspaul1 opened #3288 "How To Add Support For Spatial Data in your Database Using GeoAlchemy and Spatialite"
### How To Add Support For Spatial Data in your Database Using GeoAlchemy and Spatialite

### Introduction
When building certain kinds of applications, it is important to know what kind of data you'll be working with, so you can make adequate preparations to hold and process them. One such instance is when you need to work with spatial data - a typical example of which might be: storing location (

[2021-08-12 04:33] WanjaMIKE commented on #3284
@twish-254
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 04:34] WanjaMIKE commented on #3287
@muyiwexy
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 04:35] WanjaMIKE commented on #3288
@Curiouspaul1
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 05:06] WanjaMIKE commented on #3230
@NaomiSeint
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approve

[2021-08-12 06:05] Hariet-Kweva commented on #3254
Thank you @hectorkambow looking forward to hearing  from you soon.

[2021-08-12 06:29] Sajeyks commented on #3233
I will use a python package

[2021-08-12 07:32] Dankosgei911 commented on #3172
Question answered @WanjaMIKE
Please proceed with the approval process

[2021-08-12 07:47] WanjaMIKE commented on #3172
@Dankosgei911 I think downloading and installing these IDEs is quite straight forward. How will the article differ from official documentation. You have not answered.

[2021-08-12 08:09] WanjaMIKE commented on #2760
Closed #2760 via #3052

[2021-08-12 08:10] #2760 closed

[2021-08-12 08:26] owinojoseph opened #3290 "Reversing array in python"
### Proposed title of Article
Reversing array in python programming

### introduction
 An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally

[2021-08-12 09:17] Dankosgei911 commented on #3172
Update made @WanjaMIKE

[2021-08-12 09:25] WanjaMIKE commented on #3290
@owinojoseph
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 09:31] owinojoseph opened #3293 "Password validation form with CSS, JavaScript"
### Proposed title of article
How to create password validation form with CSS and JavaScript

### Introduction paragraph (2-3 paragraphs):
Password validation should contain strong input of numbers this can be: uppercase and lowercase letters, letters and numbers, special characters and should be 6 to 20 characters long.
### Key takeaways:
The reader should be able to understand how to:

- Create

[2021-08-12 09:59] James-Gitau commented on #3219
@lalith1403 This is noted. However, From your previous articles on your page
https://www.section.io/engineering-education/the-role-of-artificial-intelligence-for-smarter-cybersecurity/
explains the theoretical bits on machine learning the intentions of my article was to expound more on the  technicality interms of Threat hunting and Vulnerability Management.

[2021-08-12 10:23] NyongToro opened #3294 "Image Manipulation and upload with ReactJS, NodeJS and Cloudinary"
### Image Manipulation and upload with ReactJS, NodeJS and Cloudinary
### Introduction:
The rise in popularity of social media websites and applications such as Instagram, Facebook, TikTok, twitter, etc. has seen an astronomical rise in media and multi-media media upload by users of the internet.  The essential feature of modern social networking websites is the ability to handle media optimizatio

[2021-08-12 10:39] Koros-Meshack opened #3296 "Getting Started with Reverse TCP"
**Introduction**
Reverse TCP is an exploit where an attacker gains remote access to a victim's network or device. The attacker can make this happen by psychologically manipulating the victim into clicking a `payload` that grants remote access to the attacker.
A payload as stated above is a file or app commonly known as `virus` that contains encoded commands that when they are executed, give remote

[2021-08-12 10:45] WanjaMIKE commented on #3293
@owinojoseph
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 10:46] WanjaMIKE commented on #3293
@owinojoseph Unfortunately, you can only suggest one topic at a time - until the PR is published. I am closing this one.

[2021-08-12 10:46] #3293 closed

[2021-08-12 10:47] WanjaMIKE commented on #3294
@NyongToro
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 10:47] WanjaMIKE commented on #3296
@Koros-Meshack
Good afternoon and thank you for submitting your article for publishing.
Your article has been entered into our queue and should be reviewed (and published pending any changes) as soon as a peer reviewer is finished with the ones in the queue before it. 🚀
Thank you.

[2021-08-12 13:05] Anitaachu commented on #3271
I just noticed it is similar. I would close the issue and submit another. Thank you

[2021-08-12 13:05] #3271 closed

[2021-08-12 13:08] #2770 closed

[2021-08-12 13:13] ahmadmardeni1 commented on #3236
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any [relevant EngEd articles](https://www.section.io/engineering-education/search/?q=serverless) in yours and bu

[2021-08-12 13:42] ahmadmardeni1 commented on #3155
What do you think of this topic? @louisefindlay23 @WanjaMIKE @kayere

[2021-08-12 14:10] #3133 closed

[2021-08-12 14:41] #2914 closed

[2021-08-12 14:50] dentex22 commented on #3210
cc @WanjaMIKE

[2021-08-12 15:23] jumapaul opened #3298 "Solving Linear Equations in Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-12 15:36] sheldonaswani opened #3299 "Windows rootkit review, analysis and removal after a ransomware attack."
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-12 15:45] teevyne opened #3300 "Manipulating object states in Django using Finite State Machine"
### Proposed title of article
Manipulating object states in Django using Finite State machines

### Introduction paragraph (2-3 paragraphs):
Finite State Machine (FSM) is one of the most viable design patterns widely used in the software engineering world.  Imagine a requirement where, for any object, the present state of the object has to be changed to another state or a set of states, in respons

[2021-08-12 15:52] WanjaMIKE commented on #3298
@Koros-Meshack
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-12 15:52] WanjaMIKE commented on #3299
@Koros-Meshack
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-12 15:53] WanjaMIKE commented on #3300
@teevyne
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-12 15:55] WanjaMIKE commented on #2714
@hectorkambow opening so that I can create a PR

[2021-08-12 16:03] WanjaMIKE commented on #3233
Okay, noted.

[2021-08-12 18:53] Kikiodazie commented on #2837
Hey @ahmadmardeni1 again so sorry for late reply.

Yes I believe so. Currently don't have that unique idea right now would have to go through other blogs and content and see what’s missing that is vital and will make the article special.

But yes I believe I can.

I hope all this meets you well. Again sorry for late reply.

[2021-08-12 18:53] hectorkambow commented on #2789
@neheMaish  Can you please contact me via Slack??

We can not seem to find your information in our records - 🤔

[2021-08-12 20:18] Rmwamboi commented on #2759
hey @hectorkambow
a polite reminder please

[2021-08-12 20:43] hectorkambow commented on #3051
That may be a bit to vague to approve.

I do see you have opened another topic suggestion - we will review that one and close this one for now.

[2021-08-12 20:43] #3051 closed

[2021-08-12 20:46] hectorkambow commented on #3283
@Juskam

To help avoid a backlog queue, we are only accepting one article topic/pr approved at a time 👍 can be reopened once the first PR is merged.

[2021-08-12 20:46] #3283 closed

[2021-08-12 20:46] hectorkambow commented on #3063
@Juskam
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already)

[2021-08-12 20:47] Rmwamboi commented on #2759
Noted

[2021-08-12 20:48] #2982 closed

[2021-08-12 20:49] hectorkambow commented on #3294
@NyongToro
Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore.

[2021-08-12 20:49] #3294 closed

[2021-08-12 20:50] hectorkambow commented on #2715
@aidelojep
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:50] hectorkambow commented on #2779
@sumbaelvis
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:57] hectorkambow commented on #2804
@victorelvice
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:57] hectorkambow commented on #2805
@paulromans
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:58] hectorkambow commented on #2808
@Janenjoki
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:58] hectorkambow commented on #2816
@Alao-Abiodun
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:58] #2816 closed

[2021-08-12 20:58] hectorkambow commented on #2820
@mwangiKibui
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:58] #2820 closed

[2021-08-12 20:59] hectorkambow commented on #2827
@Erastuskanyatta
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:59] hectorkambow commented on #2828
@Bonimum
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 20:59] #2828 closed

[2021-08-12 21:00] hectorkambow commented on #2836
@hellenstacy7
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:00] #2836 closed

[2021-08-12 21:00] #2780 closed

[2021-08-12 21:01] hectorkambow commented on #2837
Lets just go ahead and close this one and submit a new topic form with the new idea. 👍 No rush - just want to clear up the backlog. 🚀

[2021-08-12 21:01] #2837 closed

[2021-08-12 21:02] hectorkambow commented on #2844
@phinakersly

Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:02] #2844 closed

[2021-08-12 21:02] hectorkambow commented on #2853
@SamoraCletus
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:03] Kikiodazie commented on #2837
No problem  @hectorkambow. Thanks.

[2021-08-12 21:05] hectorkambow commented on #2865
@Jethro-magaji
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:07] hectorkambow commented on #2866
@Pauline-Mwangi
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:08] hectorkambow commented on #2879
@Eztaezta
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-08-12 21:08] #2879 closed

[2021-08-12 21:46] zolomohan commented on #2861
@Joshuathuo I still don't think just writing about one function provides a lot of value. Maybe you can pick several string functions and then write about them whilst making sure you are not covering the same stuff from the docs or commonly covered use cases. Our goal here is to provide unique and valuable content to the readers. Please keep that in mind.

[2021-08-12 22:41] #2723 closed

[2021-08-13 00:10] Jethro-magaji commented on #2865
Am currently working on it and I will open a PR soon. @hectorkambow

[2021-08-13 00:23] #2722 closed

[2021-08-13 04:34] nancy-maina opened #3307 "Building a simple JavaScript router using Window Event Listeners"
### Proposed title of article
Building a simple JavaScript router using Window Event Listeners

### Introduction paragraph (2-3 paragraphs):
In a JavaScript application, the router is a component that is responsible for routing requests to their appropriate view.

It is responsible for displaying a view, and for determining which view to display based on the request. Consider a case scenario in a

[2021-08-13 06:55] neheMaish commented on #2861
@zolomohan  Thanks. Yeah, more especially the ones that I have stated above and also some others.

[2021-08-13 07:03] Joshuathuo commented on #2861
@zolomohan I agree with you , especially those that I have mentioned above and some others that I will have to cover

[2021-08-13 07:40] erixbiz opened #3309 "LRU Cache Implementation in Javascript"
Proposed title of the article
LRU Cache Implementation in C#

Introduction:
In-memory caches such as Memcached and Redis are key-value stores between your application and your data storage. Since the data is held in RAM, it is much faster than typical databases where data is stored on a disk. RAM is more limited than disk, so cache invalidation algorithms such as least recently used (LRU) can help

[2021-08-13 08:00] zolomohan commented on #2861
Yes. Please let me know what other string functions you'll be covering.

[2021-08-13 09:38] WanjaMIKE commented on #3307
@nancy-maina
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 09:38] WanjaMIKE commented on #3309
@erixbiz
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 09:39] #2786 closed

[2021-08-13 09:46] simonmwaniki commented on #3039
@ahmadmardeni1 the article is now fully ready for review.
cc @OMONDIELLY

[2021-08-13 09:51] MahanteshR opened #3311 "Build RESTful services in Go with an idiomatic approach."
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-13 10:14] Joshuathuo commented on #2861
Some others methods are
1 How to split a character using a non- matching character
2 How to split a string by each character

[2021-08-13 10:42] Alao-Abiodun commented on #2816
@hectorkambow Ok, No problem, I have actually completed my write-up for the topic, but am still unable to clone the repo on my system and I complained to you about it on slack. my slackName BlackAfricanDev, But I am still working on cloning when I am done with it.

[2021-08-13 11:19] mukono10 opened #3313 "Indexers in C#"
### Proposed title of article
Indexers in C#

### Introduction paragraph (2-3 paragraphs)
The concept of indexers is analogous to that of properties. In many aspects, indexers are similar to properties in terms of language features. Indexers make it possible to have indexed properties, which are properties that are referred by one or more arguments. Those arguments are used to create an index into

[2021-08-13 11:32] ianmasae opened #3314 "Creating a modal dialog with Tailwind CSS"
### Proposed title of article
Creating a modal dialog with Tailwind CSS

### Introduction paragraph (2-3 paragraphs):
A modal is a dialog box/popup window that appears on top of the main content requiring user interaction. A modal box disables the main content until the user explicitly interacts with the modal dialog. Modal dialogs are helpful because they give critical warnings to the user as a w

[2021-08-13 12:33] WanjaMIKE commented on #2632
@jerimkaura make sure you request this form to be reopened before submitting an issue.

[2021-08-13 12:34] WanjaMIKE commented on #2632
Closed #2632 via #3068

[2021-08-13 12:34] #2632 closed

[2021-08-13 12:47] WanjaMIKE commented on #3252
@MaurineM
Great topic 🚀 , make sure it matches the following:

Adds value beyond what is in the official docs and what is covered in other blog sites.
To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.
Please reference any relevant EngEd articles in yours and build a unique project - Approved. @NdoloBonface

[2021-08-13 12:49] carteblanchemunene commented on #3155
hello @ahmadmardeni1 the reviewers you referred replied with a thumbs up emoji. Waiting your instructions.

[2021-08-13 12:51] WanjaMIKE commented on #3234
@fabulousDesigns check out this `https://www.section.io/engineering-education/password-strength-checker-javascript/`. I see regex is covered there

[2021-08-13 12:53] jerimkaura commented on #2632
Alright.

[2021-08-13 12:55] WanjaMIKE commented on #3249
Please check out this article `https://www.section.io/engineering-education/functions-in-cpp/`.

[2021-08-13 12:58] WanjaMIKE commented on #3247
@prograte
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-13 13:00] WanjaMIKE commented on #3240
@watosole
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-13 13:03] WanjaMIKE commented on #3237
@del-ui
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites.
Please be sure to double check that it does not overlap with any existing EngEd articles or incoming topic suggestions (if you haven't already) to avoid any potential article closure, please reference any relevant EngEd articles in yours. - Approved

[2021-08-13 13:06] WanjaMIKE commented on #3246
@mumbi00 Kindly, is this a software-centric topic? Will you be building an application? We usually focus more on software topics rather other associated issues.

[2021-08-13 13:09] Dawe-7 commented on #3249
@WanjaMIKE, The article i will be writing will expound on functions and will not be the exact same as introduction to functions. The reader will be introduced to inline functions, what they are used to do and how to achieve shorter execution times using them.

[2021-08-13 13:12] WanjaMIKE commented on #3254
Hi, @Hariet-Kweva . Thanks for submitting a topic suggestion. From looking at your article idea, it seems that there is much we could add for to benefit readers but we're really looking for unique/original content, and based on the content provided, it seems that information that you intend to cover is already readily available through the documentation and other blog sites. Could you expand on th

[2021-08-13 13:13] WanjaMIKE commented on #3249
good topic @Dawe-7  - approved. Thanks for submitting your article and we look forward to reviewing and hopefully publishing it. I’m sure our readers will enjoy and find your article very beneficial. Let's make sure its not similar to `https://www.section.io/engineering-education/functions-in-cpp/`.

[2021-08-13 13:15] WanjaMIKE commented on #3210
@dentex22
Upon giving your article an overview it seems that there is much we could add for the reader(s). We're really looking for unique/original content, and based on the content provided, it seems that information that you intend to cover is already readily available through the documentation or via many other blog sites.

[2021-08-13 13:15] #3210 closed

[2021-08-13 13:16] WanjaMIKE commented on #3217
@lalith1403 what do you think of this issue

[2021-08-13 13:19] WanjaMIKE commented on #3311
@MahanteshR
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 13:22] WanjaMIKE commented on #3313
@mukono10
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 13:23] WanjaMIKE commented on #3314
@ianmasae
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 13:30] jerimkaura opened #3316 "File handling with Flutter"
### Proposed title of the article
File handling with Flutter

### Introduction paragraph (2-3 paragraphs):
There are instances where one would need to download a write into, read from upload, or download a file while using flutter. This is where one will apply file handling effectively. Take for instance an application like Google Photos that reads image files from your mobile device and uploads t

[2021-08-13 14:07] ahmadmardeni1 commented on #3155
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours - Approved. @carteblanchemunene

[2021-08-13 14:22] vincentkims49 opened #3318 "How to Parse JSON in Dart/Flutter"
### Proposed title of the article
How to Parse JSON in Dart/Flutter

### Introduction paragraph (2-3 paragraphs):
Parsing JSON is a very common task for apps that need to fetch data from the Internet. It is hard to imagine a mobile app not needing to communicate with a web server or store structured data at some point. When making network-connected apps,  it needs to consume some good old JSON.

T

[2021-08-13 14:41] fabulousDesigns commented on #3234
@WanjaMIKE thanks for the heads up but i was going to write something totally different from what you had suggested earlier.I have decided to change the issue to Socket Programming in PHP😊.

[2021-08-13 15:05] WanjaMIKE commented on #3316
@jerimkaura
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 15:06] WanjaMIKE commented on #3318
@vincentkims49
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-08-13 15:44] Kayere commented on #3277
Good topic @domiwanja  - approved. Thanks for submitting your article and we look forward to reviewing and hopefully publishing it. I’m sure our readers will enjoy and find your android article very beneficial.

[2021-08-13 15:58] Anitaachu opened #3320 "Working with GeoDjango"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-13 16:16] kimkimani commented on #3144
@ahmadmardeni1, I think it's all good now, requesting reopening.

[2021-08-13 18:19] jaykip commented on #3148
@ahmadmardeni1 My focus is sensitizing the reader on how they may become victims of brute force attacks and how to avoid such occurrences by deploying various protection tactics.

[2021-08-13 18:23] valerio140 commented on #3278
@Kayere I will create a new app that is completely unique to the existing documentation. Thanks

[2021-08-13 18:40] NyongToro opened #3321 "Transitioning from Bootstrap to Semantic UI React"
### Transitioning from Bootstrap to Semantic UI React
### Introduction:
Website styling and design is an integral part of front end web development and web developers are expected to make available a flawless web design to optimize user experience and interaction.
Bootstrap has been the leading library in web styling and favored by many developers untill now. Semantic UI React and other modern des

[2021-08-13 18:48] Kayere commented on #3278
Good topic - approved. Make sure to add more unique content to differentiate your article from the official documentation. Looking forward to reviewing your article🚀.

[2021-08-13 19:00] Muchiri021 opened #3322 "Getting started with Python PIP"
### Proposed title of the article
Getting started with Python PIP

### Introduction paragraph (2-3 paragraphs):
A package is a piece of software that provides particular features while programming. A package contains all the resources which a module requires. Modules are sets of Python code that we can add to our project. Python pip is the package manager for Python packages.

### Key takeaways:
-

[2021-08-13 19:10] GeoffreyKangu opened #3323 "Data encoding techniques"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources-pa

[2021-08-13 19:11] Robbiewanjau opened #3324 "Tcp/Ip and Subnet Masking Made Familiar"
### Proposed title of article
Tcp/Ip and Subnet Masking Made Familiar

### Introduction paragraph (2-3 paragraphs):
Transmission Control Protocol/Internet Protocol (TCP/IP) is a set of communication protocols that are used to link network devices on the internet. In a private computer network, TCP/IP is also used as a communications protocol (an intranet or extranet).
TCP/IP refers to the whole IP

[2021-08-13 19:42] ahmadmardeni1 commented on #3144
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any [existing EngEd articles](https://www.section.io/engineering-education/search/?q=flask) or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a

[2021-08-13 19:56] ahmadmardeni1 commented on #3148
Thank you for submitting your topic. @jaykip
But it is better to close it. We are looking for programmer-centric concepts explained in fun and intuitive ways.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-13 19:56] #3148 closed

[2021-08-13 21:26] VickkyCletus opened #3325 "Creating a PDF file from a component in Vue"
### Creating a PDF file from a Component in Vue
### Introduction:
Vue provides an array of functionalities in web development and one of the numerous features includes creating and exporting a pdf file from a component. The implementation of the above will be discussed in detail along with the recommended packages and dependencies subsequently in this article.
### key takeaways:
This article will

[2021-08-13 21:52] mia-roberts opened #3326 "Working with Flutter timelines"
### Proposed title of article
Working with Flutter timelines

### Introduction paragraph (2-3 paragraphs)::
You can think of timelines as progress indicators which shows the current level of a larger process. Timelines are useful when one needs to calculate percentage of completion of a task.

In this tutorial we will be building an example of task completion application in fluttuer to explain how

[2021-08-13 22:41] Olanetsoft opened #3327 "How to Build, Test and Deploy a NodeJs Application With Jenkins"
### Proposed title of the article
How to Build, Test and Deploy a NodeJs Application With Jenkins

### Introduction paragraph (2-3 paragraphs):
Node.js is a scalable network application builder that uses an asynchronous event-driven JavaScript engine. Furthermore, because Node.js has no locks, users do not have to worry about the process becoming deadlocked. Because almost no Node.js function does

[2021-08-14 03:18] #3064 closed

[2021-08-14 08:28] somtobe opened #3330 "Responsive flutter design using MediaQuery Class"
### Responsive Flutter design using MediaQuery Class and responsive_framework

### Introduction paragraph (2-3 paragraphs):
Creating flutter applications for various screen sizes can be a hassle when you are new to flutter. Designs and layouts you write on a particular screen size may not reflect the features you want eloquently as you would expect.  The reason being that different screens have di

[2021-08-14 08:39] IsaacMuthini opened #3331 "Different Methods for Flattening a Dictionary in Python"
### Proposed title of article
Different Methods for Flattening a Dictionary in Python

### Introduction paragraph (2-3 paragraphs):
A flattened dictionary? Why would i need that? There a couple of reasons why you need a flattened dictionary.
One of them is that it makes it simpler to compare and contrast and also if that ain't enough a flattened dict is easier to navigate and manipulate.
In this t

[2021-08-14 09:47] OkothPius opened #3334 "Implementing Flask API using Linked list Data Structure"
### Proposed title of article
Implementing Flask API using Linked list Data Structure

### Introduction paragraph (2-3 paragraphs):
Understanding data structures is an important aspect when developing applications. While this is an important aspect is a software lifecycle most developers struggle in implementing these core features when building real-world applications.

In this article, we will b

[2021-08-14 10:26] #2908 closed

[2021-08-14 10:39] ahmadmardeni1 commented on #3268
We do already have [an article](https://www.section.io/engineering-education/how-to-send-email-in-django/) covering this topic using Django. @jamila-laureen

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-14 10:39] #3268 closed

[2021-08-14 10:41] ahmadmardeni1 commented on #3274
We do already have [an article](https://www.section.io/engineering-education/nmap-network-scanner/) covering this topic.

Please feel free to suggest an alternate topic to explore. 🚀

[2021-08-14 10:41] #3274 closed

[2021-08-14 10:44] ahmadmardeni1 commented on #3287
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @muyiwexy

[2021-08-14 11:16] mosesreigns opened #3337 "How to set up and Build an Vue app with a Flask and MySQL backend using Docker"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-08-14 15:39] louisefindlay23 commented on #2927
@ahmadmardeni1, would you be able to review this topic suggestion since you have knowledge about cyber security?

[2021-08-14 15:43] louisefindlay23 commented on #3139
@mussooo, great topic. Make sure you provide a good number of hacks and go into lots of detail to provide enough value and uniqueness to our readers. Topic approved 🚀.

Also, template literals might be a nice thing to cover also.

[2021-08-14 15:47] louisefindlay23 commented on #3248
Hi, @ochienglydia. Sounds great and very comprehensive. Topic approved 🚀. Please ensure you provide enough detail to benefit our readers and uniqueful insights to add extra value above similar tutorials.