[2020-07-03 12:17] auxesis opened #125 "Screenshot PR changes fails on forks"
`git clone`s are failing on pretty much all PRs at the moment.

On #105 [specifically](https://github.com/section-io/engineering-education/pull/105/checks?check_run_id=824094165):

[code]

This probably points to the wrong repo.

[2020-07-03 12:45] auxesis commented on #125
Looks like this is a [limitation of GitHub Actions](https://docs.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#using-encrypted-secrets-in-a-workflow):

[2020-07-13 02:01] auxesis commented on #125
Proposed way of fixing this:

- Create a new GitHub Actions workflow on section-io/engineering-education that triggers like this:
[code]
- Have the new workflow trigger another workflow in the private website repo, while passing the ID of the engineering-education PR.
- This workflow pulls the existing PR branch, does the screenshot, and posts it on the PR.

[2020-09-16 19:09] ninjaginja opened #321 "Test New Idea Submission"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?

### References:
Please list links to any published content/research that you intend to use to support/guide this article. (If none, please indicate 'N/A'.)

[2020-09-16 19:22] #321 closed

[2020-09-16 20:12] Tsanguu opened #322 "MySQL Query Performance Optimizations Tips"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
This article will cover different ways in which we can optimize MySQL queries. The goal is tom to improve performance. As data volume grows, it is important to optimize MySQL database. This will ensure that end-users get a good experience as well as reduce the cost of infrastructure.

### Key Takeaways:
What

[2020-09-16 22:39] damikanye opened #323 "What is Cybersecurity"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
- The article talks about Cybersecurity-The internet is a vast place, and most people are not experts on protecting the information about them that is available. It’s no surprise that there are people out there who take advantage of others’ ignorance. But there are ways to protect yourself from those kinds of

[2020-09-17 13:11] adithigiridharan opened #324 "A Not-So-Genie Introduction to Numpy"
### Brief Summary:
Numpy is one of the most fundamental libraries for data science and machine learning. General knowledge of the functionalities of the library can take a long way in one's data science / machine learning journey. In this article, we'll see why vectorization has paved the way for  scientific computation and talk about the most used (and the most important) methods of Numpy.

### K

[2020-09-17 19:18] kimkimani opened #326 "Javascript Date manipulation with date-fns"
### Brief Summary:
At times during the development process, we constantly jump into date objects and we need tools to assist us to handle those instances. Date-fns is a lightweight date library that provides comprehensive functions toolset for date formating and manipulation with a lot of simplicity. There are two big players (MomentJS and date-fns) when it comes to javascript date management. Thi

[2020-09-18 13:42] param31 opened #329 "iOS Development"
### Brief Summary:
Will create a app using Swift and Xcode to let the user learn about iOS Development.

### Key Takeaways:
This would be the first step towards iOS Development for the user to see themselves if they like to see themselves coding an iOS app.
The tutorial will be using GIFs for better understanding.

[2020-09-19 06:20] MahanteshR opened #331 "Data binding with Angular"
### Brief Summary:
Data binding is the reflection of the logic in a model to the view of an app. If the variable changes, the view must update the DOM to reflect the new changes. It is one of the core concpets of the Angular Framework and has been hanging out through the storm of all versions released till now.

### Key Takeaways:
Important Takeways :
* The need for data binding.
* Types of data b

[2020-09-19 15:31] lalith1403 opened #332 "Buffon's Needle"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Buffon's needle is a mathematical problem that estimates the value of pi using probability. Being a very exciting problem, I have tried to code the same using Python. The reader will be able to appreciate the elegance of the solution proposed and be curious to know more about the field of geometric probabilit

[2020-09-19 17:11] botahamec opened #333 "Tiny Hello World"
### Brief Summary:

I'll be explaining how to make  the smallest Hello World program possible in Linux. This will involve using Assembly and playing around with ELF headers.

### Key Takeaways:

- What is ELF?
- Assembling raw binaries in Assembly
- Tricks for optimizing Assembly code

### References:

- https://www.muppetlabs.com/~breadbox/software/tiny/teensy.html
- https://dev.to/pelock/assembl

[2020-09-19 20:30] Tsanguu opened #335 "Mysql query optimization using indexes with examples"
### Brief Summary:
This article is a comprehensive tutorial on MySQL database optimization using Indexes. It will cover an introduction to indexes with practical examples.

### Key Takeaways:
Introduction to MySQL Index
How MySQL index is used in database optimization
How to choose best indexes for MySQL query optimization
Testing query performance before and after use of Indexes practical example

[2020-09-20 19:31] cyberShaw opened #337 "Article - Using the Binary Heap in Python ⚡"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

A binary heap is a special data structure that resembles a binary tree. It differs by the property that the root of any subtree should be the smallest or the largest element.
In a minheap, the root is the smallest element and in a maxheap, the root is the largest element.
In this article, we would learn how

[2020-09-21 08:28] JudyNduati opened #338 "Introduction to Neural Networks"
### Brief Summary:
Neural Networks and Deep Learning are big topics in the technology industry. Neural Networks are a functional unit of Deep Learning. DL uses Neural Networks which mimics the Human Behaviour to provide solutions to problems in Object Recognition, Speech Recognition, etc. This article aims to cover an overview of Neural Networks.

### Key Takeaways:
1. Understanding Neural Network

[2020-09-21 13:56] collins-a opened #340 "Feature Engineering in Machine Learning: An Overview"
# Brief Summary

Describe the what, why, and how of your content idea in 2-5 sentences.

The features used in a machine learning model are often the difference between model success and failure. Therefore, it is not enough building models but making sure they offer the best possible performance. The process of feature engineering ensures.

# Key Takeaways:

What are the 3-5 most important things t

[2020-09-21 15:35] collins-a opened #343 "Introducing GPT-3"
### Brief Summary:

Generative pre-trained transformers are language models that produce human-like text. These models make it easier to develop machine learning applications while also providing a way in for people with little tech background to develop said applications. GPT-2 was massive, with about 1.5 billion parameters. The magnitude of this new model blows its predecessor out of the water b

[2020-09-21 20:16] ninjaginja commented on #343
sounds like an interesting topic @collins-a

[2020-09-21 20:21] botahamec commented on #343
I'm glad you're talking about this. I have an article in my backlog about AI safety already, but it's good to at least mention it when talking about GPT-3

[2020-09-21 20:29] botahamec commented on #338
You and @collins-a might want to make sure you're not doing the same topic

[2020-09-21 20:31] collins-a commented on #343
@botahamec sure thing. I'd love to read/reference the article on AI safety if applicable to this topic

[2020-09-21 20:34] kimkimani opened #345 "SQL or NoSQL?"
### Brief Summary:
Knowing which database structure to use is critical even before the kickoff between development to deployment of your application. We will jump into these two database structures and explore them deeply and understand how they work. By the end of this topic, learners will understand: what is SQL/NoSQL, key differences, key features, their structures, and application of each with

[2020-09-21 20:35] collins-a commented on #338
@botahamec definitely. My GPT-3 topic will strictly deal with transformer language models like GPT and BERT.

[2020-09-21 22:26] ninjaginja commented on #345
good topic @kimkimani

[2020-09-23 14:17] cyberShaw opened #349 "Article - Create and Deploy NPM Packages"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Node modules are packages that are used with web applications. Web frameworks, APIs, libraries are all created as node modules. In this article, let us look at how to create a basic node module and publish it to the npm package repository.

### Key Takeaways:
What are the 3-5 most important things the reader

[2020-09-23 15:10] ninjaginja commented on #349
Great! Thanks for transferring to an issue per the new process.

[2020-09-23 18:53] EKahuha opened #351 "Continuous Delivery, Continuous Deployment, and Continuous Integration in DevOps"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Application developers are required to deliver code changes reliably and frequently. CI/CD is a key practice that enables software development teams to meet code quality and security.
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this art

[2020-09-23 19:07] ninjaginja commented on #351
Thanks for the content suggestion @EKahuha . We already have quite a bit of this topic covered on our [blog](https://www.section.io/blog/edge-configuration-management-cd-pipeline/). I just want to be sure that you're able to deliver unique value with your content, as opposed to regurgitating information that is already widely available. Do you feel like you'll be able to approach this from an angl

[2020-09-23 19:19] EKahuha commented on #351
I will read through the blog and note what has already been covered around this topic. Am sure to deliver unique content.

[2020-09-24 00:27] CodeLeom opened #352 "Getting started with Browser-sync"
### Brief Summary:
As a web developer or upcoming developer, it is essential to have a local server that can help in serving your project through a server like environment. This gives you access to see how your project will look like in production, its important when building a project that http/https protocols is needed I.e PWA enabled project.

### Key Takeaways:
You will learn how to use Browse

[2020-09-24 07:14] KiokoM opened #353 "Contigency and Planning"
### Brief Summary:
In the current world, most organizations operate with no backup plan in their operations. On this article we dive into why contigency plans are needed and some steps to take in implementing them

### Key Takeaways:

- what is are Incident response plans(IRP), Disaster recovery plans(DRP) and Business continuity Plans(BCP).
- How to structure the plans
- Implementation of the pla

[2020-09-24 07:31] Chinmay-KB opened #354 "Flutter vs React, which is a better cross-platform framework"
### Brief Summary:
A few hours ago Flutter for Windows was released in alpha, which now officially brings it in the range of overtaking react in terms of cross platform. This article will summarize the pros, cons and the current trend of cross platform frameworks
### Key Takeaways:
* Why cross platform frameworks are the future
* Pros and cons of flutter and react native/electron
* Laymans explana

[2020-09-24 15:17] geoffrey45 opened #357 "Objects, Arrays and Destructuring in JavaScript"
### Brief Summary:
Understanding Objects, arrays and E6 destructuring is a key tip in writing good JavaScript code. Mastering these skills will help prevent common syntax errors.

### Key Takeaways:
- Object assignment using dots
- Accessing objects using dots
- Arrays
- Array methods
- Difference between  arrays and objects
- The bracket notation
- Value assignment in arrays
- ES6 destructuring

[2020-09-24 16:47] ninjaginja commented on #352
great topic @CodeLeom

[2020-09-24 16:49] ninjaginja commented on #353
@KiokoM This topic doesn't really align with our target topic areas. We look for more technical articles related to web technologies. I'd suggest taking a look through the existing content to get other ideas. I'm going to go ahead and close this issue.

[2020-09-24 16:49] #353 closed

[2020-09-24 16:51] ninjaginja commented on #354
sounds like a great topic @Chinmay-KB

[2020-09-24 16:52] ninjaginja commented on #357
good topic @geoffrey45

[2020-09-24 18:39] lalith1403 opened #358 "Implementation of K-Means Clustering Algorithm from Scratch"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
K-means is an unsupervised learning algorithm. Usually libraries are used to implement K-means algorithm. Implementing from scratch gives us an in-depth understanding of the algorithm and the ability to design better algorithms.
### Key Takeaways:
What are the 3-5 most important things the reader should under

[2020-09-24 19:49] ninjaginja commented on #358
great topic @lalith1403

[2020-09-25 05:59] Bayler opened #359 "Introduction to Reinforcement Learning (RL)"
### Brief Summary:
Reinforcement Learning (RL) is a branch of machine learning (ML). It is an ML technique that enables an agent to learn in an interactive environment by trial and error using feedback from its own actions and experiences.
As compared to other unsupervised learning algorithms, reinforcement learning is different in terms of its goals. While the goal in unsupervised learning is to

[2020-09-25 13:28] ninjaginja commented on #359
good topic @Bayler

[2020-09-25 14:00] adrianmurage opened #360 "How to Set up Nginx on an Ubuntu 18.04 Virtual Machine on AWS"
### Brief Summary:
This is part one of a series that leads up to covering caching in Node.js using Section's varnish Cache.

### Key Takeaways:
This article picks up after [setting up a VM on  AWS](https://www.section.io/engineering-education/setup-ssh-ubuntu-vm-aws/)
Guiding you on how to setup an Nginx server.
### References:
[Nginx documentation](https://nginx.org/en/docs/)

[2020-09-25 14:05] adrianmurage opened #361 "How to deploy a Nodejs app on an Ubuntu 18.04 Virtual Machine on AWS with an Nginx server"
### Brief Summary:
This article is part two on a series that leads up to caching in Node.js using Section's Varnish cache.
The Nodejs app that will be deployed is covered in [How To Build and Test a Node.js REST API with Express on Ubuntu 18.04](https://www.section.io/engineering-education/building-a-basic-api-with-nodejs/)
### Key Takeaways:
The reader will understand how to setup Nginx to serve

[2020-09-25 14:14] adrianmurage opened #362 "How to deploy a Nodejs app on the Section Platform."
### Brief Summary:
This is part three of a series that leads up to covering caching in Node.js using Section's varnish Cache.
The Nodejs app that will be deployed is covered in [How To Build and Test a Node.js REST API with Express on Ubuntu 18.04](https://www.section.io/engineering-education/building-a-basic-api-with-nodejs/)
### Key Takeaways:
The reader will gain a basic understanding of what t

[2020-09-25 14:27] adrianmurage opened #363 "Caching. The theory behind it."
### Brief Summary:
This article is part four on a series that leads up to caching in Node.js using Section's Varnish cache.
Covering what Caching is, how it is achieved and when it is used.
### Key Takeaways:
The reader will gain an understanding of Proxys and Reverse Proxys.
The reader will understand what caching is and know caching options in the market.
The reader will understand when it is ne

[2020-09-25 14:37] adrianmurage opened #364 "How to Cache a Node.js API with Sections Varnish cache."
### Brief Summary:
This article is part five(the last part) on a series that leads up to caching in Node.js using Section's Varnish cache.
Covers extending the api built on [How To Build and Test a Node.js REST API with Express on Ubuntu 18.04](https://www.section.io/engineering-education/building-a-basic-api-with-nodejs/) and caching the API with section's varnish cache

### Key Takeaways:
How to

[2020-09-25 14:38] ninjaginja commented on #363
@adrianmurage I think there are opportunities to consolidate some of this series content. For example, this caching theory article could likely serve as an intro to one of your other suggested articles. We try to steer away from extensive series articles to reduce the burden on the reader to click around to find content. All articles need to be able to stand on their own to present clear and compl

[2020-09-25 16:19] adithbharadwaj opened #366 "Introduction to Apache Airflow"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Apache Airflow is a platform to programmatically author, schedule, and monitor workflows. It is designed to manage, maintain, and test workflows in pure python. This article will introduce the reader to the basics of airflow, how to install it and run programs.

### Key Takeaways:
What are the 3-5 most import

[2020-09-25 16:48] ninjaginja commented on #366
great topic @adithbharadwaj

[2020-09-25 17:10] Bayler commented on #359
Thank you @ninjaginja I'll commence writing the article

[2020-09-25 19:13] kimkimani opened #367 "Understanding Node.js Asynchronous Flows"
### Brief Summary:
Async is a utility module that provides straight-forward, powerful functions for working with asynchronous flow control for JavaScript. Async utility has a number of control flows. The article will discuss the most popular ones and their use cases:

### Key Takeaways:
1.  Serial
2.  Parallel
3.  Waterfall and
4.  Queues

### References:
https://caolan.github.io/async/v3/docs.htm

[2020-09-25 20:00] ninjaginja commented on #367
great topic @kimkimani

[2020-09-26 06:48] #332 closed

[2020-09-27 13:06] adrianmurage commented on #363
@ninjaginja
I see. I could tie this up with #364 and have it serve as the intro to the article.
Thank you for your input.

[2020-09-27 18:15] LinusMuema opened #371 "Kotlin Ranges"
### Brief Summary:
Before Kotlin came in to save the day, loops were the best solutions for various iterations solutions. But this proved to be a tedious way to iterate in some cases. This article aims to show how to use Kotlin ranges to perform various actions and show the comparison between using the old ways and using ranges.

### Key Takeaways:
1. What are Kotlin ranges
2. How to use Kotlin ra

[2020-09-27 18:42] Bayler opened #373 "Differences between Artificial Intelligence, Machine Learning and Deep Learning explained"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
These three terms, Artificial Intelligence, Machine learning and Deep Learning often overlap and are easily confused by readers.

**Artificial Intelligence (AI)** refers to the ability of computers to think and mimic actions displayed in humans.
**Machine Learning (ML)** is a sub-field of AI that gives comput

[2020-09-27 23:40] #337 closed

[2020-09-27 23:56] BeyondInfinities opened #374 "Dimensionality Reduction techniques"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
What? The article will summarize the need for dimensionality reduction and different techniques for it.
Why? To help people make data-driven choices and help them visualize higher dimension data.
How? We will introduce three main methods t-Distributed stochastic neighbor embedding
, Uniform manifold approxima

[2020-09-28 06:38] cyberShaw opened #375 "Graph Data Structure in Python - Part 1"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Graphs are non-linear data structures. Graph Theory is the theory of the properties and applications of the graph data structure. Graphs can be used to represent almost any problem, which makes them extremely versatile.
In this article, we'll be looking at an overview of graphs, the different types of represe

[2020-09-28 08:17] jwk19 opened #376 "What is 5G? Everything you need to know about 5G Network."
### Brief Summary:
5G is the fifth generation technology standard for cellular networks. It is the planned successor of the 4G network which enables connectivity to most cellular phones. 5G networks are a game changer that will drive innovations and transform the way we live, work and play. This is the next generation of mobile internet connectivity; faster internet speeds and more reliable connec

[2020-09-28 10:04] KiokoM opened #378 "Types of Styling in CSS"
### Brief Summary:
Here we look at the different methods of styling in CSS and how they affect a project during development or in production.

### Key Takeaways:
The different types of styling
Advantages of each style
Disadvantages of each style
When to apply a specific style

### References:
N/A

[2020-09-28 12:15] jwk19 opened #379 "Zero-Day Vulnerability"
### Brief Summary:
Zero-Day vulnerability is software vulnerability discovered by attackers before the software vendor realizes the flaw thus  exploiting it into a weapon. This article will look at how Zero-Day attacks are implemented by attackers, examples of such attacks, current trends as well as protection and prevention.

### Key Takeaways:
What is a Zero-Day vulnerability?
Characteristics of

[2020-09-28 14:09] lalith1403 opened #380 "Advanced Programming Concepts in R"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Having discussed the basics of R programming in the first article, I will be discussing some advanced topics of R and their applications.  This article will give a complete working knowledge of R and will help the reader write and understand code on their own. It will also help in implementing various machine

[2020-09-28 15:32] lucasm08 opened #382 "How to use useContext and useReducer hooks?"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
For a long time, we used Redux a state management system tool for React applications.
With the advent of React Hooks, especially with the new context API,  the use of the Redux as the only state management tool has become mitigated. React's context API will ultimately replace Redux as they almost fill the sam

[2020-09-28 16:01] ninjaginja commented on #371
sounds like an interesting topic @LinusMuema

[2020-09-28 16:02] ninjaginja commented on #373
good topic @Bayler

[2020-09-28 16:02] ninjaginja commented on #374
good topic @BeyondInfinities

[2020-09-28 16:04] ninjaginja commented on #375
good topic @cyberShaw

[2020-09-28 16:05] ninjaginja commented on #376
good topic @jwk19

[2020-09-28 16:08] ninjaginja commented on #378
Thanks for the topic suggestion @KiokoM. The summary that you've provided is rather vague, so it's difficult for us to determine whether your article is expected to have sufficient depth and value for readers. Could you expand a bit upon the key takeways that you've listed?

[2020-09-28 16:08] ninjaginja commented on #379
good topic @jwk19

[2020-09-28 16:10] ninjaginja commented on #380
great topic @lalith1403  - I see that you've already linked a PR to this suggestion 👍

[2020-09-28 16:11] ninjaginja commented on #382
good topic @lucasm08

[2020-09-28 16:14] lalith1403 commented on #380
I finished writing the article... Forgot to create the suggestion. Hence, have linked it.

[2020-09-28 17:09] KiokoM commented on #378
Hi,
For the CSS styling, I'll be covering
- local styles; where you define your CSS within the HTML element
- Page-Level styles; The stying if defined on the page's header area
- External styles; The styling is defined in a separate document and linked
to the page.

After diving into this different styling methods, I'll expand on the best
advantages of each and the best use scenario for each style

[2020-09-28 17:17] ninjaginja commented on #378
Thanks for expanding on what you intend to cover in the article. Sounds like a good topic 👍

[2020-09-28 17:26] KiokoM commented on #378
Does that mean I can proceed with it?

On Mon, Sep 28, 2020 at 8:18 PM Molly Wojcik <notifications@github.com>
wrote:

[2020-09-28 17:28] ninjaginja commented on #378
yep, all good!

[2020-09-28 18:08] collins-a opened #383 "Handling Machine Learning Bias"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

We are increasingly dependent on machine learning in our daily lives. An example is in the every-day products we use. However, these algorithms are created by human beings. As a result, algorithms may contain the same biases humans possess. An algorithm displaying say, sexist or racist bias has potential to

[2020-09-28 18:59] ninjaginja commented on #383
Excellent (and very relevant) topic @collins-a

[2020-09-28 21:13] collins-a commented on #383
Thanks @ninjaginja! I'll give it my best

[2020-09-28 21:14] #349 closed

[2020-09-29 08:52] Bayler commented on #373
Thank you

[2020-09-29 14:03] lalith1403 opened #386 "Deciphering the Various Roles in Data Science Industry"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The data science industry has been expanding rapidly. The job roles that exist today did not exist five years ago. Therefore, a lot of disambiguity exists in roles description. This article aims to define the various positions and their specific roles.

### Key Takeaways:
What are the 3-5 most important thing

[2020-09-29 14:20] ninjaginja commented on #386
good topic @lalith1403

[2020-09-29 16:44] Bayler opened #388 "An Introduction to Graph Neural Network"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Graph Neural Networks have over the years increasingly gained popularity. This is due to their expressive power and explicit representation of graphical data.
A Graph Neural Network is simply a type of neural network which operates solely on a Graph Structure. They extend neural network models to capture info

[2020-09-29 17:37] ninjaginja commented on #388
Good topic @Bayler . My only comment would be to try to incorporate as many (original) examples as you can to illustrate the concepts.

[2020-09-29 19:25] kimkimani opened #389 "An absolute beginner guide on NPM"
### Brief Summary:
The whole ecosystem of Node.js is based on tools such as NPM. This will be a complete guide on how to use Node Package Management (NPM). The guide will be very beginner-friendly with key points to get started with NPM as well as advanced points such as npm auditing and npx.

### Key Takeaways:
•	Using NPM
•	NPM init
•	Node_modules
•	Installing Modules in Local Mode and Global Mo

[2020-09-29 19:40] ninjaginja commented on #389
Thanks for the topic suggestion @kimkimani. We've published some NPM-related articles previously. Please make sure that your article presents unique content that has not yet been covered within the EngEd community. You can access a quick search of these articles [here](https://www.section.io/engineering-education/search/?q=npm).

[2020-09-29 19:51] Bayler commented on #388
Thank you. I'll try incorporate as many original examples as I can.

[2020-09-29 19:54] kimkimani commented on #389
Thank you Molly.
Every Node.js article will at point direct to NPM primarily to install frameworks and libraries. But there isn't that guide on how to use NPM and I instead to dig on how to use NPM

[2020-09-29 20:46] ninjaginja commented on #389
Thanks for the follow-up @kimkimani . Based on your last message, I just want to be sure that you're delivering original content and not simply repeating what already exists in NPM documentation. Assuming that's the case, please proceed as intended.

[2020-09-29 23:15] DaudaAbba opened #391 "Adopting Market Analytics for Enterprise Data Assets"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

In today's rapidly evolving market climate, information and communication technology developments are taking place at a very rapid rate. As a result, companies are under intense pressure to adapt rapidly, be competitive, and find new opportunities. The
amount of data collected by organizations today is also

[2020-09-30 00:02] ninjaginja commented on #391
Great topic @DaudaAbba ... and really appreciate the clearly defined direction and takeaways of the content that you intend to develop! Look forward to reading the polished article :)

[2020-09-30 18:01] lalith1403 opened #396 "Using the GitHub Command Line Interface"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Github CLI has been the most recent addition in the space of version control. Earlier, except for a few commands, the majority of those were dealt with on the website. Now, it is possible to merge branches, create pull requests, etc. using Github CLI.
### Key Takeaways:
What are the 3-5 most important things

[2020-09-30 18:13] kimkimani commented on #396
@lalith1403 you are a lucky man 😄😄😄. I had shortlisted this topic to write on in the coming days. All the best mate.

[2020-09-30 20:05] DaudaAbba commented on #391
Thanks very much @ninjaginja

[2020-10-01 12:24] domitechnshimba opened #398 "How TEAM Work or Collaboration Influences the Productivity of Developers"
### Brief Summary:
In this article, we are going to be looking at "How to build a team that Collaborates". Building a successful team is more than finding a group of people with the right mix of professional skills.

### Key Takeaways:
1. You Have to Create a Clear Map.
2. You Need to Have a Shared Scoreboard.
3. You Have to Create Your Team's Culture.

[2020-10-01 13:56] ninjaginja commented on #398
Thanks for the topic suggestions @domitechnshimba . This content doesn't align with the technical content that the program is geared around. If you need some ideas or guidelines, please peruse the [EngEd articles](https://www.section.io/engineering-education/) and/or check out our [contribution guidelines](https://github.com/section-io/engineering-education/blob/master/CONTRIBUTING.md). I'm going

[2020-10-01 13:56] #398 closed

[2020-10-01 14:39] lalith1403 commented on #396
Good morning @ninjaginja, Can I proceed with this topic?

[2020-10-01 14:42] ninjaginja commented on #396
yep, good topic @lalith1403

[2020-10-01 14:47] kimkimani commented on #396
It is a good topic @lalith1403 Only that my approach was different, it was more of a guide since it is a new tool for getting started with the CLI

[2020-10-01 15:25] kimkimani opened #399 "JavaScript iterations. Which one is fast?"
### Brief Summary:
Comparing the speed of JavaScript iteration structures While, For, forEach() and For…of.
JavaScript has different iteration statements. They offer a quick and easy way to do something repeatedly. But which one is the Fastest?. This article is ideal to discuss and find out the fastest Loops to iterate your script.

### Key Takeaways:
1. While
2. For
3. forEach()
4. For…of
5. For…

[2020-10-01 16:50] #326 closed

[2020-10-02 13:25] rohanreddych opened #403 "Advanced Generative Neural Networks"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

[This eng-ed article](https://www.section.io/engineering-education/introduction-to-generative-adversarial-networks/) describes the basics of GANs, I would like to continue the article by giving more information, architectures of different types of GANS and a tutorial on generating images with GAN.

### Key T

[2020-10-02 13:31] adithbharadwaj opened #404 "How to use pandas for data analytics"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Pandas is a popular data science library in Python. This article will be a tutorial on the basics of pandas and how pandas can be used for data analytics and data wrangling.
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
1. T

[2020-10-02 15:56] ninjaginja commented on #403
good topic @rohanreddych

[2020-10-02 15:56] ninjaginja commented on #404
good topic @adithbharadwaj

[2020-10-02 19:28] cyberShaw opened #405 "Writing Efficient and Blazing Fast HTML using Emmet"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Writing markup could be really taxing and time-consuming. But HTML writing practices are really important because it plays an important role in accessibility and site performance. Emmet is a really powerful tool that allows developers to write HTML using special syntax. It saves a ton of time and encourages

[2020-10-02 19:39] cyberShaw opened #406 "Graphs in Python: Algorithms & Traversals"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Graphs are non-linear data structures. Graph Theory is the theory of the properties and applications of the graph data structure. Graphs can be used to represent almost any problem, which makes them extremely versatile. In this article, we'll be continuing from Part 1 and learning about the different graph tr

[2020-10-02 20:53] ninjaginja commented on #405
great topic @cyberShaw . My only suggestion is that if the article is geared around Emmet, then make sure you include that in the title.

[2020-10-02 20:58] ninjaginja commented on #406
@cyberShaw It's okay to build on a previous article, but please make sure that the title accurately sums up the expanded content. So, rather than simply using 'Part 2' to distinguish it from the first, clearly define what the article will cover. (I'd suggest that you address this on the open PR for Part 1 as well.)

[2020-10-03 01:19] cyberShaw commented on #406
Right, got it! I'll do that.
If I change the titles that'd be "Graphs in Python: Traversals and Algorithms" for this one

And
"Graphs in Python: Representation and a
Types" for part 1

[2020-10-03 01:21] cyberShaw commented on #405
I've modified the title as requested :D

[2020-10-03 05:27] srishilesh opened #407 "Understanding Differential Privacy"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Differential privacy is a system for publicly sharing information about a dataset by describing the patterns of groups within the dataset while withholding information about individuals in the dataset. In this article, we will be looking at an overview of what privacy is, concept of differential privacy, var

[2020-10-03 12:51] srishilesh opened #408 "Implementing Differential privacy using Federated learning - Part 2"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Continuation of Issue #407
Federated learning (also known as collaborative learning) is a machine learning technique that trains an algorithm across multiple decentralized edge devices or servers holding local data samples, without exchanging them. In this article, we will looking at an overview of what feder

[2020-10-04 18:29] collins-a opened #410 "Explainable AI (XAI): An Introduction"
### Brief Summary:

AI-powered systems have a lot of influence on our daily lives. A number of these systems are so sophisticated that little to no human intervention is required in their design and deployment. These systems make a lot of decisions for us every single day. In fact, they make a lot of crucial decisions that affect human lives (e.g in medicine, finance, law, defense) but the manner

[2020-10-04 19:54] ahmadmardeni1 opened #411 "Information Gathering : Foot Printing"
### Brief Summary:
“Information is power,” as the saying goes,, in Cyber Security industry **information gathering** is the first step to take during the earlier stages of any hacking activity, if it is ethical hacking or even cracking, it is used when a researcher needs to gain as much information as possible about the desired target.

**Note: I'll be splitting this article into two parts where**

[2020-10-05 06:12] BrianaNzivu opened #412 "Integrating a Bottom Navigation View in Android Applications."
### Brief Summary:
A Bottom Navigation bar in Android Applications is used to navigate through  different fragments of an application. Most applications use bottom navigation bars in order to ease the development process and to make an application more User friendly in that user's can explore and switch between top-level views in a single tap.

### Key Takeaways:
1.The reader should be able to und

[2020-10-05 07:22] kayere opened #413 "Job scheduling in node.js using node-cron"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Node-cron is an npm package used to schedule tasks to run at specific time either once or repeatedly. This article is going to give the reader a basic understanding of the package and a tutorial on how to schedule some common tasks in node.js.

### Key Takeaways:
What are the 3-5 most important things the re

[2020-10-05 07:41] katungi opened #414 "How to make a Command Line Interface (CLI) using NodeJS"
### Brief Summary:
CLI's are a vital part of modern development. They are used to make interactive terminal interfaces for a wide range of technologies and products.
In this article, the aim is to introduce the basics of making a CLI application and some useful npm packages that help in the development of CLI's. The reader will also build a simple application to get started.

### Key Takeaways:
By

[2020-10-05 09:21] geoffrey45 opened #415 "List transformations in JavaScript"
### Brief Summary:
Transforming objects and arrays is common in software development. We'll look at looping, extracting and filtering objects and arrays in JavaScript.

### Key Takeaways:
The reader will understand:
- nesting objects and arrays
- Looping through objects and arrays using for loop
- Looping with _.each()
- looping and extracting arrays using _.map()
- _.map() vs _.each()
- using _.f

[2020-10-05 14:01] ninjaginja commented on #407
great topic @srishilesh , but we would prefer this article as a single, consolidated piece. Please combine this, along with #408 into a single article.

[2020-10-05 14:02] ninjaginja commented on #408
combine with #407

[2020-10-05 14:04] ninjaginja commented on #410
good topic @collins-a . Would also be great if you could cover some of the approaches/methods in your article.

[2020-10-05 14:06] collins-a commented on #410
@ninjaginja noted. Will definitely do so

[2020-10-05 14:11] ninjaginja commented on #411
@ahmadmardeni1 This topic is does not align with our areas of focus. Footprinting is largely associated with unethical hacking, and we do not wish to broach any subjects which could be considered as guiding malicious activity. Please feel free to suggest another topic area.

[2020-10-05 14:11] #411 closed

[2020-10-05 14:12] ninjaginja commented on #412
sounds like a cool tutorial @BrianaNzivu

[2020-10-05 14:13] ninjaginja commented on #413
great topic @kayere . (Just one small note - please be sure to reference 'Node.js' with a capital 'N' in your article.)

[2020-10-05 14:15] ninjaginja commented on #414
great topic @katungi

[2020-10-05 14:16] ninjaginja commented on #415
great topic @geoffrey45

[2020-10-05 15:49] srishilesh commented on #407
Alright @ninjaginja , I will combine them as a single article

[2020-10-05 15:50] srishilesh commented on #408
Combining this issue with #407

[2020-10-05 15:50] #408 closed

[2020-10-05 17:51] CodeLeom opened #417 "Understanding Asynchronous Javascript"
### Brief Summary:
Normally, a given program's code runs straight along, with only one thing happening at once. If a function relies on the result of another function, it has to wait for the other function to finish and return, and until that happens, the entire program is essentially stopped from the perspective of the user. JavaScript is a single-threaded programming language which means only on

[2020-10-05 18:12] CodeLeom opened #418 "Getting started and understanding Materialize CSS"
### Brief Summary:
Materialize CSS is a UI component library that is created with CSS, JavaScript, and HTML. It is created and designed by Google. Materialize CSS is also known as Material Design. It is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for unified user experie

[2020-10-05 18:23] ahmadmardeni1 opened #420 "Ransomwares and how you can protect yourself"
### Brief Summary:

Ransomware is malicious software that threatens to publish the victim's data or to encrypt important, predetermined files with a password unless a ransom is paid.
Starting from around 2012 the use of ransomware scams has grown internationally very fast.
In this article, the aim is to introduce the concept of a Ransomware, how it works, talk about its history, and how to protect

[2020-10-05 18:30] kimkimani opened #421 "Particle Effect With Particle.js"
### Brief Summary:
In this tutorial, I’m going to talk about particles.js, a javascript library that let you create a dynamic particle effect on your webpage.

### Key Takeaways:
1. Installation and Usage
2. Setup
3. Coding
4. Moving some particles
5. Output
### References:

'N/A'.)

[2020-10-05 18:31] srishilesh opened #422 "Validating XML using XSD"
### Brief Summary:

XSD (XML Schema Definition), a recommendation of the World Wide Web Consortium (W3C), specifies how to formally describe the elements in an Extensible Markup Language (XML) document. It can be used by programmers to verify each piece of item content in a document. This tutorial provides a deeper insight of how validation is done using XSD and the readers will learn validation b

[2020-10-05 18:43] ninjaginja commented on #417
Thanks for the suggestion @CodeLeom . This content has been covered across various articles, so I just want to be sure that your article brings unique value. Please take a look at the current content library, and if you feel that your article is covering new concepts, then you may proceed. Otherwise, I'd suggest selecting a different topic.

[2020-10-05 18:44] ninjaginja commented on #418
great topic @CodeLeom . Please be sure to include some hands-on examples.

[2020-10-05 18:46] ninjaginja commented on #420
@ahmadmardeni1 This topic has already been covered in previous articles. Please be sure to cross-reference the content library so we can ensure that each article brings unique value.

[2020-10-05 18:46] #420 closed

[2020-10-05 18:47] ninjaginja commented on #421
great topic @kimkimani

[2020-10-05 18:48] ninjaginja commented on #422
great topic @srishilesh

[2020-10-05 18:50] ahmadmardeni1 commented on #420
I saw that one but he was talking about anti-malware and he didn't deep into ransomware, how it works etc..

[2020-10-05 18:50] ahmadmardeni1 commented on #420
@ninjaginja I saw that one but he was talking about anti-malware and he didn't deep into ransomware, how it works etc..

[2020-10-05 18:57] CodeLeom commented on #418
Sure, I will include

[2020-10-05 18:58] ninjaginja commented on #420
Yes, it's also mentioned in [this article](https://www.section.io/engineering-education/industry-4.0-and-cybersecurity/). If you feel that you can bring an original perspective to the content beyond what users can find on Wikipedia (or other sources), then please feel free to proceed.

[2020-10-05 18:59] ahmadmardeni1 commented on #420
@ninjaginja  Okay, Thank you.

[2020-10-05 20:32] Tsanguu opened #423 "How to use Kanban to Manage your Next Project"
### Brief Summary:
Kanban is a visual way of managing tasks and workflow at the individual, team, and even organizational level. Kanban utilizes a kanban board with columns and cards. Kanban improves team collaboration. This article will guide you on how to use Kanban on a project.
### Key Takeaways:
	Introduction to Kanban
	Kanban Board and Kanban Cards
	Kanban Principles
	Work in Progres Limit (

[2020-10-05 20:43] ninjaginja commented on #423
@Tsanguu While it's great to define the concepts around Kanban, what would really take this article to the next level is demonstrating why and how you would apply Kanban to a project. We want to be sure that you're delivering unique value beyond what readers can already access in the sources that you've provided. You could still weave the takeaways that you've outlined into this as well.

[2020-10-05 21:01] Tsanguu commented on #423
@ninjaginja Sure, I will cover how to apply Kanban to a project.

[2020-10-05 21:32] Tsanguu opened #424 "User Interface Animation with Anime.js"
### Brief Summary:
Anime.js is one of the best Javascript animation libraries. It is easy to use and well documented. In this article, we use Anime.js to animate the user interface.

### Key Takeaways:
	Introduction to Anime.js
	Simple Anime.js Animations
	Animating UI with Anime.js

### References:
https://animejs.com/

[2020-10-05 21:51] ninjaginja commented on #424
cool topic @Tsanguu

[2020-10-05 22:17] ninjaginja commented on #323
closing this due to inactivity - can reopen if needed

[2020-10-05 22:17] #323 closed

[2020-10-05 22:18] ninjaginja commented on #322
published under #334

[2020-10-05 22:18] #322 closed

[2020-10-05 22:20] ninjaginja commented on #329
closing due to inactivity - can reopen if needed

[2020-10-05 22:20] #329 closed

[2020-10-05 22:21] ninjaginja commented on #324
closing due to inactivity - can reopen if needed

[2020-10-05 22:24] ninjaginja commented on #331
closing due to inactivity - can reopen if needed

[2020-10-05 22:25] ninjaginja commented on #333
closing due to inactivity - can reopen if needed

[2020-10-05 22:25] #333 closed

[2020-10-05 22:27] ninjaginja commented on #335
closing due to inactivity - can reopen if needed

[2020-10-05 22:29] ninjaginja commented on #360
closing in favor of focus on 363/364 (consolidated) and 362

[2020-10-05 22:29] #360 closed

[2020-10-05 22:30] ninjaginja commented on #361
closing in favor of focus on 363/364 (consolidated) and 362

[2020-10-05 22:30] #361 closed

[2020-10-05 22:31] ninjaginja commented on #363
consolidated into #364

[2020-10-05 22:31] #363 closed

[2020-10-05 23:22] ahmadmardeni1 commented on #323
@ninjaginja I wanted to write about Cyber Security but I saw this one in the suggestion, now after it is closed can I write about it?

[2020-10-06 00:00] ninjaginja commented on #323
@ahmadmardeni1 We had previously been managing topic suggestions in Slack (eng-ed-topics channel), and we had posted a comment about this being too broad of a topic. We're really trying to steer more towards tutorials, or other formats that provide unique content that isn't widely available elsewhere. If you'd like to focus in on a specific area of cyber security and take more of a practitioner's

[2020-10-06 11:13] gitau40 opened #429 "Bitdefender Antivirus plus"
### Brief Summary:
Bitdefender is an Antivirus Software that is useful for only windows devices. It can cover a maximum of 3 devices. Furthermore, it is very helpful for safety from ransomware. You can also get privacy tools and a VPN. It is very helpful and has several features for the users. You can also manage passwords with the help of Bitdefender.
### Key Takeaways:
By the end of the article

[2020-10-06 13:45] ahmadmardeni1 opened #430 "Python Database Programming : SQLite"
### Brief Summary:

**SQLite** is a lightweight database that can provide a relational database management system with zero-configuration, In general, it is a server-less database that you can use within almost all programming languages including Python.
In this tutorial, I will cover everything about SQLite using Python.

### Key Takeaways:

- Installation and usage
- Setup
- Creating tables
- In

[2020-10-06 13:56] ninjaginja commented on #429
@gitau40 Thank you for the topic suggestion. We prefer not to publish reviews/opinion pieces on commercial software products. If there's a particular technology in this area that you'd like to take a deeper dive into, please feel free to make a new suggestion. I'm going to close this issue.

[2020-10-06 13:56] #429 closed

[2020-10-06 13:57] ninjaginja commented on #430
great topic @ahmadmardeni1

[2020-10-06 15:11] gitau40 opened #432 "Reverse Proxy Technology"
### Brief Summary:
The term reverse proxy generally applies to a service that sits in front of one or more servers and accepts client requests for resources on the server. Reverse proxies are usually implemented to help increase security, efficiency, and reliability. It can bury the topology and features of your backend servers by removing the need for direct Internet access to them. It can also w

[2020-10-06 15:19] ninjaginja commented on #432
@gitau40 We already have quite a bit of content on the [Section blog](https://www.section.io/blog/search/?q=reverse%20proxy) around reverse proxy technology. We're really looking for new, unique content that provides value to users that isn't already widely available across other sources. Do you have any recent web development projects that might serve as inspiration? Immersive how-to guides are a

[2020-10-06 15:27] faith601 opened #433 "Deeper understanding on the Border Gateway Protocol (BGP)"
### Brief Summary:
BGP (Border Gateway Protocol) is the protocol that is the basic principle of the global routing system of the Internet. Without it, we will not be able to do a Google search or send an email. The BJP has created network stability by guaranteeing that routers can adapt to route failures: when one route goes down, a new route is found quickly. Internally, the BJP has a huge set of

[2020-10-06 15:37] ninjaginja commented on #433
@faith601 thanks for the topic suggestion. We already have a couple [articles published on BGP](https://www.section.io/engineering-education/search/?q=bgp). Please be sure to cross-reference against existing articles, in progress articles, and approved topic suggestions.

I'm going to close this issue.

[2020-10-06 15:37] #433 closed

[2020-10-06 20:36] Tsanguu commented on #335
Hi, @ninjaginja I am requesting you to reopen this issue. I have already worked on this under Pull Request #434.

[2020-10-07 00:13] #357 closed

[2020-10-07 04:47] katungi commented on #414
Thanks @ninjaginja. I will bear that in mind

[2020-10-07 05:33] srishilesh opened #436 "Building XML webpages using XSLT"
### Brief Summary:

XSLT (eXtensible Stylesheet Language Transformations) is a language for transforming XML documents into other XML documents, or other formats such as HTML for web pages, plain text or XSL Formatting Objects, which may subsequently be converted to other formats, such as PDF, PostScript and PNG. In this article, we will cover how XML content can be rendered as webpages by transfo

[2020-10-07 08:40] faith601 opened #437 "How Neuroinformatics enhances and relies on Blue Brain Technology"
### Brief Summary:
Blue Brain Technology is an artificial brain that can function like a human brain. The blue brain is a device that can act like a human brain. It can think like the human brain, the tendency to make decisions based on past experience, and the way the human brain can respond. The aim of this technology is to develop a biologically detailed digital reconstruction and simulation of

[2020-10-07 09:34] gitau40 opened #438 "how-to guide on the 5 PC Technology"
### Brief Summary:
The article will allow the reader to understand what is 5Pen PC Technology, and how this technology  operates. This would include a deeper understanding of all the five functions and features that include the following; a pen-style cellular phone, a virtual keyboard, a very small projector, a camera scanner, and a Personal identification key with a cashless pass function. All 5

[2020-10-07 11:12] JudyNduati opened #439 "Best JavaScript Animation Libraries"
### Brief Summary:
JavaScript is used for web animations. Well designed and smooth animation make an application stand out. This article aims to give users an understanding of UI animations in a more interactive way.

### Key Takeaways:
The reader will understand:
1. Anime.js
2. Howler.js
3. KUTE.js
4. Mo.js
5. Velocity.js
6. Three.js
7. GreenSock.js
8. Popmotion.js
9. Typed.js

### References:
Pl

[2020-10-07 14:29] ninjaginja commented on #436
good topic @srishilesh

[2020-10-07 14:31] ninjaginja commented on #437
Thanks for the topic suggestion @faith601 . Based on what you've outlined for the article, I'm concerned that the substance of the content might be paraphrases of information that is already readily available through other sources. Is there a unique spin that you can bring, or any sort of practical application that you might discuss?

[2020-10-07 14:37] ninjaginja commented on #438
Thanks for the topic suggestion @gitau40 . Based on what you've outlined in your brief, I'm concerned that this content doesn't bring any unique perspectives to the technology. Looking at the references that you've cited, it seems that this information is already readily available. Are you able to propose a unique angle, or some sort of practical application of the technology in the form of a how-

[2020-10-07 14:39] ninjaginja commented on #439
good topic @JudyNduati . What would really take this article to the next level is if you were able to apply each library to an example that you come up with to show each library's unique characteristics.

[2020-10-07 15:27] gracinev opened #440 "jQuery 101: A guide to navigating through jQuery"
### Brief Summary:
My article will aim to describe what jQuery is and how it benefits from using JavaScript. My article will walk through how to get started with jQuery, as well as an explanation of the syntax.

### Key Takeaways:
After reading my article, the reader will have an understanding of:
- What jQuery is
- How to get started with using jQuery in your project
- How it benefits from using

[2020-10-07 17:32] EKahuha opened #441 "5 Real Life Use Cases of Natural Language Processing (NLP)"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The world is moving towards automation. Automated things such as self driving cars and Google Assistant are coming in out lives to make live easier. Natural Language Processing is key to this development, and it involves the manipulation of Text, Speech etc through computational power by using various softwar

[2020-10-07 17:34] ninjaginja commented on #440
good topic @gracinev . Please make sure that the content is sufficiently differentiated from the documentation.

[2020-10-07 17:40] ninjaginja commented on #441
good topic @EKahuha . I might suggest refining the title to be a bit more pinpointed on what you intend to cover - perhaps something like '5 Real Use Cases Using NLP'

[2020-10-08 09:18] damikanye commented on #323
Hello will love to reopen the issue but I can't, from my end.

[2020-10-08 12:56] ninjaginja commented on #323
@damikanye This topic has been rejected as being too broad in scope. We're looking for articles that present unique content that is not readily available through other sources.

[2020-10-08 16:43] EKahuha commented on #441
Suggestion noted.

[2020-10-08 20:24] EKahuha opened #450 "Tableau Vs. Power BI"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Microsoft Power BI and Tableau are the two front-runners in the data visualization and business intelligence (BI) software industry. Both offer advanced reporting and visualization capabilities. Each has its own strengths and weaknesses when it comes to use in business intelligence.
### Key Takeaways:
What ar

[2020-10-08 22:05] ninjaginja commented on #450
@EKahuha Good topic. The only caveat is to make sure that your content is different enough from the cited sources (where users can already get some of this information). Be sure that you're providing unique value  to the reader.

[2020-10-08 23:45] JudyNduati commented on #439
I will @ninjaginja thank you for the insights

[2020-10-09 07:35] collins-a opened #451 "Basics of Transfer Learning"
### Brief Summary:

When we as human beings learn new things, we do not always learn from scratch. We often transfer past knowledge and apply it to new tasks. For example, knowing how to ride a bike makes it easier to learn how to ride a motorcycle.
In the quest to achieve artificial general intelligence, transfer learning can be applied to machine learning models. We look at the theoretical conce

[2020-10-09 07:36] LinusMuema opened #452 "Kotlin collections"
### Brief Summary:
Kotlin has a rich and wide variety of collections. All of them have their own special properties and this article aims to demystify them. It will help new learners get familiar with them and some of their basic methods.

### Key Takeaways:
1. What are Kotlin collections
2. Properties of Kotlin  Collections
3. Differences between various collections
4. Examples of Collection meth

[2020-10-09 12:58] ninjaginja commented on #451
good topic @collins-a

[2020-10-09 12:59] ninjaginja commented on #452
good topic @LinusMuema

[2020-10-09 13:27] jimmykimani26 opened #454 "SSH Keys with Multiple GitHub Accounts"
### Brief Summary:
The article will engage the reader in ways to use multiple Github accounts without a problem. This is in regard to the use of SSH Keys with Multiple GitHub Accounts. A deeper understanding of Multiple SSH Keys will be enhanced at the end of the article.
### Key Takeaways:
1. The reader will understand what is Multiple SSH Keys.
2. The reader will understand what’s the Problem wi

[2020-10-09 13:54] ninjaginja commented on #454
great topic @jimmykimani26

[2020-10-09 14:11] faith601 commented on #437
Thank you for the insights @ninjaginja.  How about I change my context and discuss how Neuroinformatics enhances and relies on Blue Brain Technology? What do you think?
kind regards,
Faith.

[2020-10-09 14:51] ahmadmardeni1 opened #455 "Getting started with web scraping using Python"
### Brief Summary:

Web scraping is a technique in which a computer program extracts data from human-readable output coming from a website.
- **quetext** website which you are using to check our articles for plagiarism is using web scraping.
- flights & hotels booking websites are using it in order to know the lowest price for a ticket, etc.
- a lot of companies are scraping social network profile

[2020-10-10 15:29] jimmykimani26 opened #456 "A Tutorial on OpenShift"
### Brief Summary:
Red Hat OpenShift offers automated installation, upgrades, and lifecycle management throughout the container stack—the operating system, Kubernetes and cluster services, and applications—on any cloud
Red Hat OpenShift helps teams build with speed, agility, confidence, and choice. Code in production mode anywhere you choose to build. Get back to doing work that matters.
Red Hat O

[2020-10-10 16:02] jimmykimani26 opened #457 "IBM WebSphere application server"
### Brief Summary:
The article will be a How-To Guide on how the IBM WebSphere application server works.
IBM WebSphere Application Server supports microservices and standards-based programming models. This design help users modernize at their own pace, gain greater visibility across workloads, analyze enterprise applications, and advance the journey to Kubernetes.
### Key Takeaways:
1.	Readers wil

[2020-10-10 19:47] #345 closed

[2020-10-11 23:34] john-amiscaray opened #459 "Functional Programming In Java"
### Brief Summary:
This article will be a guide on functional programming in Java. This includes how it works, what support Java provides for it, and practical use cases for it.

### Key Takeaways:
- What is functional programming?
- What support does Java provide for it?
- Lambda Expressions
- Stream api
- Method reference

### References:
https://medium.com/better-programming/functional-programm

[2020-10-12 07:50] faith601 commented on #437
I have changed my topic from general blue brain technology to how Neuroinformatics enhances and relies on Blue Brain Technology. The article will focus on what is Blue Brain Tech, and highlight its application to enhancing Neuroinformatics.

[2020-10-12 08:29] Worawat101 opened #461 "top 5 nodejs packages that every developer should know"
### Brief Summary:
Before starting any project one should know about the development environment, workflows, dependencies. So, the work becomes easier. Now, there are some packages for NodeJS that simplify the overall workflow while developing a Node project and increases productivity. Many developers are unaware of the existence of these packages. The package mentioned below can help improve the

[2020-10-12 10:42] lalith1403 opened #462 "Stochastic Gradient Descent Optimized Linear Classifier in Python"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Stochastic gradient descent is an optimization algorithm used extensively across the field of machine learning and deep learning. We will build a linear classifier from scratch and understand the optimization process using the SGD optimizer.
### Key Takeaways:
What are the 3-5 most important things the reader

[2020-10-12 10:47] kayere opened #463 "Android Custom Views - Part 1(Extending View class)"
### Brief Summary:
 Android platform has a rich variety of views. These views tend to satisfy most applications' needs. However, developers sometimes need to create their own views in order to make their application's UI unique. There are two approaches to making custom views. This article is going to cover the first approach which is 'by extending the View class'.
### Key Takeaways:
What are the

[2020-10-12 10:49] kayere opened #464 "Android Custom Views - Part 2(Extending a View Subclass)"
### Brief Summary:
This article covers the second approach of creating custom views in android. This is by extending a View Subclass such as button.
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
1. Learn how to extend View subclasses.
2. Understand how to add functionality to existing views.
3. Understand how to

[2020-10-12 10:56] minnehnjeri opened #465 "Bitnami Application Catalog"
### Brief Summary:
The article reviews the Bitnami Application Catalog software.
Bitnami is the leader in application packaging providing the largest catalog of click to deploy applications and development stacks.  The Bitnami Application quickly and easily launch your favorites on your servers or deploy to every major cloud environment. This allows the application to choose from local installers,

[2020-10-12 14:05] ninjaginja commented on #437
@faith601 I'm not familiar with this topic area, so It's difficult for me to discern whether it aligns with our suggested topics areas that we prefer focus around web technologies. This sounds like it's on the periphery, but perhaps if you take a an approach that focuses more on the underlying frameworks and data models?

[2020-10-12 14:16] ninjaginja commented on #456
@jimmykimani26 Thank you for the topic suggestion, but we'd prefer not to publish an article on a commercial product that is somewhat competitive to Section. If you'd like to go a layer deeper and do a tutorial on Kubernetes, that would be okay :)

[2020-10-12 14:16] #456 closed

[2020-10-12 14:18] ninjaginja commented on #457
@jimmykimani26 Please see comment on #456. The same applies here.

[2020-10-12 14:18] #457 closed

[2020-10-12 14:21] ninjaginja commented on #455
@ahmadmardeni1 We actively sell products that aim to prevent web scraping. I see that one of your takeaways talks about ensuring permissions around web scraping, but I just want to be sure that this is front and center with the article. Is there a way to reframe the article as 'Building a COVID-19 Desktop Notifier with Python', rather than framing it within the context of web scraping?

[2020-10-12 14:27] ninjaginja commented on #459
@john-amiscaray Thanks for the topic suggestion. Are you able to expand upon how your article will differ from the references that you've listed?

[2020-10-12 14:31] ninjaginja commented on #461
@Worawat101 Thanks for the topic suggestion. We want to ensure that you're not simply rewriting what is already covered in docs. Can you please expand on how you intend to make this content unique? (Also, just a note to be mindful of grammar and readability. Some of the phrasing in the paragraph that you've provided doesn't make sense. We don't provide editing services, so we'll request that you p

[2020-10-12 14:36] ninjaginja commented on #462
cool topic @lalith1403

[2020-10-12 14:40] ninjaginja commented on #463
@kayere We'd prefer that this be combined with Part 2 (suggested in #464 ). This article would have more value with the approach of 'When to Use Extending View Class vs Subclass with Android Custom Views'. I'm going to close the other issue, with the note that it be consolidated under this one.

[2020-10-12 14:40] ninjaginja commented on #464
consolidated under #463

[2020-10-12 14:40] #464 closed

[2020-10-12 14:46] ninjaginja commented on #465
@minnehnjeri  Thank you for the topic suggestion, but we'd prefer not to publish an article on a product that has competing elements to Section's offerings. If you'd like to go a layer deeper and dive into a tutorial on any of the underlying applications or how to make infrastructure decisions, that would be okay :)

[2020-10-12 14:46] #465 closed

[2020-10-12 14:58] ahmadmardeni1 commented on #455
@ninjaginja my aim was to focus on legal issues in order to prevent new learners from doing web scraping on random websites, so I wrote about 2 methods in order to know if the website is allowing us or not.
Also, I can change the tutorial just to "Build a COVID-19 Desktop Notifier".
let me know if you gave me permission to write about web scraping or not, I think I can give the reader a good value

[2020-10-12 15:02] ninjaginja commented on #455
Yes, the topic is okay as long as you lead with the legal issues.

[2020-10-12 15:12] jimmykimani26 commented on #456
@ninjaginja Thank you for the insights, sure I can focus on writing a tutorial on Kubernetes. I will change my focus and emphasize more on Kubernetes.

[2020-10-12 15:25] gitau40 commented on #438
@ninjaginja Sure, I can focus on a how-to guide of the 5 PC Technology. That is a great recommendation. Thank you!

[2020-10-12 15:35] john-amiscaray commented on #459
@ninjaginja The article I plan to write will be more beginner friendly approach as it will take the perspective of teaching someone who has ever learned about these concepts before. This will be done using some analogy and comparison of these concepts to other concepts in Java or in the real world to give the reader a deeper understanding of these concepts. The other articles on the other hand hav

[2020-10-12 16:01] jimmykimani26 opened #467 "Hashing in Cryptography."
### Brief Summary:
The reader will be introduced to what is hashing and how it works in relation to cryptography. The article will discuss hashing algorithms and the applications of hashing.
### Key Takeaways:
1.	Basic understanding of hashing and how hashes work in verification and validation.
2.	Generation of hashes.
3.	Introduction to hashing algorithms and a comparison between their resource c

[2020-10-12 16:16] ninjaginja commented on #459
This is great @john-amiscaray . Thanks for the extended detail!

[2020-10-12 16:23] ninjaginja commented on #467
sounds like a great topic @jimmykimani26

[2020-10-12 16:31] john-amiscaray commented on #459
@ninjaginja I just realized one of the articles I referenced does have a very brief explanation on how lambda expressions work under the hood. That is a mistake in my response that I just realized as I glossed over that part of my source. However their explanation is very brief and not as in depth as the explanation on it that I provided, and the explanation I made was not based on the explanation

[2020-10-12 17:19] ninjaginja commented on #459
Sounds good. Look forward to reviewing the article.

[2020-10-12 17:33] jimmykimani26 opened #468 "How to use MITRE ATT&CK Framework to mitigate attacks"
### Brief Summary:
This article will help the reader understand what the MITRE ATT&CK framework is and how it is useful for organizations by focusing on some key uses of the framework.
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
By the end of the article, the reader will understand:
1.	How the framework is used

[2020-10-12 18:53] DesignrKnight opened #469 "How to build a GraphQL Server Using Node.js"
### Brief Summary:
- What is GraphQL
- Why GraphQL
- How to set up a GraphQL server

### Key Takeaways:
- Setup Express server to serve data from MongoDB using GraphQL
- Ease of setting up GraphQL server
- GraphiQL to help with managing queries

### References:
NA

Note: This article was earlier suggested by me but I could not do then due to family issue. Opening the issue to check if still availa

[2020-10-12 19:54] ninjaginja commented on #469
still a great topic @DesignrKnight , and I don't believe that it's been covered yet.

[2020-10-12 20:09] DesignrKnight commented on #469
Thank you, will start the research right away!

[2020-10-13 04:43] Worawat101 commented on #461
@ninjaginja I try to change the topic. think will better than old

[2020-10-13 10:20] minnehnjeri opened #471 "Major Principles of Distributed Systems"
### Brief Summary:
The reader will be able to understand the basic principles that are common with all distributed systems and why they are important.
### Key Takeaways:
1.	Understand what qualifies as a distributed system infrastructure.
2.	Understand what is availability and some ways of improving it.
3.	Consistency, why it is important for systems, and how to include it during development.
4.	S

[2020-10-13 13:49] ninjaginja commented on #468
good topic @jimmykimani26 . My only suggestion would be to potentially try to make the title more compelling - go beyond simple 'understanding' by representing what the reader will really gain or be able to take action on after reading this.

[2020-10-13 13:50] ninjaginja commented on #471
this is an excellent and extremely relevant topic @minnehnjeri !

[2020-10-13 14:11] minnehnjeri commented on #468
@ninjaginja I have noted the suggestion. My title will be 'Deeper insight and understanding of the MITRE ATT&CK Framework'.

[2020-10-13 14:14] jimmykimani26 commented on #468
I have noted the suggestion @ninjaginja My title will read 'Deeper insights and understanding of the MITRE ATT&CK Framework'.

[2020-10-13 14:24] collins-a opened #473 "A Push Towards More Sustainable AI with Tiny Machine Learning"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Tiny machine learning (TinyML) is at the intersection of embedded devices and machine learning. It is being touted as "the next AI revolution". However, the carbon footprint of AI has been increasing with the evolution of AI. There is a need for more energy-efficient computing. This is one of the challenges

[2020-10-13 14:34] lalith1403 opened #474 "House price prediction using Linear Regression"
### Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

House price prediction is an interesting problem to work with. We will use scikit learn library to predict the prices of houses based on multiple features. Solving this problem gives an insight into solving various ML problems using the scikit learn library.
### Key Takeaways:
What are the 3-5 most important thing

[2020-10-13 14:46] ninjaginja commented on #473
good topic @collins-a . Rather than taking a vague approach with the title, I'd recommend taking a more targeted approach. For example, if you're focusing in on sustainability, perhaps the title could be something like, "A Push Towards More Sustainable AI with Tiny Machine Learning"

[2020-10-13 14:46] ninjaginja commented on #474
very cool @lalith1403 . Look forward to reviewing :)

[2020-10-13 14:48] ninjaginja commented on #468
Thanks for the consideration @jimmykimani26 , although that's not exactly what I had in mind. 'Deeper insights' and 'understanding' are essentially the same thing. I'm looking for something more like, "How to Use the MITRE ATT&CK Framework to ..."

[2020-10-13 15:20] jamessandy opened #475 "Building a python package and publishing on PyPi"
### Brief Summary:
This tutorial will give readers a detailed guide on packages in python and how to build one, it will take them through on how to write and structure their code, structure and package it, and finally how to publish it on PyPI for their general python community. It will help developers know how to push as their efficient chunk of codes so other devs can use it too.

### Key Takeaw

[2020-10-13 16:56] ninjaginja commented on #475
great topic @jamessandy

[2020-10-13 17:48] jimmykimani26 commented on #468
I work with your suggestion @ninjaginja  It is more focused on focuses on ''how to'', which is great. I will consider that.

[2020-10-13 18:18] jamessandy commented on #475
thanks @ninjaginja is this like an approval?

[2020-10-13 18:51] ninjaginja commented on #475
yes, it is an approval :)

[2020-10-13 19:07] #367 closed

[2020-10-13 19:57] #407 closed

[2020-10-13 20:20] #413 closed

[2020-10-15 06:23] Worawat101 opened #485 "How to control dark mode in React Native using Redux"
### Brief Summary:
This tutorial aims to demonstrate the use of the Redux mechanism to toggle dark mode on React Native. The dark mode configurations will be applied to React Navigation as well as components from the React Native Paper and React Navigation.
### Key Takeaways:
- Better understanding of Redux.
- Learn how to use dark mode theme on components from react native paper library
- Learn h

[2020-10-15 14:13] ninjaginja commented on #485
sounds like a great tutorial @Worawat101

[2020-10-15 14:23] damikanye opened #486 "How To Use Nmap To Scan Networks"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
- A tutorial on how to scan networks using Nmap

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
- The reader will know the use of Nmap and why it's important.
- The reader will learn the commands used to scan networks.
- The

[2020-10-15 14:25] #335 closed

[2020-10-15 14:26] #343 closed

[2020-10-15 14:27] ninjaginja commented on #351
Closing due to inactivity. Can reopen if needed.

[2020-10-15 14:27] #351 closed

[2020-10-15 14:28] ninjaginja commented on #352
Closing due to inactivity. Can reopen if needed.

[2020-10-15 14:28] #352 closed

[2020-10-15 14:29] #362 closed

[2020-10-15 14:29] ninjaginja commented on #364
Closing due to inactivity. Can reopen if needed.

[2020-10-15 14:29] #364 closed

[2020-10-15 14:31] ninjaginja commented on #366
merged under #393

[2020-10-15 14:33] ninjaginja commented on #371
linked to #426

[2020-10-15 14:34] ninjaginja commented on #374
Closing due to inactivity. Can reopen if needed.

[2020-10-15 14:34] #374 closed

[2020-10-15 14:35] ninjaginja commented on #376
Closing due to inactivity. Can reopen if needed.

[2020-10-15 14:35] #376 closed

[2020-10-15 14:36] ninjaginja commented on #379
closing due to inactivity, can reopen if needed.

[2020-10-15 14:36] #379 closed

[2020-10-15 14:37] ninjaginja commented on #382
closing due to inactivity, can reopen if needed.

[2020-10-15 14:38] #383 closed

[2020-10-15 14:40] ninjaginja commented on #388
closing due to inactivity, can reopen if needed.

[2020-10-15 14:41] ninjaginja commented on #391
closing due to inactivity, can reopen if needed.

[2020-10-15 14:41] #391 closed

[2020-10-15 14:44] Worawat101 commented on #485
@ninjaginja thank will start soon

[2020-10-15 14:46] ninjaginja commented on #396
closing due to inactivity, can reopen if needed

[2020-10-15 15:05] ninjaginja commented on #486
Thanks for the topic suggestion @damikanye . When drafting your article, I'd suggest that you make the title more descriptive to the challenge you are addressing - "How to use Nmap to ..."

[2020-10-16 03:19] lalith1403 opened #489 "Duplicate issue: Introduction to GitHub CLI."
Brief Summary:

Describe the what, why, and how of your content idea in 2-5 sentences.
Github CLI has been the most recent addition in the space of version control. Earlier, except for a few commands, the majority of those were dealt with on the website. Now, it is possible to merge branches, create pull requests, etc. using Github CLI.

Key Takeaways:

What are the 3-5 most important things the r

[2020-10-16 03:21] #489 closed

[2020-10-16 03:22] lalith1403 commented on #396
I am almost done with the draft. will review the draft and upload it within a couple of days.

[2020-10-16 14:43] adithbharadwaj opened #490 "How to prepare for coding interviews"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Tech comanies usually have a rigorous hiring process over multiple rounds of interviews and tests. This tutorial will be a guide on how to prepare for software engineer/SDE interviews in these tech companies.

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able t

[2020-10-16 15:31] ninjaginja commented on #490
@adithbharadwaj good topic. As you're developing this content, might be worth looking for opportunities to link to existing EngEd articles, as I know there have been several mentions of prep for coding interviews across various articles.

[2020-10-16 16:14] adithbharadwaj commented on #490
Sure @ninjaginja

[2020-10-16 17:14] kvardhan10 opened #491 "A Brief Guide to Wireless Mobile Networking"
### Brief Summary:
This article will cover the topics of mobile networking: it's development and usage in communications. The article will also include different generations of mobile networks and their standards.

### Key Takeaways:
The readers will be able to understand:
1) History of mobile networks
2) Introduction to generations of mobile networks
3) 0G & 1G
4) 2G(GSM, GPRS, EDGE, TDMA,D-AMPS,

[2020-10-16 17:44] ninjaginja commented on #491
good topic @kvardhan10 . I believe there's already an article on 5G in the works, so you may want to sync up with the author on that one, or at a minimum, link to the article (if published).

[2020-10-16 18:17] #386 closed

[2020-10-16 18:45] kvardhan10 commented on #491
Yes @ninjaginja . There are 5G related articles in the Section Blog. I'll provide the necessary links.
Thank you.

[2020-10-16 19:58] #373 closed

[2020-10-16 20:43] #414 closed

[2020-10-16 21:13] CodeLeom opened #492 "Developing a Simple web note api with Django and Django rest framework"
### Brief Summary:
The article will illustrate on a step by step basis the implementation of CRUD in developing a web note application programming interface with Django and Django rest framework.

### Key Takeaways:
 - Setting up a virtual environment for Django application (windows)
- Installing and setting up your Django application, DRF a Django library for Developing API and Django filters
- W

[2020-10-17 05:00] Bayler commented on #388
@ninjaginja how do I reopen this issue?

[2020-10-17 08:20] Bayler opened #493 "Basics of Convolution Neural Networks (CNNs)"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Convolutional Neural Networks (CNN) is a technique in deep neural networks commonly applied to analyzing visual images.
CNNs have been applied in:
1. Image and Video recognition.
2. Image classification.
3. Natural Language Processing
4. Medical image analysis.
5. Recommender Systems

### Key Takeaways:
What

[2020-10-19 11:17] CodeLeom opened #497 "CSS-IN-JS Solutions"
### Brief Summary:
This article will cover various techniques a developer can use in defining styles within app components during development than maintaining multiple stylesheets for a single app component.

### Key takeaways:
CSS and CSS-in-JS Comparison
CSS-IN-JS Solutions
JSS
Styled Components
Styletron
Emotion
Material UI

### Refrences:
https://www.npmjs.com/package/@material-ui/styles
https

[2020-10-19 11:18] CodeLeom opened #498 "Top 7 Open Web Application Security Vulnerabilities"
### Summary:
This article will cover topics on common security vulnerabilities on web applications according to the Open Web Application Security Project

### Key takeaway:
At the end of this article, the readers will be able to understand the various security vulnerabilities to their web apps and how to prevent them:
Injection flaws
Broken Authentication
Broken Access control
Security Misconfigur

[2020-10-19 11:52] jamessandy opened #499 "Prototyping Machine learning models with streamlit"
### Brief Summary:
Most times machine learning engineers build models and will need to build a web or mobile app to prototype their models which is another stress on its own, this tutorial will show readers how to quickly prototype their ML models on web applications easily.

### Key Takeaways:
1. Introduction to streamlit
2. Setting up and installation of streamlit
3. Building an app with streaml

[2020-10-19 11:58] jamessandy opened #500 "Choosing between Django, Flask and FastAPI"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Most developers that start off learning python are often confused after the introduction to python course if they should learn Django, Flask, or Fast API so this article will highlight some features that will enable a beginner make a good choice.

### Key Takeaways:
What are the 3-5 most important things the

[2020-10-19 13:33] Bayler opened #501 "An introduction to Graph Neural Network"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Graph Neural Networks has over the years increasingly gained popularity. This is due to their expressive power and explicit representation of graphical data.
A Graph Neural Network is simply a type of neural network which operates solely on a Graph Structure. They extend neural network models to capture info

[2020-10-19 14:12] ninjaginja commented on #388
@Bayler I've reopened the issue.

[2020-10-19 14:26] ninjaginja commented on #493
good topic @Bayler. I did reopen the issue for your other topic suggestion on a related topic. I'd suggest focusing on one at a time so that we can ensure that all feedback is applicable to subsequent articles.

[2020-10-19 14:29] ninjaginja commented on #497
good topic @CodeLeom, but please be sure that the draft that you submit for approval has been properly proofed for grammar and readability. The phrasing of this topic suggestion does not make sense, although I understand the topic that you intend to cover. We do not provide editing services, so we ask that all articles be submitted in a final, publish-able state.

[2020-10-19 14:30] ninjaginja commented on #498
This is not a topic that we're looking for additional coverage on at this time.

[2020-10-19 14:30] #498 closed

[2020-10-19 14:31] ninjaginja commented on #499
cool topic @jamessandy

[2020-10-19 14:34] ninjaginja commented on #500
good topic @jamessandy . Please be sure that the article that you submit has undergone proofing for grammar and readability. Some of the phrasing in your summary paragraph above is off. We do not provide editing services and request that all articles be submitted in a pre-proofed, publishable state.

[2020-10-19 14:35] ninjaginja commented on #501
re-opened older issue #388 . Closing this duplicate issue.

[2020-10-19 15:17] jamessandy commented on #500
Hello @ninjaginja thanks, I'll fix the last paragraph right away

[2020-10-19 16:35] kayere commented on #463
Hello @ninjaginja, I am currently writing this article but I have a concern. Combining the two approaches in the same article makes it very long and might be boring to the reader. This is because each approach is a tutorial. I have read several articles online and all of them demonstrate each approach separately. I was asking if you could please consider allowing me to split the article.
Regards.

[2020-10-19 16:58] EKahuha opened #502 "Breaking Down Apache Pulsar vs Kafka"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The options for application-to-application communication have grown exponentially, including the addition of several very powerful open source solutions. Apache Pulsar is an open-source multi-tenant, high-performance messaging solution. Apache Pulsar is a fast-growing alternative to Kafka.
### Key Takeaways:

[2020-10-19 17:31] ninjaginja commented on #463
@kayere I'd argue that length does not necessarily correlate to interest level. In other words, just because an article is longer doesn't mean that it might be boring. Ultimately, I'll leave it up to you to determine the best way to structure the content, and if you feel that each can standalone without dependency on the other (and without repetition), then go ahead and make it two articles. Pleas

[2020-10-19 17:34] ninjaginja commented on #502
good topic @EKahuha . My only suggestion would be to make the article more practitioner focused, or take a specific angle with the content. For example, perhaps you focus in on the "Breaking Down Apache Pulsar vs Kafka" arguments? Try to approach your content from the perspective of real challenges that engineers are facing, and hence content they are seeking out.

[2020-10-19 17:55] Bayler commented on #493
Noted @ninjaginja

Let me work finish on the reopened issue then start writing on this issue

[2020-10-19 18:05] EKahuha commented on #502
Thank you @ninjaginja. I Have noted the suggestion.

[2020-10-19 19:31] srishilesh opened #503 "Validating XML using DTD"
### Brief Summary:
In this article, a brief introduction about XML, the need of XML and its validation will be covered in detail, along with a sample implementation of its validation using DTD (Document Type Definition).

### Key Takeaways:
- The reader will be able to understand what are data serialization techniques
- The reader will get an overview on XML
- The reader will understand the need o

[2020-10-19 21:02] ninjaginja commented on #503
@srishilesh we prefer that you take a specific angle or practitioner's approach to content (such as with the other two article topics that you currently have open), rather than general overviews. I see that you crossed out the original title, which appears to be more inline with what we're looking for, i.e. "Validating XML using DTD"

[2020-10-19 22:27] #430 closed

[2020-10-20 03:01] srishilesh commented on #503
Alright @ninjaginja , I will change the topic name to "Validating XML using DTD". (I was not sure, if topic name can be long, so crossed it out)

[2020-10-20 10:54] jamessandy commented on #500
made changes.

[2020-10-21 10:23] BrianaNzivu opened #506 "Making Simple API Requests using Volley in Android."
### Brief Summary:
Volley is a HTTP library that makes networking in Android Applications easy. Most developers use APIs to obtain information that is constantly changing or large in size rather than having to write their own information. This makes it easy for developers in that it saves time, effort, and space.

### Key Takeaways:
1.The reader should be able to understand what is Volley and how

[2020-10-21 13:36] ninjaginja commented on #506
good topic @BrianaNzivu

[2020-10-21 14:00] kenny98dev opened #508 "Choosing between Firebase and MongoDB"
### Brief Summary:
Developers usually have problems when selecting the right  database for their applications or website. There are various databases which can be integrated  to applications or websites and the developer should have full knowledge of each database before integrating on the application. In this article, I am going to discuss about Firebase and MongoDB databases.

### Key Takeaways:

[2020-10-21 14:04] ninjaginja commented on #508
Good topic @kenny98dev . We do have some existing content around MongoDB and Firebase, but not a direct comparison of the two. There should be opportunities for you to link to this content within your article :)

[2020-10-21 14:16] kenny98dev commented on #508
so should i continue writing the article?

[2020-10-21 15:04] hectorkambow commented on #508
@kenny98dev Yes that was an approval - we were just asking to take in mind the existing (relating articles) to see where you could reference them in your article and to make sure to avoid any major overlap. 🚀

[2020-10-21 15:11] kenny98dev commented on #508
okay. Thanks

[2020-10-22 09:37] LinusMuema opened #513 "Android Recycler Views"
### Brief Summary:
In almost every android application, we need to display a list of data dynamically. While this has been simplified by using a `ListView,` it is impossible to add custom layouts to it. This is a problem when we want to add images to the list. That is where RecyclerViews come in handy. This article goes through how to get started with RecyclerViews and the other solutions they off

[2020-10-22 12:45] ninjaginja commented on #513
good topic @LinusMuema

[2020-10-22 14:59] EKahuha opened #515 "How Ansible Playbook Works"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Ansible is an open-source automation tool that handles application deployment, configuration management, intra-service orchestration, and provisioning. It is an incredibly useful tool for DevOps, since it saves on time and eliminates repetitive tasks.
### Key Takeaways:
What are the 3-5 most important things

[2020-10-22 16:45] #410 closed

[2020-10-22 22:36] ninjaginja commented on #515
This topic has already been covered in this article - https://www.section.io/engineering-education/it-automation-using-ansible/.

[2020-10-22 23:32] hectorkambow commented on #515
Lets try to find a different topic or tweak this one enough to add new sufficient value to the community. 🚀
@EKahuha

[2020-10-22 23:32] #515 closed

[2020-10-23 12:31] lalith1403 opened #520 "Perceptron Algorithm: A Hands-On Introduction"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The perceptron algorithm was the first algorithm to introduce weights. It played a crucial role in shaping the direction of neural networks. In this article, I will discuss the structure of a neuron, the activation function used, and finally, we will implement the perceptron algorithm from scratch using Pytho

[2020-10-23 14:03] kimkimani commented on #421
Replaced [Particle.js](https://github.com/VincentGarreau/particles.js/) with [Tsparticles](https://github.com/matteobruni/tsparticles). they kind of do almost the same effect.
Particle.js haven't been maintained and got some bugs. Tsparticles has more cool features.
Hope that will be fine.

[2020-10-23 16:19] #452 closed

[2020-10-23 16:57] ninjaginja commented on #520
very cool topic @lalith1403

[2020-10-23 17:07] lalith1403 commented on #520
It is called the Perceptron algorithm. Let me know if any modifications are required in the title.

[2020-10-23 17:09] ninjaginja commented on #520
Ah, sorry. I saw the first sentence in the description spelled as 'perception' and just assumed a typo in the title.

[2020-10-23 17:10] lalith1403 commented on #520
Sorry about that. Autocorrect did that.

[2020-10-23 17:46] #459 closed

[2020-10-23 18:32] #358 closed

[2020-10-23 20:02] kenny98dev opened #523 "Creating a splash screen in Android Studio"
### Brief Summary:
A splash screen is mostly the first screen of the app when it is opened. It is a constant screen which appears for a specific amount of time, generally shows for the first time when the app is launched. Splash screens are explicitly used by android applications and games to tell the user that the application is really in the process of loading. Splash screen also enhances the lo

[2020-10-23 21:11] kimkimani opened #525 "Logging with Winston"
### Brief Summary:
Logging is the process of writing information into log files. Log files include information about various events that happened in an operating system, software, or communication. Structuring application logging in Node.js is critical for monitoring and troubleshooting your project. A great use case for logging would be if, for example, you have a bug in your system, and you want

[2020-10-23 21:14] kimkimani opened #526 "Javascript Higher-order Functions"
### Brief Summary:
Higher-order functions are functions that take other functions as arguments or return functions as their results. Often referred to as a callback function, because it is called back by the higher-order function. This is a concept that Javascript uses a lot.

### Key Takeaways:
To understand high order functions well, I'll discuss a short concept of functional programming, arrow

[2020-10-23 22:20] ninjaginja commented on #523
good topic @kenny98dev . Please be sure to use unique examples in your tutorial, making sure not to simply repeat what's already in the documentation.

[2020-10-23 22:21] ninjaginja commented on #525
great topic @kimkimani

[2020-10-23 22:23] ninjaginja commented on #526
@kimkimani  - good topic, but please be sure that your examples are sufficiently unique from the docs.

[2020-10-23 22:50] #389 closed

[2020-10-24 03:21] molly80 opened #527 "Laravel"
### Brief summary:
This article will contain the overview of what laravel is ,how it works,its advantages and disadvantages,installation process,its structure. The article aims at familiarizing beginners with laravel and will be a guide to easier use of the software.

### Key Takeaways:

1. What laravel entails and how it works.
2. How to set laravel up ( what you need to have it running)
3.Advant

[2020-10-24 06:16] keerthivarumbudy opened #528 "Advanced Python Programming Concepts"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
There are certain built-in functions and advanced syntax which can drastically reduce the number of lines of python code required, and improve efficiency. This article will introduce them along with code snippets and examples.
### Key Takeaways:
What are the 3-5 most important things the reader should underst

[2020-10-24 20:28] ahmadmardeni1 opened #530 "Getting started with Data Visualization using Pandas"
### Brief Summary:
**Data Visualization** is the process of placing data into patterns in order to understand it better, **Pandas** library is powerful because it is built on **Matplotlib** and it allows us to do data manipulation and analysis.
Basically, this tutorial will be for beginners who are interested in **data science** and I will use **Pandas** with **Python**.

### Key Takeaways:
- An o

[2020-10-24 20:48] ahmadmardeni1 commented on #530
Note: the article about pandas [here](https://www.section.io/engineering-education/data-analytics-using-pandas/) talks about the basics of **Analysis**, mine will be about **Visualization** after analyzing data, and the points I'm going to write about does not exist in that article.

[2020-10-25 20:19] #450 closed

[2020-10-25 21:32] bloodprashure opened #531 "INTRODUCTION TO AVL TREES IN C++"
### Brief Summary:
AVL trees are self-balancing binary search trees where the difference between heights of the left and right subtrees are not more than one. Binary search trees have a comparable complexity to linear search. This has led to the need for AVL trees. This article will portray the implementation of AVL trees in C++ and how it has reduced the complexity for many problems.

### Key Tak

[2020-10-25 23:15] #338 closed

[2020-10-26 17:42] #463 closed

[2020-10-26 18:10] adrianmurage opened #533 "What Happens When JavaScript Runs My Code?"
### Brief Summary:
An article that explains to the readers exactly what happens when they execute their JavaScript code

### Key Takeaways:
An understanding of:
- Execution Contexts
- The Thread of Execution
- Variable Environments
- JS Call Stack

### References:
Front End Masters
MDN Web Docs

[2020-10-26 18:16] ninjaginja commented on #527
Thank you for the topic suggestion @molly80 . Can you please elaborate on how this content will be unique from what is already readily available through the docs? We need to be sure that the content is providing unique value that addresses a specific use case or challenge that developers face. You might consider rethinking this article to walk through a beginner's application of Laravel with a spe

[2020-10-26 18:19] ninjaginja commented on #528
Thanks for the topic suggestion @keerthivarumbudy. If you intend to focus on efficiency improvements in Python, then please make sure that the title accurately reflects that, rather than using a generic title that encompasses a lot of different areas. (Consider something similar to the reference article that you've listed, but please be sure that your title and the accompanying content is unique.)

[2020-10-26 18:21] ninjaginja commented on #530
Great topic @ahmadmardeni1 , and thanks for including the note that explains how your article will differ from reference content 👍

[2020-10-26 18:23] ninjaginja commented on #531
Sounds like an interesting topic @bloodprashure . Please open a new PR for review once you have your article in a polished, publishable state.

[2020-10-26 18:26] ninjaginja commented on #533
@adrianmurage I see that you've already opened a PR for this topic. In the future, please make sure that you submit your topic for approval before beginning on your article so that we can make sure no efforts are wasted if the topic doesn't align with our areas of interest. We'll go ahead and proceed with this one in the review queue. Thanks.

[2020-10-26 18:34] EKahuha opened #535 "Cost Optimization and Use Cases of Amazon S3 Intelligent Tiering"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
S3 Intelligent Tiering automatically optimizes storage costs for data with unknown or changing access patterns. It is the perfect solution for optimizing storage costs for dynamic data without introducing operational overhead or impacting performance.
### Key Takeaways:
What are the 3-5 most important things

[2020-10-26 18:55] adrianmurage commented on #533
@ninjaginja I apologize for this oversight.
I'll ensure to do that in future.
Thank you for your time and input.

[2020-10-26 19:01] adrianmurage opened #536 "How JavaScript Promises Work Under The Hood."
### Brief Summary:
This guide takes the reader through:
- Why asynchronous Programming is needed in JavaScript.
- How promises fulfil this need.
- How promises are implemented under the hood.

### Key Takeaways:
- Event Loop in JavaSctipt.
- The Callback Queue.
- The Job Queue.
- Promise Objects and their implementation.

### References:
Front End Masters.
MDN Web Docs

[2020-10-26 19:19] #441 closed

[2020-10-26 19:23] ninjaginja commented on #536
@adrianmurage I'd suggest holding off on this article until you've gone through the review process on your other article. This will help ensure that you're incorporate any/all feedback into your next article and should help to reduce review time and revision rounds.

[2020-10-26 19:48] molly80 commented on #527
I will write a step by step guide tutorial to create a blog app

[2020-10-26 19:56] bloodprashure commented on #531
I shall @ninjaginja, thanks!

[2020-10-26 20:17] molly80 commented on #527
@ninjaginja I will write a step by step guide tutorial to create first blog app through laravel for beginners .

[2020-10-26 20:33] adrianmurage commented on #536
@ninjaginja
I will. I was opening this to get the go ahead.
To allow me to do preliminary planning, research and thought organization in preparation for the actual writiting.

[2020-10-26 23:17] #371 closed

[2020-10-27 13:54] damikanye commented on #486
Hello @ninjaginja,
I was thinking of changing the topic to "How to use Nmap to scan networks" or "How to use Nmap Effectively".
Wanted your intake on it. I'm about to submit a PR soon.

[2020-10-27 14:35] EKahuha opened #540 "The Role of Artificial Intelligence for Smarter Cybersecurity"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Artificial intelligence (AI) and machine learning (ML) are playing an increasing role in cybersecurity. Security tools are analyzing data from millions of cyber incidents, and using it to identify potential threat.
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be ab

[2020-10-27 14:40] keerthivarumbudy opened #541 "Building a To-Do list web application using Flask and Firebase"
### Brief Summary:
This article will be a tutorial to build a simple interactive To-Do list web application using Flask server and Firebase database. It will explore the CRUD operations which are fundamental to building any dynamic website.
### Key Takeaways:
User will be able to understand -
1. how to use flask server to develop a website
2. how to incorporate firebase database into a website
3.

[2020-10-27 14:44] keerthivarumbudy commented on #528
Thank you for the suggestion @ninjaginja. I could title it "7 ways to improve your python code", as I am not only focusing on the efficiency, but also on improving the readability of the code. Does that sound good?

[2020-10-27 16:28] ninjaginja commented on #486
"How to use Nmap to scan networks" is a lot more descriptive than "How to use Nmap Effectively"

[2020-10-27 16:29] ninjaginja commented on #527
Great! Please make sure that the title of your article is descriptive of that objective.

[2020-10-27 16:32] ninjaginja commented on #536
Sounds good

[2020-10-27 16:33] ninjaginja commented on #540
good topic @EKahuha

[2020-10-27 16:33] ninjaginja commented on #541
good topic @keerthivarumbudy

[2020-10-27 16:33] EKahuha opened #542 "Deciding between Cloud Spanner and Microsoft CosmosDB"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
With the advancements that are already happening within cloud computing, tons of improvements are bound to happen in the future. One such development includes the initiation of SQL based databases that provide the users with a customized experience of storing, sorting, and processing heavy bounds of raw data.

[2020-10-27 16:34] ninjaginja commented on #528
Sounds great @keerthivarumbudy

[2020-10-27 16:41] ninjaginja commented on #542
@EKahuha Sounds like a good topic, but please be mindful of grammar and readability. The description and bullet points that you've provided here suggest that you might want to run your draft through peer edit (or external editing service) prior to submitting a PR for this article. We do not provide extensive editing services and require that all drafts submitted are in a ready-to-publish state. I

[2020-10-27 20:41] molly80 commented on #527
@ninjaginja sure

[2020-10-27 20:48] damikanye commented on #486
Okay thanks

[2020-10-28 01:34] switach opened #544 "Augmented reality and getting started with Spark AR studio"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
This article is on augmented reality and how to build AR Instagram filters using Facebook Spark AR studio
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
1. Understanding augmented reality
2. How to build AR filter
3. Understa

[2020-10-28 11:37] katungi opened #546 "Creating Command Line Interface (CLI) applications using React.Js"
### Brief Summary:
CLI applications using Node.js are amazing and very easy to make. I did an article on how to do that [here](https://www.section.io/engineering-education/create-a-nodejs-cli/). The more CLI applications become popular, the more the need for them to be better, more responsive and contain more detail. With react, you can create good looking CLI's with styling and even render images

[2020-10-28 14:15] mbaabuones opened #548 "Introduction to Tiny AI: A New Revolution in Artificial Intelligence"
### Brief Summary:
Tiny AI is a new revolution of artificial intelligence that focuses on reducing the computational power and amount of data used in building AI algorithms. This article aims at introducing readers to this emerging concept that can potentially shape the future of industries.

### Key Takeaways:
The following are important things that the reader should understand;
1. Overview of Ti

[2020-10-28 15:04] collins-a opened #549 "Transfer Learning for Deep Learning"
### Brief Summary:

Deep learning models need a lot of data. They may be trained on millions of data points before making predictions. This makes training very expensive. Furthermore, such models often perform only a single task. We look at how deep transfer learning can deal with these challenges.

### Key Takeaways:

The reader should:
1. Understand the relationship between transfer learning and

[2020-10-28 15:06] collins-a commented on #549
This suggestion builds upon my previous submission on the Basics of Transfer Learning.

[2020-10-28 16:57] ninjaginja commented on #535
apologies for the delay @EKahuha , I must have missed this one earlier. This sounds like an interesting topic that could bring value to our audience :)

[2020-10-28 17:00] ninjaginja commented on #544
@switach This sounds like a good topic. Please make sure that your article is more heavily focused on the application of the AR technology (i.e. Spark AR Studio), and don't spend too much time on explaining AR itself. (There is plenty of readily available content that explains what AR is.)

[2020-10-28 17:01] ninjaginja commented on #546
Great topic @katungi, and I really like how it builds on your previous content!

[2020-10-28 17:05] ninjaginja commented on #548
@mbaabuones this topic is already being covered in #547. Please explore a different topic area.

[2020-10-28 17:05] #548 closed

[2020-10-28 17:07] ninjaginja commented on #549
Sounds good @collins-a .

[2020-10-28 18:49] #451 closed

[2020-10-28 21:12] #388 closed

[2020-10-29 00:35] #412 closed

[2020-10-29 11:27] LinusMuema opened #553 "Using RxJava in Android"
### Brief Summary:
RxJava has been widely adopted in Android to perform asynchronous tasks and improve the application's efficiency. This article aims to help the reader get a basic understanding of the operators in RxJava and how to integrate them into an Android application.

### Key Takeaways:
1. What is RxJava
2. Some basic RxJava operators
3. How to use these operators in Android

### Referen

[2020-10-29 14:09] JudyNduati opened #554 "Visual Studio Code vs. Atom: Which Text Editor is better for a Software Developer"
### Brief Summary:
Every developer needs a good text editor. Let's take a look at VS Code vs. Atom and see what this two text editors have to offer.

### Key Takeaways:
1. Visual Studio Code
2. Atom
3. VS Code vs. Atom: Similarities
4. VS Code vs. Atom: Differences
5. VS Code vs. Atom: Performance

### References:
Please list links to any published content/research that you intend to use to suppor

[2020-10-29 15:33] mbaabuones opened #555 "Introduction to Extended Reality (XR)"
### Brief Summary:
Extended Reality (XR) is an immersive technology that is growing in terms of advancement and application. This concept has the potential of shaping the future of digital transformation. This article aims at providing readers with a broad understanding of this important concept.

### Key Takeaways:
The following are important things that readers should understand;
1. Overview of

[2020-10-29 16:18] #380 closed

[2020-10-29 18:32] #533 closed

[2020-10-29 19:31] paulodhiambo opened #557 "Django Restful Crud API"
### Brief Summary:
Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
This article aims to teach the reader how to create various crud APIS with django and django rest framework.

### Key Takeaways:
Basic Django knowledge is required to understand the concept covered in this article.
1. What is Django and Django rest framework.
2. Basics of d

[2020-10-29 21:44] #324 closed

[2020-10-29 22:37] hectorkambow commented on #553
Sounds very helpful looking forward to reviewing 🚀
✔️

[2020-10-29 22:56] hectorkambow commented on #555
Very interesting topic - I think as long as we keep a developer focus in mind it should be very helpful.
Perhaps including the types of programming languages being used in these fields.
Current limitations.
Maybe going a bit into how it all works while explaining what it is, is seen as helpful to the audience.
Examples of tech we have seen in the past - while setting the reader up for whats to com

[2020-10-29 22:59] hectorkambow commented on #557
Seems like a very helpful topic.
Please be sure to include any prerequisites the reader would need before diving in. Any terminology needed to help the reader follow along.
Also, see if there are any EngEd articles you can link to as references.
Looking forward to it ✔️
@paulodhiambo

[2020-10-30 03:59] paulodhiambo opened #558 "Python Generators"
### Brief Summary:
Python generators were introduced with [PEP 255](https://www.python.org/dev/peps/pep-0255/). Generator functions are a special kind of function that return a lazy iterator. Python generators are objects that you can loop over like a list. However, unlike lists, lazy iterators do not store their contents in memory.

### Key Takeaways:
The reader should have basic python knowledge

[2020-10-30 12:57] WanjaMIKE opened #559 "Implementing MVVM Architecture in Android using kotlin"
# Brief Summary:
MVVM or Model-View-Viewmodel is an architectural pattern that allows developers to separate their business logic from the user interface. It makes it easy to perform CRUD (create, read, update, and delete) functions. Adopting MVVM architecture can help in the creation of high quality apps. The article provides a detailed example to help you understand MVVM architecture.

# Key Tak

[2020-10-30 13:38] mbaabuones commented on #555
@hectorkambow Thank you. I will include these aspects in the article.

[2020-10-30 20:28] switach commented on #544
Awesome, I'll work with the guidelines you've given. Sorry about me replying late.

[2020-10-31 00:23] hectorkambow commented on #558
🤔  Very interesting - seems like a very helpful article on Python Generators.
Let please be sure to go through any past EngEd Python article to see where we can provide helpful resources for the audience. ✔️
Any prerequisites listed before the reader jumps in would be extremely helpful 🚀
Looking forward to reviewing

[2020-10-31 00:50] hectorkambow commented on #559
🤔
Very cool topic suggestion - it seems like it would be a very helpful article.
Lets be sure to include what pain point we are solving for the readers.
What alternatives exist - what is the problem MVVM is solving.
Looking forward to reviewing.
Please be sure to review any relevant EngEd articles to be able to include them as a resource 🚀

[2020-10-31 07:23] JudyNduati commented on #554
@hectorkambow How about this topic suggestion? I got no feedback

[2020-10-31 16:44] hectorkambow commented on #554
@JudyNduati  Thank you Judy - I meant to follow up with you yesterday.
Thinking through this topic suggestion.
Although I like the suggestion (because I use Atom) I don't think this is exactly in the realms of EngEd content.
It seems like it would be a very subjective topic - it seems like an opinion based preference.

I'll check with the team - to see if there is a way to work it in. But in the m

[2020-11-01 13:37] bloodprashure opened #562 "Tableau Tutorial - Part 1"
### Brief Summary:
Tableau is one of the fastest growing data visualization softwares and is being adopted by almost all major firms in the field of data analytics. It's become so popular that Tableau enthusiasts have a fun competition wherein they compete every week under the name #MakeoverMonday, and the best vizzes making it to the official Tableau Public website. This multi-part series introdu

[2020-11-01 15:10] LinusMuema opened #564 "Deep dive into RxJava Operators"
### Brief Summary:
With RxJava observables, many operators aid in data transformation and how we receive the data. This article aims at checking most of the common RxJava operators and how they are grouped.

### Key Takeaways:
1. What are RxJava operators
2. Some of the RxJava operators
3. How RxJava operators work

### References:
N/A

[2020-11-01 19:03] #490 closed

[2020-11-01 19:17] Manley12 opened #565 "How Does Mining Cryptocurrency Work?"
### Brief Summary:
Mining cryptocurrency is a complex mathematical system. These such systems proves, without a doubt, that a computer generated the correct key to the cryptocurrency coin within a block, but also owns said coins. Mining pools allows user to pool together their mining power to find coins faster and more efficiently.

### Key Takeaways:
- Basic understanding of hashing
- Basic under

[2020-11-01 21:06] Quadrisheriff opened #566 "Building a documentation website from scratch using Hugo"
### Brief Summary:
Documentation is a must in every software development project. In this tutorial, we will build a technical documentation website with Hugo-extended and the Docsy theme.

### Key Takeaways:
1. Learn the importance of documentation in a software development project
2. Learn how to install and set up Hugo.
3. Learn how to install and setup the Docsy theme.

### References:
- https:

[2020-11-02 09:20] JudyNduati commented on #554
Thank you for the insights, @hectorkambow. How about giving a review of the two softwares? I will give a topic suggestion based on functionality and rating.

[2020-11-02 12:31] kayere opened #568 "Android ViewPager2 with TabLayout"
### Brief Summary:
Slide transition between screens is very common in android applications. This is often used together with tabs to display and navigate through screens. This article will show how to use the `viewpager2` library and `TabLayout` to implement this feature in an android application.

### Key Takeaways:
1. Understand the `ViewPager2` library.
2. Understand how to use fragments in `Vi

[2020-11-02 14:16] kimkimani opened #569 "Understanding JavaScript functions"
### Brief Summary:
Functions are one of the fundamental building blocks in JavaScript; a function is a set of statements that performs a task or calculates a value. It can be called anywhere in your program. A function is invoked by something that calls it. They are subprograms, and they allow you to divide your program into more manageable tasks.

This guide will talk about function, including so

[2020-11-02 14:36] JudyNduati opened #570 "Atom vs. Visual Studio Code: Functionality and Features Comparison"
### Brief Summary:
Atom and VScode have much in common. This article will give a review of both text editors. Also, It will compare the performance, functionality, and features of Atom and VScode.

### Key Takeaways:
1. Atom vs. VSCode: Similarities
2. Atom vs. VSCode: Differences
3. Atom vs. VSCode: Functionality
4. Atom vs. VSCode: Features
5. Atom vs. VSCode: Pro and Cons

### References:
Pleas

[2020-11-02 17:00] ninjaginja commented on #562
Great topic @bloodprashure . Please make sure that your article covers new ground, beyond the getting started tutorial that you included in your references.

[2020-11-02 17:05] ninjaginja commented on #564
approved - thanks @LinusMuema

[2020-11-02 17:06] ninjaginja commented on #565
good topic @Manley12 . Please be sure that the content you develop is sufficiently different from the reference article that you've listed.

[2020-11-02 17:07] ninjaginja commented on #566
approved - thanks @Quadrisheriff

[2020-11-02 17:07] ninjaginja commented on #568
approved - thanks @kayere

[2020-11-02 17:11] ninjaginja commented on #569
@kimkimani I'm having a hard time seeing how this article will differ from what is already readily available through the docs that you've listed. We need to be sure that the content that we publish is original and not readily available through other sources. I'd suggest exploring a topic that is more unique.

[2020-11-02 17:14] ninjaginja commented on #570
@JudyNduati It doesn't seem that your suggested content intends to cover anything different than what is already readily available in the articles that you've cited in your references list. Perhaps a different spin on this article could be walking through a comparison of the two editors based on a practical coding example that you walk through?

[2020-11-02 17:33] collins-a opened #572 "Machine Teaching to Improve Artificial Intelligence"
### Brief Summary:

We provide machine learning models with volumes of data with the expectation that they shall identify patterns or learn relationships in the data. This can be an expensive and time-consuming process. However, there exists an approach that leverages human abilities and expertise to guide machine learning models to find solutions to problems much faster. This is called machine te

[2020-11-02 17:39] ninjaginja commented on #572
approved @collins-a . Please be sure that your content is sufficiently different from the articles cited in your references list.

[2020-11-02 17:41] collins-a commented on #572
Noted. I'll definitely make sure

[2020-11-02 19:25] #455 closed

[2020-11-02 20:22] kimkimani commented on #569
@ninjaginja . Yes, the key points look similar to the provided docs. I wanted to explain the function concept in a more non-docs way. Just trying to draw the concept in a more concise way and of course, explaining with examples to make the content stand out.

[2020-11-02 20:27] ninjaginja commented on #569
ok, if you feel that you can deliver unique value with your content, then go ahead. Please be sure that you use a title that is more specific to the content that you develop. The current suggestion is far too vague and generic.

I'm just trying to reduce the possibility of your article being rejected after you expend energy into it, in the case that we deem it's too redundant with existing content

[2020-11-02 20:27] #375 closed

[2020-11-02 20:31] kimkimani opened #573 "How To Use JavaScript Arrow Functions"
### Brief Summary:
Arrow functions were introduced in ES6 and allow you to write shorter function syntax, a straightforward and brief arrangement for formulating functions. This guide will walk through using the arrow function with well outline examples.

### Key Takeaways:
What is the JavaScript arrow function?
Why use the arrow function.
When to use the arrow function.
How to use the arrow funct

[2020-11-02 20:38] ninjaginja commented on #573
@kimkimani I see that you've got several issues and PRs open, which is fantastic! We're trying to focus on getting articles all the way through the production pipeline, rather than having articles stall in any stage. May I suggest focusing on the articles that you currently have in progress before suggesting new article ideas? This helps you better incorporate feedback into future content developm

[2020-11-02 20:39] ninjaginja commented on #525
@kimkimani are you still working on drafting this article?

[2020-11-02 20:41] ninjaginja commented on #396
@lalith1403 are you still working on this draft? I don't see a linked PR, so wanted to check status to see if we should continue to keep this issue open?

[2020-11-02 20:42] ninjaginja commented on #403
closing due to inactivity. Please request to reopen if you are still working on this content

[2020-11-02 20:42] #403 closed

[2020-11-02 20:42] ninjaginja commented on #404
closing due to inactivity. Please request to reopen if you are still working on this content

[2020-11-02 20:42] #404 closed

[2020-11-02 20:43] ninjaginja commented on #405
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:43] #405 closed

[2020-11-02 20:44] ninjaginja commented on #486
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:45] ninjaginja commented on #491
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:45] ninjaginja commented on #406
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:45] #406 closed

[2020-11-02 20:46] ninjaginja commented on #417
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:46] #417 closed

[2020-11-02 20:46] #418 closed

[2020-11-02 20:47] ninjaginja commented on #422
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:47] ninjaginja commented on #423
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:47] ninjaginja commented on #424
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:48] ninjaginja commented on #436
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:48] ninjaginja commented on #437
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:48] #437 closed

[2020-11-02 20:49] ninjaginja commented on #438
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:49] #438 closed

[2020-11-02 20:49] ninjaginja commented on #439
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:50] ninjaginja commented on #440
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:50] #440 closed

[2020-11-02 20:50] ninjaginja commented on #454
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:50] #454 closed

[2020-11-02 20:50] ninjaginja commented on #461
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:50] #461 closed

[2020-11-02 20:51] ninjaginja commented on #467
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:51] #467 closed

[2020-11-02 20:51] ninjaginja commented on #468
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-02 20:51] #468 closed

[2020-11-02 20:52] ninjaginja commented on #469
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-03 02:15] srishilesh commented on #422
Hi @ninjaginja , I'm currently working on this issue.

[2020-11-03 03:00] DesignrKnight commented on #469
Hello
Apologies. I'm still working on the article and would be over by coming Thursday.

This was the same article for which I asked in Slack about ability to add video to article.

Hope you consider.

[2020-11-03 03:22] damikanye commented on #486
working on the issue currently

[2020-11-03 04:57] kimkimani commented on #573
Sure @ninjaginja

[2020-11-03 05:33] Worawat101 opened #574 "Remove banner ads with watch video ads in React Native"
### Brief Summary:

The main aim is to control the display of ads using the React Hooks. The idea is to make users watch the short video ads so that they can disable the ads display for a certain amount of time.

### Key Takeaways:

- Learn how to use React Hooks.
- Learn how to integrate and implement Admobs in the Expo React Native ecosystem.
- Learn how to control the display of video ads.
- Le

[2020-11-03 13:25] lalith1403 commented on #396
Working on a couple of code snippets! Getting stuck due to lack of resources on the web. Will update by end of this week.

[2020-11-03 13:38] JudyNduati opened #576 "Symmetric and Asymmetric Encryption"
### Brief Summary:
Encryption is an important part of computing. This article aims to discuss symmetric and asymmetric key encryption and how they deploy encryption. It will also improve the reader's understanding of how they work.

### Key Takeaways:
1. What is Encryption
2. Symmetric Encryption
3. Asymmetric Encryption
4. Digital Certificates in Asymmetric Encryption
5. Applications of Symmetric

[2020-11-03 14:10] Charity-Njeri opened #577 "Internet of things(IoT)"
### Brief Summary:

Internet of Things (IoT) has changed the traditional way of living into a high tech lifestyle. The article discusses key issues and different challenges of IoT

### Key Takeaways:
Overview
Brief history
Advantages and disadvantages
Security and privacy

### References:
Please list links to any published content/research that you intend to use to support/guide this article. (If

[2020-11-03 14:50] ninjaginja commented on #525
@kimkimani Could you please elaborate on the 'issue' with the PR process? We're actively working to streamline things and looking for all feedback that could help improve processes. cc @hectorkambow

[2020-11-03 15:05] ninjaginja commented on #577
@Charity-Njeri This topic is far too broad for the type of content that we're seeking. We're looking for unique content that takes a practitioner's approach to addressing a developer challenge or area of interest. Please take a look at some of the recently published articles and open PR and issue lists for examples and comments around best practices. Tutorials are always a good way to deliver uniq

[2020-11-03 15:05] #577 closed

[2020-11-03 15:07] #554 closed

[2020-11-03 15:47] ninjaginja commented on #574
@Worawat101 Thank you for the topic suggestion. I'm having a difficult time understanding exactly what specific developer challenge you are looking to address in this article. The wording in your summary is very confusing. Are you able to further develop this summary with an extended outline to give us a better idea of what your article will include?

[2020-11-03 15:59] ninjaginja commented on #576
@JudyNduati  I'm having a difficult time seeing how your article will differ from the reference articles that you've listed? The bullet points that you've called out as key takeaways are information that is already covered across the content that you've referenced. Can you please expand upon the unique angle that your content will present?

[2020-11-03 17:41] JudyNduati commented on #576
@ninjaginja, the key takeaways look similar to the documents I referenced. I am planning to write unique content. Also, I will explain using examples to make this article stand out and easy for the reader to understand.

[2020-11-03 17:47] JudyNduati commented on #570
@ninjaginja, I will use practical coding examples to show a comparison of the two editors. Also, I will display unique content.

[2020-11-03 17:56] ninjaginja commented on #576
@JudyNduati We may be using different definitions of unique content. When we talk about bringing 'unique' and 'original' value to our readers, we're talking not only about the content itself (i.e. the wording/phrasing), but more importantly, the concepts. When the information is already available through other sources, we're not really adding anything to the resources available on the Internet. We

[2020-11-03 18:32] #520 closed

[2020-11-04 00:53] john-amiscaray opened #580 "Minecraft Plugin Development - A Hands On Crash Course"
### Brief Summary:
In this tutorial, we will be going over how to code Minecraft plugins in a fun, hands-on way. We will be doing so by creating fun (or frustrating) challenges, and a couple of potentially useful commands. This includes, but is not limited to: coding it so that stepping on grass blocks triggers explosions, making all creepers spawn invisible, and creating a command to spawn Wither

[2020-11-04 05:28] JudyNduati commented on #576
Sure, @ninjaginja, it is helpful, and I understand. Thank you for your insights.

[2020-11-04 05:47] JudyNduati commented on #570
@ninjaginja, how about this topic suggestion? May I go ahead

[2020-11-04 08:42] Worawat101 commented on #574
Hi, @ninjaginja Thank you, for giving feedback. I will update the summary here.

### Brief Summary:

It is high time where most mobile applications use Admobs to monetize their app and make a profit out of it. This tutorial will address the solution to displaying sustainable video ads that will reappear after a certain time while using different features in an app. Thus, make a profit out of it as

[2020-11-04 13:07] zolomohan opened #583 "React Native Livestream Application using Agora"
## Brief Summary

In this tutorial, we'll be going over how to create a simple React Native App using Agora to create a Livestream and sharing a room code for other users to join. This includes, but is not limited to: coding the app from scratch and **Add Event Listeners** on the Livestream to listen to audio and video state changes on the host to notify the audience in the Livestream.

## Key Tak

[2020-11-04 14:27] ninjaginja commented on #580
very cool topic @john-amiscaray  - approved :)

[2020-11-04 14:30] ninjaginja commented on #570
Yes, please go ahead and proceed with this content, keeping in mind the notes that I passed along yesterday on #576

[2020-11-04 14:31] ninjaginja commented on #583
Sounds like a cool tutorial @zolomohan  - approved :)

[2020-11-04 14:50] ninjaginja commented on #574
Thank you for clarifying @Worawat101 - approved

[2020-11-04 17:19] #485 closed

[2020-11-04 21:54] zolomohan commented on #583
I'll create a PR ASAP then :)

[2020-11-04 22:17] #421 closed

[2020-11-05 14:06] JudyNduati commented on #439
@ninjaginja, please re-open this issue. I am about to upload it

[2020-11-05 18:27] BrianaNzivu opened #592 "Making a simple Api request using Retrofit in Android."
### Brief Summary:
Retrofit is an HTTP networking type-safe REST client developed by square for Android and Java which intends to make it simpler to expand RESTful web services and networking. Retrofit is one of the popular networking library used by developers due to it's increased advantages over most networking classes and libraries. Most applications use APIs to obtain information that is larg

[2020-11-05 22:10] #473 closed

[2020-11-05 23:13] ninjaginja commented on #592
Sounds like a cool topic @BrianaNzivu  - approved :)

[2020-11-06 00:09] #555 closed

[2020-11-06 06:36] HarishTeens commented on #536
Hey @adrianmurage , are you still working on it. It sounds like a really exciting topic.

[2020-11-06 06:37] HarishTeens commented on #541
Hey @keerthivarumbudy , are you still working on this topic? seems like a really useful topic

[2020-11-06 06:48] keerthivarumbudy commented on #541
Yes, I'm currently working on it

Regards,
Keerthi V

On Fri, 6 Nov 2020, 12:07 Harish, <notifications@github.com> wrote:

[2020-11-06 07:55] adrianmurage commented on #536
Yes, I am.
It really is! It's particularly challenging because the method I choose to use to explain the concepts is visual and so I have to come up with my own flow charts. It has taken some time but I should be done by next week : )

[2020-11-06 09:00] HarishTeens commented on #536
That's so thoughtful, waiting for the article :raised_hands:

[2020-11-06 09:11] HarishTeens opened #593 "Group Chat App with Socket.io"
### Brief Summary:

This guide would cover :
 - Build a chat app with the following features:
     - one to many conversations
     - User join, leave notification
     - User typing notification.
 - Deploy the app to Heroku

### Key Takeaways:

- How to use socket.io to build real-time applications.
- Build chat apps from scratch.
- Workflow of Socket events, so that one could build their own eve

[2020-11-06 14:51] HarishTeens commented on #593
My bad, I didn't check properly. Sure I would solely focus on the Chat application then. Thought of keeping it all simple to demonstrate the concept. I'll add some more details and features.

[2020-11-06 19:02] #530 closed

[2020-11-07 20:10] ahmadmardeni1 opened #599 "Dive into Batch scripting language"
### Brief Summary:

**Batch** is a native programming language for windows, it can execute certain commands automatically at the level of an operating system ", it can be classified as an interpreter-based scripting language.
Also, it can be used for server installations.
This tutorial will be a "dive into" from the basics to the advanced points.

### Key Takeaways:

- What is **Batch** programmin

[2020-11-08 11:44] collins-a opened #600 "Securing of Artificial Intelligence from Adversaries"
### Brief Summary:
Artificial intelligence represents just how powerful and impactful technology has become. It is present in all aspects of our daily lives, from basic tasks to very critical implementations. However, AI systems may cause devastating damage if used by malicious actors. We often focus on how AI can be used to improve cybersecurity, but it is important to consider how to secure AI s

[2020-11-08 12:01] #396 closed

[2020-11-08 12:47] HarishTeens commented on #593
Hey @ninjaginja , I've updated the contents of the issue, Could you take a look at it once?

[2020-11-08 14:12] Bayler opened #602 "Tips and Tricks for Deep Learning"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Deep Learning is a sub-field of ML inspired by the structure of our human brain. It uses neural networks to identify patterns within unstructured data.
These tips and tricks in deep learning are essential for improving the accuracy of deep learning networks.

### Key Takeaways:
What are the 3-5 most importan

[2020-11-08 17:48] manmusa100 opened #604 "types of artificial intelligence"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?

### References:
Please list links to any published content/research that you intend to use to support/guide this article. (If none, please indicate 'N/A'.)

[2020-11-08 17:50] #604 closed

[2020-11-08 17:56] #462 closed

[2020-11-08 18:08] manmusa100 opened #605 "Types of Artificial intelligence (AI)"
### Brief Summary: Artificial intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to think like humans and mimic their actions. Types of Artificial intelligence (AI) help us to develop program suitable for a specific purposes.
Describe the what, why, and how of your content idea in 2-5 sentences.

### Key Takeaways: what is Artificial intelligence (AI).

[2020-11-08 19:35] mohamedgh16 opened #606 "All you have to know about inheritance using c#"
### Brief Summary:

**C#** is a general object-oriented programming (OOP) language for networking and Web development.
 it's primarily used on the Windows .NET framework, It is specified as a common language infrastructure (CLI) language.
**C#** is designed to improve developers’ productivity, It saves a lot of money by reducing development time and maintenance costs.
Inheritance allows you to def

[2020-11-09 11:28] mbaabuones opened #608 "An Overview of Drone Technology (Unmanned Aerial Vehicles (UAVs))"
### Brief Summary:
Unmanned Aerial Vehicles (UAVs), commonly known as drones, have gained popularity in the recent past because of their importance in aerial photography, surveillance and delivery. This article aims at providing readers with a broad understanding of this important technology. The information provided in the article will be resourceful to developers and users (existing and potentia

[2020-11-09 12:50] mbaabuones opened #609 "A Review of 5G Wireless Technology"
### Brief Summary:
5G is a new generation network that is gaining momentum because of its advanced features that enhance high speed and improved connectivity. This technology will supersede the 4G technology, which is currently used in many parts of the world. This article aims at providing a review of this new technology that may shape the global telecommunication industry.
### Key Takeaways:
The

[2020-11-09 15:45] #415 closed

[2020-11-09 15:55] ninjaginja commented on #599
Good topic @ahmadmardeni1 . Please be sure to thoroughly check your grammar and readability before submitting your article for review. (I noticed several awkward phrasings within your summary description.)

[2020-11-09 15:59] ninjaginja commented on #600
Good topic @collins-a . However, from your description, it seems a bit vague and generic. I think this article would be stronger as a practical guide 'How to Secure AI Systems', where you dive into tactical methods.

[2020-11-09 16:11] collins-a commented on #600
Noted. I'll take that perspective and focus on the various approaches and methods to secure AI systems.

[2020-11-09 16:18] ninjaginja commented on #593
Thanks for the update @HarishTeens . I just want to be sure that your tutorial will be sufficiently different from the example tutorial that you provided? I might recommend choosing a different type of application for your example, since the chat app has already been covered.

[2020-11-09 16:25] ninjaginja commented on #602
@Bayler Are you able to expand upon what the tips and tricks will entail? We've already had several articles cover the topic of deep learning, and I want to be sure that this content builds upon that without being repetitive.

[2020-11-09 16:27] ninjaginja commented on #605
Thanks for the topic suggestion. This topic is far too broad and has already been sufficiently covered across previously published articles. Please choose another area, with narrower focus to explore.

[2020-11-09 16:27] #605 closed

[2020-11-09 16:47] zolomohan opened #610 "React Native Agora Video Conference App"
## Brief Summary

In this tutorial, we'll be going over how to create a Video Conferencing app with React Native and Agora. You can share a room code for other users to join the conference.

## Key Takeaways

- Project Structure
- Start/ Join Video Conference
- Mute Local/ Remote Video and Audio Streams

[2020-11-09 16:49] zolomohan opened #611 "React Native Agora Video Conferencing App"
## Brief Summary
In this tutorial, we'll be going over how to create a Video Conferencing app with React Native and Agora. You can share a room code for other users to join the conference.

## Key Takeaways
Project Structure
Start/ Join Video Conference
Mute Local/ Remote Video and Audio Streams

[2020-11-09 16:49] #611 closed

[2020-11-09 17:00] Bayler commented on #602
Sure. @ninjaginja this article covers techniques used to improve the accuracy of results in deep learning.

For example:
On regularization, I'll be touching on techniques such as Dropout and Early stopping.

On Parameter tuning, I'll be covering on:

1.  Weight Initialization
Here, I'll cover on the Xavier initialization technique.

Basically, this article touches on tips we can improve on trainin

[2020-11-09 17:02] HarishTeens commented on #593
Yea sure @ninjaginja , I get your point. How about a Rock Paper Scissor Multiplayer Game?
Basic features could be,
- one creates a room, other joins with room ID
- after both the users have made their choice, we display who won
- even a leaderboard to keep track of the scores.

[2020-11-09 17:37] lalith1403 opened #612 "Generating a Word Cloud using Python"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
In this fun experiment with NLP in Python, we will be generating word clouds. Word clouds are efficient means to convey summaries of websites pictorially. Varying the font sizes ensures the importance of keywords is highlighted.
### Key Takeaways:
What are the 3-5 most important things the reader should under

[2020-11-09 17:42] rohanreddych opened #614 "Introduction to Cassandra"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
Apache Cassandra™ is a distributed NoSQL database that is highly scalable.

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
- Introduction to NoSQL database and Cassandra and setup.
- The Cassandra Query Language, data modelli

[2020-11-09 18:12] ninjaginja commented on #610
Sounds like a cool tutorial @zolomohan  - approved!

[2020-11-09 18:14] ninjaginja commented on #606
good topic @mohamedgh16 - approved!

Note: The phrasing of the title is a bit awkward. I'd suggest improving the readability.

[2020-11-09 18:18] ninjaginja commented on #608
Thanks for the topic suggestion @mbaabuones ! I'd suggest narrowing the focus of this article to address a specific challenge that developers might be seeking out within this particular topic area. For example, perhaps you could hone in on the programming languages with some practical examples?

[2020-11-09 18:19] ninjaginja commented on #609
@mbaabuones This topic is far too broad and has already been covered across several previously published articles.

[2020-11-09 18:19] #609 closed

[2020-11-09 18:20] ninjaginja commented on #612
This is a really great idea @lalith1403 - approved!

[2020-11-09 18:24] ninjaginja commented on #602
Thanks @Bayler ! This is very helpful for us to evaluate the suitability of the topic. Based on your expanded description, I think this sounds like something our readers could really benefit from. This topic is approved.

[2020-11-09 18:25] ninjaginja commented on #593
Great idea @HarishTeens ! ... approved!

[2020-11-09 18:40] ninjaginja commented on #614
Great topic @rohanreddych! I think the title could be a bit stronger with 'A Hands-On Introduction to Cassandra'

[2020-11-09 18:46] Bayler commented on #602
Thank you @ninjaginja

[2020-11-09 19:00] lalith1403 opened #616 "Implenting Linear Discriminant Analysis in Python"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
We will be implementing a Linear Discriminant Analysis (LDA) algorithm from scratch. It is used extensively as a dimensionality reduction technique. We will understand the theory behind the algorithm and implement it from scratch. Finally, we plot the dimensionally reduced data.
### Key Takeaways:
What are th

[2020-11-09 19:09] ninjaginja commented on #616
Great topic @lalith1403  - approved!

[2020-11-09 22:32] #359 closed

[2020-11-10 04:07] kvardhan10 commented on #491
Requesting to reopen the issue [*A Brief Guide to Wireless Mobile
Networking (#491)*].

I am sorry for delaying the submission of PR. I was active on the content
but got held up with my internal assessments, college tests and
assignments. I have been working on it again and I'll make sure to submit
the PR within a day or two.
I sincerely apologize for the inconvenience caused.

On Tue, 3 Nov 2020

[2020-11-10 07:29] manmusa100 opened #618 "Understand User interface(UI)/ user experience(UX) design"
### Brief Summary: The purpose of UI design, above all else, is to deliver content and make visual sense of well planned out UX. This article aims to discuss key Concepts  on User interface(UI)/ user experience(UX) design . It's also prepare beginners  for UI/UX design  courses.
Describe the what, why, and how of your content idea in 2-5 sentences.

### Key Takeaways:

1. UX Design Overview
2. UI

[2020-11-10 12:56] mbaabuones commented on #608
@ninjaginja Thank you for that suggestion. I actually wanted the article to focus on the programming languages used in drones. However, i did not get adequate resources that can help me build a 750-word article on drone programming. This explains why i added other aspects relating to drone technology.

[2020-11-10 13:31] BrianaNzivu opened #623 "Using Picasso in Android."
### Brief Summary:
Picasso is a powerful image loading library developed by Square that allows for hassle-free image loading in your application—often in one line of code!
Picasso was developed in order to reduce the amount of effort used by developers to load, cache, resize, or download images from Android Application. Picasso makes it easier for developers to work with images in various mobile a

[2020-11-10 14:35] ninjaginja commented on #491
No problem @kvardhan10 . We just try to keep the pipeline clean to represent articles in progress.

[2020-11-10 14:39] ninjaginja commented on #618
@manmusa100 , rather than taking a general approach to this topic by presenting concepts around a basic understanding, I think it would be much more impactful to focus on 'The most valuable design tools for beginner UI/UX designers'. You can still do a brief intro of UX and UI, but I would advise keeping your focus on actionable insights vs. concepts/definitions that are already widely available t

[2020-11-10 14:42] ninjaginja commented on #608
In that case, I'd suggest exploring another topic. We're not seeking content that repeats concepts/definitions that are already widely available through other sources.

[2020-11-10 14:42] #608 closed

[2020-11-10 14:44] ninjaginja commented on #623
Great topic @BrianaNzivu  - approved.

[2020-11-10 17:03] kvardhan10 commented on #491
Thank you very much. PR on the way🚀
From now onwards I'll try not to procrastinate.

On Tue, 10 Nov 2020 at 20:05, Molly Wojcik <notifications@github.com> wrote:

[2020-11-10 17:18] #378 closed

[2020-11-10 18:15] srishilesh commented on #436
Hi @ninjaginja , I am currently working on this issue. Requesting for reopen.

[2020-11-10 19:42] ninjaginja commented on #436
Sure thing, I have reopened the issue.

[2020-11-10 22:15] #399 closed

[2020-11-11 11:10] mbaabuones opened #625 "Clustering in Unsupervised Machine Learning"
### Brief Summary:
Unsupervised learning is a technique in machine learning (ML) that does not require supervision of models by users. This article introduces readers to unsupervised machine learning and why it is needed. It will mainly focus on advancing knowledge in clustering and various clustering types in unsupervised ML.

### Key Takeaways:
The following are key concepts that readers should

[2020-11-11 11:33] mbaabuones opened #626 "Autoscaling in Amazon Web Services (AWS): An Overview"
### Brief Summary:
Amazon Web Services (AWS) are cloud computing services that provide Application Programming Interfaces (APIs) and platforms for cloud computing to governments, individuals and companies. This article aims at providing readers with a broad understanding of autoscaling in AWS, which is an important concept for developers.

### Key Takeaways:
The following are important concepts th

[2020-11-11 13:33] ninjaginja commented on #625
good topic @mbaabuones  - approved

[2020-11-11 13:37] ninjaginja commented on #626
good topic @mbaabuones - approved

[2020-11-11 13:39] ninjaginja commented on #471
closing due to inactivity

If you are still working on this article, please request to reopen this issue

[2020-11-11 13:39] #471 closed

[2020-11-11 13:39] ninjaginja commented on #492
closing due to inactivity

If you are still working on this article, please request to reopen this issue

[2020-11-11 13:39] #492 closed

[2020-11-11 13:45] ninjaginja commented on #500
closing due to inactivity

If you are still working on this article, please request to reopen this issue

[2020-11-11 13:57] jamessandy commented on #500
I was about sending a PR in less today, just finished my personal review.

[2020-11-11 23:15] #503 closed

[2020-11-12 13:34] #569 closed

[2020-11-12 16:01] collins-a opened #633 "Evaluating Machine Learning Model Performance"
### Brief Summary:

Machine learning models are expected to provide accurate and trustworthy predictions. In order to confidently trust their predictions, it is important to assess how machine learning models generalize on test data. We look at how to evaluate model performance.

### Key Takeaways:

The reader should:
1. Understand the need to evaluate model performance
2. Get to learn the main mo

[2020-11-12 16:29] #614 closed

[2020-11-12 17:43] ninjaginja commented on #633
good topic @collins-a - approved

[2020-11-12 22:03] #553 closed

[2020-11-12 22:41] #439 closed

[2020-11-13 10:35] kayere opened #637 "Android Room"
### Brief Summary:
Most android applications require local data storage. In the past years, this has been achieved through the use SQLite database. Room is a persistent library that is part of the android jetpack. It is built on top of SQLite. This article goes through using the library in an android application.

### Key Takeaways:
1. Understand what Room persistent database is.
2. Understand how

[2020-11-13 12:30] EKahuha opened #639 "How to Implement MLOps"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The use of machine learning and AI-based models in iOS,  chatbots, Stock price prediction, facial recognition, and detection, among other areas, has increased. Implementing all these technologies developed by combining AI and Machine Learning at scale is becomes challenging, and this is where MLOps comes in.

[2020-11-13 13:34] Tsanguu commented on #424
@ninjaginja Open Request. Opened PR #640

[2020-11-13 14:09] kimkimani commented on #573
@ninjaginja wanted to know if I can start drafting this article.

[2020-11-13 14:18] ninjaginja commented on #573
Sure @kimkimani, you're free to start working on this draft. Please be sure that your content is sufficiently unique from the reference docs, including the code examples that you include.

[2020-11-13 14:26] ninjaginja commented on #637
Good topic @kayere . Please be sure that you make the title of your article more specific to the challenge that you are addressing. The current title is very generic and doesn't describe what you intend to cover in the content.

[2020-11-13 14:28] ninjaginja commented on #639
Cool topic @EKahuha . I'd suggest making your title more compelling to grab attention for those who are interested in this topic area.

[2020-11-13 14:30] kayere commented on #637
Noted @ninjaginja

[2020-11-13 15:26] kvardhan10 commented on #491
Hey @ninjaginja . I have submitted the PR for this issue just now. I have also commented "This fixes #491" in the PR. This is my first time doing it so how do I link this issue to the PR?

[2020-11-13 15:30] ninjaginja commented on #491
Great! You can link the PR and issue together on either property on the right toolbar. I've done so in the issue here:
<img width="375" alt="Screen Shot 2020-11-13 at 8 29 17 AM" src="https://user-images.githubusercontent.com/18599354/99089407-827ee180-258a-11eb-8c45-a94586ac237c.png">

[2020-11-13 16:51] #540 closed

[2020-11-13 17:17] kvardhan10 commented on #491
Understood!Thank you very much👍

[2020-11-13 18:45] WanjaMIKE opened #643 "Build a real-time chat application using socket.io and node.js"
### Brief Summary:

The tutorial will help semi beginners to build a real-time chat application using node.js and socket.io. Both of these platforms are in high demand. Therefore, the skills acquired from this tutorial can be used to develop more complex applications in the future.

### Key Takeaways:

- The user will have a greater understanding of node.js or JavaScript.
- The read will be able t

[2020-11-13 19:21] #499 closed

[2020-11-13 21:52] #331 closed

[2020-11-13 21:59] ninjaginja commented on #643
@WanjaMIKE This topic has already been suggested with comments on #593 . Please select a different topic area to explore.

[2020-11-13 21:59] #643 closed

[2020-11-14 13:45] srishilesh opened #644 "Secured Deep Learning in Remote Devices"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

In this article, we will understand how Secured deeplearning models can be deployed in Remote devices using Federated learning. We will also be going over a step by step guide for implementation.

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after re

[2020-11-14 17:06] collins-a opened #645 "Handling Imbalanced Data in Machine Learning"
### Brief Summary:

Data powers machine learning algorithms. It is important to have balanced datasets in a machine learning workflow. Imbalanced datasets mean that the number of observations differ for the classes in a classification dataset. This imbalance can lead to inaccurate results. This motivates us to explore techniques to handle imbalanced data.

### Key Takeaways:

The reader should:
1.

[2020-11-15 19:41] #493 closed

[2020-11-15 20:44] #422 closed

[2020-11-15 21:54] #497 closed

[2020-11-16 05:01] WanjaMIKE opened #648 "Implementing scoped model in your Flutter application"
### Brief Summary:
The ScopedModel refers to the framework that allows data to flow from the parent widget down to its children or descendants. It allows users to build creative and highly interactive applications. Flutter is increasingly becoming popular today. It is, therefore, important for you as a developer to understand how the application receives and consumes data

### Key Takeaways:
- Und

[2020-11-16 07:41] mbaabuones opened #649 "The Basics of GIS Software"
### Brief Summary:
A Geographic Information System (GIS) software is a system or application that enables people, organizations or governments to store, analyze, visualize and manipulate spatial and geographic data. This software is important because it enhances monitoring and planning in areas such as agriculture, fire response, surveying and disaster management. This article provides readers wit

[2020-11-16 08:10] mbaabuones opened #650 "Backward Chaining in Artificial Intelligence"
### Brief Summary:
Backward chaining is a concept in artificial intelligence (AI) that involves backtracking from the endpoint or goal to steps that led to the endpoint. This goal-driven algorithm is important to developers that want to design effective solutions in complex database systems. This article provides meaningful information regarding this important aspect.

### Key Takeaways:
The follo

[2020-11-16 09:13] Bayler opened #651 "Mathematics for Machine Learning (ML)"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Mathematics is everywhere. It has helped us achieve a lot through our history.  From finance to time management, the use of mathematics has been very essential. In this article, we will be learning the importance of mathematics in Machine Learning (ML).

### Key Takeaways:
What are the 3-5 most important thi

[2020-11-16 09:52] WanjaMIKE opened #652 "How to create an API using Laravel"
### Brief Summary:
Laravel is a PHP framework that make it easy for users to build high quality web applications. Laravel is preferred by many developers since it contains close to all required dependencies. It also eliminates a lot of boiler plate code. It is, therefore, easy to create APIs using this framework.

### Key Takeaways:
 - Understand what APIs are
- Create a simple API using Laravel
-

[2020-11-16 11:43] jamessandy opened #653 "Introductions to time series"
### Brief Summary:
This article will give users an introduction to what time series is in machine learning. It is fast rising deep learning concepts with a wide scope of projects and It will also give a detailed overview and  basic implementations,

### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading this article?
1. What is time se

[2020-11-16 12:05] cyberShaw opened #655 "Using Tuples in Python"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

A tuple is a data structure in Python which are ordered and immutable. They are similar to lists and vary by the fact that they are immutable. That is, they cannot be changed. This article would be a quick introduction to tuples and would be a tutorial on how to use tuples in Python.

### Key Takeaways:
What

[2020-11-16 16:14] ninjaginja commented on #644
good topic @srishilesh - approved

[2020-11-16 16:14] ninjaginja commented on #645
great topic @collins-a - approved

[2020-11-16 16:23] ninjaginja commented on #648
great topic @WanjaMIKE  - approved

[2020-11-16 16:28] ninjaginja commented on #649
Thanks for the topic suggestion @mbaabuones. GIS software is on the periphery of topics that are relevant for our audience. At this time, I think we'll steer away from this topic area.

[2020-11-16 16:28] #649 closed

[2020-11-16 16:28] ninjaginja commented on #650
this is a good topic @mbaabuones - approved

[2020-11-16 20:08] #558 closed

[2020-11-16 21:44] #506 closed

[2020-11-16 22:17] hectorkambow commented on #523
Closing due to inactivity. Please request to reopen if you are still working on this content. Or, if there is an open PR, please be sure to link it to this issue.

[2020-11-16 22:17] #523 closed

[2020-11-17 05:23] WanjaMIKE opened #660 "Implementing Firebase in Flutter"
### Brief Summary:
Firebase is an online database that allows developers to store and retrieve data quickly. Users can create productive applications using its unique utilities or tools. With Flutter's increasingly popularity, it is important to understand how to store users' data online. The article highlights the crucial steps that should be followed when using Firebase in your flutter applicati

[2020-11-17 08:06] mwangiKibui opened #661 "Implementing Public-key cryptography in JavaScript"
### Brief Summary:
Public-key cryptography is an encryption system which comprises of private and public key pairs. The private keys are known only to the sender and receiver whereas public keys are disseminated widely. The encryption system solves the key distribution problem which involves keeping keys secret from being tampered by third parties.This article highlights implementation of public-k

[2020-11-17 10:07] LinusMuema opened #662 "Getting started with WorkManager"
### Brief Summary:
Performing background tasks in Android has always been a challenge. Jetpack introduced the WorkManager library to make this process easier for developers. This article aims at giving the reader a basic understanding of what the library is and it's pros.

### Key Takeaways:
1. What is WorkManager
2. How to use WorkManager
3. The advantages of using WorkManager

### References:
N/

[2020-11-17 10:14] WanjaMIKE opened #663 "How to use databinding in Android using Kotlin"
### Brief Summary:
Databinding allows developers to bind the UI components or widgets to their data sources. It eliminates a lot of boiler plate code since the widgets are updated automatically in case of any data changes. Therefore, databinding can allow you to create productive applications with less code.

### Key Takeaways:
- Understand what databinding in android entails
- Know how to impleme

[2020-11-17 14:48] ninjaginja commented on #651
good topic @Bayler . Please be sure to include examples in your article as well.

[2020-11-17 14:52] ninjaginja commented on #652
good topic @WanjaMIKE  - approved.

I see that you've got several other topic suggestions in the queue as well. I'd like to advise that you work through previously suggested articles before suggesting new topics so that we can keep our pipeline clean and make sure that we're focusing on getting articles published.

[2020-11-17 14:54] ninjaginja commented on #653
good topic @jamessandy - approved. Please be sure to put your article through a thorough grammar/readability review prior to submitting for review. (I noticed several grammatical errors in your topic summary.)

[2020-11-17 14:55] ninjaginja commented on #655
good topic @cyberShaw - approved

[2020-11-17 14:56] ninjaginja commented on #660
good topic @WanjaMIKE - approved

[2020-11-17 14:58] ninjaginja commented on #661
good topic @mwangiKibui  - approved

[2020-11-17 14:59] ninjaginja commented on #662
good topic @LinusMuema - approved

[2020-11-17 15:15] Bayler commented on #651
I sure will. Thank you

[2020-11-17 15:19] WanjaMIKE commented on #652
@ninjaginja Noted

[2020-11-17 15:29] JudyNduati opened #665 "Basics of The Object Model"
### Brief Summary:
An object model sees information systems as sets of objects. Object models use various diagrams to show how objects behave and how they perform real-world tasks. In this article, we will look into the basic concepts of object models.

### Key Takeaways:
1. Defining the object model
2. Explaining OOP, OOD, and OOA
3. Elements of the Object Model
4. Applications of the Object Mode

[2020-11-17 17:27] #559 closed

[2020-11-18 00:16] #513 closed

[2020-11-18 02:14] #572 closed

[2020-11-18 03:40] krissnawat opened #667 "How to setup CI/CD to React with Circle CI, AWS S3, and AWS CloudFront"
### Brief Summary:
In the present software development context, the important workflows for software development are run, tested, built, and deployed without setting up CI/CD. All the processes in the software development are done manually from running tests to running the build to get the build file and deploying on the server. The development cycle for adding new features and fixing bugs done ma

[2020-11-18 03:40] #667 closed

[2020-11-18 03:42] Worawat101 opened #668 "How to setup CI/CD to React with Circle CI, AWS S3, and AWS CloudFront"
### Brief Summary:
First, we are going to set up the GitHub repository. After the successful setup of the GitHub repo, we need to register to an AWS account and navigate to the console. We are going to setup AWS S3 with all the permissions and local deployment configured. Then, move on to setting up CircleCI using a GitHub account. Lastly, we use AWS CloudFront to deploy our project.
![](https://w

[2020-11-18 11:06] JudyNduati opened #670 "Understanding Document Object Model in JavaScript"
### Brief Summary:
Document Object Model (DOM) is an API for HTML and XML. Every Html element in a document is an object. In this article, you will learn about DOM in JavaScript

### Key Takeaways:
1. What is DOM
2. DOM as a hierarchy of nodes
3. DOM - JavaScript View
4. Types of Nodes
5. Understanding Node and Element

### References:
https://www.w3schools.com/js/js_htmldom.asp
https://www.tutori

[2020-11-18 14:21] mbaabuones opened #671 "Forward Chaining in Artificial Intelligence"
### Brief Summary:
Forward chaining is a method of reasoning in artificial intelligence in which inference rules are applied on existing data to extract additional data until an endpoint (goal) is achieved. This type of chaining is important to developers that want to use data-driven algorithms to develop effective computer-based systems. This article provides readers with a broad understanding of

[2020-11-18 14:27] mbaabuones opened #672 "Introduction to the Dark Web"
### Brief Summary:
The dark web refers to internet content (worldwide web) that has not been indexed by standard search engines. The hidden content is accessible through special configurations, authorization or software. This article takes readers through important aspects regarding the dark web.

### Key Takeaways:
Readers should gain knowledge in the following aspects;
1. What is the dark web?
2

[2020-11-18 14:30] ninjaginja commented on #671
@mbaabuones could this be combined with your previous article suggestion - 'Forward and Backward Chaining in AI'?

[2020-11-18 14:32] ninjaginja commented on #665
good topic @JudyNduati - approved

[2020-11-18 14:33] ninjaginja commented on #670
@JudyNduati I think there's too much overlap with this previously published article - https://www.section.io/engineering-education/document-object-model/

Please select a different topic area to explore.

[2020-11-18 14:33] #670 closed

[2020-11-18 14:34] ninjaginja commented on #668
great topic @Worawat101 - approved

[2020-11-18 14:34] mbaabuones commented on #671
@ninjaginja Yes, i can do that.

[2020-11-18 14:35] ninjaginja commented on #671
Cool, I'm going to close this. (Consolidated into #650 )

[2020-11-18 14:35] #671 closed

[2020-11-18 14:36] ninjaginja commented on #672
While this is an interesting topic @mbaabuones . As a reputable brand, I don't think we want to host any content that's associated with the dark web. Please select a different topic area to explore.

[2020-11-18 14:36] #672 closed

[2020-11-18 14:37] mbaabuones commented on #672
@ninjaginja Alright. Noted.

[2020-11-18 14:42] mwangiKibui opened #673 "Implementing secret key cryptography in JavaScript"
### Brief Summary:
Secret key cryptography is an encryption system that involves using only one secret key. The key is shared between the communicating pairs. It is considered faster than public key cryptography and therefore applied to bulk messages. In this article we shall go through secret key cryptography algorithms, its libraries in JavaScript and implement an example application.

### Key T

[2020-11-18 14:44] mbaabuones opened #674 "Conditional Automation in Driving: Level 3 Autonomous cars"
### Brief Summary:
Autonomous driving is gaining momentum in the automobile industry. This area has gained interest among developers because of the application of artificial intelligence and augmented reality (AR) in autonomous driving. This article aims at providing readers with meaningful information regarding the third level of autonomous driving.

### Key Takeaways:
1. What is an autonomous ca

[2020-11-18 16:40] #491 closed

[2020-11-18 16:48] ninjaginja commented on #673
good topic @mwangiKibui - approved

[2020-11-18 16:49] ninjaginja commented on #674
good topic @mbaabuones - approved

[2020-11-18 20:52] kimkimani opened #678 "Implement Android Application Update"
### Brief Summary:
Once an application is deployed to the production environment, the first release becomes the first version of that application. But in the future, the application may require enhancements, and more features will be added to it. These features are updates that will frequently be used to improve the application. Every time a new update is made, that triggers a new version.

Suppos

[2020-11-18 21:03] #625 closed

[2020-11-18 23:42] ninjaginja commented on #678
great topic @kimkimani - approved

[2020-11-19 07:54] paulodhiambo opened #679 "Android Notifications"
### Brief Summary:
Notifications are messages that Android displays outside your app's UI to provide the user with reminders, communication from other people, or other timely information from your app. Users can tap the notification to open your app or take an action directly from the notification.

### Key Takeaways:
- Android notifications.
- Different types of android notifications.
- How to cr

[2020-11-19 12:36] EKahuha opened #682 "Data Lake vs Data Warehouse vs Database"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

Every industry needs to process data. But the kind of data, its scope, and its use will
illustrate if a data warehouse, database, or a data lake will be best solution for your enterprise. This article will compare these three data management systems.
### Key Takeaways:
What are the 3-5 most important things

[2020-11-19 12:47] zolomohan opened #683 "Express Server to Generate Authentication Token for Agora Applications"
## Brief Summary

In this tutorial, we'll be going over how to build an Express server to generate an Agora Authentication Token for Agora Applications.

## Key Takeaways

- Project Structure
- Setup an Endpoint to Request Token
- Generate an Agora Authentication Token

[2020-11-19 13:07] EKahuha opened #684 "Robotic Process Automation (RPA) Use Cases in the Healthcare Industry"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

The present day advanced automation solutions such as Robotic Process Automation (RPA), can help the healthcare industry increase operational efficiency, lower costs, and limit the possibility of human error when processing information. This article explains how RPA automates various complex tasks for medica

[2020-11-19 14:59] ninjaginja commented on #679
Thanks for the topic suggestion @paulodhiambo . Could you please explain how your article will differ from the docs that you've referenced? We need to be sure that we're presenting original, unique content beyond what's already readily available through public sources.

[2020-11-19 14:59] ninjaginja commented on #682
good topic @EKahuha - approved

[2020-11-19 15:07] zolomohan commented on #683
I hope this clarifies things. 🙂
I'll be going over both actually, what it is, and how to set it up.

[2020-11-19 15:11] ninjaginja commented on #684
good topic @EKahuha - approved

[2020-11-19 15:12] ninjaginja commented on #683
okay, thanks

[2020-11-19 17:13] zolomohan commented on #683
Will have a PR ASAP :)

[2020-11-19 17:56] ahmadmardeni1 opened #686 "Physical Security and how to protect your facility"
### Brief Summary:
Physical Security is the protection of hardware, software, networks, and data from physical actions and events that could cause serious loss or damage to an enterprise, agency, or institution.

### Key Takeaways:
- What is Physical Security?
- Information Security vs. Physical Security.
- The layers of Physical Security.
- How to protect your facility against physical hackers.
#

[2020-11-19 18:09] #600 closed

[2020-11-19 18:32] ninjaginja commented on #686
Thanks for the topic suggestion @ahmadmardeni1 . This is outside of our preferred topic areas. Please choose another area to explore, using our published content library as a guide.

[2020-11-19 18:32] #686 closed

[2020-11-19 18:45] collins-a opened #688 "Dataset Shift in Machine Learning"
### Brief Summary:
Dataset shift manifests when there is a change in the distribution of data. In the real world, data distribution may be influenced by socioeconomic factors, varying consumer habits among other factors. These factors can alter the underlying relationships between input and output data. As a result, the performance of a model is degraded. It is worth exploring how to handle datase

[2020-11-19 19:46] #565 closed

[2020-11-19 21:13] #502 closed

[2020-11-20 02:57] mwangiKibui opened #690 "Array operators in JavaScript"
### Brief Summary:
Arrays are variables that can be used to store different elements in a program. They are coupled with methods to perform traversal and mutation operations. This article shall highlight the elements that can be stored in an array and the operations that can be done on them.

### Key Takeaways:
- Understand the elements that can be stored in an array.
- Understand the various oper

[2020-11-20 08:14] paulodhiambo commented on #679
@ninjaginja the article will be explaining android notifications beyond the basic explanations which are available in the documentation. I will be explaining from the basics of notifications to advance concepts like sending notification messages through Firebase cloud messaging.

[2020-11-20 14:58] mbaabuones opened #694 "Introduction to Digital Twin Technology"
### Brief Summary:
Digital twin technology is a concept that integrates software analytics, artificial intelligence and special network graphs to create digital simulation models that replicate physical assets (physical twin). It performs important functions such as optimization of operations in manufacturing processes and driving business value. This article gives readers meaningful information r

[2020-11-20 15:03] ninjaginja commented on #688
Good topic @collins-a - approved. Please be sure that the title of the article is reflective of what you intend for the reader to get out of the content. For example: 'Understanding Dataset Shift in Machine Learning'

[2020-11-20 15:08] ninjaginja commented on #690
good topic @mwangiKibui - approved. I think the title could be stronger by clearly indicating what the reader should expect to get out of the content. For example: 'How to use array operators in JavaScript'

[2020-11-20 15:10] ninjaginja commented on #694
good topic @mbaabuones - approved. Could you please upload the pdf file that you listed as a reference to this issue?

[2020-11-20 15:20] mbaabuones commented on #694
@ninjaginja Sure. Find attached.
[an-introduction-to-digital-twin-development.pdf](https://github.com/section-io/engineering-education/files/5574387/an-introduction-to-digital-twin-development.pdf)

[2020-11-20 15:30] collins-a commented on #688
@ninjaginja thank you, noted. I'll restructure the topic accordingly 😁

[2020-11-20 15:58] mbaabuones opened #695 "Intelligent Agents in Artificial Intelligence"
### Brief Summary:
An intelligent agent is an entity that makes decision, which enables artificial intelligence to be put into action. This article introduces readers to various aspects regarding intelligent agents in AI. It will help in expanding their knowledge in how AI works.

### Key Takeaways:
1. What is an intelligent agent in artificial intelligence?
2. Characteristics of intelligent agent

[2020-11-20 16:58] geoffrey45 opened #696 "Django user registration using Google Oauth"
### Brief Summary:
User registration in Django has been made easier by Google Oauth APIs. Users won't have to type their details to sign up in your Django app. All they need is a Google account. We'll look at setting up "Sign up with Google" in your app.

### Key Takeaways:
The readers will be able to:
- install and set up required Oauth package/s
- create a Google Oauth interface using Django tem

[2020-11-20 17:40] ninjaginja commented on #695
good topic @mbaabuones - approved. Please be sure that the title is descriptive of what the reader should expect to get out of the content (e.g. understanding, how to, comparison, etc.)

[2020-11-20 17:41] ninjaginja commented on #696
great topic @geoffrey45  - approved

[2020-11-20 18:01] Erastuskanyatta opened #697 "Getting started with yii2 php framework"
### Brief Summary:
Yii2 PHP framework is one of the best web frameworks for building simple and scalable web applications. We will look at building a simple web app using yii2 framework.
### Key Takeaways:
The reader will be in a position to:
- install and setup yii2 framework.
- create a new yii2 project
- connect a database to the project
- create database models using gii
- register and manage

[2020-11-20 19:06] ninjaginja commented on #697
sounds like an interesting topic @Erastuskanyatta  - approved. One suggestion, you might consider updating the title to 'Getting started with yii2 php framework', since it sounds like your article will be more focused on setup and implementation.

[2020-11-20 23:19] #469 closed

[2020-11-21 03:10] cyberShaw opened #698 "Write Efficient Code in Python using Lambdas"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

A lambda is an anonymous or a nameless function in Python. Lambda functions have their roots in functional languages like Lisp, Scheme and are also incorporated in Python, Java, C++, etc. These anonymous functions have a wide variety of uses. Advanced python programmers often use lambdas to simplify a lot of

[2020-11-21 08:40] DesignrKnight opened #699 "Setup a dev environment on cloud"
### Brief Summary:
Visual Studio Codespaces in a cloud-powered development environment that would enable developers to work from anywhere and on any platform.
### Key Takeaways:
- Setup VS Codespaces
- Use port forwarding to preview the project from the cloud on the local system
- Use Codespaces from VS Code and also from browser
- Use your own server as a dev environment

### References:
- https:

[2020-11-21 15:14] paulodhiambo opened #701 "Securing Django Rest endpoints"
### Brief Summary:
Authentication makes it possible to control how users interact with our restful API endpoints. Django supports a number of ways of authenticating users. In the article we will be securing our Todo rest API endpoints that we created [here](https://www.section.io/engineering-education/python-generators/).

### Key Takeaways:
- Adding a custom User model to Django.
- Securing Rest

[2020-11-21 16:40] mwangiKibui opened #703 "How to use object operations in JavaScript"
### Brief Summary:
JavaScript as a language is based on a simple object-based paradigm. An object in JavaScript can be defined as a collection of properties about an entity where a property is a key value pair. This article shall highlight objects as a whole in JavaScript, how you can implement objects in JavaScript and the various methods that can applied on the objects.

### Key Takeaways:
- Und

[2020-11-21 18:35] collo500 opened #704 "Integrating Admob to an android application."
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The purpose of this article is to guide the developer on how he/she can integrate admob ads to an android application using a java programming language and Extensible Markup Language(XML).
### Key Takeaways:
What are the 3-5 most important things the reader should understand or be able to do after reading thi

[2020-11-21 23:26] #566 closed

[2020-11-22 08:57] Dawe-7 opened #705 "Getting started with operator overloading in C++"
### Brief Summary:
Operator overloading provides the ability to a mathematical operator to perform other manipulation operations other than its original operation.

For example, the '+' operator is used for arithmetic addition purpose, but with the help of operator overloading, we can use ‘+’ operator to concatenate two strings at runtime efficiently.

Thus, C++ has the ability to make operators w

[2020-11-22 15:17] iam-jerry opened #706 "Baye's Rule in Artificial Intelligence Methods"
### Brief Summary:
Baye's Rule or theorem is a formula that describes how to update the probabilities of hypotheses when given evidence. Many modern machine learning techniques rely on Baye's rule, e.g., spam filters use Bayesian updating to determine whether an email is real or spam, given the words in the email. It can also be used to weigh conflicting pieces of evidence in medicine, in court of

[2020-11-22 20:09] #546 closed

[2020-11-22 20:49] #568 closed

[2020-11-22 22:54] #525 closed

[2020-11-23 08:20] lalith1403 opened #708 "Guide to Open Source Licenses"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
The world of open source has its own constraints. Seldom do we check for the licences and what they actual mean. This is an attempt to Educate the reader with the limitations and freedom that various open source licenses bring.
### Key Takeaways:
What are the 3-5 most important things the reader should unders

[2020-11-23 09:39] Njerikariuki opened #711 "http requests using jquery"
### Brief Summary:
Jquery gives particulars on requesting data from a server. The essence is to ensure you understand a connection between a client and a webserver. AJAX methods briefly explain the protocol of sending requests.

### Key Takeaways:
1. The jquery AJAX methods
2. Staging of HTTP request methods.
3. The relation between JS and XML.
 The reader will be able to:
- Send a request to a se

[2020-11-23 19:38] #644 closed

[2020-11-23 19:53] ninjaginja commented on #698
good topic @cyberShaw . I'd recommend making the title more descriptive of exactly what the reader can expect to gain from the content (e.g. Introduction to.., How to..., Comparing...)

[2020-11-23 19:55] ninjaginja commented on #699
good topic @DesignrKnight - approved. If you intend to focus on how to use VS Codespaces to do something, please be sure that the article title reflects that.

[2020-11-23 19:55] ninjaginja commented on #701
Great topic @paulodhiambo - approved

[2020-11-23 19:59] ninjaginja commented on #703
good topic @mwangiKibui . I would advise holding on developing this article until you've submitted and received feedback on #690 to be sure you incorporate all feedback/learnings into this article.

[2020-11-23 20:02] ninjaginja commented on #704
good topic @collo500 - approved.

[2020-11-23 20:03] ninjaginja commented on #705
great topic @Dawe-7 - approved

[2020-11-23 20:04] ninjaginja commented on #706
great topic @iam-jerry - approved

[2020-11-23 20:04] ninjaginja commented on #708
great topic @lalith1403 - approved

[2020-11-23 20:07] ninjaginja commented on #711
Good topic @Njerikariuki . Although I think I understand the concepts that you intend to convey in your article, the summary that you've provided is difficult to read. We do not provide extensive editing services, so please be sure that your drafted content undergoes a thorough grammar and readability check before submitting your article for final review.

[2020-11-23 21:15] #474 closed

[2020-11-23 21:17] cyberShaw commented on #698
I've changed title to,
"Write Efficient Code in Python using Lambdas" 😁

[2020-11-23 21:20] ninjaginja commented on #698
That's perfect!

[2020-11-23 23:38] #535 closed

[2020-11-24 00:41] sardug10 opened #715 "How CSS works behind the scenes?"
### Brief Summary:
Normally, people don't know what happens behind the scenes of CSS. With this article I would like to give information to the people about how CSS works behind the scenes, starting from the very first thing i.e, initialization of CSS-Object Model to the very end i.e, Visual Formatting Model

### Key Takeaways:
1. CSS-Object Model
2. Parsing of CSS including cascading and resolvin

[2020-11-24 02:34] mwangiKibui commented on #703
okay, thank you.

On Mon, Nov 23, 2020 at 11:00 PM Molly Wojcik <notifications@github.com>
wrote:

[2020-11-24 06:41] DesignrKnight commented on #699
Thanks, I will make sure the title includes it

[2020-11-24 06:58] tensoncai opened #716 "Graph Traversals: Depth First Search vs Breadth First Search (Java)"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

This article will teach students what graphs are and how to traverse graphs with a depth first search algorithm and a breadth first search algorithm. It will explain the idea behind each algorithm and show code examples of each. It will go over recursive and iterative implementations. The language used will

[2020-11-24 07:22] corpsgeek opened #717 "Getting started with Flask web framework"
### Brief Summary:
Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. In this article, a step by step guide will be provided on how to install flask, and building a mini project.
### Key Takeaways:
You will learn:
- how to setup and install a virtual environment
-how to install and run flask
- how to str

[2020-11-24 08:18] Quadrisheriff opened #718 "Software Testing Part 1 - Introduction to Unit Testing"
### Brief Summary:
Software Testing is a very important software development process. It improves the quality of your software and also ensures you don’t ship bad bug-filled products to your users.

In this article, we will talk extensively about unit testing, how to run unit tests, the benefits of running unit tests, and the limitations. This article is the first part of our software testing seri

[2020-11-24 08:49] Quadrisheriff opened #719 "Software Testing Part 2 - Introduction to Test Driven Development(TDD)"
### Brief Summary:
This is the second article of our Software testing series, where we talk about popular software testing techniques.

In this article, we will talk about Test Driven Development(TDD), the benefits, and the limitations.

### Key Takeaways:

After reading this article, you should

- Understand what TDD is all about, the rules of TDD, know when to use TDD, the benefits of TDD, and t

[2020-11-24 10:37] Dawe-7 opened #720 "Introduction to Android Views and Viewgroups"
### Brief Summary:
Android makes use of Views to create UI components that the user can interact with. This article is a beginner-friendly introduction to the various Views and the related classes. It will guide readers on how to create various widgets and layouts in an Android application.

### Key Takeaways:
1. What are views and viewgroups
2. Which are the common views and viewgroups
3. What at

[2020-11-24 10:46] LinusMuema opened #721 "Deep dive into the Android Navigation Components"
### Brief Summary:
The Jetpack Navigation library brought in many functions with the Navigation drawers being the most common. However, most developers do not know of the other deep functions of the Navigation components and how they work. This article aims to guide developers on how to maximize the power of the Navigation Library.

### Key Takeaways:
1. What is the use of a NavGraph
2. Navigation

[2020-11-24 12:20] ahmadmardeni1 opened #722 "An introduction to Neural Networks"
### Brief Summary:
**Neural networks** is a subfield of machine learning, where the structure of the human brain inspires the algorithms.
Neural networks take the input data and train itself to recognize patterns and spot trends.
This tutorial will be an introduction for future tutorials about using the different algorithms of neural networks to predict stock prices/build a trading bot, and a lot

[2020-11-24 17:44] ninjaginja commented on #715
great topic @sardug10 - approved.

As a side note, I noticed some readability challenges in your topic summary. Please be sure that you put your article through a thorough grammar and readability check prior to submitting for review, as we do not offer extensive editing services and want to be sure that we're able to publish your article and maximize your payout.

[2020-11-24 17:47] ninjaginja commented on #716
good topic @tensoncai - approved

[2020-11-24 17:49] ninjaginja commented on #717
good topic @corpsgeek - approved. Please be sure that the implementation example that you provide is unique (i.e. not taken from a previous example or documentation)

[2020-11-24 17:50] ninjaginja commented on #718
good topic @Quadrisheriff - approved.

[2020-11-24 17:50] ninjaginja commented on #719
good topic @Quadrisheriff - approved.

[2020-11-24 17:51] ninjaginja commented on #720
good topic @Dawe-7 - approved

[2020-11-24 17:51] ninjaginja commented on #721
good topic @LinusMuema - approved

[2020-11-24 17:54] ninjaginja commented on #722
Thanks for the topic suggestion @ahmadmardeni1. However, this topic has already been substantially covered in previous articles - https://www.section.io/engineering-education/search/?q=neural. Please select a different area to explore.

[2020-11-24 17:54] #722 closed

[2020-11-24 18:00] ninjaginja commented on #436
@srishilesh Are you still working on this article?

[2020-11-24 18:01] ninjaginja commented on #527
Closing due to inactivity. Please request to reopen if you're still working on this article.

[2020-11-24 18:02] ninjaginja commented on #528
Closing due to inactivity. Please request to reopen if you're still working on this article.

[2020-11-24 18:02] #528 closed

[2020-11-24 18:03] ahmadmardeni1 commented on #722
![Screenshot_2020-11-24-20-02-05-725_com android chrome](https://user-images.githubusercontent.com/63211822/100133910-0d67b200-2e90-11eb-99df-2556b312e4ef.jpg)

The Link is empty @ninjaginja

[2020-11-24 18:03] ninjaginja commented on #544
Closing due to inactivity. Please request to reopen if you're still working on this article.

[2020-11-24 18:03] #544 closed

[2020-11-24 18:05] ninjaginja commented on #549
closed via #596

[2020-11-24 18:05] #549 closed

[2020-11-24 18:05] ninjaginja commented on #562
Closing due to inactivity. Please request to reopen if you're still working on this article.

[2020-11-24 18:05] #562 closed

[2020-11-24 18:06] srishilesh commented on #436
@ninjaginja Yes I am. Sorry for the delay, I will try to make a PR by the end of this week.

[2020-11-24 18:08] ninjaginja commented on #722
if you do a search on 'neural' in the EngEd article library, you'll find several articles that come up, including an 'Introduction to Neural Networks' article

[2020-11-24 18:08] #612 closed

[2020-11-24 18:09] ninjaginja commented on #436
No problem, just wanted to double check. (We try to keep the pipeline clean with only articles that are actively being worked on.)

[2020-11-24 18:09] ninjaginja commented on #576
Closing due to inactivity

[2020-11-24 18:09] #576 closed

[2020-11-24 18:48] molly80 commented on #527
Hello, I sent the article yesterday for review. Introduction to laravel
blogspot please check pull requests. Thank you

On Tuesday, November 24, 2020, Molly Wojcik <notifications@github.com>
wrote:

[2020-11-24 19:18] ninjaginja commented on #527
Great, thank you. Next time, go ahead and link the issue to your PR - that will help us know that you've submitted a draft.

[2020-11-24 19:33] molly80 commented on #527
@ninjaginja sure thank you

[2020-11-24 20:16] #583 closed

[2020-11-24 21:45] corpsgeek commented on #717
Alright. I’ll make sure to take note of that.

[2020-11-24 23:24] #599 closed

[2020-11-25 10:56] ahmadmardeni1 opened #724 "Stock prices prediction using Python"
### Brief Summary:
“Fintech” is one of the most prominent use cases of machine learning.
In this tutorial, I'm going to build a neural network model (LSTM) to predict stock prices with high accuracy.

### Key Takeaways:
- What is LSTM.
- Choosing data.
- Building the long short term memory model.
- Training the model on our data.
- Plotting results ( I will refer to my "Getting started with data v

[2020-11-25 15:34] mbaabuones opened #725 "Creating a Content Delivery Network (CDN) in Microsoft Azure"
### Brief Summary:
A content delivery network (CDN) is a network of data centers and proxy servers that is geographically distributed. CDN in Azure enables developers to save bandwidth, reduce load times and to improve responsiveness. This article provides a tutorial for creating and configuring a CDN in Microsoft Azure.

### Key Takeaways:
1. What is a CDN?
2. Introduction to CDN in Microsoft Azu

[2020-11-25 16:02] mbaabuones opened #726 "Amazon Web Services (AWS) vs Google Cloud"
### Brief Summary:
This article provides a broad comparison of two giant cloud computing giants: Amazon Web Services (AWS) and Google Cloud.

### Key Takeaways:
1. Definition of AWS and Google Cloud
2. Features of these services
3. Key differences between AWS and Google Cloud
4. Advantages and disadvantages of these cloud computing services

### References:
Please list links to any published conte

[2020-11-25 17:11] rohanreddych opened #727 "Web Scraping in Nodejs using axios and cheerio"
- Introduction to web scraping
-Making requests with Axios
- HTML parsing using cheerio.js

Example of building a web scraping site to scrape classifieds sites such as craigslist. Please let me know if this topic is acceptable.

[2020-11-25 18:03] collins-a opened #728 "Ensemble Learning Techniques to Improve Machine Learning"
### Brief Summary:

We build machine learning models to provide the best possible predictions to a given problem. However, a single model may not make the best predictions and may be subject to errors such as variance and bias. To reduce these errors and improve the predictions, we may combine multiple models into a single model. This is what is known as ensemble learning. We explore ensemble lear

[2020-11-25 18:07] molly80 commented on #652
@hectorkambow this is my article of another laravel issue please rectify. Thank you

[2020-11-25 18:32] WanjaMIKE commented on #652
What article? Issue 714?

On Wed, Nov 25, 2020, 9:07 PM molly80 <notifications@github.com> wrote:

[2020-11-25 18:43] WanjaMIKE commented on #652
@hectorkambow
I am still working on this article

[2020-11-25 18:51] hectorkambow commented on #652
Nothing to worry about - I had mistakenly linked this issue to another PR thinking that was the correct one 👍

[2020-11-25 20:29] #424 closed

[2020-11-25 21:13] ipitah opened #729 "How developers can leverage advanced features in Google Sheets"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

1. Google has provided apps for use by users.
2. Google sheet is a spreadsheet that is available for every user with a google email.
3. The spreadsheet offers added capabilities that are not available in other spreadsheets like

- offer data collection tool,
- web app,
- develop a mobile app,
- storage,
- co

[2020-11-25 21:44] #616 closed

[2020-11-25 22:24] john-amiscaray opened #730 "Introduction to JUnit and Mockito"
### Brief Summary:
JUnit is an incredibly popular framework used to write unit tests for your java applications. Learning to use it as a Java developer is an important skill that helps you increase the quality of your code. Along with JUnit, we will also have a look at using Mockito, a framework to help us create mock objects for our unit tests. To learn how to use these frameworks, we will be cre

[2020-11-25 22:58] #650 closed

[2020-11-26 00:41] #655 closed

[2020-11-26 09:38] EKahuha opened #732 "Ensuring ACID Compliance in Databases"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

ACID (Atomicity, Consistency, Isolation, Durability) is a set of guiding principles that ensure reliable database transaction processing. A database transaction is any operation performed within a database, such as creating a new record or updating data. Changes made within a database need to be performed wi

[2020-11-26 09:56] EKahuha opened #733 "Breaking Down PaaS vs SaaS vs IaaS"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.

IaaS, PaaS, and SaaS stand for the three main categories of cloud computing. Cloud computing is the practice of using a network of different servers that host, store, manage, and process data online. Many business owners do not know the difference between these offerings and are therefore unaware of which op

[2020-11-26 13:03] bloodprashure commented on #562
My apologies, Molly.
Is it okay if I focus on other topics for a bit and get back to this at a
later date?
Will that be okay?

Regards,
Prashanth Saravanan

On Tue, Nov 24, 2020 at 11:35 PM Molly Wojcik <notifications@github.com>
wrote:

[2020-11-26 15:51] kvardhan10 opened #736 "Understanding the LAMP Stack"
### Brief Summary:
Solution Stacks are combination of software or application programs used to form a computing platform. This article will discuss about one such stack - the LAMP Stack. The article will include a brief description about its components, usage and applications.

### Key Takeaways:
The readers will be able to understand the 4 main parts of LAMP Stack and how they can be used to crea

[2020-11-26 16:48] kimkimani opened #737 "Google Play In-App Review using Android Studio"
### Brief Summary:
A user would typically launch the google play store to review or rate your application. Chances are, not many users got the interest to launch the google play store every time they need to do a review.

However, you can prompt users to submit Play Store ratings and reviews within your application without leaving the application. Users can leave a review without opening google pl

[2020-11-26 17:12] lalith1403 opened #738 "Introduction to Greedy Algorithms"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
In this article, I discuss the greedy approach of solving problems, the use cases and consider the example of optimising profit given a list of stock prices. The author will be able to appreciate the advantages of greedy approach and understand its limitations.
### Key Takeaways:
What are the 3-5 most importa

[2020-11-26 17:16] lalith1403 opened #739 "Introduction to Divide and Conquer Algorithms"
### Brief Summary:
Describe the what, why, and how of your content idea in 2-5 sentences.
In this article, we discuss the divide and conquer paradigm. Understand the use cases and solve the problem of optimising the profit given a list of stock prices. The reader will observe the rise in accuracy and rise in computational complexity when compared with greedy method.
### Key Takeaways:
What are the

[2020-11-26 18:31] ninjaginja commented on #724
good topic @ahmadmardeni1 - approved.

[2020-11-26 18:33] ninjaginja commented on #725
Thanks for the topic suggestion @mbaabuones, however we prefer not to publish content that is competitive in nature to the Section product offering. Please select a different topic area to explore.

[2020-11-26 18:33] #725 closed

[2020-11-26 18:33] ninjaginja commented on #726
good topic @mbaabuones  - approved.

[2020-11-26 18:35] ninjaginja commented on #727
Thanks for the topic suggestion @rohanreddych , but web scraping is a topic area that we prefer not to publish content around, as we actively employ solutions aimed at preventing web scraping technologies. Please select a different topic area to explore.

[2020-11-26 18:35] #727 closed

[2020-11-26 18:35] ninjaginja commented on #728
good topic @collins-a - approved.

[2020-11-26 18:37] ninjaginja commented on #729
Interesting topic @ipitah. From your summary description, it sounds as if you intend to focus more on how developers can leverage advanced features in Google Sheets, which is a great topic area to explore. I'd suggest updating the title to reflect this.

[2020-11-26 18:38] ninjaginja commented on #730
great topic @john-amiscaray - approved

[2020-11-26 18:38] ninjaginja commented on #732
good topic @EKahuha - approved

[2020-11-26 18:40] ninjaginja commented on #733
Thanks for the topic suggestion @EKahuha, however we've already covered this exact topic on our blog (even using the same title) - https://www.section.io/blog/comparing-paas-saas-iaas/. Please select a different topic area to explore.

[2020-11-26 18:40] #733 closed

[2020-11-26 18:41] ninjaginja commented on #736
good topic @kvardhan10 . Please be sure that your content is sufficiently unique from the definitions and descriptions already supplied in readily available resources.

[2020-11-26 18:42] ninjaginja commented on #737
good topic @kimkimani - approved

[2020-11-26 18:42] ninjaginja commented on #738
good topic @lalith1403 - approved

[2020-11-26 18:43] ninjaginja commented on #739
another good topic @lalith1403 - approved

[2020-11-26 18:44] Dawe-7 opened #741 "Introduction to constructors in C++"
### Brief Summary:
Each time when you write a program you create a function, which is responsible for initializing the variable and before the end of the program you call a function to destroy the allocated variables. To automate this feature, C++ provides the concept of constructors and destructors . In this article, I’m going to explain all about constructors and constructor functions in C++.

#