[2021-09-03 09:57] puritymutunga opened #3663 "Firebase Realtime Database Vs MySQL."
### Proposed title of article
Firebase Realtime Database Vs MySQL.
### Introduction paragraph (2-3 paragraph)
 A dependable, robust database is essential for a successful business. However, with so many options available, it's not easy to determine which one to use. MySQL and Firebase are two database technologies that are developed very differently.
 Firebase is a real-time, cloud-based NoSQL dat

[2021-09-03 11:46] WanjaMIKE commented on #3652
Good afternoon and thank you for submitting your topic suggestion. @del-ui
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:46] kimanthi777 opened #3664 "Creating ransomware in python3 from scratch"
### Proposed title of article
Creating ransomware in python3 from scratch

### Introduction paragraph (2-3 paragraphs):
In recent times, there has been a surge in the number of ransomware attacks targeting various organizations. This may be due to reasons such as lack of cyber training of the employees, poor user practices, inadequate capital to fund security solutions and many more reasons.

A ra

[2021-09-03 11:47] WanjaMIKE commented on #3654
Good afternoon and thank you for submitting your topic suggestion. @corpsgeek
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:47] WanjaMIKE commented on #3655
Good afternoon and thank you for submitting your topic suggestion. @owinojoseph
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:49] WanjaMIKE commented on #3656
Good afternoon and thank you for submitting your topic suggestion. @RoseKarose
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:49] WanjaMIKE commented on #3658
Good afternoon and thank you for submitting your topic suggestion. @Samuel-2626
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:50] WanjaMIKE commented on #3663
Good afternoon and thank you for submitting your topic suggestion. @puritymutunga
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:50] WanjaMIKE commented on #3664
Good afternoon and thank you for submitting your topic suggestion. @kimanthi777
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 11:57] eunice-wanjiku opened #3665 "Using the Raspberry Pi as a WiFi extender"
### Proposed title of article

Using the Raspberry Pi as a WiFi extender.

### Introduction paragraph (2-3 paragraphs):

The Raspberry Pi is essential as it has significant features. It can easily be turned into a WiFi Extender as it has an in built WiFi as well as Bluetooth. A Raspberry Pi WiFi Extender increases the range of the WiFi network while running various tasks either remotely or at the

[2021-09-03 14:12] louisefindlay23 commented on #3460
@lalith1403, could you follow up on this when you have time? Thanks.

[2021-09-03 14:14] louisefindlay23 commented on #3530
Great topic, @jaykip. Approved 🚀. Be sure to cover your topic ideas in a way that's easy for beginners to understand and reference any of the existing research on this topic if required.

[2021-09-03 14:19] Caleb335 opened #3667 "Data Visualization with Tables in React."
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-03 14:19] ahmadmardeni1 commented on #3665
Good afternoon and thank you for submitting your topic suggestion. @eunice-wanjiku
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 14:20] ahmadmardeni1 commented on #3667
Good afternoon and thank you for submitting your topic suggestion. @Caleb335
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-03 14:21] Caleb335 commented on #3667
Thank you for the feedback @ahmadmardeni1

[2021-09-03 14:38] vicradon opened #3668 "How to build Real-time search with Laravel and React"
## Summary
In this how-to guide, I'll guide readers through building a real-time search experience with a Laravel API and React.js. This tutorial will cover the basics of building such an experience in React and how best the backend can handle requests so as not to exceed Laravel's default rate limit.

## Outline

- What is real-time search and why is it important?
- Setting up the React Single Pa

[2021-09-03 15:07] wobin1 opened #3669 "How"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-03 16:50] SusanKiptoo opened #3670 "List Initialization in Java"
### Proposed title of article
List Initialization in Java
### Introduction paragraph (2-3 paragraphs):
Collection has a child interface called Java.util.List. It's a sorted collection of objects that can store duplicate values. List supports positional access and insertion of members because the insertion order is preserved. ArrayList, LinkedList, Vector, and Stack classes implement the List Inter

[2021-09-03 17:06] KelvinMwangag opened #3671 " Using BlockingQueue in Java  to Create a Producer-Consumer Solution."
### Proposed title of article
 Using BlockingQueue in Java to Create a Producer-Consumer Solution.
### Introduction paragraph (2-3 paragraphs):
The Producer-Consumer problem is a synchronization difficulty that occurs when one or more threads generate data and store it in a buffer, and then consume data from the same buffer at the same time.
This can result in a race condition, in which the thread

[2021-09-03 17:10] #3067 closed

[2021-09-03 17:29] mumbi00 opened #3672 "How will Edge Intelligence Benefit IoT?"
### Proposed title of article

### Introduction paragraph (2-3 paragraphs):
With Edge AI, IoT devices are becoming smarter. With machine learning, edge devices are now able to make decisions. They can make predictions, process complex data, and administer solutions.

For example, edge IoT devices can process operating conditions to predict if a given piece of machinery will fail. This allows compa

[2021-09-03 20:30] Mearytt commented on #3368
@ahmadmardeni1, In my project example, I will obtain attendance data from an employee database. This data from the database will be plotted on a graph created with the Google Charts API. The attendance graph will be displayed in two formats: pie chart and column chart.
The pie chart will show the employee's percentage of presence and absence. Instead of the percentage, the employee attendance coun

[2021-09-04 00:31] muyiwexy opened #3677 "How to build a real-time location tracker using leaflet.js"
### Proposed title of article
How to build a real-time location tracker using leaflet.js

### Introduction paragraph (2-3 paragraphs):
Geolocation refers to the identification of the geographic location of a user or computing device via a variety of data collection mechanisms. Leaflet.js library has made it so easy in getting a person's position using their unique plugins and a well-documented col

[2021-09-04 05:26] lalith1403 commented on #3460
This is a good topic to explore. Be sure to focus on building the application and cover each step in detail. Thank you.

[2021-09-04 08:04] #3624 closed

[2021-09-04 08:06] Neema-2016 commented on #3624
Realized the issue is similar to #3529 .

[2021-09-04 08:24] duncandegwa opened #3679 "Working with strings in C++"
### Proposed title of article
Working with strings in C++

### Introduction paragraph (2-3 paragraphs)
One of the most useful data types supplied in the C++ libraries is the string. Strings are used for storing text. A `string` variable in C++ contains a collection of characters surrounded by double quotes. In this tutorial, we will discuss the manipulation with character arrays which we simply ca

[2021-09-04 08:25] fabulousDesigns opened #3680 "Sql injection made familier"
### Proposed title of the article

### Introduction paragraph (2-3 paragraphs):
Data is one of the most vital components of information systems. Database-powered web applications are used by most organizations to get data from customers, hence attracting data security.
SQL Injection is an attack that poisons dynamic SQL statements to comment out certain parts of the statement or appending a condit

[2021-09-04 08:30] marienjus opened #3681 "How to Safely Parse and Render Markdown In Vue and React"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-04 08:43] Neema-2016 opened #3682 "Creating a simple chat app in React.js using the Chat Engine API"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-04 08:52] Bonimum opened #3683 "Python enum (Enumeration)"
### Proposed title of article
Python enum (Enumeration)

### Introduction paragraph (2-3 paragraphs):
In Python, `enumeration` is nothing but a set of some symbolic names bound to unique and constant values. This article will provide readers an easy way to learn enum (enumeration) in Python with the help of practical examples. This article will deal with how to implement methods and properties of

[2021-09-04 09:13] fely545 opened #3684 "Signal Handling in C++"
### Proposed title of article
Signal Handling in C++

### Introduction paragraph (2-3 paragraphs):
Signals are the interrupts delivered to a process by the operating system which can terminate a program prematurely. You can generate interrupts by pressing Ctrl+C on a UNIX, LINUX, Mac OS X or Windows system. C++ signal-handling library provides function `signal` to trap unexpected events. In this t

[2021-09-04 09:42] LinusMuema commented on #3578
Hi @lokalawashington
Sorry but this article has already been covered by @BrianaNzivu in [this article](https://www.section.io/engineering-education/google-authentication-for-android/). Please check existing content before submitting article suggestions.

[2021-09-04 09:42] #3578 closed

[2021-09-04 09:44] LinusMuema commented on #3556
Hi @ogoti-lilian
This seems like a great article and would be quite helpful. Please ensure your content does not conflict with articles already available on section. Also, check that it provides more original content than the one available on other websites and documentation.

topic approved :rocket:

[2021-09-04 10:00] ahmadmardeni1 commented on #3368
Great topic 🚀@Mearytt , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.

[2021-09-04 10:16] LinusMuema commented on #3571
Hi @Janenjoki
This sounds like a really helpful article. I however think that a lot of the information you intend to cover has already been covered on the official docs. Please ensure you provide more original content so as to avoid the closing of articles in the future.

topic approved :rocket:

[2021-09-04 10:24] LinusMuema commented on #3669
Good afternoon and thank you for submitting your topic suggestion @wobin1.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 10:24] LinusMuema commented on #3668
Good afternoon and thank you for submitting your topic suggestion @vicradon.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 10:25] LinusMuema commented on #3670
Good afternoon and thank you for submitting your topic suggestion @SusanKiptoo.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 10:26] LinusMuema commented on #3671
Good afternoon and thank you for submitting your topic suggestion @KelvinMwangag.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 10:26] LinusMuema commented on #3672
Good afternoon and thank you for submitting your topic suggestion @mumbi00.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 10:35] shosenwales opened #3685 "Integrating Firebase Database in Django"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-04 11:12] charles721 commented on #3518
Hello @lalith1403 and @WanjaMIKE, what is the status of this topic? Kindly advise.

[2021-09-04 11:21] ahmadmardeni1 commented on #3677
Good afternoon and thank you for submitting your topic suggestion. @muyiwexy
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:21] ahmadmardeni1 commented on #3679
Good afternoon and thank you for submitting your topic suggestion. @duncandegwa
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:21] ahmadmardeni1 commented on #3680
Good afternoon and thank you for submitting your topic suggestion. @fabulousDesigns
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:21] ahmadmardeni1 commented on #3681
Good afternoon and thank you for submitting your topic suggestion. @marienjus
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:21] ahmadmardeni1 commented on #3682
Good afternoon and thank you for submitting your topic suggestion. @Neema-2016
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:21] ahmadmardeni1 commented on #3683
Good afternoon and thank you for submitting your topic suggestion. @Bonimum
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:22] ahmadmardeni1 commented on #3684
Good afternoon and thank you for submitting your topic suggestion. @fely545
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:22] ahmadmardeni1 commented on #3685
Good afternoon and thank you for submitting your topic suggestion. @shosenwales
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-04 11:24] ahmadmardeni1 commented on #3555
Thank you for submitting your topic. But this is a sensitive topic and can be used for malicious activities.

We are looking for programmer-centric concepts explained in fun and intuitive ways. Please feel free to suggest an alternate topic to explore. 🚀 @Adespscientist

[2021-09-04 11:24] #3555 closed

[2021-09-04 11:27] ahmadmardeni1 commented on #3563
Great topic 🚀@collince777 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.

[2021-09-04 11:27] louisefindlay23 commented on #3537
Hi, @nicasious. Great topic suggestion.

Can you tell me how your article will be unique from similar articles such as [this one](https://www.developer.com/microsoft/c-sharp/graphics-programming-using-c/)?

[2021-09-04 12:29] Ghassany opened #3686 "Network Switching Techniques"
### Proposed title of article
Network Switching Techniques

### Introduction paragraph (2-3 paragraphs):
There are various switching techniques used to transmit the data across the networks. Here are the different types of switching techniques employed to provide communication between two computers:`Circuit Switching`, `Message Switching`, and `Packet Switching`. This tutorial will teach us about

[2021-09-04 15:22] #3224 closed

[2021-09-04 16:06] kerubo-tech opened #3688 "How to implement a React Application using Rails API?"
### Proposed title of article
How to implement a React Application using Rails API?

### Introduction paragraph:
Ruby On Rails is a popular web framework that enables developers to build amazing web applications. Rails 5 has several features such as **API-only mode** that offer developers the ability to create RESTful backends with ease.
React.js on the other hand is a famous client-side framework

[2021-09-04 23:25] teevyne commented on #3300
@louisefindlay23 Hi, I do not quite understand what you did about my issue. Could you please explain? I had been looking forward to having it assigned to someone

[2021-09-04 23:29] teevyne commented on #3300
@louisefindlay23 Hi. Thank you for checking. What would you say is the status of my PR? Asking to know.

[2021-09-05 07:17] giridhar7632 opened #3691 "How to use Web Share API?"
### Title: How to use Web Share API?

### Outline
Many modern developers are unaware of the web share API. Using the Web Share API, you can make your content shareable. It enables us to use native share dialog of a device directly from a website or web application. This API can also be used to share files. In this tutorial, you'll learn what is Web Share API and how to use it with some examples.

[2021-09-05 08:56] louisefindlay23 commented on #3300
A reviewer has not been assigned yet, @teevyne. As soon as the articles submitted prior to yours have been reviewed, a peer reviewer will look at your article.

[2021-09-05 10:57] #3163 closed

[2021-09-05 11:02] ahmadmardeni1 commented on #3550
There are multiple guides/tutorials covering this topic. How are you planning on making your article unique/original? @Julius-1996

[2021-09-05 11:14] ahmadmardeni1 commented on #3562
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @simonmwaniki

[2021-09-05 11:17] ahmadmardeni1 commented on #3558
Could you take a look at this topic suggestion when you have the chance? Since you have expertise in Java, I thought you'd be the best person to reach. @BrianaNzivu

[2021-09-05 12:01] Julius-1996 commented on #3550
After going through the Linux Bash scripting, we will demonstrate with ideas like:
- send emails from shell scripts
- Adding batch extensions and Cronjobs
- Cleaning Log files
- System maintenance
- Bash socket Programming
- A comparison with compiled programs and many more
@ahmadmardeni1 @WanjaMIKE

[2021-09-05 12:02] Julius-1996 commented on #3550
I'm going to build something interactive in the end. I hope that this gives depth in this article :rocket:

[2021-09-05 12:04] #3365 closed

[2021-09-05 14:59] teevyne commented on #3300
thank you for replying. I was curious because most PR's before and even after mine have received some form of attention. So, I was thinking might had an issue. Thanks again

[2021-09-05 16:18] WanjaMIKE commented on #3180
Closed #3180 via #3401

[2021-09-05 16:18] #3180 closed

[2021-09-05 16:19] WanjaMIKE commented on #3686
Good afternoon and thank you for submitting your topic suggestion. @Ghassany
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-05 16:19] WanjaMIKE commented on #3688
Good afternoon and thank you for submitting your topic suggestion. @kerubo-tech
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-05 16:19] WanjaMIKE commented on #3691
Good afternoon and thank you for submitting your topic suggestion. @giridhar7632
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-05 18:08] #3158 closed

[2021-09-05 19:53] Taiwrash commented on #3083
@hectorkambow I just made a slight update to this topic. I don't know if I am permitted to go with this. Sorry for any inconveniences caused, I was busy with some activities before now.

[2021-09-05 20:28] JoelKanyi opened #3697 "Understand How to Create and Publish Your Own Android Library"
### Understand How to Create and Publish Your Own Android Library

### Introduction paragraph (2-3 paragraphs):
Every android developer always thinks of how they can re-use their code other than always redoing it, also by creating a library, developers participate in open-source ecosystem, because the library is used by other developers. Libraries are an integral part of development that no develo

[2021-09-05 21:43] rene-shigolah commented on #3432
hello @hectorkambow @WanjaMIKE and @hectorkambow wish to inquire about the progress of this topic suggestion.
Thank you

[2021-09-06 04:19] lalith1403 commented on #3468
This is a great topic. Focus on explaining the steps involved with segmentation, how does segmentation work and then get into the code part of it. Topic approved.

[2021-09-06 04:20] lalith1403 commented on #3518
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @charles721

[2021-09-06 04:22] lalith1403 commented on #3617
Good afternoon @dollarkid1,  and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content t

[2021-09-06 04:23] #3617 closed

[2021-09-06 04:23] lalith1403 commented on #3631
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @francis966

[2021-09-06 04:23] lalith1403 commented on #3632
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @kelvinkimani501

[2021-09-06 04:24] lalith1403 commented on #3633
Good afternoon @BRIAN721  and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-09-06 04:24] #3633 closed

[2021-09-06 04:31] Kayere commented on #3554
Good topic @Koros-Meshack - approved. Please make sure your article is unique and adds value to what is available in official documentation.

[2021-09-06 04:35] Kayere commented on #3526
Good topic @JudyNduati - approved. Make sure to link any related Section engineering education articles in your article.

[2021-09-06 05:16] #3183 closed

[2021-09-06 05:17] LinusMuema commented on #3697
Good morning and thank you for submitting your topic suggestion. @JoelKanyi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it. :rocket:

[2021-09-06 05:23] LinusMuema commented on #3570
Hi @Emmah-Lashly
This is an interesting article but I think it wouldn't really provide enough content for readers.
For starters, a firebase auth [article](https://www.section.io/engineering-education/google-authentication-for-android/) has already been written by @BrianaNzivu. She has covered Google auth which is still similar to Github auth. They both use OAuth2 so it would be a repetition of a t

[2021-09-06 05:23] #3570 closed

[2021-09-06 05:30] LinusMuema commented on #3565
Hi @gracy20
This sounds like an interesting article and has a lot of content. Please ensure you provide more original content that doesn't conflict with the one already available in section.

topic approved :rocket:

[2021-09-06 05:33] LinusMuema commented on #3569
Hi @terry254
Thanks for submitting the article. It sounds really informative and helpful. Please make sure you provide more original content that isn't available on other blog sites and official docs. Also, check that it doesn't conflict with the articles already published on section.

topic approved :rocket:

[2021-09-06 06:44] WanjaMIKE commented on #3697
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:44] WanjaMIKE commented on #3691
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:44] #3691 closed

[2021-09-06 06:46] WanjaMIKE commented on #3234
issue closed

[2021-09-06 06:46] #3234 closed

[2021-09-06 06:47] WanjaMIKE commented on #3679
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:47] #3679 closed

[2021-09-06 06:50] WanjaMIKE commented on #2861
Issue closed

[2021-09-06 06:50] #2861 closed

[2021-09-06 06:52] WanjaMIKE commented on #3571
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:54] WanjaMIKE commented on #3531
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:54] #3531 closed

[2021-09-06 06:56] WanjaMIKE commented on #3615
To help avoid a backlog queue (and longer review times) we are currently only accepting ONE article TOPIC/PR approved at a time 👍. We can re-open this topic - once the 1st one has been merged/published.

[2021-09-06 06:56] #3615 closed

[2021-09-06 07:09] florenceakinyi opened #3699 "Simulating the Lorenz system in Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-06 07:33] WanjaMIKE commented on #3489
@FranciscaNg  will you be building an app to showcase the key takeaways?

[2021-09-06 08:17] FranciscaNg commented on #3489
@WanjaMIKE
I'll be explaining all the key takeaways as well as providing an example of each one of them while developing an app.

[2021-09-06 08:18] WanjaMIKE commented on #3489
Okay. Let's ensure that it adds value to the community. Thanks

[2021-09-06 08:21] FranciscaNg commented on #3489
Thanks @WanjaMIKE

[2021-09-06 08:38] isaiaholadapo opened #3702 "How to create a geoserver and geodatabase using flask"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-06 08:43] Julius-1996 commented on #3550
Let's just close it if it violates any of what's needed. I'll be pushing my first PR when I make a new issue :rocket:

[2021-09-06 08:43] #3550 closed

[2021-09-06 09:42] Emmah-Lashly opened #3703 "Getting Started With Generics In Java"
### Proposed title of article
Getting Started With Generics In Java

### Introduction
A generic type is a generic class or interface that is parameterized over types. The idea is to allow type (Integer, String, … etc, and user-defined types) to be a parameter to methods, classes, and interfaces.

### Key takeaways:
- What is Generics
- Why Use Generics
- Generic Methods
- Generic Classes

### Refe

[2021-09-06 09:45] Danco10 opened #3704 "Responsive Contact Form using Foundation Front-end Framework"
### Proposed title of article
Responsive Contact Form using Foundation Front-end Framework

### Introduction paragraph (2-3 paragraphs):
The Foundation front-end framework is one of the popular choices these days to build the UI. It provides front-end templates, UI components, building blocks and etc.
This framework helps to build modern, responsive UI templates for websites and applications.
It p

[2021-09-06 10:40] Jairusonkundi opened #3706 "Transactions and Transaction Management in SQL"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-06 10:43] #3706 closed

[2021-09-06 10:46] dollarkid1 commented on #3617
Thanks, I'll check it out.

On Mon, Sep 6, 2021, 5:23 AM Lalithnarayan C ***@***.***>
wrote:

[2021-09-06 11:22] ahmadmardeni1 commented on #3699
Good afternoon and thank you for submitting your topic suggestion. @florenceakinyi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-06 11:22] ahmadmardeni1 commented on #3702
Good afternoon and thank you for submitting your topic suggestion. @isaiaholadapo
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-06 11:22] ahmadmardeni1 commented on #3703
Good afternoon and thank you for submitting your topic suggestion. @Emmah-Lashly
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-06 11:22] ahmadmardeni1 commented on #3704
Good afternoon and thank you for submitting your topic suggestion. @Danco10
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-06 11:26] ahmadmardeni1 commented on #3583
Could you take a look at this topic suggestion when you have the chance? Since you have expertise in Java, I thought you'd be the best person to reach. @BrianaNzivu

[2021-09-06 11:28] ahmadmardeni1 commented on #3575
This is already covered in their docs. Can you tell me how are you planning on making your article unique/original? @1-creator

[2021-09-06 11:29] ahmadmardeni1 commented on #3594
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @g-wekesa

[2021-09-06 11:30] ahmadmardeni1 commented on #3608
This is a very interesting topic. Are you planning on building a unique project? @JohnKiguru

[2021-09-06 11:31] ahmadmardeni1 commented on #3608
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @JohnKiguru

[2021-09-06 11:33] JohnKiguru commented on #3608
Thanks

[2021-09-06 11:41] 1-creator commented on #3575
I was planning to write a tutorial using my own code. And add more
information that I have been researching on.

Regards Valentine.

On Mon, Sep 6, 2021, 2:28 PM Ahmad Mardeni ***@***.***> wrote:

[2021-09-06 13:57] dentonya opened #3708 "Watermarking Images with OpenCV in Python"
### Proposed title of article
Watermarking Images using OpenCV in Python.

### Introduction paragraph (2-3 paragraphs):
Watermarks play an important part of businesses and online content credit making. They provide ownership or credits to the creator of objects in the digital world, preventing the content from being stolen or replicated without owner's consent. They may be present as a logo, signa

[2021-09-06 14:42] louisefindlay23 commented on #3499
Hi, @jakim34511171. It's been some time since we suggested you should alter your topic to add more unique value to our readers. We are closing this now to make more room in our queue but feel free to reopen it once you're ready to tweak your topic to be more unique and provide more value to our readers.

[2021-09-06 14:42] #3499 closed

[2021-09-06 16:18] BrianaNzivu commented on #3583
Hey @ahmadmardeni1 👋🏾.
Seems like a good interesting topic. Also very key considering Android studio uses Java Lambda nowadays when it comes to Android development using Java.

Hey @popsoft01 👋🏾.
This is a good suggestion but please make the article more detailed and even better than the reference articles you have linked since they are not as detailed.
Give us a proper solid background, pros and

[2021-09-06 16:26] BrianaNzivu commented on #3558
Hey @ahmadmardeni1 👋🏾.
I think this is topic is widely covered by many blogs and also in the main documentation.
I don't think there is anything new to be added to it.

Hey @Dianapeter 👋🏾.
Do you think maybe you can enhance this article by maybe implementing something unique using literals? Can be a feature or even a function.

Regards. 🚀

[2021-09-06 17:11] mussooo commented on #3139
@louisefindlay23, I have changed my topic to [this](https://github.com/section-engineering-education/engineering-education/issues/3139). Please make your views.

Thank you.

cc @hectorkambow

[2021-09-06 17:29] Dianapeter commented on #3558
I have done some enhancement @BrianaNzivu . Please have a look.

[2021-09-06 17:34] BrianaNzivu commented on #3558
This is now OK.
Looks like an interesting and unique read.

Regards🚀

Cc @ahmadmardeni1

[2021-09-06 18:03] #3323 closed

[2021-09-06 18:16] corpsgeek commented on #3654
Alright @WanjaMIKE

[2021-09-06 18:33] nicasious commented on #3537
Hello, @louisefindlay23
I have looked at the  article you suggested and is significantly swallow. In my tutorial I will add more information on working with images ,working with brush object,  and working with pen object which are not in the article you have suggested me to look at .
I will write a unique  tutorial with  a better explanation.
Thank you.

[2021-09-06 20:05] hectorkambow commented on #3139
The link links back to this topic??
🤔

[2021-09-06 20:20] kingsleynwafor54 opened #3710 "How to use lambdas to manipulate through an Object"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-06 20:31] popsoft01 commented on #3583
I will review and rewrite my introduction to capture all the details mention by @BrianaNzivu and more details of the lambda will also be discussed in the  tutorial

[2021-09-06 20:36] mussooo commented on #3139
@hectorkambow, Sorry for that. I have changed the whole topic. I wanted you to give me the way forward. Should I continue with the new topic?

[2021-09-06 21:27] pkalynan opened #3711 "Understanding Statistical Mechanisms in Decision Trees"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-06 21:44] Wkd-Cyber opened #3712 "Getting Started with Plugins in Android Studio"
### Introduction
Android Studio is a platform that provides a developer-friendly environment to develop android studio applications. It contains `plugins` that extend and add fancy functionality to Android Studio. The plugins provide a comfortable environment for the developer.
In this article, we will take a look at some commonly used plugins and how to set up and install them. We will also learn

[2021-09-06 22:17] Ykz-Jnr opened #3713 "Composition in Java"
#### Introduction
`Composition` is one of the most common fundamentals in the java programming language. Composition describes a class that references one or more objects of other classes. It allows for Code re-use by modeling a has-a association between objects, help in design APIs among other of its `advantages` we will discuss.

In this tutorial, we will introduce composition in OOP and also le

[2021-09-07 03:21] FREDERICO23 opened #3714 "Building a High-Performance Regression Model Using Python"
### Proposed title of article
Building a High-Performance Regression Model Using Python

### Introduction paragraph (2-3 paragraphs):

Whether it be a competition or job task, a data scientist always strives to build the best performing machine learning models. In this tutorial, we shall be solving a regression problem by building a high-performance linear regression model. We shall look at the ne

[2021-09-07 04:49] Kayere commented on #3602
Sounds like a great topic @MaurineM - approved. Please make sure your content is unique and adds value to what is available in the official documentation.

[2021-09-07 04:58] Kayere commented on #3573
Hello @jgesare, it seems your introduction borrows from this [article](https://www.google.com/amp/s/www.geeksforgeeks.org/jar-files-java/amp/). How is yours going to differ from it?

[2021-09-07 05:07] Kayere commented on #3583
Thank you @BrianaNzivu 🚀.
@popsoft01 - topic approved.

[2021-09-07 05:52] LinusMuema commented on #3595
Hi @Wangui80
This sounds like an interesting read and I would like to see the output. Please ensure your article provides more original content and that it does not conflict with content already published on section.

topic approved :rocket:

[2021-09-07 09:24] louisefindlay23 commented on #3537
Thanks, @nicasious for the explanation. Topic approved 🚀.

[2021-09-07 09:39] Gacheru-sudo opened #3717 "Linux/Unix Commands Cheatsheet"
### Proposed title of article
Linux/Unix Commands Cheat sheet

### Introduction paragraph (2-3 paragraphs):
Linux/Unix command list provides the linux users(from beginner to expert) with a list of commands and shortcuts that will make their work easier and faster when using the Linux/Unix operating system.

The use of the command line in Linux/Unix OS makes its efficient and reliable for the users

[2021-09-07 10:12] ahmadmardeni1 commented on #3575
What is the information? Share it with me, please. @1-creator

[2021-09-07 10:15] ahmadmardeni1 commented on #3558
Great, thank you! @BrianaNzivu

Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @Di

[2021-09-07 10:28] ahmadmardeni1 commented on #3432
@rene-shigolah Sorry for the late reply, but the CMs are getting a lot of emails/mentions every day, and they may forget to open one of the emails.

Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming

[2021-09-07 11:25] #3284 closed

[2021-09-07 11:58] Amoh-writer opened #3721 "How to use a MySQL database in C#"
### Introduction paragraph (2-3 paragraphs):
How to write MySQL in C# is demonstrated in this tutorial. It teaches you how to use C# to program MySQL. C# 8.0+ is required to run the examples. The C# lesson offers a detailed introduction to the C# programming language.
MySQL is a popular database management system that is free and open source. It's a database management system for multiple users an

[2021-09-07 12:24] WanjaMIKE commented on #3721
Good afternoon and thank you for submitting your topic suggestion. @Amoh-writer
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:24] WanjaMIKE commented on #3717
Good afternoon and thank you for submitting your topic suggestion. @Gacheru-sudo
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:24] WanjaMIKE commented on #3714
Good afternoon and thank you for submitting your topic suggestion. @FREDERICO23
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:25] WanjaMIKE commented on #3713
Good afternoon and thank you for submitting your topic suggestion. @Ykz-Jnr
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:25] WanjaMIKE commented on #3712
Good afternoon and thank you for submitting your topic suggestion. @Wkd-Cyber
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:25] WanjaMIKE commented on #3711
Good afternoon and thank you for submitting your topic suggestion. @pkalynan
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:26] WanjaMIKE commented on #3710
Good afternoon and thank you for submitting your topic suggestion. @kingsleynwafor54
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:27] WanjaMIKE commented on #3708
Good afternoon and thank you for submitting your topic suggestion. @dentonya
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-07 12:38] WanjaMIKE commented on #3721
Unfortunately, this article appears to be covered here `https://www.section.io/engineering-education/java-jdbc/`.

[2021-09-07 12:57] njerigitahi opened #3722 "ASYMMETRIC ENCRYPTION"
### Proposed title of the article
DHKE and ElGamal algorithm in asymmetric encryptions*

### Introduction paragraph (2-3 paragraphs):
Computer security: involves maintaining integrity, availability, and confidentiality of information system resources.
Can be done using encryption. Encryption involves enciphering data in transit and using the private keys by authorized personnel to access it.
It ma

[2021-09-07 14:23] Amoh-writer commented on #3721
Hello @WanjaMIKE Have changed the topic title from How to use a MySQL database in java  to How to use a MySQL database in C#

[2021-09-07 14:28] Amoh-writer opened #3723 "How to use a MySQL database in C#"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-07 14:49] #3723 closed

[2021-09-07 17:57] mussooo opened #3725 "How to work with Getters and Setters in Java"
### Proposed title of article
How to work with Getters and Setters in Java

### Introduction paragraph (2-3 paragraphs):
When creating classes in Java, it is very important to use Getters and Setters to protect your data.

Getters and Setters play an important role in retrieving and updating the value of a variable outside the encapsulating class. A setter updates the value of a variable, while a

[2021-09-07 17:58] #3139 closed

[2021-09-07 19:15] GeoffreyKangu opened #3726 "Understanding loops in C"
### Understanding loops in C

### Introduction paragraph (2-3 paragraphs):
In C programming language, sometimes to need a given block of code to be executed number of times. For this to be effective, you will need to use loops. Loops are usually used to give instructions on which conditions a given block of code is to be executed.

In this tutorial, we shall be looking at while loops, do...while l

[2021-09-07 19:58] dentex22 opened #3727 "Pagination with Python Django"
### Proposed title of article
Pagination with Python Django

### Introduction paragraph (2-3 paragraphs):
While working on modern web application often you will need to paginate the app for better user experience and readability, more so when displaying a huge list of content sliced in multiple pages. To do this, with ease,Django comes with pre-built class, Paginator, which creates and manages pag

[2021-09-07 20:05] Ricardojoe opened #3728 "Understanding arrays in c"
### Understanding arrays in C

### Introduction paragraph (2-3 paragraphs):
What are arrays. Arrays in C programs are just a collection of similar data types. This data types are stored in a memory location. Arrays is an example of derived data types such as double, double, int,  char e.t.c.

In this tutorial we shall be looking on how to work with arrays and its advantages and disadvantages.

[2021-09-07 22:49] #2932 closed

[2021-09-07 23:01] hectorkambow commented on #2865
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:01] #2865 closed

[2021-09-07 23:02] hectorkambow commented on #3010
@prince-joel
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:03] hectorkambow commented on #3015
@samtecinnovator
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:03] hectorkambow commented on #3040
@qawuor
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:03] #3040 closed

[2021-09-07 23:05] hectorkambow commented on #3083
@Taiwrash Looks good to me 👍

[2021-09-07 23:05] hectorkambow commented on #3089
@khabdrick
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:05] #3089 closed

[2021-09-07 23:06] hectorkambow commented on #3094
@gracekary
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:06] hectorkambow commented on #3095
@gracejolie
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:06] hectorkambow commented on #3117
@Kimosop-Wakanda
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:06] hectorkambow commented on #3126
@Samrosh
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:07] hectorkambow commented on #3132
@Lamouresparus
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:07] #3132 closed

[2021-09-07 23:07] hectorkambow commented on #3136
@Inyrkz
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:09] hectorkambow commented on #3186
@diannesandra
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:09] hectorkambow commented on #3209
@achiengrhoda
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:10] hectorkambow commented on #3216
@Tonybishop11
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:10] hectorkambow commented on #3219
@James-Gitau
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:10] #3219 closed

[2021-09-07 23:10] hectorkambow commented on #3226
@elizabeth962
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:10] hectorkambow commented on #3228
@flavianadhiambo

[2021-09-07 23:10] hectorkambow commented on #3228
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:10] hectorkambow commented on #3233
@Sajeyks
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:11] hectorkambow commented on #3247
@prograte
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:11] hectorkambow commented on #3248
@ochienglydia
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date.

[2021-09-07 23:22] hectorkambow commented on #3574
Good afternoon___ and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout [other blog sites](https://www.google.com/search?q=Object+Pool+Design+Pattern+in+Java&rlz=1C1CHBF_enUS891US891&oq=Object+Pool+Design+Pattern+in+Java&aqs=chrome..69i57j69i59i450l8.173j0j15&sourceid=chrome&ie=UTF-8) and

[2021-09-07 23:24] hectorkambow commented on #3576
@elikama
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on [other blog sites](https://www.google.com

[2021-09-07 23:25] hectorkambow commented on #3584
@vincentoriyo
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming En

[2021-09-07 23:26] hectorkambow commented on #3591
@Joshuathuo
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngE

[2021-09-07 23:26] hectorkambow commented on #3593
@kvardhan10
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngE

[2021-09-07 23:30] hectorkambow commented on #3603
Good afternoon @MICHELLENGEI and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated (or well covered) throughout [other blog sites](https://www.google.com/search?q=MySQL+C%23+connector+in+windows+form&rlz=1C1CHBF_enUS891US891&ei=3fQ3Yc79B4OuqtsPhO-IsAE&oq=MySQL+C%23+connector+in+windows+form&gs_lcp=Cg

[2021-09-07 23:31] hectorkambow commented on #3604
@ahugebot
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout [other blog sites](https://www.google.com/search?q=PHP+Contact+Form+with+Google+reCAPTCHA&rlz=1C1CHBF_enUS891US891&ei=ivU3YcKqEPysqtsPnauo6As&oq=PHP+Contact+Form+with+Google+reCAPTCHA&gs_lcp=Cgdnd3Mtd2l6EAMyBQgA

[2021-09-07 23:33] hectorkambow commented on #3606
@Wakanyaben254
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout [other blog sites and official documentations.](https://www.google.com/search?q=Star+Rating+Script+using+PHP+and+MySQL+with+Ajax&rlz=1C1CHBF_enUS891US891&ei=KvY3Yei2HI-pqtsP_NyYoAk&oq=Star+Rating+Script+usi

[2021-09-07 23:35] hectorkambow commented on #3610
@olu-damilare
Good afternoon and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout [other blog sites and official documentations.](https://www.google.com/search?q=Recursion+using+Java&rlz=1C1CHBF_enUS891US891&ei=oPY3Ye2AJ9SlqtsP56-ioAQ&oq=Recursion+using+Java&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIA

[2021-09-07 23:36] hectorkambow commented on #3611
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngEd topic sugg

[2021-09-07 23:37] hectorkambow commented on #3612
@crezyj
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngEd to

[2021-09-07 23:37] hectorkambow commented on #3618
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngEd topic sugg

[2021-09-07 23:39] hectorkambow commented on #3621
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, articles on other blog sites, or any incoming EngEd topic sugg

[2021-09-07 23:46] hectorkambow commented on #3626
Sounds like a helpful topic - lets please be sure it add value beyond what is in the official docs and what is covered in other blog sites. (beyond a basic explanation - it would be best to reference your favorite intro article and build upon it).
Please be sure to double check that it does not overlap with any existing EngEd articles, [articles on other blog sites](https://www.google.com/search?q

[2021-09-07 23:48] hectorkambow commented on #3627
Good afternoon @david-muchiri and thank you for submitting your topic to the EngEd program.

After some careful consideration it struck us that this topic may be a bit over saturated throughout [other blog sites and official documentations.](https://www.google.com/search?q=Collection+in+Java&rlz=1C1CHBF_enUS891US891&ei=r_k3YZ8du6iq2w-YsoqACA&oq=Collection+in+Java&gs_lcp=Cgdnd3Mtd2l6EAMyCAgAEIAEELE

[2021-09-08 02:49] khabdrick commented on #3089
Hello @hectorkambow  I'm done with this article now.
Please what can I do?

[2021-09-08 04:29] khabdrick commented on #3089
https://www.dropbox.com/scl/fi/q9ucsw9p815mm2ed2ermv/Deploying-Django-Application-Continuously-to-Heroku-with-Docker-and-GitHub-Actions-1.paper?dl=0&rlkey=p2a1dp0rys5vsrrxmurfbz2io

@hectorkambow I have the article ready in the link above, if you can open as soon as possible that will be great. :)

[2021-09-08 05:59] WanjaMIKE commented on #3721
Unfortunately, this topic appeared to have been suggested here `https://github.com/section-engineering-education/engineering-education/issues/3603`. Feel free to suggest another topic thanks.

[2021-09-08 05:59] #3721 closed

[2021-09-08 06:00] WanjaMIKE commented on #3627
You right @hectorkambow. Feel free to suggest another topic. Thanks

[2021-09-08 06:00] #3627 closed

[2021-09-08 06:01] WanjaMIKE commented on #3610
You right @hectorkambow Feel free to suggest another topic @olu-damilare

[2021-09-08 06:01] #3610 closed

[2021-09-08 06:03] WanjaMIKE commented on #3573
Thank you for the topic suggestion @jgesare , however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore.

[2021-09-08 06:03] #3573 closed

[2021-09-08 06:05] WanjaMIKE commented on #3414
@MahanthChouta I will encourage you to create a unique project to illustrate the concepts and add value to the readers.

[2021-09-08 06:06] WanjaMIKE commented on #3337
@mosesreigns what about your key takeaways.

[2021-09-08 06:08] WanjaMIKE commented on #3529
Thank you for the topic suggestion @Umoren , however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore. cc @louisefindlay23

[2021-09-08 06:08] #3529 closed

[2021-09-08 06:09] WanjaMIKE commented on #3574
You are right @hectorkambow. Feel free to suggest another topic @Edylene-Nyairaw

[2021-09-08 06:09] #3574 closed

[2021-09-08 06:10] WanjaMIKE commented on #3382
Thank you for the topic suggestion @essy258 , however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore. There are numerous articles already using async functions to fetch data.

[2021-09-08 06:10] #3382 closed

[2021-09-08 06:12] WanjaMIKE commented on #3725
Unfortunately, this topic is already covered in numerous tutorials and articles. Feel free to suggest another topic. Thanks

[2021-09-08 06:12] #3725 closed

[2021-09-08 06:14] WanjaMIKE commented on #3717
I feel that this topic is already covered in numerous tutorials and official documentation. I would advise you to suggest a new topic and create a unique project. Thanks

[2021-09-08 06:14] #3717 closed

[2021-09-08 06:15] #2859 closed

[2021-09-08 06:15] WanjaMIKE commented on #3726
While, for, do, and nested loops are already covered in numerous tutorials. I would advise you to suggest a new topic that adds more value to the community. Thanks

[2021-09-08 06:15] #3726 closed

[2021-09-08 06:16] WanjaMIKE commented on #3710
@kingsleynwafor54 Unfortunately, you failed to provide an introduction and key takeaways for this topic suggestion. Look at how other contributors have done and then create a new issue.

[2021-09-08 06:16] #3710 closed

[2021-09-08 06:17] WanjaMIKE commented on #3728
Thank you for the topic suggestion @Ricardojoe , however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore.  - Arrays are already covered in numerous tutorials and official documentation.

[2021-09-08 06:17] #3728 closed

[2021-09-08 06:22] WanjaMIKE commented on #3670
@SusanKiptoo Unfortunately, this topic is already covered in numerous tutorials and official documentation. Feel free to suggest another topic. Thanks

[2021-09-08 06:22] #3670 closed

[2021-09-08 07:31] kingsleynwafor54 opened #3729 "How To Use Lambdas To Manipulate Through A Collection of Objects In Java."
In this tutorial I will taking you through journey of how you can use lambdas to manipulate an object an make it look like a functional program. You don't need to loops as in when you hard code you works yourself, in this tutorial you will learn how to sort, map, how get get an object based on any element

Lambdas has different inbuild functions that helps you compare object and also make some cal

[2021-09-08 08:34] 1-creator commented on #3575
-dealing with errors in formspree
-building forms using css,html and javascript

[2021-09-08 08:51] elikama commented on #3576
Hi, @hectorkambow
I will follow on the issues you have suggested.
Thank you for that.

[2021-09-08 09:59] #3603 closed

[2021-09-08 10:24] #2979 closed

[2021-09-08 10:48] ahmadmardeni1 commented on #3575
Thank you for submitting your topic. @1-creator
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide the most value.

Please feel free to suggest an al

[2021-09-08 10:48] #3575 closed

[2021-09-08 11:08] MICHELLENGEI opened #3732 "ValueTuple and ValueTuple structure in C#"
### Proposed title of article
ValueTuple in C#

### Introduction paragraph (2-3 paragraphs):
The value type Tuple is represented by the ValueTuple structure, which was introduced in C# 7.0.It lets you save a data set with several values that may or may not be connected to one another. It can hold elements ranging from 0 to 8, as well as elements of various sorts. Duplicate components can also be s

[2021-09-08 12:18] #3177 closed

[2021-09-08 12:26] louisefindlay23 commented on #3596
Hi, @Ushter21. Great topic suggestion. Topic approved 🚀.

Be sure to cover what is unit testing and its benefits in plenty of detail and also provide some anecdotal comments on how you've used .NET Unit Testing and how that's been beneficial to you to derive unique value from similar but shallower articles.

[2021-09-08 13:08] blacklihgt opened #3734 "Add an external CSS file to a JavaFX Application"
### Proposed title of the article

Add an external CSS file to a JavaFX Application

### Introduction paragraph (2-3 paragraphs):

Are you having trouble attaching an external CSS file to a JavaFX application? Having issues on how to link an externally designed styling sheet to your program? Worry no more! In this article, you will find answers to these problems.

By now, as you have noticed that

[2021-09-08 13:25] IsaacMuthini opened #3735 "Destructuring and Spread Operator in Vanilla JavaScript"
### Proposed title of article
Destructuring and Spread Operator in Vanilla JavaScript

### Introduction paragraph (2-3 paragraphs):
We all know the amazing data structures in JavaScript which help in writing clean and efficient code. Handling the data structures can be hard some times. In this article we are going to learn about destructuring in arrays and objects in JavaScript together with the S

[2021-09-08 14:07] mosesreigns commented on #3337
@WanjaMIKE, I have updated Angular .js to Vue.

[2021-09-08 14:30] remiljw opened #3737 "Running Background Tasks in Django with Celery"
### Proposed title of article
Scheduling Background Tasks in Django with Celery

### Introduction paragraph (2-3 paragraphs):
When it comes to building web apps and APIs, no doubt Django assist developers with lots of inbuilt features. But have you ever thought you could run tasks separately without having to interfere with the Django server itself?

In this article, I will be showing how you can

[2021-09-08 15:09] justusmbuvi opened #3739 "Creating an Animated JavaFX field Validation alert"
### Proposed title of the article

Creating an Animated JavaFX field Validation alert

### Introduction paragraph (2-3 paragraphs):

Organizations always want to keep users info in their systems. This info helps them in following up on users feedback, follow-ups, statistics and product advertisements. Users, on the other hand, sometimes find the sign-up and login form boring. This process deters s

[2021-09-08 15:13] Wakanyaben254 commented on #3606
My article will be much simple but rich in content which will enhance readers understanding furthermore my code snippets will be clear, easy to read and internalize

[2021-09-08 16:12] #3311 closed

[2021-09-08 17:15] WanjaMIKE commented on #3088
Closed #3088 via #3408

[2021-09-08 17:15] #3088 closed

[2021-09-08 17:17] #3159 closed

[2021-09-08 17:34] ngahika01 opened #3741 "ADD TO CART FUNCTIONALITY IN REACTNATIVE"
We are going to design a cart page using reactnative and implement the add to cart features using react redux.
The cart has an increment and decrement button.
Thunk middleware will also be used.
We are going to use the expo cli because of the many benefits expo brings into our app.

[2021-09-08 17:39] #3155 closed

[2021-09-08 17:45] tanmay69 opened #3742 "Building a Spotify Playlist Recommendation Engine from scratch"
### Proposed title of article
Building a Spotify Playlist Recommendation Engine from scratch

### Introduction paragraph (2-3 paragraphs):
Suppose you are browsing through Netflix to watch a TV show and you cannot decide which show to watch, or you are surfing through Spotify and not able to decide which song to listen to. There are many more instances where we have abundant data, and we cannot de

[2021-09-08 17:50] Pelmak commented on #3164
Ok, thank you. I will work on it.

[2021-09-08 17:51] Qodestackr commented on #3735
Hello, @IsaacMuthini Kindly check as I had a similar issue closed:
https://github.com/section-engineering-education/engineering-education/issues/1370
You'll need to ensure that your content doesn't overlap :+1:

[2021-09-08 18:26] olu-damilare opened #3743 "Spring Security: How to set up permissions to URL's using the Springboot Ant-Matcher"
### Spring Security: How to set up permissions to URL's using the Springboot Ant-Matcher

### Introduction paragraph (2-3 paragraphs):
The Ant-matcher mechanism is one of the approaches used in specifying certain URL's to be whitelisted in a Rest API built with the Springboot technology.  This implies that URL's that would ordinarily require authentication by the Java `HttpSecurity` package would

[2021-09-08 19:25] lokalawashington opened #3745 "Migrating from Groovy DSL to Kotlin DSL in Android"
Introduction paragraph (2-3 paragraphs):
 In gradle context, Domain Specific Language (DSL) gives you a gradle specific way to form your build scripts. More precisely, it's a plugin-based build system that defines a way of setting up your build script using building blocks defined in various plugins.

We'll look at two Domain Specific Language (DSL) that is groovy DSL and Kotlin DSL  in android an

[2021-09-08 19:30] munyite-megzs commented on #3477
@WanjaMIKE done with the write up

[2021-09-08 19:45] Amoh-writer opened #3746 "How to use XmlSerializer in C#?"
### Introduction paragraph (2-3 paragraphs):
Serialization/ De-serialization allow communication with another application by sending and receiving data. With XmlSerializer, you can control how objects are encoded into XML.
You'll need the following two classes to execute XML Serialization:

The class StreamWriter is used to write data into a stream.

The XmlSerializer class is a class that allows

[2021-09-08 20:44] dorky1 opened #3748 "Java Fork/Join Framework"
### Proposed title of article
Java Fork/Join Framework

### Introduction paragraph (2-3 paragraphs):

The fork/join framework is a wrapper around the Executor Service interface that allows you to use two or more processors. It is made for tasks that can be broken down into smaller chunks over and over again. The goal is to maximize the processing power available to increase the efficiency of your

[2021-09-08 22:28] Nomzy-kush commented on #3553
In this app, I am going to show the readers how to get real-life
weather data from the  OpenWeatherMap API. It is a great tutorial for
beginner JavaScript developers.

Thanks,
Onome

On Thu, 2 Sept 2021 at 02:22, Louise ***@***.***> wrote:

[2021-09-09 04:29] HARITJOSHI1 commented on #2963
@hectorkambow can you reopen this issue?

[2021-09-09 09:23] 1-creator opened #3750 "Smell your Kotlin Code with Detekt"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-09 09:38] ahmadmardeni1 commented on #3606
Correct, this topic is already covered by other blog sites. He needs to build a unique project. @hectorkambow

[2021-09-09 14:57] Joakim-gakure opened #3754 "[Containers] Implement and Set up a Docker Container for Redis In-memory Cache and Use it for Golang"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-09 15:27] Amoh-writer opened #3756 "Understanding the Insides of the SMTP Mail Protocol"
### Introduction paragraph (2-3 paragraphs):
Anyone who owns a computer or a mobile device is familiar with email. The mail system is based on a simple protocol that has been around for a long time. The goal of this tutorial is to show you how to create the SMTP protocol in C#.
SMTP and POP3 were the first two mail protocols. IMAP was added after that. SMTP is covered in this article. SMTP stands

[2021-09-09 15:48] Amoh-writer opened #3758 "Sequence Classifiers in C# ( Hidden Conditional Random Fields)"
### Introduction paragraph (2-3 paragraphs)
You will discover what a Hidden Conditional Random Field is and what it can achieve in this post. After a brief introduction, the paper will demonstrate how to develop, learn, and apply Accord.NET Framework-generated HCRFs.
We will concentrate on linear-chain HCRFs in this article, which are nearly equivalent to hidden Markov models.
### Key takeaways.
-

[2021-09-09 16:01] Rose-stack opened #3760 "A Beginner Guide to Fullstack Next.js with TypeScript and Firebase database"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-09 16:16] Inyrkz commented on #3136
Hi!
My laptop is bad, but I've been able to use my friend's laptop to push the
article.

On Wed, Sep 8, 2021, 12:07 AM hectorkambow ***@***.***> wrote:

[2021-09-09 16:48] Edylene-Nyairaw opened #3761 "Multithreading in Java"
### Proposed title of article
Multithreading in Java

### Introduction paragraph (2-3 paragraphs):
As Java is a multi-threaded programming language, we can use it to create multi-threaded programs. A multi-threaded program is made up of two or more portions that can operate in parallel, each of which can tackle a distinct task at the same time, maximizing the use of available resources, especially

[2021-09-09 17:02] JuliusGikonyoNyambura opened #3762 "Getting started with Data Visualization with P5.js"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-09 17:28] lalith1403 commented on #3136
Reference this issue in the new PR. Please follow the contribution guidelines for a smooth and fast review process.

[2021-09-09 17:39] #3262 closed

[2021-09-09 17:46] #3711 closed

[2021-09-09 17:50] katungi opened #3763 "Add Open Graph Meta Image Links"
**Is your feature suggestion related to a current problem or issue? Please describe.**

I have recently found out that when sending an article link to say a social media site, the link lacks a meta-image. This affects the performance of our articles since links with images tend to generally do better in terms of traction.

**Describe the solution you'd like to implement to the program**

Hugo supp

[2021-09-09 19:07] nellyat opened #3764 "iSIM and eSIM Technologies for More Expanded IoT Device Capabilities"
### Proposed title of article
iSIM and eSIM Technologies for More Expanded IoT Device Capabilities

### Introduction paragraph (2-3 paragraphs):
As the Internet of Things (IoT) market evolves, the constraints associated with physical SIM cards become more difficult and expensive to accommodate. Hence, eSIM and iSIM technologies are necessary evolutions that offer a flexible and less expensive solu

[2021-09-09 20:25] #3762 closed

[2021-09-09 22:12] JuliusGikonyoNyambura opened #3766 "Getting started with Data Visualization using P5.js"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-09 22:21] #3179 closed

[2021-09-10 04:43] Inyrkz commented on #3136
I have referenced this issue in the PR.

[2021-09-10 08:51] awinomackrine opened #3768 "Understanding Data Encryption standard(DES algorithm)"
### Understanding Data Encryption standard(DES algorithm)

### Introduction paragraph (2-3 paragraphs):
DES is a symmetric block cipher that was used by the American government for data protection. It was very secure that it was in the front line in encrypting classified information for the US government. Its use later spread to other sectors of the economy and was used effectively until its retir

[2021-09-10 08:54] elphazesedah opened #3769 "Introduction to Storage Area networks(SAN)"
### Introduction to Storage Area networks(SAN)

### Introduction paragraph (2-3 paragraphs):

Storage area networks sometimes called storage network is a computer network that is used for directly accessing block level storage devices. SAN is mainly used in getting access to storage devices such as disk arrays and tape libraries from servers. This allow for the storage devices to appear to be dire

[2021-09-10 09:14] WanjaMIKE commented on #2863
Closed #2863 via #3465

[2021-09-10 09:14] #2863 closed

[2021-09-10 09:18] RuthAMare opened #3770 "Address Discovery using ARP Protocol"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 09:18] peshbiz opened #3771 "Implement Apache Kafka In .NET Application"
Kafka is an open-source distributed stream-processing platform that is capable of handling over trillions of events in a day. This massive platform has been developed by the LinkedIn Team, written in Java and Scala, and donated to Apache.

### Key Take Away

1. Learn how to install configure and run Kafka.
2. Learn How Kafka Works.
3. Learn How to implement Kafka in .NET Application

[2021-09-10 10:19] Pauline-Mwangi opened #3772 "Step by step guide on connecting Firebase to a contact form"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 10:32] ianmasae opened #3773 "Making Card Components With Tailwind CSS"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 11:01] Njambi254 opened #3774 "Bootstrap Contact Form with JavaScript Validation and PHP"
### Proposed title of the article
Bootstrap Contact Form with JavaScript Validation and PHP
### Introduction paragraph (2-3 paragraphs):
Bootstrap is a framework that enables developers to create UI components that are optimized for mobile.
Often, many readers are aware of a Bootstrap contact form code, So I thought of creating a basic example for a Bootstrap enabled PHP contact form.
Bootstrap is

[2021-09-10 11:10] essy258 opened #3775 "WordPress Penetration Testing"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 11:41] kiptui-victor opened #3777 "Working with a Designer UI File in Your C++ Application"
### Proposed title of article
Using a Designer UI File in Your C++ Application

### Introduction paragraph (2-3 paragraphs):
The widget tree of the form is represented in XML format via Qt Designer UI files. Forms can be processed in the following ways:
-Forms are transformed to C++ code at compilation time, which implies they can be compiled.
-Forms are processed by the QUiLoader class at runtime

[2021-09-10 11:55] Nancy245 opened #3778 "Track Individual Logged in Users using Google Analytics"
### Proposed title of the article
Track Individual Logged in Users using Google Analytics

### Introduction paragraph (2-3 paragraphs):
Google Analytics is a tool that helps us monitor the website's traffic. It collects information about the visitors who visit the site. Often people ask if it is really possible to track individual users in Google Analytics. And the answer is: It is possible if you

[2021-09-10 12:36] Cecy140 opened #3779 "Trello Like Drag and Drop Cards for Project Management Software"
### Proposed title of the article
Trello Like Drag and Drop Cards for Project Management Software

### Introduction paragraph (2-3 paragraphs):
Effective project management is a critical need for project success. To ensure that, we cannot depend only on human resources for managing projects. Managers need to be armed with the best project management software.
In this competitive fast-moving world,

[2021-09-10 13:14] Njoroge455 opened #3780 "How to Migrate Website from PHP 5.6 to PHP 8"
### Proposed title of the article
How to Migrate Website from PHP 5.6 to PHP 8

### Introduction paragraph (2-3 paragraphs):
PHP 5.6 version active releases ended in early 2017 and reached its end of life (EOL) by 2018 end. That was once I
This article will guide you for the migration of the PHP application or website only. Upgrading the server environment like the Apache version or the installed

[2021-09-10 13:34] Wachira48 opened #3781 "Introduction to Staggered RecyclerView Implementation in Android studio"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 13:34] #2808 closed

[2021-09-10 13:38] Kama-144 opened #3782 "How to Handle CSV with PHP: Read Write, Import Export with Database"
### Proposed title of the article
How to Handle CSV with PHP: Read Write, Import Export with Database

### Introduction paragraph (2-3 paragraphs):

CSV is one of the familiar file formats and is used widely by programmers for handling data. The simplicity of the format and human-readable form made it so popular. CSV stands for Comma-Separated Values. In earlier days, the delimiter was only a comm

[2021-09-10 13:57] Eliud200 opened #3783 "Extract images from URL in excel with PHP using PhpSpreadsheet"
### Proposed title of the article
Extract images from URL in excel with PHP using PhpSpreadsheet

### Introduction paragraph (2-3 paragraphs):
There are various ways to extract images from a given URL. PHP contains built-in functions for extracting data including the images with a URL.
This article is for PHP code to extract images from URLs existing in an excel file.
I have used PhpSpreadsheet to

[2021-09-10 14:03] davidmbochi opened #3784 "Getting Started With Stripe in SpringBoot"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 14:24] Pato-254 opened #3785 "Introduction to Low-code and BaaS with Hypi"
### Proposed title of the article
Introduction to Low-code and BaaS with Hypi

### Introduction paragraph (2-3 paragraphs):
Year 2021! If a developer is still writing all the code from scratch for developing applications, he is living in the ’90s! We are in the future and the future is low code!

In this article, we will check the features of Low Code first. And then I will introduce you to BaaS (

[2021-09-10 14:55] Achie10 opened #3786 "13 best IP geolocation APIs & services for PHP"
### Proposed title of the article
13 best IP geolocation APIs & services for PHP

### Introduction paragraph (2-3 paragraphs):
APIs enable mission-critical capabilities for many platforms. Fraud detection for online stores and banking can depend on IP geolocation services using IP lookup to detect whether a user’s IP address matches their stated country.
But location information can be faked by VP

[2021-09-10 15:14] Ethan-155 opened #3787 "Image Editor: Move Scale Skew Rotate and Spin with CSS Transform"
### Proposed title of article
Image Editor: Move Scale Skew Rotate and Spin with CSS Transform

### Introduction paragraph (2-3 paragraphs):
An image editor will have a range of tools. It can be very basic with only tools like resize, rotate and crop. Or it can be super extensive like Photoshop.
Rotate is a basic and essential tool that is part of any image editor. Let us start with something easy

[2021-09-10 15:56] Geraldoeze opened #3789 "How to Implement PrimeReact-UI in React.js"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 16:12] #2759 closed

[2021-09-10 17:09] louisefindlay23 commented on #3504
@Terripha, it's been some time since we've prompted you to rework your topic suggestion to be more unique so we're closing this now to make more room in the queue. Feel free to reopen it when you're ready.

[2021-09-10 17:09] #3504 closed

[2021-09-10 17:12] louisefindlay23 commented on #3741
@ngahika01, please use the topic suggestion form provided so we can adaquately review your article and refrain from typing your topic suggestion title in all caps.

I've added the template back in to your article. Please fill it in and then reopen once you have done so.

[2021-09-10 17:12] #3741 closed

[2021-09-10 17:22] louisefindlay23 commented on #3668
Hi, @vicradon. Great topic suggestion. Your outline shows a very comprehensive article including not only the setup but caching and architectural overviews. Topic approved 🚀. Be sure to cover these areas in plenty of detail to ensure your article is unique over similar articles.

[2021-09-10 17:39] Dawe-7 opened #3791 "Getting started with Java Logger"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-10 19:39] wanjadeno opened #3793 "Synchronized Java Collections"
### Proposed title of article
Synchronized Java Collections

### Introduction paragraph (2-3 paragraphs):
The fact that Java objects can be "locked" is a fascinating feature. This is the java.lang package. The Object interface provides an implicit locking mechanism that allows any Java object to be locked while a synchronized method or synchronized block is being executed. So that the thread in po

[2021-09-10 20:44] Njengab opened #3794 "understanding comments in programming (codding in C,C++&Java)"
Understanding comments in programming (codding in C,C++ & Java)

Introduction

Comments are code description (s) that tell what a piece of code or block of code does.Comments are very important in program design.They are much more useful when it comes to debugging.

Comments can illustrate how or what the program does to programmers or even end users.
Comments can be used in commenting to make cod

[2021-09-11 00:10] #3735 closed

[2021-09-11 00:26] IsaacMuthini opened #3795 "Variable Scopes In C Programming Language"
### Proposed title of article
Variable Scopes In C Programming

### Introduction paragraph (2-3 paragraphs):
The scope of a variable is a topic that comes up frequently in programming. The scope of a variable defines whether or not it may be accessed and modified within a given code block.
Variable scope in the C programming language will be covered in this course. To help you grasp the distinctio

[2021-09-11 05:08] neheMaish opened #3796 "The C# type system"
### Proposed title of article
The C# type system
### Introduction paragraph (2-3 paragraphs):
For example, C# is a strongly-typed language. Any expression that evaluates to a value has a type. For each argument and return value, a method declaration provides the name, number, type and kind (value, reference, or output). Numeric types and more complicated types are defined in the.NET class library,

[2021-09-11 06:24] WanjaMIKE commented on #3794
Unfortunately, focusing on comments alone cannot make a detailed tutorial. Feel free to choose another topic. Thanks

[2021-09-11 06:24] #3794 closed

[2021-09-11 06:26] WanjaMIKE commented on #3774
Unfortunately, we have too many tutorials focusing on contact forms. Feel free to suggest another topic. Thanks

[2021-09-11 06:26] #3774 closed

[2021-09-11 06:29] WanjaMIKE commented on #3722
Good afternoon and thank you for submitting your topic suggestion. @njerigitahi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:29] WanjaMIKE commented on #3727
Good afternoon and thank you for submitting your topic suggestion. @dentex22
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:29] WanjaMIKE commented on #3729
Good afternoon and thank you for submitting your topic suggestion. @kingsleynwafor54
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:30] WanjaMIKE commented on #3732
Good afternoon and thank you for submitting your topic suggestion. @MICHELLENGEI
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:31] WanjaMIKE commented on #3737
Good afternoon and thank you for submitting your topic suggestion. @remiljw
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:31] WanjaMIKE commented on #3739
Good afternoon and thank you for submitting your topic suggestion. @justusmbuvi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:32] WanjaMIKE commented on #3742
Good afternoon and thank you for submitting your topic suggestion. @tanmay69
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:32] WanjaMIKE commented on #3743
Good afternoon and thank you for submitting your topic suggestion. @olu-damilare
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:33] WanjaMIKE commented on #3745
Good afternoon and thank you for submitting your topic suggestion. @lokalawashington
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:34] WanjaMIKE commented on #3746
Good afternoon and thank you for submitting your topic suggestion. @Amos-writer
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:35] WanjaMIKE commented on #3748
Good afternoon and thank you for submitting your topic suggestion. @dorky1
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:35] WanjaMIKE commented on #3754
Good afternoon and thank you for submitting your topic suggestion. @Joakim-gakure
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:36] WanjaMIKE commented on #3750
Good afternoon and thank you for submitting your topic suggestion. @1-creator
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:36] WanjaMIKE commented on #3756
Good afternoon and thank you for submitting your topic suggestion. @Amoh-writer
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:37] WanjaMIKE commented on #3758
Unfortunately, you can only propose one topic at a time. Thanks

[2021-09-11 06:37] #3758 closed

[2021-09-11 06:37] WanjaMIKE commented on #3756
Unfortunately, you can only propose one topic at a time. Thanks

[2021-09-11 06:37] #3756 closed

[2021-09-11 06:38] WanjaMIKE commented on #3760
Good afternoon and thank you for submitting your topic suggestion. @Rose-stack
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:38] WanjaMIKE commented on #3761
Good afternoon and thank you for submitting your topic suggestion. @Edylene-Nyairaw
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:39] WanjaMIKE commented on #3764
Good afternoon and thank you for submitting your topic suggestion. @nellyat
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:39] WanjaMIKE commented on #3766
Good afternoon and thank you for submitting your topic suggestion. @JuliusGikonyoNyambura
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:40] WanjaMIKE commented on #3768
Good afternoon and thank you for submitting your topic suggestion. @awinomackrine
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:41] WanjaMIKE commented on #3769
Good afternoon and thank you for submitting your topic suggestion. @elphazesedah
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:42] WanjaMIKE commented on #3770
Unfortunately, you can only propose one topic at a time. Thanks

[2021-09-11 06:42] #3770 closed

[2021-09-11 06:46] WanjaMIKE commented on #3796
Good afternoon and thank you for submitting your topic suggestion. @neheMaish
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:47] WanjaMIKE commented on #3795
Good afternoon and thank you for submitting your topic suggestion. @IsaacMuthini
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:47] WanjaMIKE commented on #3793
Good afternoon and thank you for submitting your topic suggestion. @wanjadeno
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:47] WanjaMIKE commented on #3791
Good afternoon and thank you for submitting your topic suggestion. @Dawe-7
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:47] WanjaMIKE commented on #3789
Good afternoon and thank you for submitting your topic suggestion. @Geraldoeze
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:48] WanjaMIKE commented on #3787
Good afternoon and thank you for submitting your topic suggestion. @Ethan-155
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:48] WanjaMIKE commented on #3786
Good afternoon and thank you for submitting your topic suggestion. @Achie10
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:49] WanjaMIKE commented on #3785
Good afternoon and thank you for submitting your topic suggestion. @Pato-254
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:49] WanjaMIKE commented on #3784
Good afternoon and thank you for submitting your topic suggestion. @davidmbochi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:49] WanjaMIKE commented on #3783
Good afternoon and thank you for submitting your topic suggestion. @Eliud200
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:50] WanjaMIKE commented on #3782
Good afternoon and thank you for submitting your topic suggestion. @Kama-144
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:50] WanjaMIKE commented on #3781
Good afternoon and thank you for submitting your topic suggestion. @Wachira48
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:50] WanjaMIKE commented on #3780
Good afternoon and thank you for submitting your topic suggestion. @Njoroge455
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:50] WanjaMIKE commented on #3779
Good afternoon and thank you for submitting your topic suggestion. @Cecy140
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:51] WanjaMIKE commented on #3778
Good afternoon and thank you for submitting your topic suggestion. @Nancy245
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:52] WanjaMIKE commented on #3777
Good afternoon and thank you for submitting your topic suggestion. @kiptui-victor
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:52] WanjaMIKE commented on #3775
Good afternoon and thank you for submitting your topic suggestion. @essy258
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:53] WanjaMIKE commented on #3773
Good afternoon and thank you for submitting your topic suggestion. @ianmasae
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:56] WanjaMIKE commented on #3772
Good afternoon and thank you for submitting your topic suggestion. @Pauline-Mwangi
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 06:57] WanjaMIKE commented on #3771
Good afternoon and thank you for submitting your topic suggestion. @peshbiz
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-11 11:34] #3122 closed

[2021-09-11 11:36] ahmadmardeni1 commented on #3639
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @florenceatieno45

[2021-09-11 11:37] ahmadmardeni1 commented on #3652
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @del-ui

[2021-09-11 11:39] ahmadmardeni1 commented on #3654
Great topic 🚀 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.  @corpsgeek

[2021-09-11 11:47] Techilla254 opened #3798 "PHP user authentication with MYSQL"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-11 12:15] louisefindlay23 commented on #3650
Hi, @Tonnysage. Thanks for submitting your topic suggestion.

Since we focus on original and unique content, can you tell me how your article would differ for similar C++, MySQL and MySQL/C++ connector tutorials?

[2021-09-11 12:37] Mudia07 opened #3799 "PASSWORD ENCRYPTION WITH BCRYPT IN A NODEJS APPLICATION"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-11 17:19] DeewakarChakraborty opened #3801 "Implementing a GAN from scratch using Pytorch"
### Implementing a GAN from scratch using Pytorch

### Introduction paragraph (2-3 paragraphs):
Machine learning algorithms work great in recognizing patterns in existing data and using that insight for classification and regression purposes. However, the machine always struggled when asked to generate new data. This all changed in 2014 when Ian Goodfellow introduced Generative Adversarial Network

[2021-09-11 18:43] FINCH285 opened #3803 "[Security]Performing A Phishing Attack Using Socialphish"
### Proposed title of article
How to perform a phishing attack

### Introduction paragraph (2-3 paragraphs):
Phishing is a form of cyber attack used to steal personal credentials from unsuspecting users. A hacker uses a fake website identical to the real one. When a user enters his/her credentials into the fake website, the hacker acquires them. He/she can use these credentials for malicious purpo

[2021-09-12 07:57] tanyaogolla opened #3806 "Queue Introduction and Array Implementation in python"
### Proposed title of article
Queue Introduction and Array Implementation in python

### Introduction paragraph (2-3 paragraphs):
In a queue, new things are added at one end, dubbed the "back," while current items are removed at the other end, often known as the "front." After entering the queue, an element makes its way forward until its turn comes to be removed.
Distinction between a stack and a

[2021-09-12 11:16] #3222 closed

[2021-09-12 11:19] ahmadmardeni1 commented on #3801
Good afternoon and thank you for submitting your topic suggestion. @DeewakarChakraborty
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-12 11:19] ahmadmardeni1 commented on #3799
Good afternoon and thank you for submitting your topic suggestion. @Mudia07
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-12 11:19] ahmadmardeni1 commented on #3803
Good afternoon and thank you for submitting your topic suggestion. @FINCH285
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-12 11:20] ahmadmardeni1 commented on #3806
Good afternoon and thank you for submitting your topic suggestion. @tanyaogolla
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-12 11:20] ahmadmardeni1 commented on #3798
Good afternoon and thank you for submitting your topic suggestion. @Techilla254
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-12 11:23] ahmadmardeni1 commented on #3664
Thank you for submitting your topic. @kimanthi777
This can be used for malicious activities. Please feel free to suggest an alternate topic to explore. 🚀

[2021-09-12 11:23] #3664 closed

[2021-09-12 17:21] #3346 closed

[2021-09-12 21:35] hectorkambow commented on #2984
@Alicewangari
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:35] hectorkambow commented on #3054
@Qodestackr
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:35] #3054 closed

[2021-09-12 21:36] hectorkambow commented on #3083
https://github.com/section-engineering-education/engineering-education/pull/2727

[2021-09-12 21:36] hectorkambow commented on #3145
@jaredphelix
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:36] #3145 closed

[2021-09-12 21:37] hectorkambow commented on #3269
@ryanjonnes
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:37] hectorkambow commented on #3277
@domiwanja
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:37] #3277 closed

[2021-09-12 21:37] hectorkambow commented on #3278
@valerio140
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:37] #3278 closed

[2021-09-12 21:37] hectorkambow commented on #3280
@mbuthiajn
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:37] hectorkambow commented on #3281
@sabin254
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-12 21:38] #3300 closed

[2021-09-12 21:38] hectorkambow commented on #3307
@nancy-maina
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-13 04:09] pkalynan opened #3809 "[Nodejs] Personalized Node.js Library"
### Proposed title of article
Create Your Own Personalized Node.js Library

### Introduction paragraph (2-3 paragraphs):

Among several conveniently pre-made Node.js libraries in open-source repositories, has there ever been one that seemed to be unavailable to you? This article provides Node.js users information to create their own customized Node.js library. The library can range from mathematic

[2021-09-13 05:45] #2924 closed

[2021-09-13 06:17] RaphaelNdonga opened #3810 "CameraX Tutorial"
### Proposed title of article
CameraX Tutorial

### Introduction paragraph (2-3 paragraphs):
CameraX is the best way to allow custom android applications to take pictures. It is easy to use, life cycle aware and is consistent across all android devices up until Android Lollipop.
In this tutorial, you will create the user interface that displays the camera inside the android application. You will t

[2021-09-13 06:29] jgesare opened #3811 "Generic Constructors and Interfaces in java"
### Proposed title of article
Generic Constructors and Interfaces in java

### Introduction paragraph (2-3 paragraphs):
Generics allow a class or interface to take into account all kinds that are dynamically passed in as input. In this way, you can rest assured that your data is secure. As specify generic class parameters in the same way to instance variables, use angle brackets ">".
Generic const

[2021-09-13 06:42] SusanKiptoo opened #3812 "How to Check the Accessibility of the Static and Non-Static Variables by a Static Method"
### Proposed title of article
How to Check the Accessibility of the Static and Non-Static Variables by a Static Method
### Introduction paragraph (2-3 paragraphs):
Variables, methods, and blocks of code can be protected with Java's static keyword. They are initialized once at the beginning of the execution, which makes them a class variable. Due to the fact that they are static variables, they are

[2021-09-13 06:54] Samrosh commented on #3126
I have actually completed, i am checking plagiarism, would you please
consider me.

On Wed, Sep 8, 2021, 2:07 AM hectorkambow ***@***.***> wrote:

[2021-09-13 08:20] SusanKiptoo opened #3813 "How to Call a Stored Procedure in Java Using a Callable Statement"
### Proposed title of article
How to Call a Stored Procedure in Java Using a Callable Statement

### Introduction paragraph (2-3 paragraphs):
As part of JDBC API, we use the CallableStatement class to make calls to stored procedures from within our Java codebase. CreatedStatment and calling a stored procedure follow the same process. An initial database connection needs to be set up by providing i

[2021-09-13 08:20] #3813 closed

[2021-09-13 08:30] MeshiJohn opened #3814 "How to Call a Stored Procedure in Java Using a Callable Statement"
### Proposed title of article
How to Call a Stored Procedure in Java Using a Callable Statement

### Introduction paragraph (2-3 paragraphs):
As part of JDBC API, we use the CallableStatement class to make calls to stored procedures from within our Java codebase. CreatedStatment and calling a stored procedure follow the same process. An initial database connection needs to be set up by providing i

[2021-09-13 08:31] WanjaMIKE commented on #3236
Closed #3236 via #3479

[2021-09-13 08:31] #3236 closed

[2021-09-13 10:54] LittleErick opened #3815 "Python Dictionary creation and the operations performed on it"
### Proposed title of article
Python Dictionary creation and the operations performed on it

### Introduction paragraph (2-3 paragraphs):
A dictionary in python is a data structure that allows us to create a key and a value pairs of data. Therefore a dictionary will contain a key which can be argued to be the "input" which is mapped to an "output" which in our case is the value. Some of the operat

[2021-09-13 11:01] Evanslodoctor opened #3816 "Servlets Request and Servlet Collaboration."
### Proposed title of article
 Servlets Request and Servlet Collaboration.

### Introduction paragraph (2-3 paragraphs):
The request delivered by your computer to a web server contains every kind of information that could be of interest; it is known as HTTP requests.
In the form of a request message the HTTP client sends the request to the server containing the following information: the request-l

[2021-09-13 11:08] ahmadmardeni1 commented on #3809
Good afternoon and thank you for submitting your topic suggestion. @pkalynan
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3810
Good afternoon and thank you for submitting your topic suggestion. @RaphaelNdonga
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3811
Good afternoon and thank you for submitting your topic suggestion. @jgesare
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3812
Good afternoon and thank you for submitting your topic suggestion. @SusanKiptoo
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3814
Good afternoon and thank you for submitting your topic suggestion. @MeshiJohn
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3815
Good afternoon and thank you for submitting your topic suggestion. @
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:08] ahmadmardeni1 commented on #3816
Good afternoon and thank you for submitting your topic suggestion. @Evanslodoctor
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-13 11:10] ahmadmardeni1 commented on #3667
Great topic 🚀 @Caleb335 , make sure it matches the following:
- Adds value beyond what is in the official docs and what is covered in other blog sites.
- To avoid any potential article closure, it should not overlap with any existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved.

[2021-09-13 11:48] lalith1403 commented on #3669
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @wobin1.

Be sure to use majority of the fun

[2021-09-13 11:48] lalith1403 commented on #3683
Good afternoon @Bonimum  and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content that

[2021-09-13 11:48] #3683 closed

[2021-09-13 11:50] lalith1403 commented on #3714
@FREDERICO23 What dataset will you be using?

[2021-09-13 11:51] lalith1403 commented on #3727
Hello @dentex22  , Upon a quick google search, there are several articles on this topic. Can you explain how your article will be different from the ones that exist. Thank you.

[2021-09-13 11:51] lalith1403 commented on #3742
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @tanmay69

[2021-09-13 11:52] eunice-wanjiku opened #3817 "Fintech"
### Proposed title of article
FinTech

### Introduction paragraph (2-3 paragraphs):
Financial technology entails the incorporation of technology into operations mainly by companies providing financial services. This is with the objective of increasing their purpose and enhancing efficient customer delivery. It has highly diversified its engagement and involved sectors such as retail banking, nonpr

[2021-09-13 11:52] lalith1403 commented on #3815
Good afternoon @LittleErick  and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content t

[2021-09-13 11:52] #3815 closed

[2021-09-13 11:53] lalith1403 commented on #3806
Good afternoon @tanyaogolla and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content th

[2021-09-13 11:53] #3806 closed

[2021-09-13 11:53] lalith1403 commented on #3801
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @DeewakarChakraborty

[2021-09-13 12:08] Caleb335 commented on #3667
Thank you @ahmadmardeni1! ✊

I'd take note of all that you've mentioned.

[2021-09-13 12:40] LittleErick opened #3818 "Working with static files in django"
### Proposed title of article
Working with static files in django

### Introduction paragraph (2-3 paragraphs):
Javascript, CSS, Images, Audio, and Video are examples of static files in django. Django framework requires a developer to store all the static files he/she would like to use in a directory in a given project. The developer would then "inform" the  project that there exist some static fi

[2021-09-13 12:44] #3130 closed

[2021-09-13 13:15] Mudia07 commented on #3799
Okay,thank you very much sir

[2021-09-13 16:17] #3092 closed

[2021-09-13 16:56] crezyj commented on #3612
Thanks I am working on  the topic almost done.

[2021-09-13 17:45] Bonimum opened #3821 "Java Chained Exceptions"
### Proposed title of article
Java Chained Exceptions

### Introduction paragraph (2-3 paragraphs):
With `chained exceptions feature`, you can associate another exception with an exception. The second exception accounts the cause of first exception. For instance, imagine a situation in which a method throws an ArithmeticException because of an attempt to divide-by-zero. Nevertheless, the actual ca

[2021-09-13 17:48] dentex22 commented on #3727
My article will take the reader through a step by step process of how one can split web content, deal with all the ways invol ved each with clear examples with code snippets. I will offer the best guidelines regarding web pagination, its uses and show the reader how its done.Its going to be unique.

[2021-09-13 17:48] WanjaMIKE commented on #3630
@lalith1403 what do you think of this topic?

[2021-09-13 17:51] WanjaMIKE commented on #3640
@EssyG10 Good topic. Approved. Please ensure that it is not similar to `https://github.com/section-engineering-education/engineering-education/pull/3372`

[2021-09-13 17:52] WanjaMIKE commented on #3642
Good topic. Approved. Let's ensure that it adds value to the community. Thanks

[2021-09-13 17:55] WanjaMIKE commented on #3643
Are you Thank you for the topic suggestion @AshaIha }, however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore.

[2021-09-13 17:55] #3643 closed

[2021-09-13 17:58] WanjaMIKE commented on #3644
Thank you for the topic suggestion @LynnMumo, however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore.

[2021-09-13 17:58] #3644 closed

[2021-09-13 18:00] WanjaMIKE commented on #3645
Unfortunately, focusing on the Queue interface alone will not make a detailed tutorial. Feel free to suggest another topic. Thanks

[2021-09-13 18:00] #3645 closed

[2021-09-13 18:01] WanjaMIKE commented on #3655
@owinojoseph is this a software centric topic?

[2021-09-13 18:03] WanjaMIKE commented on #3656
Good topic @RoseKarose. I would like to see how Couchbase works. Approved.

[2021-09-13 18:05] WanjaMIKE commented on #3658
good topic @Samuel-2626  - approved. One important note: please be sure to put your article through a thorough grammar/readability editing review prior to submitting for final approval. This will help increase the likelihood of your article getting published and you receiving a payout :)

[2021-09-13 18:07] WanjaMIKE commented on #3663
Unfortunately, there are many tutorials that have already covered on each of these technologies. Feel free to suggest another topic. Thanks

[2021-09-13 18:07] #3663 closed

[2021-09-13 18:08] WanjaMIKE commented on #3665
Unfortunately, we focus more on software centric topics. Raspberry Pi seems more on the hardware side. Feel free to suggest another topic. Thanks

[2021-09-13 18:10] lalith1403 commented on #3630
Great topic 🚀 , make sure it matches the following:
* Adds value beyond what is in the official docs and what is covered in other blog sites.
* To avoid potential article closure, it should not overlap with existing EngEd articles or incoming topic suggestions.

Please reference any relevant EngEd articles in yours and build a unique project - Approved. @KayTee24

[2021-09-13 18:11] WanjaMIKE commented on #3671
good topic @KelvinMwangag  - approved. Thanks for submitting your article and we look forward to reviewing and hopefully publishing it. I’m sure our readers will enjoy and find your {article type} very beneficial.

[2021-09-13 18:14] WanjaMIKE commented on #3817
Thank you for the topic suggestion @eunice-wanjiku , however this is a bit outside of our preferred topic areas. We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts. Please feel free to suggest an alternate topic to explore.

[2021-09-13 18:14] #3817 closed

[2021-09-13 18:18] WanjaMIKE commented on #3780
@Njoroge455 Please check the latest version of PHP

[2021-09-13 18:31] #3162 closed

[2021-09-13 18:34] Dyrstiu opened #3822 "Understanding XML External Entity Attacks (XXE attacks )"
### Proposed title of article
Understanding XML External Entity Attacks (XXE attacks )

### Introduction paragraph (2-3 paragraphs):
XML external entity attack is a web security vulnerability that allows an attacker to interact with any backend or external systems of the application. The attacker can cause Denial of service attacks and access local and remote content and services.
XXE attacks are

[2021-09-13 19:02] amarawrite opened #3823 "Implementing the Singleton Pattern in C#"
### Proposed title of article

Implementing the Singleton Pattern in C#

### Introduction paragraph (2-3 paragraphs):

One of the most prominent design patterns in C# is the singleton design pattern. A class has only one instance in the program that provides a global point of access to it in this pattern. To put it in another way, a singleton is a class that only enables one instance of itself to

[2021-09-13 19:41] nmercy21 opened #3824 "Java Startup Detection of Missing Modules in a Module with Examples"
### Proposed title of article
Java Startup Detection of Missing Modules in a Module with Examples

### Introduction paragraph (2-3 paragraphs):
A Java module is a packaging mechanism that enables you to package a Java application or Java API as a separate Java module. A Java module is packaged as a modular JAR file. A Java module can specify which of the Java packages it contains that should be vi

[2021-09-13 20:26] WanjaMIKE commented on #2887
Closed #2887 via #3519

[2021-09-13 20:26] #2887 closed

[2021-09-13 20:27] eunice-wanjiku commented on #3665
@WanjaMIKE This topic is not about the Raspberry hardware aspect, but rather the software capabilities. In order to set up a WiFi extender using Raspberry Pi you need to make use of dnsmasq and hostapd packages. This seems to me like a software oriented project. What are your thoughts?

[2021-09-13 21:01] #3321 closed

[2021-09-14 04:56] FREDERICO23 commented on #3714
@lalith1403 I'll be using a kaggle dataset from the 30 days of ML challenge

[2021-09-14 05:10] GeoffreyKangu opened #3827 "How to build an atm application using c++"
### Proposed title of the tutorial
How to build an atm application using c++

### Introduction paragraph (2-3 paragraphs):
ATMs, Automated teller machines. These are machines mostly used in banks for day-to-day transactions. Mostly they are used for cash withdrawals. In this case, they hold and know the account details of an account.

In this tutorial, I will be taking you through how to create a

[2021-09-14 06:17] #3475 closed

[2021-09-14 06:44] Mercycar opened #3829 "Basic network attacks on a computer network"
### Proposed title of article
Basic network attacks on a computer network

### Introduction paragraph (2-3 paragraphs):
Nowadays, many people rely on the internet to perform most of their personal, professional and business activities. In contrary most of them are in great danger of network attacks on the internet.

This article intends to take the reader through the types of attacks on the intern

[2021-09-14 07:07] eunice-wanjiku commented on #3665
@WanjaMIKE I have noticed that you reopened this issue. Does it mean it is approved?

[2021-09-14 07:36] eunice-wanjiku opened #3830 "Getting Started with Bash Shell Scripting"
### Proposed title of article
Getting Started with Bash Shell Scripting

### Introduction paragraph (2-3 paragraphs):
Bash is a widely available command line interface that is found in different operating systems. It is known to be a default command interpreter that is found on Mac OSX, and GNU or Linux systems. Shell is a macro processor that allows you to run commands interactively or non-intera

[2021-09-14 08:44] JosephAyoma opened #3832 "MySQL Database and Java swing desktop Graphical user Interface"
### Proposed title of article
MySQL Database and Java swing desktop Graphical User Interface

### Introduction paragraph (2-3 paragraphs):
Java Swing is suitable for desktop application development. Desktop applications should provide an interface where the user can enter data. Through interaction with the desktop application components, the data should be saved in a database (MySQL) for processin

[2021-09-14 10:51] Babatunde13 opened #3833 "How To Create Custom Eslint Rules"
### How To Create Custom Eslint Rules

### Introduction paragraph (2-3 paragraphs):
ESLint is a static code analysis tool for identifying problematic patterns found in JavaScript code and can also be used to fix them. Nicholas C. Zakas created it in 2013. Rules in ESLint are configurable, and customized rules can be defined and loaded. Eslint rules save us(the developers) from syntax errors, and i

[2021-09-14 10:57] Wambuajuma opened #3834 "The Builder Pattern in java"
### Proposed title of article
The Builder Pattern in java

### Introduction paragraph (2-3 paragraphs):
Among Erich Gamma and colleagues' 23 Gang of Four (GoF) design patterns, the Builder pattern is a step-by-step construction design pattern that enables you build complicated objects. Using the same construction code, you can create a variety of distinct types and representations of a single prod

[2021-09-14 11:38] louisefindlay23 commented on #3515
@WanjaMIKE, happy to help out with this topic suggestion. What sort of help are you looking for?

[2021-09-14 11:39] nancy-maina commented on #3307
I have opened a pull request to fix this issue. Please reopen this issue @hectorkambow

[2021-09-14 11:44] louisefindlay23 commented on #3672
Hi, @mumbi00. Great topic suggestion. Topic approved 🚀. Be sure to add lots of detail (especially about how edge intelligence can benefit smart cameras) to make your article stand out from similar ones such as [this one](https://www.rtinsights.com/is-edge-intelligence-your-key-to-iot-success/).

[2021-09-14 11:58] louisefindlay23 commented on #3677
Hi, @muyiwexy. Great topic suggestion. Topic approved 🚀. Be sure to add lots of detail to make your article stand out from other tutorials which use Leaflet.js and the Geolocation API.

[2021-09-14 12:01] joni-kano commented on #3515
I would like someone to help me in the coding process

On Tue, Sep 14, 2021 at 2:39 PM Louise ***@***.***> wrote:

[2021-09-14 12:01] joni-kano commented on #3515
I will share the details in a few minutes

On Tue, Sep 14, 2021 at 3:01 PM John Kano ***@***.***> wrote:

[2021-09-14 12:03] verah-tech opened #3836 "How to create custom parsers in Java"
### Proposed title of article
How to create custom parsers in Java

### Introduction paragraph:
Parsers form an essential part of any programming language. Java programming language offers a lot of open-source parsers which developers can choose the right one based on their requirements. However, at times it is hard for them to find the right one that fully meets their needs. This leads them to op

[2021-09-14 12:38] MahanteshR opened #3838 "Documenting your REST API's in Go using Swagger"
### Proposed title of article
Documenting your REST API's in Go using Swagger

### Introduction paragraph (2-3 paragraphs):.
In today's modern digital era, APIs are the glue of these digital platforms. They enable the expansion of a platform by adding more users and services to the existing one. It is the developer's responsibility to enable these new services, but not only that; the developer has

[2021-09-14 12:55] joni-kano commented on #3515
API Gateway and on Dynamo Database but with additional time I can handle
task individually

On Tue, Sep 14, 2021 at 3:01 PM John Kano ***@***.***> wrote:

[2021-09-14 14:25] hectorkambow commented on #3799
@Mudia07
Seems like a very cool topic - but regarding Node.js we have more than enough currently in our EngEd library as we did a big push the last few months and are currently not accepting any more Node.js articles to publish for the time being.

Please feel free to suggest an alternate topic to explore.

[2021-09-14 14:25] #3799 closed

[2021-09-14 14:35] LucidRay opened #3839 "Uncovering WiFi Passwords From Windows"
### Proposed title of article
Uncovering WiFi Passwords From Windows

### Introduction paragraph (2-3 paragraphs):

In windows Wi-Fi passwords from saved Wi-Fi networks are hidden from the user, unlike other OS i.e. android, windows has terminals that can be used to acquire the Wi-Fi passwords from the saved Wi-Fi networks in the device.
With the use of PowerShell and cmd (also known as command pr

[2021-09-14 14:41] ROYFORDWANYOIKE2001 opened #3840 "Introducing Bring Your Own Key(BYOk) in your systems"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-14 14:45] hectorkambow commented on #3681
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=How+to+Safely+Parse+and+Render+Markdown+In+Vue+and+React&rlz=1C1CHBF_enUS891US891&ei=lbNAYcaNAcHU-gTc6IT4Aw&oq=How+to+Safely+Parse+and+Render+Markdown+In+Vue+and+React&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKsCMgUIIRCrAjIFCCEQqwI6BwgA

[2021-09-14 14:48] hectorkambow commented on #3682
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review prior to sub

[2021-09-14 14:51] hectorkambow commented on #3699
🤔

@florenceakinyi
Thank you for the topic suggestion, however I believe this topic may be a bit outside of our preferred topic areas.
We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.
Please feel free to suggest an alternate topic to explore. 🚀

[2021-09-14 14:51] #3699 closed

[2021-09-14 14:54] hectorkambow commented on #3688
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=How+to+implement+a+React+Application+using+Rails+API%3F&rlz=1C1CHBF_enUS891US891&ei=LLZAYdyKCczY-wTtj6b4Aw&oq=How+to+implement+a+React+Application+using+Rails+API%3F&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABMgUIIRCgATIFCCEQqwIyBQghEK

[2021-09-14 14:55] hectorkambow commented on #3688
🤔

How will this article differ from what is published our other [blog sites](https://www.google.com/search?q=How+to+implement+a+React+Application+using+Rails+API%3F&rlz=1C1CHBF_enUS891US891&ei=LLZAYdyKCczY-wTtj6b4Aw&oq=How+to+implement+a+React+Application+using+Rails+API%3F&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABMgUIIRCgATIFCCEQqwIyBQghEKsCOgcIABBHELADSgQIQRgAUOLlDFji5QxgiekMaANwAngAgAF5iAF5kgEDMC4xmAEAo

[2021-09-14 14:57] hectorkambow commented on #3686
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Network+Switching+Techniques&rlz=1C1CHBF_enUS891US891&ei=AbdAYdSUJI7Y-gTg_o-ABA&oq=Network+Switching+Techniques&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgUIABCGAzIFCAAQhgM6BwgAEEcQsANKBAhBGABQwNUPWMDVD2Cn1w9oAnACeACAAWeIAWeSAQMwLjGYAQCgAQKgAQHIAQjAAQ

[2021-09-14 15:02] WanjaMIKE commented on #3486
Closed #3486 via #3586

[2021-09-14 15:02] #3486 closed

[2021-09-14 15:04] hectorkambow commented on #3684
How will this article differ from what is [published in/on other sites](https://www.google.com/search?q=Signal+Handling+in+C%2B%2B&rlz=1C1CHBF_enUS891US891&ei=A7hAYZLPOcjq-gT99pj4Aw&oq=Signal+Handling+in+C%2B%2B&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIICAAQFhAKEB46BwgAEEcQsAM6BwgAELADEENKBAhBGABQxbIdWMWyHWDRtR1oA3ACeACAA

[2021-09-14 15:07] hectorkambow commented on #3685
@shosenwales
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Integrating+Firebase+Database+in+Django&rlz=1C1CHBF_enUS891US891&ei=6blAYY_JHYvy-wSjsYz4Aw&oq=Integrating+Firebase+Database+in+Django&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADSgQIQRgAUPu5CVj7uQlghbwJaANwAngAgAFeiAFekgEBMZgBAKABAqABAcgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwjP4au

[2021-09-14 15:18] hectorkambow commented on #3712
@Wkd-Cyber
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Getting+Started+with+Plugins+in+Android+Studio&rlz=1C1CHBF_enUS891US891&ei=TbtAYdLhFdfT-wTt74f4Aw&oq=Getting+Started+with+Plugins+in+Android+Studio&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeMggIIRAWEB0QHjoHCAAQRxCwA0oECEEYAFD8gQtY_IELYNSFC2gDcAJ4AIABaYgBaZIBAzAuMZgBAKABAqABAcgBCMABAQ&scli

[2021-09-14 15:19] hectorkambow commented on #3708
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Watermarking+Images+with+OpenCV+in+Python&rlz=1C1CHBF_enUS891US891&ei=BrxAYYKbAY3c-gTsj7r4Aw&oq=Watermarking+Images+with+OpenCV+in+Python&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADSgQIQRgAUL_3Eli_9xJgrvkSaAFwAngAgAFmiAFmkgEDMC4xmAEAoAECoAEByAEIwAEB&sclient=gws-wiz&ved=0ahUKEwiCtouo4P7yAh

[2021-09-14 15:20] hectorkambow commented on #3704
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Responsive+Contact+Form+using+Foundation+Front-end+Framework&rlz=1C1CHBF_enUS891US891&ei=QL1AYZi2F87y-gS7ja-ABA&oq=Responsive+Contact+Form+using+Foundation+Front-end+Framework&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABMgUIIRCgATIFCCEQqwI6BwgAEEcQsANKBAhBGABQvowGWL6MBmC1jgZoA3ACeACAAZkBiAGZAZIBAzAuMZgBAK

[2021-09-14 15:23] hectorkambow commented on #3703
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Getting+Started+With+Generics+In+Java&rlz=1C1CHBF_enUS891US891&ei=pr1AYZKACMe8-wT15o-ABA&oq=Getting+Started+With+Generics+In+Java&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADSgQIQRgAULXOCFi1zghgnNAIaANwAngAgAFiiAFikgEBMZgBAKABAqABAcgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwiS68Du4f7yAhVH3p4KHXXz

[2021-09-14 15:25] hectorkambow commented on #3732
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=ValueTuple+in+C%23&rlz=1C1CHBF_enUS891US891&ei=N75AYbihCI_r-wTm7L_4Aw&oq=ValueTuple+in+C%23&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIABBHELADSgQIQRgAUPbvB1j27wdg2PEHaANwAngAgAFWiAFWkgEBMZgBAKABAqABAcgBCM

[2021-09-14 15:25] hectorkambow commented on #3732
@MICHELLENGEI

[2021-09-14 15:32] Alex-Githinji opened #3843 "Shifting to a world of Wireless Sensing"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-14 16:00] hectorkambow commented on #3729
@kingsleynwafor54
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing r

[2021-09-14 16:02] Danco10 commented on #3704
@hectorkambow,my article will be straight on point and my code snippets will be understood by both beginners and those comfortable with foundation css

[2021-09-14 16:03] tiffy-keshie opened #3845 "Choosing the best Linux Distro for your machine"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-14 16:03] hectorkambow commented on #3722
👋
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=ASYMMETRIC+ENCRYPTION&rlz=1C1CHBF_enUS891US891&ei=B8FAYZ_kHZbY-wSZmquABA&oq=ASYMMETRIC+ENCRYPTION&gs_lcp=Cgdnd3Mtd2l6EAMyCAgAEIAEELEDMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIABBHELADSgQIQRgAUN2AY1jdgGNghINjaAFwAngAgAFYiAFYkgEBMZgBAKABAqABAcgBCM

[2021-09-14 16:05] hectorkambow commented on #3713
@Ykz-Jnr

How will this article differ from [what is published our other blog sites](https://www.google.com/search?q=Composition+in+Java&rlz=1C1CHBF_enUS891US891&ei=X8dAYf-2LtOV-wTS-6b4Aw&oq=Composition+in+Java&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIABBHELADOgcIABCwAxBDSgQIQRgAULjbBli42wZgyNwGaAJwAngAgAFeiAFekgEBMZgBAK

[2021-09-14 16:07] hectorkambow commented on #2715
@aidelojep
Just pinging you on this topic form - as I'm making some room in the topic queue.
No rush if you're still working on this one - if you need more time we can always re-open at a later date

[2021-09-14 16:07] hectorkambow commented on #3326
@mia-roberts

[2021-09-14 16:07] #3326 closed

[2021-09-14 16:09] hectorkambow commented on #3337
@mosesreigns
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review

[2021-09-14 16:09] hectorkambow commented on #3351
@Agusioma
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:10] hectorkambow commented on #3354
@codeInn001
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:10] hectorkambow commented on #3358
@ephnjor2021
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:10] #3358 closed

[2021-09-14 16:10] hectorkambow commented on #3366
@Paul22691
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:10] #3366 closed

[2021-09-14 16:10] hectorkambow commented on #3367
@Georgewamama
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:10] #3367 closed

[2021-09-14 16:11] hectorkambow commented on #3374
@jamila-laureen
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:11] hectorkambow commented on #3375
@miriam015
Just and FYI I will be closing this topic form just to help clear up the queue where possible - can be REOPENED at anytime when ready. 👍

[2021-09-14 16:11] #3375 closed

[2021-09-14 16:12] aidelojep commented on #2715
Hello Section-Engineering-Education/Engineering-Education,
I forked the repository and I am currently working on the project. Why was
it closed again?

I am set to complete this project before the weekend.

Best

Peter

On Tue, Sep 14, 2021 at 5:07 PM hectorkambow ***@***.***>
wrote:

[2021-09-14 16:28] hectorkambow commented on #3737
@remiljw
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=Running+Background+Tasks+in+Django+with+Celery&rlz=1C1CHBF_enUS891US891&ei=BshAYe68BYLY-gTZi7yABA&oq=Running+Background+Tasks+in+Django+with+Celery&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADOgcIABCwAxBDSgQIQRg

[2021-09-14 16:29] hectorkambow commented on #3739
@justusmbuvi
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review

[2021-09-14 16:30] hectorkambow commented on #3743
@olu-damilare
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing revie

[2021-09-14 16:31] hectorkambow commented on #3745
@lokalawashington
👋

How will this article differ from [what is published our other blog sites](https://www.google.com/search?q=Migrating+from+Groovy+DSL+to+Kotlin+DSL+in+Android&rlz=1C1CHBF_enUS891US891&ei=As5AYZ3yA5HY-gSjmrb4Aw&oq=Migrating+from+Groovy+DSL+to+Kotlin+DSL+in+Android&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsANKBAhBGABQg9QCWIPUAmCs1QJoAnABeACAAXmIAXmSAQMwLjGYAQCgAQKgAQHIAQjAAQE&sclient=gws-w

[2021-09-14 17:27] hectorkambow commented on #3739
@justusmbuvi
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review

[2021-09-14 17:28] hectorkambow commented on #3746
@Amoh-writer
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=How+to+use+XmlSerializer+in+C%23%3F&rlz=1C1CHBF_enUS891US891&ei=KtpAYcD0MsTn-wS8zpiABA&oq=How+to+use+XmlSerializer+in+C%23%3F&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEBYQHjIGCAAQFhAeOgcIABBHELADSgQIQRgAUJeiFliXohZg2KMWaANwAngAgAFciAFckgEBMZgBAKABAqABAcgBAsABAQ&sclient=gws-wiz&ved=0ahUKEwjAseC

[2021-09-14 17:29] hectorkambow commented on #3748
@dorky1
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Java+Fork%2FJoin+Framework&rlz=1C1CHBF_enUS891US891&ei=mdtAYb6hPNjj-gTPlLeABA&oq=Java+Fork%2FJoin+Framework&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjoHCAAQRxCwA0oECEEYAFCyrAJYsqwCYOOtAmgDcAJ4AIABW4gBW5IBATGYAQCgAQKgAQHIAQjAAQE&sclient=gws-wi

[2021-09-14 17:52] hectorkambow commented on #3750
@1-creator

How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Smell+your+Kotlin+Code+with+Detekt&rlz=1C1CHBF_enUS891US891&ei=wttAYdaFGtav-gTxhq_4Aw&oq=Smell+your+Kotlin+Code+with+Detekt&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABOgcIABBHELADSgQIQRgAUMamVFjGplRg86dUaAJwAngAgAF1iAF1kgEDMC4xmAEAoAECoAEByAEIwAEB&sclient=gws-wiz&ved=0ahUKEwjW7o3K_v7yAhXWl54K

[2021-09-14 17:52] lalith1403 commented on #2715
You may re-open the issue before submitting the PR.

[2021-09-14 17:54] codeInn001 commented on #3354
@hectorkambow, So sorry, I have been very busy lately, I am currently working on the article. It should be ready on or before this weekend.
 Can you please open the topic form.

[2021-09-14 18:20] aidelojep commented on #2715
ok ,

Many thanks

On Tue, Sep 14, 2021 at 6:52 PM Lalithnarayan C ***@***.***>
wrote:

[2021-09-14 18:29] #3750 closed

[2021-09-14 18:33] hectorkambow commented on #3754
@Joakim-gakure
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Implement+and+Set+up+a+Docker+Container+for+Redis+In-memory+Cache+and+Use+it+for+Golang&rlz=1C1CHBF_enUS891US891&ei=KOFAYbv8LdPL-gSnjK34Aw&oq=Implement+and+Set+up+a+Docker+Container+for+Redis+In-memory+Cache+and+Use+it+for+Golang&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAEEcQsAMyBwgAEEcQsAMyB

[2021-09-14 18:34] hectorkambow commented on #3760
@Rose-stack
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Guide+to+full-stack+Next.js+with+Firebase+Database&rlz=1C1CHBF_enUS891US891&ei=aOFAYab5BNfE-gTVtIL4Aw&oq=Guide+to+full-stack+Next.js+with+Firebase+Database&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABMgUIIRCrAjIFCCEQqwI6BwgAEEcQsANKBAhBGABQ0r6XAVjSvpcBYIfAlwFoAnACeACAAZEBiAGRAZIBAzAuMZgBAKABAa

[2021-09-14 18:37] hectorkambow commented on #3761
@Edylene-Nyairaw
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Multithreading+in+Java&rlz=1C1CHBF_enUS891US891&ei=HOtAYdfbF9H--wTk84uABA&oq=Multithreading+in+Java&gs_lcp=Cgdnd3Mtd2l6EAMyCAgAEIAEELEDMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIABBHELADSgQIQRgAUK6DCliugwpg64QKaAJwAngAgAFeiAFekgEBM

[2021-09-14 18:51] hectorkambow commented on #3764
@nellyat
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review pri

[2021-09-14 18:53] hectorkambow commented on #3766
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=Getting+started+with+Data+Visualization+with+P5.js+&rlz=1C1CHBF_enUS891US891&ei=7u5AYcusGpH--gTZnJOABA&oq=Getting+started+with+Data+Visualization+with+P5.js+&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsANKBAhBGABQguQDWILkA2Dj5QNoAnACeA

[2021-09-14 18:55] hectorkambow commented on #3768
@awinomackrine
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Understanding+Data+Encryption+standard%28DES+algorithm%29&rlz=1C1CHBF_enUS891US891&ei=MO9AYbnaCM6m-wSElKT4Aw&oq=Understanding+Data+Encryption+standard%28DES+algorithm%29&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeMggIIRAWEB0QHkoECEEYAVDoyQtY6MkLYInNC2gCcAB4AIABXYgBXZIBATGYAQCgAQKgAQHAA

[2021-09-14 18:56] hectorkambow commented on #3769
@elphazesedah
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=ntroduction+to+Storage+Area+networks%28SAN%29&rlz=1C1CHBF_enUS891US891&ei=8u9AYeKcC9LY-gSHu7yABA&oq=ntroduction+to+Storage+Area+networks%28SAN%29&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeOgcIABBHELADSgQIQRgAUNfrAljX6wJg0-0CaAJwAngAgAFjiAFjkgEBMZ

[2021-09-14 18:57] hectorkambow commented on #3771
@peshbiz

How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Implement+Apache+Kafka+In+.NET+Application&rlz=1C1CHBF_enUS891US891&ei=JPBAYbOQIM7f-gTP0JX4Aw&oq=Implement+Apache+Kafka+In+.NET+Application&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEBYQHjoHCAAQRxCwA0oECEEYAFDN6gRYzeoEYPbrBGgAcAR4AIABaogBapIBAzAuMZgBAKABAqABAcgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwiz

[2021-09-14 18:58] hectorkambow commented on #3772
@Pauline-Mwangi

How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=connecting+Firebase+to+a+contact+form&rlz=1C1CHBF_enUS891US891&ei=ePBAYdqlGNTw-wS684qQCQ&oq=connecting+Firebase+to+a+contact+form&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEOgcIABBHELADSgQIQRgAUNvFAljbxQJg8McCaANwAngAgAFhiAFhkgEBMZgBAKABAqABAcgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwjawaSqkv_

[2021-09-14 18:59] hectorkambow commented on #3773
@ianmasae
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=Making+Card+Components+With+Tailwind+CSS&rlz=1C1CHBF_enUS891US891&ei=pvBAYa76Jcue-gS45rOABA&oq=Making+Card+Components+With+Tailwind+CSS&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADSgQIQRgAUKv-A1ir_gNghYAEaANwAn

[2021-09-14 19:03] hectorkambow commented on #3775
@essy258
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=WordPress+Penetration+Testing&rlz=1C1CHBF_enUS891US891&ei=7PBAYfHTHYn3-gTHuJv4Aw&oq=WordPress+Penetration+Testing&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCABDIGCAAQFhAeOgcIABBHELADSgQIQRgAUKriDliq4g5g4eMOaANwAngAgAF5iAF5kgEDMC4xmAEAoAECoAEByAEIwAEB&sclient=gws-wiz&ved=0ahUKEwjx-dHhkv_yA

[2021-09-14 19:05] hectorkambow commented on #3777
@kiptui-victor
Sounds like a helpful topic - lets please be sure it adds value beyond what is in any official docs and/or [what is covered in other blog sites](https://www.google.com/search?q=Designer+UI+File+in+Your+C%2B%2B+Application&rlz=1C1CHBF_enUS891US891&ei=4vFAYdTCI5H9-gSkz6BI&oq=Designer+UI+File+in+Your+C%2B%2B+Application&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsAM6BwgAELADEENKBAhBGABQ4PEDWODxA2C

[2021-09-14 19:05] hectorkambow commented on #3778
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Track+Individual+Logged+in+Users+using+Google+Analytics&rlz=1C1CHBF_enUS891US891&ei=JPJAYbHGGcnY-gTvoZaABA&oq=Track+Individual+Logged+in+Users+using+Google+Analytics&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgUIABCGAzIFCAAQhgMyBQgAEIYDMgUIABCGAzIFCAAQhgM6BwgAEEcQsANKBAhBGABQxaQFWMWkBWCJpgVoA3ACeACAAXGI

[2021-09-14 19:13] dentonya commented on #3708
The article will focus more on how to add a single watermark to multiple images automatically at once  instead of watermarking each image manually.
@hectorkambow

[2021-09-14 19:14] hectorkambow commented on #3779
@Cecy140

It looks like this article was published elsewhere.

We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-09-14 19:14] #3779 closed

[2021-09-14 19:19] hectorkambow commented on #3781
This topic suggestion seems to be over saturated and just the intro here seems to have many overlaps with other articles via our 3rd plagiarism checker.

We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[Introduction to Staggered RecyclerView Implementation in Android studio #3781.pdf](https://github.com/section-engineerin

[2021-09-14 19:19] #3781 closed

[2021-09-14 19:20] hectorkambow commented on #3782
@Kama-144
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=CSV+with+PHP%3A+Read+Write%2C+Import+Export+with+Database+&rlz=1C1CHBF_enUS891US891&ei=lPRAYRTH8_oExMOCkAc&oq=CSV+with+PHP%3A+Read+Write%2C+Import+Export+with+Database+&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABMgUIIRCgAToHCAAQRxCwA0oECEEYAFDE6xRYxOsUYNvsFGgCcAJ4AIABfYgBfZIBAzAuMZgBAKABAqABAcg

[2021-09-14 19:21] hectorkambow commented on #3783
@Eliud200

How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Extract+images+from+URL+in+excel+with+PHP+using+PhpSpreadsheet&rlz=1C1CHBF_enUS891US891&ei=7PVAYaWBMc3C-gTmmJDgAw&oq=Extract+images+from+URL+in+excel+with+PHP+using+PhpSpreadsheet&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAEEcQsANKBAhBGABQ9-cCWPfnAmC06QJoAnACeACAAXWIAXWSAQMwLjGYAQCgAQKgAQHIAQjAAQE

[2021-09-14 19:22] hectorkambow commented on #3784
@davidmbochi
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Getting+Started+With+Stripe+in+SpringBoot&rlz=1C1CHBF_enUS891US891&ei=HvZAYc6ZK9L7-gTJoIsw&oq=Getting+Started+With+Stripe+in+SpringBoot&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAEyBwghEAoQoAE6BwgAEEcQsANKBAhBGABQ7dUCWO3VAmDG1wJoAnACeACAAXmIAXmSAQMwLjGYAQCgAQKgAQHIAQjAAQE&sclient=gws-wiz&v

[2021-09-14 19:24] hectorkambow commented on #3785
@Pato-254
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Introduction+to+Low-code+and+BaaS+with+Hypi&rlz=1C1CHBF_enUS891US891&ei=TfZAYYiKMJXv-gSoxJaIDw&oq=Introduction+to+Low-code+and+BaaS+with+Hypi&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAEyBwghEAoQoAEyBwghEAoQoAE6BwgAEEcQsANKBAhBGABQrOoHWKzqB2Cs7AdoAXABeACAAZQBiAGUAZIBAzAuMZgBAKABAqABAcgBCMABAQ

[2021-09-14 19:30] hectorkambow commented on #3786
[13 best IP geolocation APIs & services for PHP #3786.pdf](https://github.com/section-engineering-education/engineering-education/files/7164651/13.best.IP.geolocation.APIs.services.for.PHP.3786.pdf)

This topic suggestion seems to be over saturated and just the intro here seems to have many overlaps with other articles via our 3rd plagiarism checker.

We're more interested in original, practitione

[2021-09-14 19:30] #3786 closed

[2021-09-14 19:33] hectorkambow commented on #3787
[Image Editor Move Scale Skew Rotate and Spin with CSS Transform #3787.pdf](https://github.com/section-engineering-education/engineering-education/files/7164666/Image.Editor.Move.Scale.Skew.Rotate.and.Spin.with.CSS.Transform.3787.pdf)

This topic suggestion seems to be published somewhere else.

We're more interested in original, practitioner-focused content that takes a deeper dive into programmi

[2021-09-14 19:33] #3787 closed

[2021-09-14 19:49] hectorkambow commented on #3789
@Geraldoeze
There is NO information on this form other than the title. We can not review/approve the topic w/o context.

cc @WanjaMIKE

[2021-09-14 19:50] hectorkambow commented on #3791
@Dawe-7
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Getting+started+with+Java+Logger&rlz=1C1CHBF_enUS891US891&ei=g_xAYYzGD4KGtQbf8LSQDg&oq=Getting+started+with+Java+Logger&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeSgQIQRgBUNfEBFjXxARgmcYEaAJwAHgAgAF0iAF0kgEDMC4xmAEAoAECoAEBwAEB&sclient=gws-wiz&ved=0ahUKEwjMk6fonf_yAhUCQ80KHV84DeIQ4dUDCA4&uact

[2021-09-14 20:27] Geraldoeze commented on #3789
Okay I will provide the necessary context for my article
Thanks for the response

[2021-09-14 21:01] Emmah-Lashly commented on #3703
@hectorkambow , the article will differ with what is published since I have  simplified it to enable beginners to understand Generic classes and interfaces easily without straining. As I was researching, I realized that the content in the existing blogs are somehow ambiguous hence difficult for the beginners to understand.

[2021-09-14 21:45] hectorkambow commented on #3793
@wanjadeno
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Synchronized+Java+Collections&rlz=1C1CHBF_enUS891US891&ei=0fxAYYjPMtS4tQaQ3IeQBQ&oq=Synchronized+Java+Collections&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMggIABAWEAoQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB46BwgAEEcQsANKBAhBGABQoZ-lA1ihn6UDYImhp

[2021-09-14 21:47] hectorkambow commented on #3795
@IsaacMuthini
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=Variable+Scopes+In+C+Programming+Language&rlz=1C1CHBF_enUS891US891&ei=zBdBYfcegc-1BtaMuKgD&oq=Variable+Scopes+In+C+Programming+Language&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeOgcIABBHELADSgQIQRgAUP_SA1j_0gNgw9QDaAJwAngAgAFQiAFQkgEBMZgBAKABAqABAcgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwj3

[2021-09-14 21:52] hectorkambow commented on #3796
@nehemaish

this articles seems to be published somewhere else.

We're more interested in original, practitioner-focused content that takes a deeper dive into programming-centric concepts.

[2021-09-14 21:52] #3796 closed

[2021-09-14 21:54] hectorkambow commented on #3798
@techilla254
How will this article differ from what is [published our other blog sites](https://www.google.com/search?q=PHP+user+authentication+with+MYSQL&rlz=1C1CHBF_enUS891US891&ei=ChhBYcHVBsi2tAaVqIPADQ&oq=PHP+user+authentication+with+MYSQL&gs_lcp=Cgdnd3Mtd2l6EAMyCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB46BwgAEEcQsANKBAhBGABQ3u0aWN7tGmC57xpoAnACeACAAVGIAVGSAQExmAEAoAECoAEByAEIwAEB&sclient=gws-wiz&

[2021-09-14 22:27] #3789 closed

[2021-09-14 23:04] Geraldoeze opened #3847 "How to create a responsive React navigation bar using PrimeReact"
**Proposed title of article**

   How to create a responsive React navigation bar using PrimeReact.

**Introduction paragraph:**

  React.js is one of the most common JavaScript library used for building client-side rendering websites. This allows developers to make their website entirely rendered in the browser with JavaScript.

   In this article, we will create a responsive React navigation bar

[2021-09-15 06:16] sheecodes opened #3848 "Custom Animation and Transition Effects between Fragments with Android Jetpack's Navigation Component"
### [Android] Custom Animation and Transition Effects between Fragments with Android Jetpack's Navigation Component

### Introduction paragraph (2-3 paragraphs):
Android Jetpack's Navigation component helps you implement navigation, from simple button clicks to more complex patterns which makes it easier for a user to move from one destination to the other.

Navigating back and forth from differen

[2021-09-15 07:59] #2999 closed

[2021-09-15 08:12] Techilla254 commented on #3798
Codes snippets for my article will be direct and simple and it will enhance readers understanding through my UI and UX designs

[2021-09-15 08:50] MICHELLENGEI commented on #3732
@hectorkambow
 instead of writing about  ValueTuple alone I will add ValueTuple structure to my article and use well defined and explained examples to explain the contents of the topic. I have made changes please have a look at it now.

[2021-09-15 08:51] shosenwales commented on #3685
@hectorkambow
Readers will also learn how to authenticate using google

[2021-09-15 08:53] #3795 closed

[2021-09-15 09:17] neheMaish opened #3849 "[Languages] Handling NullPointer Exception in Java"
### Proposed title of article
[Java] Handling NullPointer Exception in Java

### Introduction paragraph (2-3 paragraphs):
Any time an application uses an object reference which has no value, NullPointerException is thrown. Null references can be used in methods, for example. Any attempt to use an object reference that has the null value results in NullPointerException... Use array-like methods to

[2021-09-15 09:30] iankamau20 opened #3850 "How to create a stopwatch in javascript"
### Proposed title of article

How to create a stopwatch in javascript

### Introduction paragraph (2-3 paragraphs):

In this article i will be explaining how to create stopwatch from scratch using javascript, html and css.I will also explain how to align and center elements using css, which a bit challanging to beginners.
This article is for beginner or intermidiate who what to have better unders

[2021-09-15 09:56] #3252 closed

[2021-09-15 10:11] Horlawhumy-dev opened #3851 "Linear and Binary Search in Java Data Structures and Algorithms."
### Linear and Binary Search in Java Data Structures and Algorithms

### Introduction
In the world of programming languages, data structures and algorithms are key problem-solving skills that all engineers must-have. Linear and Binary Search are required when there is a problem with sorted arrays in Java or any other language. So, in this article, I will be sharing the ways of utilizing the method

[2021-09-15 11:36] Eze4Manuel opened #3853 "[languages]Advanced Concepts of Programming using Dart"
[languages]Advanced Concepts of Programming using Dart

### Key takeaways:
- In-depth grasp of concepts like classes, objects, polymorphism, abstraction, encapsulation, inheritance, Access modifiers, static classes, e.t.c
- Appreciation of the concepts of object-oriented programming using dart
- See how feasible to pick up dart programming language coming from a Java background or a JavaScript bac

[2021-09-15 11:47] Mudia07 opened #3854 "[Security]Creating Secure HTTP Headers with Content Security Policy(CSP)"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-15 13:54] khabdrick commented on #3089
Hello @hectorkambow is there any update on this?

[2021-09-15 14:40] njerigitahi commented on #3722
Am majorly dealing with the understanding of the Diffie Helman Key Generation process while examples for clarity. In addition, I'll also explain how the Elgamal algorithm uses DHKE to generate keys and it's encryption and decryption process. I will briefly explain modula exponential and a code in python to generate it. This is because modula exponential is used in Elgamal during descryption to gen

[2021-09-15 15:06] wanjadeno commented on #3793
@hectorkambow
This will be a detailed article including a step by step explanation to make sure that the readers to have better understanding including all concepts. I will write a unique article all through.
Thank you.

[2021-09-15 15:17] dorky1 commented on #3748
Hi, @hectorkambow
This tutorial will include all the concept of the topic with a better explanation to help the reader understand the concepts better and in an easier way. This will be a unique article from the rest  with much more explanation and illustrations.
Thank You

[2021-09-15 15:22] Muchiri021 opened #3855 "Automatic color correction with OpenCV and Python"
### Proposed title of article
Automatic colour correction with OpenCV and Python

### Introduction paragraph (2-3 paragraphs):
We'll talk about color correction and color constancy in this tutorial, as well as how OpenCV may help with automatic color correction.
Then, for this project, we'll set up our development environment and go over the directory structure.
We'll create a Python script that u

[2021-09-15 16:04] WanjaMIKE commented on #3033
closed #3033 via #3566

[2021-09-15 16:04] #3033 closed

[2021-09-15 16:31] MiracleOluwaseyi opened #3856 "[API] Promise vs Conditional Rendering in React"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-15 16:44] lalith1403 commented on #3855
Hey @Muchiri021, can you explain what automatic colour correction is, and what techniques or algorithms it uses?

[2021-09-15 16:45] lalith1403 commented on #3818
Good afternoon @LittleErick and thank you for submitting your topic to the EngEd program.
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentations.

We typically refrain from publishing content that is covered widely on the net or other blogs. We're more interested in original, practitioner-focused content th

[2021-09-15 16:45] #3818 closed

[2021-09-15 17:58] Muchiri021 commented on #3855
Hello @lalith1403
Automatic colour correction instantly corrects colour balance, exposure, and contrast issues in a single step. Separate layers are used for white balance, exposure, and contrast modifications in automatic colour correction. With a layer-based method, you have complete control over all colour correction modifications.

[2021-09-15 20:12] #2919 closed

[2021-09-15 20:14] phinaomondi opened #3862 "[Languages] Paytime loading effect from scratch"
### Proposed title of the article
[Languages] Paytime loading effect from scratch

### Introduction paragraph (2-3 paragraphs):
Most websites lack the loading effect that captures the user's attention while the components of the website are being loaded. However, according to modern conventions, loading effects are more than just animations. They are meant to communicate to the user information ab

[2021-09-15 21:13] hectorkambow commented on #3823
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:13] hectorkambow commented on #3824
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:13] hectorkambow commented on #3827
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:13] hectorkambow commented on #3829
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:13] hectorkambow commented on #3830
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:13] hectorkambow commented on #3832
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:14] hectorkambow commented on #3833
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:14] hectorkambow commented on #3834
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:14] hectorkambow commented on #3836
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:14] hectorkambow commented on #3838
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-15 21:14] hectorkambow commented on #3839
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-16 03:39] #3298 closed

[2021-09-16 06:15] odongoalbert opened #3863 "Running Automatic Tests in Laravel 8"
### Proposed title of article
[Languages] Running Automatic Tests in Laravel 8

### Introduction paragraph (2-3 paragraphs):
Testing is necessary because we all are bound to make mistakes. Some of these mistakes made in development carry no heavy consequences while some tend to be very costly or dangerous if neglected.

Laravel comes shipped with a robust testing suite that allows developers to pe

[2021-09-16 06:22] kimanikevin254 opened #3864 "How to Build a Responsive Image Carousel in React"
### How to Build a Responsive Carousel in React
An image carousel is a slideshow of images that helps improve the user's experience of a website. The slideshow can be automated(where the transition from one image to another is controlled by timers), controlled by a click of buttons, or a combination of both.

In this article, we will cover how we can create the image carousel in React and style it

[2021-09-16 06:39] jaredphelix opened #3865 "Lazy Loading techniques in Angular"
### Proposed title of article
[Languages] Lazy Loading techniques in Angular

### Introduction paragraph (2-3 paragraphs):
Lazy loading (also called on-demand loading) is an optimisation technique for the online content, be it a website or a web app
Instead of loading the entire web page and rendering it to the user in one go as in bulk loading, the concept of lazy loading assists in loading only

[2021-09-16 06:44] odiwuoramos opened #3866 "Understanding Angular Route Resolvers"
### Proposed title of article
[Languages] Understanding Angular Route Resolvers

### Introduction paragraph (2-3 paragraphs):

Developing a real-world application with multiple calls to the server can be full of bugs. If you are here, that means you have struggled with the delay of API calls. These delays may cause a negative UX. Today, we are going to understand Route Resolvers in Angular 8. Ther

[2021-09-16 06:51] KayveTech opened #3867 "How to Create a REST API Using Golang and MongoDB"
### How to Create a REST API Using Golang and MongoDB
GoLang is an open-source, compiled programming language that makes it easy for developers to create simple, powerful, reliable, and efficient applications. Golang is syntactically similar to C but with memory safety and garbage collection.

After developing your application with Go, you might need a database to store data. One of the databases

[2021-09-16 08:15] essy258 commented on #3775
@hectorkambow, This article will be more detailed on WordPress security. In addition, it will provide information on how hackers gain access to websites.
Also, it will guide readers on how to secure WordPress websites with a few WP security tips and how to analyze their systems to find vulnerabilities that an attacker might exploit.

[2021-09-16 08:38] WanjaMIKE commented on #2805
closed #2805 via #3826

[2021-09-16 08:38] #2805 closed

[2021-09-16 08:43] Pauline-Mwangi commented on #3772
@hectorkambow
This tutorial will give a step-by-step demonstration and explanation of creating a responsive contact form and implementing the backend using Firebase.  It will be descriptive, easy to understand and offer unique content to the readers.
After a successful connection, we will review data submitted from the contact form to Firebase.

[2021-09-16 09:53] Joesongoma opened #3868 "Java timer Tasks"
### Proposed title of article
Java Timer Tasks

### Introduction paragraph (2-3 paragraphs):
Java Programing language Timer Class provides a facility for the threads to be able to schedule tasks for future execution. Timer tasks are the tasks that can be scheduled for a one time or repeated execution by the time in the future.

In this tutorial we shall be looking at an example to schedule a timer

[2021-09-16 10:02] francis966 commented on #3631
Hello @lalith1403, kindly check this topic suggestion I have made some minor adjustments.

[2021-09-16 10:57] kush-mafom opened #3869 "[Networking]. How to install rambox application in linux mint"
##Introduction

          This topic talks about networking specifically on web apps installation specifically on Linux. Linux distribution is a fast growing software architecture that most people have difficulty in operating through it. This topic tends to cover on such parts mostly concerned with application installation on Linux distributions.

      It takes the user through installing web app

[2021-09-16 10:58] vifabulous opened #3870 "[Android] Java vs Kotlin for Android"
### [Android] Kotlin vs Java for Android.

### Introduction paragraph (2-3 paragraphs):
 Java is a reputable programming language with vast open source tools and libraries to help developers.
On the other hand, Kotlin is an expressive and concise programming language that reduces common errors.

New Android developers want to know which language they should learn for building modern Android applic

[2021-09-16 12:17] lucymkiiru opened #3871 "Understanding how Fog Computing redefines the Internet of Things paradigm"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-16 13:08] davidmbochi commented on #3784
@hectorkambow
This article will teach the reader how to ensure that the payments are secure and confidential details are protected from unauthorised access.

[2021-09-16 14:45] florenceakinyi opened #3875 "How to perform parallel computing in Matlab"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-16 18:00] #2696 closed

[2021-09-16 18:18] mukono10 opened #3877 "[Languages] Explaining Priority Queues in Java with Examples"
### Proposed title of article
[Languages] Explaining Priority Queues in Java with Examples

### Introduction paragraph (2-3 paragraphs):
Priority queues in Java are special types of queues in which all elements are ordered according to their natural ordering or according to a custom Comparator specified at the time of construction.  As a result, when you remove an element from the priority queue,

[2021-09-16 18:29] faithsiaji opened #3878 "Architecturing a flutter application with MobX state manager"
We ask that you please be patient as our team works through approving and publishing all articles/tutorials in a timely manner. Allow 1-3 days for a topic to be reviewed and/or approved - allow 3-7 days for an articles to be reviewed and/or published.

Be sure to visit our [Resources Page](https://github.com/section-engineering-education/engineering-education/blob/master/new_contributors/resources

[2021-09-16 19:27] #3144 closed

[2021-09-16 20:22] kimanikevin254 opened #3881 "Implementing Frontend Pagination in React"
### Implementing Frontend Pagination in React
For easy navigation and user experience enhancement, most web apps do not show all fetched data on a single page. Instead, data is displayed on a sequence of pages and the user can navigate through the different pages with the click of a button. This is made possible by a feature known as pagination.

Pagination can either be implemented on the server-

[2021-09-16 20:50] tanscy-cassie opened #3883 "Designing and implementing drag and drop operation in android"
### Designing and implementing drag and drop operation in android

### Introduction paragraph (2-3 paragraphs):
With the Android drag/drop framework, you can allow your users to move data using a graphical drag and drop gesture. This can be from one View to another in your own app, or between your app and another when multi-window mode is enabled. The framework includes a drag event class, drag li

[2021-09-16 22:06] lewe01 opened #3884 "Dockerizing an ASP.NET Core Web API app and SQL Server"
### Proposed title of article
[Containers] Dockerizing an ASP.NET Core Web API app and SQL Server

### Introduction paragraph:
In the past years, ASP.NET web apps used to be deployed on Windows Server and IIS which were not cloud-native. However, since the introduction of open-source and cross-platform .NET Core and SQL Server for Linux, the applications are now cloud-friendly.
Moreover, with the

[2021-09-17 09:50] #3331 closed

[2021-09-17 10:14] IsaacMuthini opened #3886 "How to Use map() Method to Iterate Through Elements in an Array in JavaScript"
### Proposed title of article
How to Use map() Method to Iterate Through Elements in an Array in JavaScript

### Introduction paragraph (2-3 paragraphs):
 In JavaScript, the built-in array method `Array.prototype.map()` is used to iterate across the items of an array collection.
 This article is for you if you are a newbie who is having trouble understanding how to utilize the map() method or what

[2021-09-17 10:47] Vanessa-Karimi opened #3887 "Execution Context and Hoisting in Vanilla JavaScript"
### Proposed title of article
 Execution Context and Hoisting in Vanilla JavaScript

### Introduction paragraph (2-3 paragraphs):
In comparison to many of its competitors, JavaScript is a simple to learn programming language. However, if you want to understand, debug, and write better code, you'll need to pay a little more attention to a few basic ideas.
We will learn about two of these principles

[2021-09-17 12:01] LittleErick opened #3888 "Creating a parser with pyparsing"
### Proposed title of article
Creating a parser with pyparsing

### Introduction paragraph (2-3 paragraphs):
Parsing is a process of deriving a string from a given grammar. Writing a recursive descent parser by hand
is a bit difficult and time consuming process. Pyparsing is a parsing package that has simplified creation of  a parser due to its ease to use. Pypassing follows a natural python style

[2021-09-17 12:33] Ykz-Jnr commented on #3713
Update on the question made @hectorkambow

[2021-09-17 14:57] BashiirIsla opened #3890 "[Blockchain] Double-Edged Sword: Cryptocurrency both as an Enabler and a Solution to Ransomware"
### Proposed title of article
Double-Edged Sword: Cryptocurrency both as an Enabler and a Solution to Ransomware

### Introduction paragraph (2-3 paragraphs):
Ransomware continues to emerge in a big way amid information security specialists’ warnings about this problem for years. The presence of newer malware enablers is only making matters worse. Cryptocurrency is one of such factors contributing

[2021-09-17 15:57] carowanjiku opened #3891 "Stream Filter in Java using Lambda Expressions"
### Proposed title of article
Stream Filter in Java using Lambda Expressions

### Introduction paragraph (2-3 paragraphs):

The filter() function in the Java stream allows you to filter stream elements based on a provided criterion. This method accepts a predicate as a parameter and returns a stream of resulting elements as a result.

 In this tutorial, we will look at how to use the Stream. filte

[2021-09-17 16:27] hectorkambow commented on #3822
@Dyrstiu

Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:28] hectorkambow commented on #3840
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:28] hectorkambow commented on #3843
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:35] hectorkambow commented on #3845
duplicate? closing 👍

[2021-09-17 16:35] hectorkambow commented on #3848
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:36] hectorkambow commented on #3849
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:36] hectorkambow commented on #3850
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 16:36] ROYFORDWANYOIKE2001 commented on #3840
Hello, thank you for letting me know. Am glad.

[2021-09-17 16:36] hectorkambow commented on #3851
Good afternoon and thank you for submitting your topic suggestion.
Your topic form has been entered into our queue and should be reviewed (for approval) as soon as a content moderator is finished reviewing the ones in the queue before it.

[2021-09-17 17:15] Horlawhumy-dev commented on #3851
Yes sir.

[2021-09-17 17:27] #2938 closed

[2021-09-17 18:06] #3511 closed

[2021-09-17 18:11] #3230 closed

[2021-09-17 18:25] awinomackrine commented on #3768
@hectorkambow ....l'll use simpler vocabulary with easy to understand example...I'll also discuss the topic extensively adding to what is already in publication

[2021-09-17 18:27] elphazesedah commented on #3769
@hectorkambow ...l will use simple vocabulary with easy to understand examples...I will also discuss the topic deeply adding to what is already published

[2021-09-17 18:29] Pato-254 commented on #3785
@hectorkambow, simplicity will be key so as to  create a favorable learning site for both experts and begginers

[2021-09-17 18:34] Njoroge455 commented on #3780
@WanjaMIKE, I have rectified the issue

[2021-09-17 18:56] Kama-144 commented on #3782
Before suggesting this issue I went through some of the published content in the Internet and I found out that most of them are not begginers friendly in that for those who are only familiar with procedural php are disadvantaged since most them employ PDO.My article will be able to address not only PDO and Procedural PHP but also oop php for the benefit of everyone😊

[2021-09-17 18:59] mutheu21 opened #3893 "MultiDimensional And Jagged Arrays In C#"
### Proposed title of article
MultiDimensional And Jagged Arrays In C#

### Introduction paragraph (2-3 paragraphs):
In this tutorial, I will focus on explaining Multidimensional Arrays and Jagged Arrays in C# moreso with examples. Multidimensional arrays are also referred to as Rectangular Arrays.
Multi-dimensional array stores data in the tabular format while jagged arrays are used to store arra

[2021-09-17 19:13] Eliud200 commented on #3783
@hectorkambow , I'll be using php 8 which is something lacking to other similar content in the Internet

[2021-09-17 19:26] Nancy245 commented on #3778
@hectorkambow, This article will be simple and straight on point

[2021-09-17 19:34] #3809 closed

[2021-09-17 21:26] csamuelsm opened #3895 "Implementing a parallel Sieve of Eratosthenes in C and exploring basic concepts of MPI"
### Proposed title of article
*Implementing a parallel Sieve of Eratosthenes in C and exploring basic concepts of MPI*

### Introduction paragraph (2-3 paragraphs):
MPI stands for Message Passing Interface. It’s exactly what it says: it defines the syntax and semantics of several routines of message passing that users of several languages are able to use. But what messages? From who? To whom? Well

[2021-09-17 23:33] Collince-Okeyo opened #3896 "Getting Started With Servo Library(Servo motors) and Arduino"
### Proposed title of article
[Servo] Getting Started With Servo Library(Servo motors) and Arduino

### Introduction paragraph
Servo is an open-source library that is used to  control a great number of servos. It makes careful use of timers: the library can control 12 servos using only 1 timer. On the Arduino Due you can control up to 60 servos.
This library allows an Arduino board to control RC (

[2021-09-18 07:47] calvinombati opened #3898 "Understanding Different Gestures in Android with Kotlin"
### [Android] Understanding Different Gestures in Android with Kotlin

### Introduction paragraph (2-3 paragraphs):
Making use of different Android gestures is critical to offering an outstanding user experience.

When a user places one or more fingers on the touch screen, your application understands that sequence of touches as a specific motion. The detection of gestures is divided into two stag

[2021-09-18 10:41] ahmadmardeni1 commented on #3803
Thank you for submitting your topic.
This article is not legal, and black-hat hackers can use it to perform malicious activities.

Please feel free to suggest an alternate topic to explore. 🚀 @FINCH285

[2021-09-18 10:41] #3803 closed

[2021-09-18 10:41] WanjaMIKE commented on #3665
@eunice-wanjiku Topic approved. Let's ensure that it adds value to the community. Thanks

[2021-09-18 10:43] ahmadmardeni1 commented on #3810
This topic is already covered by other [blog sites](https://www.google.com/search?q=camerax+android+studio&oq=camerax+android+studio&aqs=edge.0.0i512j0i22i30l5j69i61.8167j0j1&sourceid=chrome&ie=UTF-8).

How will this differ from them? @RaphaelNdonga

[2021-09-18 10:43] WanjaMIKE commented on #3870
Unfortunately, this topic is already covered here `https://www.section.io/engineering-education/difference-between-kotlin-and-java/`. Feel free to suggest another topic. Thanks

[2021-09-18 10:43] #3870 closed

[2021-09-18 10:44] ahmadmardeni1 commented on #3811
Thank you for submitting your topic. @jgesare
After some careful consideration, it struck us that this topic may be a bit over-saturated throughout other blog sites and official documentation.

We believe this is the best way for students to build a great portfolio (for potential employers) is by building what does not exist and what can provide the most value.

Please feel free to suggest an alte

[2021-09-18 10:44] #3811 closed

[2021-09-18 10:45] ahmadmardeni1 commented on #3814
Could you take a look at this topic suggestion when you have the chance? Since you have expertise in Java, I thought you'd be the best person to reach. @BrianaNzivu

[2021-09-18 10:47] ahmadmardeni1 commented on #3816
Sounds like a helpful topic - let's please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review prior to su

[2021-09-18 10:48] ahmadmardeni1 commented on #3822
Sounds like a helpful topic - let's please be sure it adds value beyond what is in any official docs and/or what is covered in other blog sites. (the articles should go beyond a basic explanation - and it is always best to reference any EngEd article and build upon it).

Please be attentive to grammar/readability and make sure that you put your article through a thorough editing review prior to su

[2021-09-18 10:51] WanjaMIKE commented on #3896
@Collince-Okeyo kindly, wait for the other PR to be published first. Thanks